# Abstract Algebras

## References

* [Group Explorer](https://nathancarter.github.io/group-explorer/index.html) -- Visualization software for the abstract algebra classroom
* [Groupprops, The Group Properties Wiki (beta)](https://groupprops.subwiki.org/wiki/Main_Page)
* [Klein four-group, V4](https://en.wikipedia.org/wiki/Klein_four-group)
* [Cyclic group](https://en.wikipedia.org/wiki/Cyclic_group)

## Imports and Paths

In [1]:
import algebras as alg
import json
import os

In [2]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

### Klein-4 Group

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/V_4.group).

In [3]:
v4_json = os.path.join(alg_dir, "v4_klein_4_group.json")

!cat {v4_json}

{"type": "Group",
 "name": "V4",
 "description": "Klein-4 group",
 "elements": ["e", "h", "v", "hv"],
 "addition_table": [[0, 1, 2, 3],
                    [1, 0, 3, 2],
                    [2, 3, 0, 1],
                    [3, 2, 1, 0]]
}

In [4]:
v4 = alg.Group(v4_json)
v4

Group('V4', 'Klein-4 group', ['e', 'h', 'v', 'hv'], [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [5]:
v4.to_dict()

{'type': 'Group',
 'name': 'V4',
 'description': 'Klein-4 group',
 'elements': ['e', 'h', 'v', 'hv'],
 'addition_table': [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]}

In [6]:
v4.addition_table_with_names()

[['e', 'h', 'v', 'hv'],
 ['h', 'e', 'hv', 'v'],
 ['v', 'hv', 'e', 'h'],
 ['hv', 'v', 'h', 'e']]

The group can also be created at the command line:

In [7]:
v4x = alg.Group('V4x',
                'Klein-4 group',
                ['e',  'h',  'v', 'hv'],
                [[0, 1, 2, 3],
                 [1, 0, 3, 2],
                 [2, 3, 0, 1],
                 [3, 2, 1, 0]]
               )

v4x

Group('V4x', 'Klein-4 group', ['e', 'h', 'v', 'hv'], [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [8]:
v4.add('h','v')

'hv'

In [9]:
for elem in v4.elements:
    print(f"inv({elem}) = {v4.inverse(elem)}")

inv(e) = e
inv(h) = h
inv(v) = v
inv(hv) = hv

In [10]:
print(v4)

<Group: V4, Klein-4 group>

In [11]:
v4json = json.dumps(v4.to_dict())
v4json

'{"type": "Group", "name": "V4", "description": "Klein-4 group", "elements": ["e", "h", "v", "hv"], "addition_table": [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]}'

### Cyclic group of order 4

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/Z_4.group).

In [12]:
z4 = alg.Group('Z4',
           'Cyclic group of order 4',
           ['e', 'a', 'a^2', 'a^3'],
           [[0, 1, 2, 3],
            [1, 2, 3, 0],
            [2, 3, 0, 1],
            [3, 0, 1, 2]]
          )

In [13]:
z4.addition_table_with_names()

[['e', 'a', 'a^2', 'a^3'],
 ['a', 'a^2', 'a^3', 'e'],
 ['a^2', 'a^3', 'e', 'a'],
 ['a^3', 'e', 'a', 'a^2']]

In [14]:
print(z4)

<Group: Z4, Cyclic group of order 4>

In [15]:
z4.add(2,2)

0

In [16]:
z4.add('a^2', 'a^3')

'a'

In [17]:
for elem in z4.elements:
    print(f"inv({elem}) = {z4.inverse(elem)}")

inv(e) = e
inv(a) = a^3
inv(a^2) = a^2
inv(a^3) = a

### Symmetric group on 3 letters

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/S_3.group). "Another name for this group is "Dihedral group on 3 vertices."

In [18]:
s3 = alg.Group('S3',
           'Symmetric group on 3 letters',
           ['e', 'r', 'r^2', 'f', 'fr', 'rf'],
           [[0, 1, 2, 3, 4, 5],
            [1, 2, 0, 5, 3, 4],
            [2, 0, 1, 4, 5, 3],
            [3, 4, 5, 0, 1, 2],
            [4, 5, 3, 2, 0, 1],
            [5, 3, 4, 1, 2, 0]]
          )

In [19]:
s3.addition_table_with_names()

[['e', 'r', 'r^2', 'f', 'fr', 'rf'],
 ['r', 'r^2', 'e', 'rf', 'f', 'fr'],
 ['r^2', 'e', 'r', 'fr', 'rf', 'f'],
 ['f', 'fr', 'rf', 'e', 'r', 'r^2'],
 ['fr', 'rf', 'f', 'r^2', 'e', 'r'],
 ['rf', 'f', 'fr', 'r', 'r^2', 'e']]

In [20]:
print(s3)

<Group: S3, Symmetric group on 3 letters>

In [21]:
s3.add('fr', 'r^2')

'f'

In [22]:
for elem in s3.elements:
    print(f"inv({elem}) = {s3.inverse(elem)}")

inv(e) = e
inv(r) = r^2
inv(r^2) = r
inv(f) = f
inv(fr) = fr
inv(rf) = rf

In [23]:
s3

Group('S3', 'Symmetric group on 3 letters', ['e', 'r', 'r^2', 'f', 'fr', 'rf'], [[0, 1, 2, 3, 4, 5], [1, 2, 0, 5, 3, 4], [2, 0, 1, 4, 5, 3], [3, 4, 5, 0, 1, 2], [4, 5, 3, 2, 0, 1], [5, 3, 4, 1, 2, 0]])

### Symmetric Group, S3 (not same as S3, above)

This is the [Symmetric group, S3, as specified at Groupprops](https://groupprops.subwiki.org/wiki/Symmetric_group:S3).

W.r.t., how to interpret the addition table, the following quote helps:

[[from Wikipedia](https://groupprops.subwiki.org/wiki/Symmetric_group:S3)] "We portray elements as permutations on the set \{ 1,2,3 \} using the cycle decomposition. The row element is added on the left and the column element on the right, with the assumption of functions written on the left. This means that the column element is applied first and the row element is applied next."

In [24]:
s3x = alg.Group('S3X',
           'Another version of the symmetric group on 3 letters',
           ['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
           [[0, 1, 2, 3, 4, 5],
            [1, 0, 4, 5, 2, 3],
            [2, 5, 0, 4, 3, 1],
            [3, 4, 5, 0, 1, 2],
            [4, 3, 1, 2, 5, 0],
            [5, 2, 3, 1, 0, 4]]
          )

In [25]:
s3x.addition_table_with_names()

[['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
 ['(1,2)', '()', '(1,2,3)', '(1,3,2)', '(2,3)', '(1,3)'],
 ['(2,3)', '(1,3,2)', '()', '(1,2,3)', '(1,3)', '(1,2)'],
 ['(1,3)', '(1,2,3)', '(1,3,2)', '()', '(1,2)', '(2,3)'],
 ['(1,2,3)', '(1,3)', '(1,2)', '(2,3)', '(1,3,2)', '()'],
 ['(1,3,2)', '(2,3)', '(1,3)', '(1,2)', '()', '(1,2,3)']]

In [26]:
s3x.add('(1,2)', '(2,3)')

'(1,2,3)'

In [27]:
for elem in s3x.elements:
    print(f"inv({elem}) = {s3x.inverse(elem)}")

inv(()) = ()
inv((1,2)) = (1,2)
inv((2,3)) = (2,3)
inv((1,3)) = (1,3)
inv((1,2,3)) = (1,3,2)
inv((1,3,2)) = (1,2,3)

## Z_2 x Z_2 x Z_2

In [28]:
Z2xZ2xZ2 = alg.Group('Z_2 x Z_2 x Z_2',
                 'no description',
                 ['eee', 'aee', 'eae', 'aae', 'eea', 'aea', 'eaa', 'aaa'],
                 [[0, 1, 2, 3, 4, 5, 6, 7],
                  [1, 0, 3, 2, 5, 4, 7, 6],
                  [2, 3, 0, 1, 6, 7, 4, 5],
                  [3, 2, 1, 0, 7, 6, 5, 4],
                  [4, 5, 6, 7, 0, 1, 2, 3],
                  [5, 4, 7, 6, 1, 0, 3, 2],
                  [6, 7, 4, 5, 2, 3, 0, 1],
                  [7, 6, 5, 4, 3, 2, 1, 0]]
                )

In [29]:
Z2xZ2xZ2.addition_table_with_names()

[['eee', 'aee', 'eae', 'aae', 'eea', 'aea', 'eaa', 'aaa'],
 ['aee', 'eee', 'aae', 'eae', 'aea', 'eea', 'aaa', 'eaa'],
 ['eae', 'aae', 'eee', 'aee', 'eaa', 'aaa', 'eea', 'aea'],
 ['aae', 'eae', 'aee', 'eee', 'aaa', 'eaa', 'aea', 'eea'],
 ['eea', 'aea', 'eaa', 'aaa', 'eee', 'aee', 'eae', 'aae'],
 ['aea', 'eea', 'aaa', 'eaa', 'aee', 'eee', 'aae', 'eae'],
 ['eaa', 'aaa', 'eea', 'aea', 'eae', 'aae', 'eee', 'aee'],
 ['aaa', 'eaa', 'aea', 'eea', 'aae', 'eae', 'aee', 'eee']]

In [30]:
for elem in Z2xZ2xZ2.elements:
    print(f"inv({elem}) = {Z2xZ2xZ2.inverse(elem)}")

inv(eee) = eee
inv(aee) = aee
inv(eae) = eae
inv(aae) = aae
inv(eea) = eea
inv(aea) = aea
inv(eaa) = eaa
inv(aaa) = aaa

## Direct Products

In [31]:
z2 = alg.Group('Z2',
           'Cyclic group of order 2',
           ['E', 'A'],
           [[0, 1],
            [1, 0]]
          )

z3 = alg.Group('Z3',
           'Cyclic group of order 3',
           ['E', 'A', 'B'],
           [[0, 1, 2],
            [1, 2, 0],
            [2, 0, 1]]
          )

In [32]:
z3_x_z3 = z3 * z3
z3_x_z3

Group('Z3_x_Z3', 'Direct product of Z3 & Z3', ['E,E', 'E,A', 'E,B', 'A,E', 'A,A', 'A,B', 'B,E', 'B,A', 'B,B'], [[0, 1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 0, 4, 5, 3, 7, 8, 6], [2, 0, 1, 5, 3, 4, 8, 6, 7], [3, 4, 5, 6, 7, 8, 0, 1, 2], [4, 5, 3, 7, 8, 6, 1, 2, 0], [5, 3, 4, 8, 6, 7, 2, 0, 1], [6, 7, 8, 0, 1, 2, 3, 4, 5], [7, 8, 6, 1, 2, 0, 4, 5, 3], [8, 6, 7, 2, 0, 1, 5, 3, 4]])

In [33]:
z3_x_z3.elements

['E,E', 'E,A', 'E,B', 'A,E', 'A,A', 'A,B', 'B,E', 'B,A', 'B,B']

In [34]:
z3_x_z3.addition_table

[[0, 1, 2, 3, 4, 5, 6, 7, 8],
 [1, 2, 0, 4, 5, 3, 7, 8, 6],
 [2, 0, 1, 5, 3, 4, 8, 6, 7],
 [3, 4, 5, 6, 7, 8, 0, 1, 2],
 [4, 5, 3, 7, 8, 6, 1, 2, 0],
 [5, 3, 4, 8, 6, 7, 2, 0, 1],
 [6, 7, 8, 0, 1, 2, 3, 4, 5],
 [7, 8, 6, 1, 2, 0, 4, 5, 3],
 [8, 6, 7, 2, 0, 1, 5, 3, 4]]

In [35]:
for elem in z3_x_z3.elements:
    print(f"inv({elem}) = {z3_x_z3.inverse(elem)}")

inv(E,E) = E,E
inv(E,A) = E,B
inv(E,B) = E,A
inv(A,E) = B,E
inv(A,A) = B,B
inv(A,B) = B,A
inv(B,E) = A,E
inv(B,A) = A,B
inv(B,B) = A,A

In [36]:
z2_x_z2_x_z2 = z2 * z2 * z2

In [37]:
z2_x_z2_x_z2.elements

['E,E,E', 'E,E,A', 'E,A,E', 'E,A,A', 'A,E,E', 'A,E,A', 'A,A,E', 'A,A,A']

In [38]:
z2_x_z2_x_z2.addition_table

[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 0, 3, 2, 5, 4, 7, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 2, 1, 0, 7, 6, 5, 4],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 4, 7, 6, 1, 0, 3, 2],
 [6, 7, 4, 5, 2, 3, 0, 1],
 [7, 6, 5, 4, 3, 2, 1, 0]]

In [39]:
for elem in z2_x_z2_x_z2.elements:
    print(f"inv({elem}) = {z2_x_z2_x_z2.inverse(elem)}")

inv(E,E,E) = E,E,E
inv(E,E,A) = E,E,A
inv(E,A,E) = E,A,E
inv(E,A,A) = E,A,A
inv(A,E,E) = A,E,E
inv(A,E,A) = A,E,A
inv(A,A,E) = A,A,E
inv(A,A,A) = A,A,A