# Abstract Algebras

## References

* [Group Explorer](https://nathancarter.github.io/group-explorer/index.html) -- Visualization software for the abstract algebra classroom
* [Groupprops, The Group Properties Wiki (beta)](https://groupprops.subwiki.org/wiki/Main_Page)
* [Klein four-group, V4](https://en.wikipedia.org/wiki/Klein_four-group)
* [Cyclic group](https://en.wikipedia.org/wiki/Cyclic_group)

## Algebra Definition

In [1]:
def swap_list_items(lst, item1, item2):
    a, b = lst.index(item1), lst.index(item2)
    lst[b], lst[a] = lst[a], lst[b]
    return None

class Algebra:
    '''An abstract algebra with a finite number of elements and a multiplication table.'''
    
    def __init__(self, name, description, element_names, mult_table):
        self.name = name
        self.desc = description
        self.elements = element_names
        self.table = mult_table
        # For efficiency, calculate the headers up front
        self.col_header = self.table[0]
        self.row_header = [row[0] for row in self.table]
        
    def __str__(self):
        return f"<{self.__class__.__name__}: {self.name}, {self.desc}>"
    
    def __repr__(self):
        return f"{self.__class__.__name__}('{self.name}', '{self.desc}', {self.elements}, {self.table})"
    
    def inverse(self, element):
        elem_index = self.elements.index(element)
        row_index = self.row_header.index(elem_index)
        col_index = self.table[row_index].index(0)
        return self.elements[self.col_header[col_index]]
    
    def mult_table_with_names(self):
        return [[self.elements[x] for x in row] for row in self.table]
        
    def mult(self, r, c):
        '''Return the product of elements, r & c.
        The inputs, r & c, can be numbers or strings, but if either
        input is a number, then a number will be returned, otherwise
        the product's element name (a string) will be returned.'''

        # Table lookup requires numbers
        r_ = r; c_ = c
        str_result = False
        if type(r) == str:
            r_ = self.elements.index(r)
            str_result = True
        if type(c) == str:
            c_ = self.elements.index(c)
            str_result = True
        
        # Lookup the product based on the row & column indices
        row_index = self.row_header.index(r_)
        col_index = self.col_header.index(c_)
        product = self.table[row_index][col_index]
        
        # If either input value was a string, then return a string,
        # otherwise return a number
        if str_result:
            return self.elements[product]
        else:
            return product
    
    def swap(self, a, b):
        '''Change the algebra's definition by swapping the order of two elements, a & b.'''
        elem = self.elements
        i, j = elem.index(a), elem.index(b)
        elem[j], elem[i] = elem[i], elem[j]
        for row in self.table:
            k, m = row.index(i), row.index(j)
            row[k], row[m] = row[m], row[k]
        return None
    
    def elements(self):
        return self.table[0]

## Group Definition

In [2]:
class Group(Algebra):
    pass

### Klein-4 Group

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/V_4.group).

In [3]:
v4 = Group('V4',
           'Klein-4 group',
           ['e',  'h',  'v', 'hv'],
           [[0, 1, 2, 3],
            [1, 0, 3, 2],
            [2, 3, 0, 1],
            [3, 2, 1, 0]]
          )

In [4]:
v4.mult_table_with_names()

[['e', 'h', 'v', 'hv'],
 ['h', 'e', 'hv', 'v'],
 ['v', 'hv', 'e', 'h'],
 ['hv', 'v', 'h', 'e']]

In [5]:
v4.mult('h','v')

'hv'

In [6]:
for elem in v4.elements:
    print(f"inv({elem}) = {v4.inverse(elem)}")

inv(e) = e
inv(h) = h
inv(v) = v
inv(hv) = hv

In [7]:
print(v4)

<Group: V4, Klein-4 group>

### Cyclic group of order 4

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/Z_4.group).

In [8]:
z4 = Group('Z4',
           'Cyclic group of order 4',
           ['e', 'a', 'a^2', 'a^3'],
           [[0, 1, 2, 3],
            [1, 2, 3, 0],
            [2, 3, 0, 1],
            [3, 0, 1, 2]]
          )

In [9]:
z4.mult_table_with_names()

[['e', 'a', 'a^2', 'a^3'],
 ['a', 'a^2', 'a^3', 'e'],
 ['a^2', 'a^3', 'e', 'a'],
 ['a^3', 'e', 'a', 'a^2']]

In [10]:
print(z4)

<Group: Z4, Cyclic group of order 4>

In [11]:
z4.mult(2,2)

0

In [12]:
z4.mult('a^2', 'a^3')

'a'

In [13]:
for elem in z4.elements:
    print(f"inv({elem}) = {z4.inverse(elem)}")

inv(e) = e
inv(a) = a^3
inv(a^2) = a^2
inv(a^3) = a

### Symmetric group on 3 letters

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/S_3.group). "Another name for this group is "Dihedral group on 3 vertices."

In [14]:
s3 = Group('S3',
           'Symmetric group on 3 letters',
           ['e', 'r', 'r^2', 'f', 'fr', 'rf'],
           [[0, 1, 2, 3, 4, 5],
            [1, 2, 0, 5, 3, 4],
            [2, 0, 1, 4, 5, 3],
            [3, 4, 5, 0, 1, 2],
            [4, 5, 3, 2, 0, 1],
            [5, 3, 4, 1, 2, 0]]
          )

In [15]:
s3.mult_table_with_names()

[['e', 'r', 'r^2', 'f', 'fr', 'rf'],
 ['r', 'r^2', 'e', 'rf', 'f', 'fr'],
 ['r^2', 'e', 'r', 'fr', 'rf', 'f'],
 ['f', 'fr', 'rf', 'e', 'r', 'r^2'],
 ['fr', 'rf', 'f', 'r^2', 'e', 'r'],
 ['rf', 'f', 'fr', 'r', 'r^2', 'e']]

In [16]:
print(s3)

<Group: S3, Symmetric group on 3 letters>

In [17]:
s3.mult('fr', 'r^2')

'f'

In [18]:
for elem in s3.elements:
    print(f"inv({elem}) = {s3.inverse(elem)}")

inv(e) = e
inv(r) = r^2
inv(r^2) = r
inv(f) = f
inv(fr) = fr
inv(rf) = rf

In [19]:
s3

Group('S3', 'Symmetric group on 3 letters', ['e', 'r', 'r^2', 'f', 'fr', 'rf'], [[0, 1, 2, 3, 4, 5], [1, 2, 0, 5, 3, 4], [2, 0, 1, 4, 5, 3], [3, 4, 5, 0, 1, 2], [4, 5, 3, 2, 0, 1], [5, 3, 4, 1, 2, 0]])

### Symmetric Group, S3 (not same as S3, above)

This is the [Symmetric group, S3, as specified at Groupprops](https://groupprops.subwiki.org/wiki/Symmetric_group:S3).

W.r.t., how to interpret the multiplication table, the following quote helps:

[[from Wikipedia](https://groupprops.subwiki.org/wiki/Symmetric_group:S3)] "We portray elements as permutations on the set \{ 1,2,3 \} using the cycle decomposition. The row element is multiplied on the left and the column element on the right, with the assumption of functions written on the left. This means that the column element is applied first and the row element is applied next."

In [20]:
s3x = Group('S3X',
           'Another version of the symmetric group on 3 letters',
           ['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
           [[0, 1, 2, 3, 4, 5],
            [1, 0, 4, 5, 2, 3],
            [2, 5, 0, 4, 3, 1],
            [3, 4, 5, 0, 1, 2],
            [4, 3, 1, 2, 5, 0],
            [5, 2, 3, 1, 0, 4]]
          )

In [21]:
s3x.mult_table_with_names()

[['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
 ['(1,2)', '()', '(1,2,3)', '(1,3,2)', '(2,3)', '(1,3)'],
 ['(2,3)', '(1,3,2)', '()', '(1,2,3)', '(1,3)', '(1,2)'],
 ['(1,3)', '(1,2,3)', '(1,3,2)', '()', '(1,2)', '(2,3)'],
 ['(1,2,3)', '(1,3)', '(1,2)', '(2,3)', '(1,3,2)', '()'],
 ['(1,3,2)', '(2,3)', '(1,3)', '(1,2)', '()', '(1,2,3)']]

In [22]:
s3x.mult('(1,2)', '(2,3)')

'(1,2,3)'

In [23]:
for elem in s3x.elements:
    print(f"inv({elem}) = {s3x.inverse(elem)}")

inv(()) = ()
inv((1,2)) = (1,2)
inv((2,3)) = (2,3)
inv((1,3)) = (1,3)
inv((1,2,3)) = (1,3,2)
inv((1,3,2)) = (1,2,3)