# Abstract Algebras

## References

* [Group Explorer](https://nathancarter.github.io/group-explorer/index.html) -- Visualization software for the abstract algebra classroom
* [Klein four-group, V4](https://en.wikipedia.org/wiki/Klein_four-group)
* [Cyclic group](https://en.wikipedia.org/wiki/Cyclic_group)

## Algebra Definition

In [1]:
class Algebra:
    '''An abstract algebra with a finite number of elements and a multiplication table.'''
    
    def __init__(self, name, description, element_names, mult_table):
        self.name = name
        self.desc = description
        self.elem_names = element_names
        self.table = mult_table
        # For efficiency, calculate the headers up front
        self.col_header = self.table[0]
        self.row_header = [row[0] for row in self.table]
        
    def __str__(self):
        return f"<{self.__class__.__name__}: {self.name}, {self.desc}>"
    
    def __repr__(self):
        return f"{self.__class__.__name__}('{self.name}', '{self.desc}', {self.elem_names}, {self.table})"
    
    def mult_table_with_names(self):
        return [[self.elem_names[x] for x in row] for row in self.table]
        
    def mult(self, r, c):
        '''Return the product of elements, r & c.
        The inputs, r & c, can be numbers or strings, but if either
        input is a number, then a number will be returned, otherwise
        the product's element name (a string) will be returned.'''

        # Table lookup requires numbers
        r_ = r; c_ = c
        str_result = False
        if type(r) == str:
            r_ = self.elem_names.index(r)
            str_result = True
        if type(c) == str:
            c_ = self.elem_names.index(c)
            str_result = True
        
        # Lookup the product based on the row & column indices
        row_index = self.row_header.index(r_)
        col_index = self.col_header.index(c_)
        product = self.table[row_index][col_index]
        
        # If either input value was a string, then return a string,
        # otherwise return a number
        if str_result:
            return self.elem_names[product]
        else:
            return product
        
    def elements(self):
        return self.table[0]

## Group Definition

In [2]:
class Group(Algebra):
    pass

### Klein four-group, V4

In [3]:
v4 = Group('V4',
           'Klein four-group',
           ['e',  'h',  'v', ' hv'],
           [[0, 1, 2, 3],
            [1, 0, 3, 2],
            [2, 3, 0, 1],
            [3, 2, 1, 0]]
          )

In [4]:
v4.mult_table_with_names()

[['e', 'h', 'v', ' hv'],
 ['h', 'e', ' hv', 'v'],
 ['v', ' hv', 'e', 'h'],
 [' hv', 'v', 'h', 'e']]

In [5]:
v4.mult('h','v')

' hv'

In [6]:
print(v4)

<Group: V4, Klein four-group>

### Cyclic group of order 4

In [7]:
z4 = Group('Z4',
           'Cyclic group of order 4',
           ['e', 'a', 'a^2', 'a^3'],
           [[0, 1, 2, 3],
            [1, 2, 3, 0],
            [2, 3, 0, 1],
            [3, 0, 1, 2]]
          )

In [8]:
z4.mult_table_with_names()

[['e', 'a', 'a^2', 'a^3'],
 ['a', 'a^2', 'a^3', 'e'],
 ['a^2', 'a^3', 'e', 'a'],
 ['a^3', 'e', 'a', 'a^2']]

In [9]:
print(z4)

<Group: Z4, Cyclic group of order 4>

In [10]:
z4.mult(2,2)

0

In [11]:
z4.mult('a^2', 'a^2')

'e'

### Symmetric group on 3 letters

In [12]:
s3 = Group('S3',
           'Symmetric group on 3 letters',
           ['e', 'r', 'r^2', 'f', 'fr', 'rf'],
           [[0, 1, 2, 3, 4, 5],
            [1, 2, 0, 5, 3, 4],
            [2, 0, 1, 4, 5, 3],
            [3, 4, 5, 0, 1, 2],
            [4, 5, 3, 2, 0, 1],
            [5, 3, 4, 1, 2, 0]]
          )

In [13]:
s3.mult_table_with_names()

[['e', 'r', 'r^2', 'f', 'fr', 'rf'],
 ['r', 'r^2', 'e', 'rf', 'f', 'fr'],
 ['r^2', 'e', 'r', 'fr', 'rf', 'f'],
 ['f', 'fr', 'rf', 'e', 'r', 'r^2'],
 ['fr', 'rf', 'f', 'r^2', 'e', 'r'],
 ['rf', 'f', 'fr', 'r', 'r^2', 'e']]

In [14]:
print(s3)

<Group: S3, Symmetric group on 3 letters>

In [15]:
s3.mult('fr', 'r^2')

'f'

In [16]:
s3

Group('S3', 'Symmetric group on 3 letters', ['e', 'r', 'r^2', 'f', 'fr', 'rf'], [[0, 1, 2, 3, 4, 5], [1, 2, 0, 5, 3, 4], [2, 0, 1, 4, 5, 3], [3, 4, 5, 0, 1, 2], [4, 5, 3, 2, 0, 1], [5, 3, 4, 1, 2, 0]])