# Abstract Algebras

<i>Version 2</i>

## References

* [Group Explorer](https://nathancarter.github.io/group-explorer/index.html) -- Visualization software for the abstract algebra classroom
* [Groupprops, The Group Properties Wiki (beta)](https://groupprops.subwiki.org/wiki/Main_Page)
* [Klein four-group, V4](https://en.wikipedia.org/wiki/Klein_four-group)
* [Cyclic group](https://en.wikipedia.org/wiki/Cyclic_group)

## Imports and Paths

In [1]:
import algebras as alg
import numpy as np
import json
import os

In [2]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

### A Very Simple Group

In [3]:
simp = alg.Group("Simple",
                 "A very simple group",
                 ["1", "-1"],
                 [[0, 1],
                  [1, 0]])

In [4]:
simp.print_info()

Group : Simple : A very simple group
  Element Names: ['1', '-1']
  Is Abelian? True
  Inverses:  (** - indicates that it is its own inverse)
    inv(1) = 1   **
    inv(-1) = -1   **
  Is associative? True
  Cayley Table:
     1  -1
    -1   1

### Klein-4 Group

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/V_4.group).

In [5]:
v4_json = os.path.join(alg_dir, "v4_klein_4_group.json")

!cat {v4_json}

{"type": "Group",
 "name": "V4",
 "description": "Klein-4 group",
 "element_names": ["e", "h", "v", "hv"],
 "addition_table": [[0, 1, 2, 3],
                    [1, 0, 3, 2],
                    [2, 3, 0, 1],
                    [3, 2, 1, 0]]
}

In [7]:
v4 = alg.Group(v4_json)
v4

Group('V4', 'Klein-4 group', ['e', 'h', 'v', 'hv'], [[0 1 2 3]
 [1 0 3 2]
 [2 3 0 1]
 [3 2 1 0]])

The group can also be created at the command line:

In [8]:
v4x = alg.Group('V4x',
                'Klein-4 group',
                ['e',  'h',  'v', 'hv'],
                [[0, 1, 2, 3],
                 [1, 0, 3, 2],
                 [2, 3, 0, 1],
                 [3, 2, 1, 0]]
               )

v4x

Group('V4x', 'Klein-4 group', ['e', 'h', 'v', 'hv'], [[0 1 2 3]
 [1 0 3 2]
 [2 3 0 1]
 [3 2 1 0]])

In [9]:
v4.add('h','v')

'hv'

In [11]:
v4.print_info()

Group : V4 : Klein-4 group
  Element Names: ['e', 'h', 'v', 'hv']
  Is Abelian? True
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(h) = h   **
    inv(v) = v   **
    inv(hv) = hv   **
  Is associative? True
  Cayley Table:
     e   h   v  hv
     h   e  hv   v
     v  hv   e   h
    hv   v   h   e

In [12]:
v4.to_dict()

{'type': 'Group',
 'name': 'V4',
 'description': 'Klein-4 group',
 'element_names': ['e', 'h', 'v', 'hv'],
 'addition_table': [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]}

In [13]:
v4json = json.dumps(v4.to_dict())
v4json

'{"type": "Group", "name": "V4", "description": "Klein-4 group", "element_names": ["e", "h", "v", "hv"], "addition_table": [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]}'

### Cyclic group of order 4

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/Z_4.group).

In [14]:
z4_json = os.path.join(alg_dir, "z4_cyclic_group_of_order_4.json")

!cat {z4_json}

{"type": "Group",
 "name": "Z4",
 "description": "Cyclic group of order 4",
 "element_names": ["e", "a", "a^2", "a^3"],
 "addition_table": [[0, 1, 2, 3],
                    [1, 2, 3, 0],
                    [2, 3, 0, 1],
                    [3, 0, 1, 2]]
}

In [18]:
z4 = alg.Group(z4_json)

z4.print_info()

Group : Z4 : Cyclic group of order 4
  Element Names: ['e', 'a', 'a^2', 'a^3']
  Is Abelian? True
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(a) = a^3
    inv(a^2) = a^2   **
    inv(a^3) = a
  Is associative? True
  Cayley Table:
      e    a  a^2  a^3
      a  a^2  a^3    e
    a^2  a^3    e    a
    a^3    e    a  a^2

In [19]:
z4.add('a^2','a^2')

'e'

In [20]:
z4.add('a^2', 'a^3')

'a'

### Symmetric group on 3 letters

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/S_3.group). "Another name for this group is "Dihedral group on 3 vertices."

In [21]:
s3_json = os.path.join(alg_dir, "s3_symmetric_group_on_3_letters.json")

!cat {s3_json}

{"type": "Group",
 "name": "S3",
 "description": "Symmetric group on 3 letters",
 "element_names": ["e", "r", "r^2", "f", "fr", "rf"],
 "addition_table": [[0, 1, 2, 3, 4, 5],
                    [1, 2, 0, 5, 3, 4],
                    [2, 0, 1, 4, 5, 3],
                    [3, 4, 5, 0, 1, 2],
                    [4, 5, 3, 2, 0, 1],
                    [5, 3, 4, 1, 2, 0]]
}

In [22]:
s3 = alg.Group(s3_json)

s3.print_info()

Group : S3 : Symmetric group on 3 letters
  Element Names: ['e', 'r', 'r^2', 'f', 'fr', 'rf']
  Is Abelian? False
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(r) = r^2
    inv(r^2) = r
    inv(f) = f   **
    inv(fr) = fr   **
    inv(rf) = rf   **
  Is associative? True
  Cayley Table:
      e    r  r^2    f   fr   rf
      r  r^2    e   rf    f   fr
    r^2    e    r   fr   rf    f
      f   fr   rf    e    r  r^2
     fr   rf    f  r^2    e    r
     rf    f   fr    r  r^2    e

In [23]:
s3.add('fr', 'r^2')

'f'

In [24]:
s3.add('r^2', 'fr')

'rf'

### Symmetric Group, S3 (not same as S3, above)

This is the [Symmetric group, S3, as specified at Groupprops](https://groupprops.subwiki.org/wiki/Symmetric_group:S3).

W.r.t., how to interpret the addition table, the following quote helps:

[[from Wikipedia](https://groupprops.subwiki.org/wiki/Symmetric_group:S3)] "We portray elements as permutations on the set \{ 1,2,3 \} using the cycle decomposition. The row element is added on the left and the column element on the right, with the assumption of functions written on the left. This means that the column element is applied first and the row element is applied next."

In [26]:
s3x = alg.Group('S3X',
           'Another version of the symmetric group on 3 letters',
           ['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
           [[0, 1, 2, 3, 4, 5],
            [1, 0, 4, 5, 2, 3],
            [2, 5, 0, 4, 3, 1],
            [3, 4, 5, 0, 1, 2],
            [4, 3, 1, 2, 5, 0],
            [5, 2, 3, 1, 0, 4]]
          )

In [27]:
s3x.dumps()

'{"type": "Group", "name": "S3X", "description": "Another version of the symmetric group on 3 letters", "element_names": ["()", "(1,2)", "(2,3)", "(1,3)", "(1,2,3)", "(1,3,2)"], "addition_table": [[0, 1, 2, 3, 4, 5], [1, 0, 4, 5, 2, 3], [2, 5, 0, 4, 3, 1], [3, 4, 5, 0, 1, 2], [4, 3, 1, 2, 5, 0], [5, 2, 3, 1, 0, 4]]}'

In [28]:
s3x_json = os.path.join(alg_dir, "s3x_symmetric_group_OTHER.json")

!cat {s3x_json}

{"type": "Group",
 "name": "S3X",
 "description":"Another version of the symmetric group on 3 letters",
 "element_names": ["()", "(1,2)", "(2,3)", "(1,3)", "(1,2,3)", "(1,3,2)"],
 "addition_table": [[0, 1, 2, 3, 4, 5],
                    [1, 0, 4, 5, 2, 3],
                    [2, 5, 0, 4, 3, 1],
                    [3, 4, 5, 0, 1, 2],
                    [4, 3, 1, 2, 5, 0],
                    [5, 2, 3, 1, 0, 4]]
}

In [29]:
s3x = alg.Group(s3x_json)

s3x.print_info()

Group : S3X : Another version of the symmetric group on 3 letters
  Element Names: ['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)']
  Is Abelian? False
  Inverses:  (** - indicates that it is its own inverse)
    inv(()) = ()   **
    inv((1,2)) = (1,2)   **
    inv((2,3)) = (2,3)   **
    inv((1,3)) = (1,3)   **
    inv((1,2,3)) = (1,3,2)
    inv((1,3,2)) = (1,2,3)
  Is associative? True
  Cayley Table:
         ()    (1,2)    (2,3)    (1,3)  (1,2,3)  (1,3,2)
      (1,2)       ()  (1,2,3)  (1,3,2)    (2,3)    (1,3)
      (2,3)  (1,3,2)       ()  (1,2,3)    (1,3)    (1,2)
      (1,3)  (1,2,3)  (1,3,2)       ()    (1,2)    (2,3)
    (1,2,3)    (1,3)    (1,2)    (2,3)  (1,3,2)       ()
    (1,3,2)    (2,3)    (1,3)    (1,2)       ()  (1,2,3)

In [30]:
s3x.add('(1,2)', '(2,3)')

'(1,2,3)'

## Z_2 x Z_2 x Z_2

In [31]:
Z2xZ2xZ2 = alg.Group('Z_2 x Z_2 x Z_2',
                 'no description',
                 ['eee', 'aee', 'eae', 'aae', 'eea', 'aea', 'eaa', 'aaa'],
                 [[0, 1, 2, 3, 4, 5, 6, 7],
                  [1, 0, 3, 2, 5, 4, 7, 6],
                  [2, 3, 0, 1, 6, 7, 4, 5],
                  [3, 2, 1, 0, 7, 6, 5, 4],
                  [4, 5, 6, 7, 0, 1, 2, 3],
                  [5, 4, 7, 6, 1, 0, 3, 2],
                  [6, 7, 4, 5, 2, 3, 0, 1],
                  [7, 6, 5, 4, 3, 2, 1, 0]]
                )

In [32]:
Z2xZ2xZ2.dumps()

'{"type": "Group", "name": "Z_2 x Z_2 x Z_2", "description": "no description", "element_names": ["eee", "aee", "eae", "aae", "eea", "aea", "eaa", "aaa"], "addition_table": [[0, 1, 2, 3, 4, 5, 6, 7], [1, 0, 3, 2, 5, 4, 7, 6], [2, 3, 0, 1, 6, 7, 4, 5], [3, 2, 1, 0, 7, 6, 5, 4], [4, 5, 6, 7, 0, 1, 2, 3], [5, 4, 7, 6, 1, 0, 3, 2], [6, 7, 4, 5, 2, 3, 0, 1], [7, 6, 5, 4, 3, 2, 1, 0]]}'

## Direct Products

In [ ]:
z2 = alg.Group('Z2',
           'Cyclic group of order 2',
           ['E', 'A'],
           [[0, 1],
            [1, 0]]
          )

z3 = alg.Group('Z3',
           'Cyclic group of order 3',
           ['E', 'A', 'B'],
           [[0, 1, 2],
            [1, 2, 0],
            [2, 0, 1]]
          )

In [ ]:
z3_x_z3 = z3 * z3
z3_x_z3

In [ ]:
z3_x_z3.element_names

In [ ]:
z3_x_z3.addition_table

In [ ]:
z3_x_z3.addition_table_with_names()

In [ ]:
z3_x_z3.pretty_print_addition_table()

In [ ]:
for elem in z3_x_z3.element_names:
    print(f"inv({elem}) = {z3_x_z3.inverse(elem)}")

In [ ]:
z3_x_z3.abelian()

In [ ]:
z3_x_z3.associative()

In [ ]:
z2_x_z2_x_z2 = z2 * z2 * z2

In [ ]:
z2_x_z2_x_z2.element_names

In [ ]:
z2_x_z2_x_z2.addition_table

In [ ]:
for elem in z2_x_z2_x_z2.element_names:
    print(f"inv({elem}) = {z2_x_z2_x_z2.inverse(elem)}")

## Tesseract group

This group has 384 elements and was converted to JSON from [this definition](https://github.com/nathancarter/group-explorer/blob/master/groups/Tesseract.group).

In [ ]:
tesseract_path = os.path.join(alg_dir, "tesseract.json")
tesseract = alg.Group(tesseract_path)
print(tesseract)

In [ ]:
tesseract.abelian()

In [ ]:
#tesseract.associative() # True

In [ ]:
len(tesseract.element_names)

Here are the first n elements:

In [ ]:
n = 25
tesseract.element_names[:n]

In [ ]:
tesseract.add('abab', 'baba')

## Scratch Work

In [ ]:
z3_x_z3

In [ ]:
z3_x_z3.element_names

In [ ]:
z3

In [ ]:
s3

In [ ]:
for elem in s3.element_names:
    print(f"inv({elem}) = {s3.inverse(elem)}")

In [ ]:
s3.set_direct_product_delimiter(':')

In [ ]:
foo = s3 * z3
foo

In [ ]:
foo.abelian()

In [ ]:
foo.pretty_print_addition_table(delimiter='')

In [ ]:
s3.addition_table

In [ ]:
s3.addition_table[3]

In [ ]:
s3.addition_table[:,2]

In [ ]:
s3.table_column(0)

In [ ]:
s3.table_column(0)

In [ ]:
s3.table_column(2)

In [ ]:
def get_table_column(table, n):
    return [row[n] for row in table]

In [ ]:
s3.check_addition_table()

In [ ]:
tesseract.check_addition_table()

In [ ]:
len(tesseract.element_names)

In [ ]:
arr = [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

In [ ]:
np_arr = np.array(arr, dtype=np.int64)

In [ ]:
np_arr

In [ ]:
2**32