# Example Groups

I'm using this notebook to implement example groups using the JSON format defined here.

Many of these groups were obtained from [Group Explorer](https://nathancarter.github.io/group-explorer/index.html): <i>"Visualization software for the abstract algebra classroom".</i>

In [42]:
import json
import os
import itertools as it

import algebras as alg

## Path Definitions

In [43]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

## Table of Contents

* [S3 -- Symmetric Group on 3 Letters](#S3)
* [Symmetric Group, S3X (not same as S3, above)](#S3X)
* [Z2 (Cyclic Group of Order 2) with Direct Products: Z2_x_Z2 and Z2_x_Z2_x_Z2](#cyclicgroups)
* [Z4 -- Cyclic Group of Order 4](#Z4)
* [Dihedral Group of Order 6](#dihedralgroup6)
* [A4 -- Alternating Group on 4 Letters](#A4)
* [D4 -- Dihedral Group on Four Vertices](#D4)
* [V4 -- Klein-4 Group](#V4)
* [Algebra from Pinter's book, top of page 29](#pinter29)
* [Tesseract Group](#tesseract)

## S3 -- Symmetric Group on 3 Letters<a class="anchor" id="S3"></a>

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/S_3.group). "Another name for this group is "Dihedral group on 3 vertices."

In [44]:
s3_path = os.path.join(alg_dir, "s3_symmetric_group_on_3_letters.json")
!cat {s3_path}

{"type": "Group",
 "name": "S3",
 "description": "Symmetric group on 3 letters",
 "element_names": ["e", "r", "r^2", "f", "fr", "rf"],
 "mult_table": [[0, 1, 2, 3, 4, 5],
                [1, 2, 0, 5, 3, 4],
                [2, 0, 1, 4, 5, 3],
                [3, 4, 5, 0, 1, 2],
                [4, 5, 3, 2, 0, 1],
                [5, 3, 4, 1, 2, 0]]
}

In [45]:
s3 = alg.Group(s3_path)
s3.pprint()
print(f"\nAbelian? {s3.abelian()}")

Group('S3',
'Symmetric group on 3 letters',
['e', 'r', 'r^2', 'f', 'fr', 'rf'],
[[0, 1, 2, 3, 4, 5],
 [1, 2, 0, 5, 3, 4],
 [2, 0, 1, 4, 5, 3],
 [3, 4, 5, 0, 1, 2],
 [4, 5, 3, 2, 0, 1],
 [5, 3, 4, 1, 2, 0]]
)

Abelian? False

## Symmetric Group, S3X (not same as S3, above)<a class="anchor" id="S3X"></a>

This is the [Symmetric group, S3, as specified at Groupprops](https://groupprops.subwiki.org/wiki/Symmetric_group:S3).

In [46]:
s3x = alg.Group('S3X',
           'Another version of the symmetric group on 3 letters',
           ['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
           [[0, 1, 2, 3, 4, 5],
            [1, 0, 4, 5, 2, 3],
            [2, 5, 0, 4, 3, 1],
            [3, 4, 5, 0, 1, 2],
            [4, 3, 1, 2, 5, 0],
            [5, 2, 3, 1, 0, 4]]
          )

In [47]:
s3x.pprint()

Group('S3X',
'Another version of the symmetric group on 3 letters',
['()', '(1,2)', '(2,3)', '(1,3)', '(1,2,3)', '(1,3,2)'],
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 5, 0, 4, 3, 1],
 [3, 4, 5, 0, 1, 2],
 [4, 3, 1, 2, 5, 0],
 [5, 2, 3, 1, 0, 4]]
)

## Z2 (Cyclic Group of Order 2) with Direct Products: Z2_x_Z2 and Z2_x_Z2_x_Z2<a class="anchor" id="cyclicgroups"></a>

In [48]:
z2 = alg.generate_cyclic_group(2)
z2.pprint()
print(f"\nAbelian? {s3.abelian()}")

Group('Z2',
'Autogenerated cyclic group of order 2',
['e', 'a'],
[[0, 1], [1, 0]]
)

Abelian? False

In [49]:
z2xz2 = z2 * z2
z2xz2.pprint()
print(f"\nAbelian? {s3.abelian()}")

Group('Z2_x_Z2',
'Direct product of Z2 & Z2',
['e:e', 'e:a', 'a:e', 'a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

Abelian? False

In [50]:
z2xz2xz2 = z2 * z2 * z2
z2xz2xz2.pprint()
print(f"\nAbelian? {s3.abelian()}")

Group('Z2_x_Z2_x_Z2',
'Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:e:a', 'e:a:e', 'e:a:a', 'a:e:e', 'a:e:a', 'a:a:e', 'a:a:a'],
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 0, 3, 2, 5, 4, 7, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 2, 1, 0, 7, 6, 5, 4],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 4, 7, 6, 1, 0, 3, 2],
 [6, 7, 4, 5, 2, 3, 0, 1],
 [7, 6, 5, 4, 3, 2, 1, 0]]
)

Abelian? False

In [51]:
z2.proper_subgroups()

[]

In [52]:
z2xz2.proper_subgroups()

[Group('Z2_x_Z2_subgroup_0',
 'Subgroup of: Direct product of Z2 & Z2',
 ['e:e', 'e:a'],
 [[0, 1], [1, 0]]) ,
 Group('Z2_x_Z2_subgroup_1',
 'Subgroup of: Direct product of Z2 & Z2',
 ['e:e', 'a:e'],
 [[0, 1], [1, 0]]) ,
 Group('Z2_x_Z2_subgroup_2',
 'Subgroup of: Direct product of Z2 & Z2',
 ['e:e', 'a:a'],
 [[0, 1], [1, 0]]) ]

In [53]:
z2xz2xz2_subgroups = z2xz2xz2.proper_subgroups()

In [54]:
len(z2xz2xz2_subgroups)

14

In [55]:
[g.order for g in z2xz2xz2_subgroups]

[4, 4, 4, 2, 2, 4, 4, 2, 2, 2, 4, 4, 2, 2]

In [56]:
subs = z2xz2xz2_subgroups
for sub in subs:
    sub.pprint()

Group('Z2_x_Z2_x_Z2_subgroup_0',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:a:a', 'a:e:a', 'a:a:e'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_1',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:e:a', 'e:a:e', 'e:a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_2',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:a:a', 'a:e:e', 'a:a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_3',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:a:e'],
[[0, 1], [1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_4',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'a:e:a'],
[[0, 1], [1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_5',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:e:a', 'a:a:e', 'a:a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_6',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:a:e', 'a:e:e', 'a:a:e'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_7',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:e:a'],
[[0, 1], [1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_8',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'a:a:a'],
[[0, 1], [1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_9',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'a:a:e'],
[[0, 1], [1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_10',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:e:a', 'a:e:e', 'a:e:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_11',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:a:e', 'a:e:a', 'a:a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_12',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'a:e:e'],
[[0, 1], [1, 0]]
)
Group('Z2_x_Z2_x_Z2_subgroup_13',
'Subgroup of: Direct product of Z2_x_Z2 & Z2',
['e:e:e', 'e:a:a'],
[[0, 1], [1, 0]]
)

## Z4 -- Cyclic Group of Order 4<a class="anchor" id="Z4"></a>

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/Z_4.group).

In [57]:
z4_json = os.path.join(alg_dir, "z4_cyclic_group_of_order_4.json")
!cat {z4_json}

{"type": "Group",
 "name": "Z4",
 "description": "Cyclic group of order 4",
 "element_names": ["e", "a", "a^2", "a^3"],
 "mult_table": [[0, 1, 2, 3],
                [1, 2, 3, 0],
                [2, 3, 0, 1],
                [3, 0, 1, 2]]
}

In [58]:
z4 = alg.Group(z4_json)
z4.pprint()

Group('Z4',
'Cyclic group of order 4',
['e', 'a', 'a^2', 'a^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
)

## Dihedral Group of Order 6<a class="anchor" id="dihedralgroup6"></a>

[See Wikipedia](https://en.wikipedia.org/wiki/Dihedral_group_of_order_6)

In [59]:
d3_path = os.path.join(alg_dir, "d3_dihedral_group_of_order_6.json")

!cat {d3_path}

{"type": "Group",
 "name": "D3",
 "description": "https://en.wikipedia.org/wiki/Dihedral_group_of_order_6",
 "element_names": ["e", "a", "b", "aba", "ab", "ba"],
 "mult_table": [[0, 1, 2, 3, 4, 5],
                [1, 0, 4, 5, 2, 3],
                [2, 5, 0, 4, 3, 1],
                [3, 4, 5, 0, 1, 2],
                [4, 3, 1, 2, 5, 0],
                [5, 2, 3, 1, 0, 4]]
}

In [60]:
d3 = alg.Group(d3_path)
d3.pprint()

Group('D3',
'https://en.wikipedia.org/wiki/Dihedral_group_of_order_6',
['e', 'a', 'b', 'aba', 'ab', 'ba'],
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 5, 0, 4, 3, 1],
 [3, 4, 5, 0, 1, 2],
 [4, 3, 1, 2, 5, 0],
 [5, 2, 3, 1, 0, 4]]
)

In [61]:
subs = d3.proper_subgroups()
for sub in subs:
    sub.pprint()

Group('D3_subgroup_0',
'Subgroup of: https://en.wikipedia.org/wiki/Dihedral_group_of_order_6',
['e', 'aba'],
[[0, 1], [1, 0]]
)
Group('D3_subgroup_1',
'Subgroup of: https://en.wikipedia.org/wiki/Dihedral_group_of_order_6',
['e', 'a'],
[[0, 1], [1, 0]]
)
Group('D3_subgroup_2',
'Subgroup of: https://en.wikipedia.org/wiki/Dihedral_group_of_order_6',
['e', 'b'],
[[0, 1], [1, 0]]
)
Group('D3_subgroup_3',
'Subgroup of: https://en.wikipedia.org/wiki/Dihedral_group_of_order_6',
['e', 'ab', 'ba'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

## D4 -- Dihedral Group on Four Vertices<a class="anchor" id="D4"></a>

In [62]:
d4_path = os.path.join(alg_dir, "d4_dihedral_group_on_4_vertices.json")
!cat {d4_path}

{"type": "Group",
 "name": "D_4",
 "description": "Dihedral group on four vertices",
 "element_names": ["e", "r", "r^2", "r^3", "f", "fr", "r^2f", "rf"],
 "alt_elem_names": ["()", "(0 1 2 3)", "(0 2)(1 3)", "(0 3 2 1)",
                    "(0 1)(2 3)", "(1 3)", "(0 3)(1 2)", "(0 2)"],
 "mult_table": [[0, 1, 2, 3, 4, 5, 6, 7],
                [1, 2, 3, 0, 7, 4, 5, 6],
                [2, 3, 0, 1, 6, 7, 4, 5],
                [3, 0, 1, 2, 5, 6, 7, 4],
                [4, 5, 6, 7, 0, 1, 2, 3],
                [5, 6, 7, 4, 3, 0, 1, 2],
                [6, 7, 4, 5, 2, 3, 0, 1],
                [7, 4, 5, 6, 1, 2, 3, 0]]
}

In [63]:
d4 = alg.Group(d4_path)
d4.pprint()

Group('D_4',
'Dihedral group on four vertices',
['e', 'r', 'r^2', 'r^3', 'f', 'fr', 'r^2f', 'rf'],
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 6, 7, 4, 3, 0, 1, 2],
 [6, 7, 4, 5, 2, 3, 0, 1],
 [7, 4, 5, 6, 1, 2, 3, 0]]
)

In [64]:
subs = d4.proper_subgroups()
for sub in subs:
    sub.pprint()

Group('D_4_subgroup_0',
'Subgroup of: Dihedral group on four vertices',
['e', 'r^2'],
[[0, 1], [1, 0]]
)
Group('D_4_subgroup_1',
'Subgroup of: Dihedral group on four vertices',
['e', 'f'],
[[0, 1], [1, 0]]
)
Group('D_4_subgroup_2',
'Subgroup of: Dihedral group on four vertices',
['e', 'rf'],
[[0, 1], [1, 0]]
)
Group('D_4_subgroup_3',
'Subgroup of: Dihedral group on four vertices',
['e', 'r', 'r^2', 'r^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
)
Group('D_4_subgroup_4',
'Subgroup of: Dihedral group on four vertices',
['e', 'r^2', 'f', 'r^2f'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('D_4_subgroup_5',
'Subgroup of: Dihedral group on four vertices',
['e', 'fr'],
[[0, 1], [1, 0]]
)
Group('D_4_subgroup_6',
'Subgroup of: Dihedral group on four vertices',
['e', 'r^2', 'fr', 'rf'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('D_4_subgroup_7',
'Subgroup of: Dihedral group on four vertices',
['e', 'r^2f'],
[[0, 1], [1, 0]]
)

## A4 -- Alternating Group on 4 Letters<a class="anchor" id="A4"></a>

In [65]:
a4_path = os.path.join(alg_dir, "a4_alternating_group_on_4_letters.json")
!cat {a4_path}

{"type": "Group",
 "name": "A_4",
 "description": "Alternating group on 4 letters (AKA Tetrahedral group)",
 "element_names": ["()", "(1 3 2)", "(1 2 3)", "(0 1)(2 3)", "(0 1 2)", "(0 1 3)", "(0 3 1)",
                   "(0 3 2)", "(0 3)(1 2)", "(0 2 3)", "(0 2 1)", "(0 2)(1 3)"],
 "mult_table": [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
                [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
                [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
                [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
                [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
                [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
                [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
                [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
                [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
                [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
                [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]
}

In [66]:
a4 = alg.Group(a4_path)
a4.pprint()

Group('A_4',
'Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(1 3 2)', '(1 2 3)', '(0 1)(2 3)', '(0 1 2)', '(0 1 3)', '(0 3 1)', '(0 3 2)', '(0 3)(1 2)', '(0 2 3)', '(0 2 1)', '(0 2)(1 3)'],
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]
)

In [67]:
subs = a4.proper_subgroups()
for sub in subs:
    sub.pprint()

Group('A_4_subgroup_0',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 3)(1 2)'],
[[0, 1], [1, 0]]
)
Group('A_4_subgroup_1',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 1 3)', '(0 3 1)'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)
Group('A_4_subgroup_2',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(1 3 2)', '(1 2 3)'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)
Group('A_4_subgroup_3',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('A_4_subgroup_4',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 1 2)', '(0 2 1)'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)
Group('A_4_subgroup_5',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 1)(2 3)'],
[[0, 1], [1, 0]]
)
Group('A_4_subgroup_6',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 2)(1 3)'],
[[0, 1], [1, 0]]
)
Group('A_4_subgroup_7',
'Subgroup of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 3 2)', '(0 2 3)'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

## Klein-4 Group<a class="anchor" id="V4"></a>

See this [definition at GitHub](https://github.com/nathancarter/group-explorer/blob/master/groups/V_4.group).

In [68]:
v4_json = os.path.join(alg_dir, "v4_klein_4_group.json")
!cat {v4_json}

{"type": "Group",
 "name": "V4",
 "description": "Klein-4 group",
 "element_names": ["e", "h", "v", "hv"],
 "mult_table": [[0, 1, 2, 3],
                [1, 0, 3, 2],
                [2, 3, 0, 1],
                [3, 2, 1, 0]]
}

In [69]:
v4 = alg.Group(v4_json)
v4.pprint()

Group('V4',
'Klein-4 group',
['e', 'h', 'v', 'hv'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

## Algebra from Pinter's book, top of page 29<a class="anchor" id="pinter29"></a>

In [70]:
pinter_p29_path = os.path.join(alg_dir, "Pinter_page_29.json")
pinter_p29 = alg.Group(pinter_p29_path)
pinter_p29.pprint()

Group('Non-Abelian_Example',
'Example on page 29 of 'A Book of Abstract Algebra' by Charles C. Pinter',
['I', 'A', 'B', 'C', 'D', 'K'],
[[0, 1, 2, 3, 4, 5],
 [1, 0, 3, 2, 5, 4],
 [2, 5, 4, 1, 0, 3],
 [3, 4, 5, 0, 1, 2],
 [4, 3, 0, 5, 2, 1],
 [5, 2, 1, 4, 3, 0]]
)

## Tesseract group<a class="anchor" id="tesseract"></a>

This group has 384 elements and was converted to JSON from [this definition](https://github.com/nathancarter/group-explorer/blob/master/groups/Tesseract.group).

In [71]:
tesseract_path = os.path.join(alg_dir, "tesseract.json")
tesseract = alg.Group(tesseract_path)
print(tesseract)

<Group: Tesseract, The symmetries of the hypercube>

In [72]:
tesseract.abelian()

False

In [73]:
#tesseract.is_associative() # True (WARNING: LONG RUNNING TIME)

In [74]:
tesseract.order

384

Here are the first n elements:

In [75]:
n = 25
tesseract.element_names[:n]

['e',
 'a',
 'b',
 'ba',
 'bb',
 'bba',
 'ab',
 'aba',
 'bab',
 'baba',
 'bbab',
 'abababba',
 'abb',
 'abba',
 'babb',
 'abababbab',
 'ababa',
 'abab',
 'abbab',
 'acabababbac',
 'babbab',
 'ababbab',
 'ababb',
 'ababba',
 'c']

## Whatever

In [76]:
whatever = alg.Group("Whatever",
                     "Experimenting",
                     ['e', 'a', 'b', 'c'],
                     [[0, 1, 2, 3],
                      [1, 0, 3, 2],
                      [2, 3, 0, 1],
                      [3, 2, 1, 0]])

whatever.pprint(True)

Group('Whatever',
'Experimenting',
[['e', 'a', 'b', 'c'],
 ['a', 'e', 'c', 'b'],
 ['b', 'c', 'e', 'a'],
 ['c', 'b', 'a', 'e']]
)

In [77]:
foo = [z2xz2, z4, v4]

In [78]:
[whatever.isomorphic(x) for x in foo]

[{'a': 'e:a', 'b': 'a:e', 'c': 'a:a', 'e': 'e:e'},
 False,
 {'a': 'h', 'b': 'v', 'c': 'hv', 'e': 'e'}]

In [79]:
whatever

Group('Whatever',
'Experimenting',
['e', 'a', 'b', 'c'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [80]:
v4

Group('V4',
'Klein-4 group',
['e', 'h', 'v', 'hv'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [81]:
z2xz2

Group('Z2_x_Z2',
'Direct product of Z2 & Z2',
['e:e', 'e:a', 'a:e', 'a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [82]:
z4

Group('Z4',
'Cyclic group of order 4',
['e', 'a', 'a^2', 'a^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])