# User Guide

## Installation

This module runs under Python 3.7+ and requires **numpy**.

Clone the github repository to install:

$ git clone https://github.com/alreich/abstract_algebra.git

Add the *abstract_algebra* directory to your *PYTHONPATH*.

<b>Note</b>: In the examples, below, an environment variable, *PYPROJ*, points to the directory containing the *abstract_algebra* directory.

## Internal Representation of a Finite Group

Internally, the finite Group object consists of four quantities:

* **name**: (``str``) A short name for the Group;
* **description**: (``str``) Any additional, useful information about the Group;
* **element_names**: (``list`` of ``str``) The Group’s element names, where the
  first element in the list is the Group’s identity element (usually denoted by ``e``);
* **mult_table**: (``list`` of ``list`` of ``int``) The Group’s multiplication
  table, where each list in the list represents a row of the table, and
  each integer represents the position of an element in ‘element_names’.
  The table must be:

  * Square. The row & column length equal the number of elements, say, n;
  * The first row and first column should be the [0, 1, 2, …, n-1], in that exact order;
  * Every row and column should contain the same integers, in a different order,
    so that no row or column contains the same integer twice.  This is a consequence of
    the fact that every element in a group is unique and has an inverse that is also in the group.
  * Capable of supporting associativity of the multiplication operator.  This last requirement
    is automatically checked by the group constructor.

## Group Constuction

A Group object can be instantiated in several ways:

1. Enter **four values** corresponding to the quantities described above, in
   the order shown above.
2. Enter **three values** corresponding to ``name``, ``description``, and ``mult_table``,
   where ``mult_table`` uses element names (``str``) instead of ``int`` positions.
   The string-based ``mult_table`` must follow rules, similar to those described
   above:
   * The identity element comes first in the first row and first column;
   * The order of names in the first row and first column should be identical;
   * No row or column contains the same element name twice.

3. Enter a **Python dictionary**, with keys and values corresponding to
   either the four value or three value input schemes, described above.
4. Enter the **path to a JSON file** (``str``) that corresponds to the
   dictionary described above.

## Usage

In [1]:
>>> from finite_algebras import *

>>> z3 = Group('Z3',
               'Cyclic group of order 3',
               ['e', 'a', 'a^2'],
               [[ 'e' ,  'a' , 'a^2'],
                [ 'a' , 'a^2',  'e' ],
                ['a^2',  'e' ,  'a' ]]
              )
>>> z3

Group(
Z3,
Cyclic group of order 3,
['e', 'a', 'a^2'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

Below, we setup some useful path variables, one the points to the abstract_algebra directory, and the other pointing to a subdirectory containing algebra definitions in JSON format.

**Note**: The code here assumes that there is an environment
variable, ``PYPROJ``, that points to the directory containing the abstract_algebra directory.

In [2]:
>>> import os
>>> aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
>>> alg_dir = os.path.join(aa_path, "Algebras")

Here's a look at the Klein-4 Group in JSON format

In [3]:
>>> v4_json = os.path.join(alg_dir, "v4_klein_4_group.json")
>>> !cat {v4_json}

{"name": "V4",
 "description": "Klein-4 group",
 "elements": ["e", "h", "v", "r"],
 "table": [[0, 1, 2, 3],
           [1, 0, 3, 2],
           [2, 3, 0, 1],
           [3, 2, 1, 0]]
}

The JSON definition of a group can be used to instantiate a Group object:

In [4]:
>>> v4 = make_finite_algebra(v4_json)
>>> v4

Group(
V4,
Klein-4 group,
['e', 'h', 'v', 'r'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

The method, ``about``, prints out information about a finite algebra.

In [5]:
>>> v4.about()

Group: V4
Description: Klein-4 group
Identity: e
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       h       h       2
      2       v       v       2
      3       r       r       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

## Inverses

An element's inverse can be obtained using the ``inverse`` method.

**NOTE**: Every element in the Klein-4 group is its own inverse.

In [6]:
>>> h_inv = v4.inv('h')
>>> h_inv

'h'

## Binary Operation ("Multiplication")

Algebra elements can be *multiplied* using the method, ``op``.

In [7]:
>>> v4.op('h', 'v')  # h * v = hv

'r'

``op`` can be called with zero or more arguments.

Calling ``op`` without any arguments will return the identity element, if it exists, or ``None`` if it doesn't.

In [8]:
>>> v4.op()

'e'

Calling ``op`` with only one argument will simply return that argument.

In [9]:
>>> v4.op('h')

'h'

Calling ``op`` with more than two arguments will return the product of all of the arguments.

e.g., $h \times v \times h^{-1} = v$

In [10]:
>>> v4.op('h', 'v', h_inv)

'v'

By the way, the operation, $h \times v \times h^{-1}$, is called *conjugation* and can be done more succinctly as shown below:

In [26]:
>>> v4.conj('v', 'h')

'v'

## Checking for Commutativity

A group can be tested to determine if it's **abelian**:

In [11]:
>>> v4.is_abelian()

True

## Direct Products

A **cyclic group** of any order can be automatically generated:

In [12]:
>>> z4 = generate_cyclic_group(4)
>>> z4

Group(
Z4,
Autogenerated cyclic group of order 4,
['e', 'a', 'a^2', 'a^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
)

Calling ``about`` with ``use_table_names`` set to ``True`` will print the table using element names rather than indices.

In [13]:
z4.about(use_table_names=True)

Group: Z4
Description: Autogenerated cyclic group of order 4
Identity: e
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       a     a^3       4
      2     a^2     a^2       2
      3     a^3       a       4
Cayley Table (showing names):
[['e', 'a', 'a^2', 'a^3'],
 ['a', 'a^2', 'a^3', 'e'],
 ['a^2', 'a^3', 'e', 'a'],
 ['a^3', 'e', 'a', 'a^2']]

The **direct product** of two or more groups can be generated using Python's multiplication operator, ``*``:

In [14]:
>>> z2 = generate_cyclic_group(2)
>>> z2

Group(
Z2,
Autogenerated cyclic group of order 2,
['e', 'a'],
[[0, 1], [1, 0]]
)

In [15]:
>>> z2_x_z2 = z2 * z2
>>> z2_x_z2

Group(
Z2_x_Z2,
Direct product of Z2 & Z2,
['e:e', 'e:a', 'a:e', 'a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

## Isomorphisms

If two groups are isomorphic, then the mapping between their elements is returned as a Python dictionary.

In [16]:
>>> v4.isomorphic(z2_x_z2)

{'h': 'e:a', 'v': 'a:e', 'r': 'a:a', 'e': 'e:e'}

If two groups are not isomorphic, then ``False`` is returned.

In [17]:
>>> z4.isomorphic(z2_x_z2)

False

The proper subgroups of a group can also be computed.

In [18]:
>>> z8 = generate_cyclic_group(8)
>>> z8.proper_subgroups()

[Group(
 Z8_subgroup_0,
 Subgroup of: Autogenerated cyclic group of order 8,
 ['e', 'a^4'],
 [[0, 1], [1, 0]]
 ),
 Group(
 Z8_subgroup_1,
 Subgroup of: Autogenerated cyclic group of order 8,
 ['e', 'a^2', 'a^4', 'a^6'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
 )]

## Autogeneration of Finite Algebras

There are three functions for autogenerating groups:
* ``autogenerate_cyclic_group``
* ``autogenerate_symmetric_group``
* ``autogenerate_powerset_group``

And one function for autogenerating a monoid:
* ``autogenerate_commutative_monoid``

The autogeneration of cyclic groups was demonstrated above.  Usage of the other autogenerators is illustrated below.

The symmetric group, based on the permutations of <b>n</b> elements, (1, 2, 3, ..., n), can be generated using ``autogenerate_symmetric_group``.

<b>WARNING</b>: Since the order of an autogenerated symmetric group is <b>n!</b>, even small values of n can result in large groups, which, in turn, can result in long runtimes associated with operations performed on them.

In [19]:
s3 = generate_symmetric_group(3)
s3.about()

Group: S3
Description: Autogenerated symmetric group on 3 elements
Identity: (1, 2, 3)
Associative? Yes
Commutative? No
Elements:
   Index   Name   Inverse  Order
      0 (1, 2, 3) (1, 2, 3)       1
      1 (1, 3, 2) (1, 3, 2)       2
      2 (2, 1, 3) (2, 1, 3)       2
      3 (2, 3, 1) (3, 1, 2)       3
      4 (3, 1, 2) (2, 3, 1)       3
      5 (3, 2, 1) (3, 2, 1)       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 3, 0, 1, 5, 4],
 [3, 2, 5, 4, 0, 1],
 [4, 5, 1, 0, 3, 2],
 [5, 4, 3, 2, 1, 0]]

The function, ``autogenerate_powerset_group``, will generate a group on the powerset of {0, 1, 2, ..., n} with <b>symmetric difference</b> as the groups binary operation.  This group is useful because it can be used to form a ring with set intersection as the second operator.

This means that the order of the autogenerated powerset group will be $2^n$, so the same WARNING as above applies.

Note that, in the powerset example below, tuples are used as elements, rather than sets, because the implementation needs to index elements, and you can't do that with sets.

In [20]:
ps3 = generate_powerset_group(3)
ps3.about()

Group: PS3
Description: Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Identity: {}
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {0}     {0}       2
      2     {1}     {1}       2
      3     {2}     {2}       2
      4  {0, 1}  {0, 1}       2
      5  {0, 2}  {0, 2}       2
      6  {1, 2}  {1, 2}       2
      7 {0, 1, 2} {0, 1, 2}       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 0, 4, 5, 2, 3, 7, 6],
 [2, 4, 0, 6, 1, 7, 3, 5],
 [3, 5, 6, 0, 7, 1, 2, 4],
 [4, 2, 1, 7, 0, 6, 5, 3],
 [5, 3, 7, 1, 6, 0, 4, 2],
 [6, 7, 3, 2, 5, 4, 0, 1],
 [7, 6, 5, 4, 3, 2, 1, 0]]

In [21]:
ps3_proper_subgroups = ps3.proper_subgroups()

print(f"{ps3.name} has {len(ps3_proper_subgroups)} proper subgroups.")

unique_subgroups = partition_into_isomorphic_lists(ps3_proper_subgroups)

print(f"But, up to isomorphisms, only {len(unique_subgroups)} are proper subgroups.")

PS3 has 14 proper subgroups.
But, up to isomorphisms, only 2 are proper subgroups.

Here are the two unique, up to isomorphism, subgroups of PS3:

In [22]:
_ = [subgroup[0].about() for subgroup in unique_subgroups]

Group: PS3_subgroup_0
Description: Subgroup of: Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Identity: {}
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {1}     {1}       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

Group: PS3_subgroup_1
Description: Subgroup of: Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Identity: {}
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {0}     {0}       2
      2     {1}     {1}       2
      3  {0, 1}  {0, 1}       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

### Autogenerating a Commutative Monoid

The function, ``generate_commutative_monoid``, generates a commutative monoid over {0,1,2,...,n-1}, where op(a,b) = (a * b) % n.

In [23]:
n = 5
mon = generate_commutative_monoid(n)
mon.about()

Monoid: M5
Description: Autogenerated commutative monoid of order 5
Elements: ['a0', 'a1', 'a2', 'a3', 'a4']
Identity: a1
Associative? Yes
Commutative? Yes
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 1, 3],
 [0, 3, 1, 4, 2],
 [0, 4, 3, 2, 1]]

**Direct Products** can be computed for any finite algebra, as shown below:

In [24]:
mon3 = generate_commutative_monoid(3)
mon3.about()

Monoid: M3
Description: Autogenerated commutative monoid of order 3
Elements: ['a0', 'a1', 'a2']
Identity: a1
Associative? Yes
Commutative? Yes
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0], [0, 1, 2], [0, 2, 1]]

In [25]:
m3xm3 = mon3 * mon3
m3xm3.about()

Monoid: M3_x_M3
Description: Direct product of M3 & M3
Elements: ['a0:a0', 'a0:a1', 'a0:a2', 'a1:a0', 'a1:a1', 'a1:a2', 'a2:a0', 'a2:a1', 'a2:a2']
Identity: a1:a1
Associative? Yes
Commutative? Yes
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 0, 1, 2, 0, 1, 2],
 [0, 2, 1, 0, 2, 1, 0, 2, 1],
 [0, 0, 0, 3, 3, 3, 6, 6, 6],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 2, 1, 3, 5, 4, 6, 8, 7],
 [0, 0, 0, 6, 6, 6, 3, 3, 3],
 [0, 1, 2, 6, 7, 8, 3, 4, 5],
 [0, 2, 1, 6, 8, 7, 3, 5, 4]]