# Symmetric / Permutation Groups

In [1]:
from algebras import Group, Perm, generate_symmetric_group, remove_items
import os

In [2]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

## Reference:

<b>[Pinter, 1990]</b> : <i>"A Book of Abstract Algebra" 2nd Ed., Charles C. Pinter, Dover Publications, Inc. 1990.

## Example

The example here is from [Pinter, 1990], pages 70-71.

####  Permutations of (1,2,3)

The 6 permutations are given names in a dictionary, allowing permutations to be reference by name.

In [3]:
s3 = {'epsilon' : Perm((1, 2, 3)),
      'alpha' : Perm((1, 3, 2)),
      'beta' : Perm((3, 1, 2)),
      'gamma' : Perm((2, 1, 3)),
      'delta' : Perm((2, 3, 1)),
      'kappa' : Perm((3, 2, 1))}

A reverse lookup dictionary is also derived so that names can be looked up by permutation.

This is used when creating the multiplication table.

In [4]:
s3_rev = {val: key for key, val in s3.items()}

#### Composition of Alpha & Beta

$\alpha \circ \beta = \alpha( \beta((1,2,3)) ) = \alpha( (3,1,2) ) = (2,1,3)$

In [5]:
a = s3['alpha']
b = s3['beta']
c = a * b
print(f"{a} o {b} = {a * b}")
print(f"(i.e., {s3_rev[a]} o {s3_rev[b]} = {s3_rev[a * b]})")

Perm((1, 3, 2)) o Perm((3, 1, 2)) = Perm((2, 1, 3))
(i.e., alpha o beta = gamma)

#### Multiplication Table for s3

In [6]:
s3_mul_tbl = [[s3_rev[s3[a] * s3[b]] for b in s3] for a in s3]
s3_mul_tbl

[['epsilon', 'alpha', 'beta', 'gamma', 'delta', 'kappa'],
 ['alpha', 'epsilon', 'gamma', 'beta', 'kappa', 'delta'],
 ['beta', 'kappa', 'delta', 'alpha', 'epsilon', 'gamma'],
 ['gamma', 'delta', 'kappa', 'epsilon', 'alpha', 'beta'],
 ['delta', 'gamma', 'epsilon', 'kappa', 'beta', 'alpha'],
 ['kappa', 'beta', 'alpha', 'delta', 'gamma', 'epsilon']]

#### The s3 Group

In [7]:
s3_group = Group('s3', 'Symmetric group on three elements', s3_mul_tbl)
s3_group.pprint()

Group('s3',
'Symmetric group on three elements',
['epsilon', 'alpha', 'beta', 'gamma', 'delta', 'kappa'],
[[0, 1, 2, 3, 4, 5],
 [1, 0, 3, 2, 5, 4],
 [2, 5, 4, 1, 0, 3],
 [3, 4, 5, 0, 1, 2],
 [4, 3, 0, 5, 2, 1],
 [5, 2, 1, 4, 3, 0]]
)

In [8]:
s3_group.about()

Group: s3
Symmetric group on three elements
Abelian? False
Elements:
   Index   Name   Inverse  Order
      0 epsilon epsilon       1
      1   alpha   alpha       2
      2    beta   delta       3
      3   gamma   gamma       2
      4   delta    beta       3
      5   kappa   kappa       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 3, 2, 5, 4],
 [2, 5, 4, 1, 0, 3],
 [3, 4, 5, 0, 1, 2],
 [4, 3, 0, 5, 2, 1],
 [5, 2, 1, 4, 3, 0]]

## Symmetric Groups in General

In [9]:
s3_test = generate_symmetric_group(3)
s3_test.pprint()

Group('S3',
'Autogenerated symmetric group on 3 elements',
['(1, 2, 3)', '(1, 3, 2)', '(2, 1, 3)', '(2, 3, 1)', '(3, 1, 2)', '(3, 2, 1)'],
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 3, 0, 1, 5, 4],
 [3, 2, 5, 4, 0, 1],
 [4, 5, 1, 0, 3, 2],
 [5, 4, 3, 2, 1, 0]]
)

In [10]:
s3_group.isomorphic(s3_test)

{'alpha': '(1, 3, 2)',
 'beta': '(2, 3, 1)',
 'gamma': '(3, 2, 1)',
 'delta': '(3, 1, 2)',
 'kappa': '(2, 1, 3)',
 'epsilon': '(1, 2, 3)'}

In [11]:
s4_test = generate_symmetric_group(4)
s4_test

Group('S4',
'Autogenerated symmetric group on 4 elements',
['(1, 2, 3, 4)', '(1, 2, 4, 3)', '(1, 3, 2, 4)', '(1, 3, 4, 2)', '(1, 4, 2, 3)', '(1, 4, 3, 2)', '(2, 1, 3, 4)', '(2, 1, 4, 3)', '(2, 3, 1, 4)', '(2, 3, 4, 1)', '(2, 4, 1, 3)', '(2, 4, 3, 1)', '(3, 1, 2, 4)', '(3, 1, 4, 2)', '(3, 2, 1, 4)', '(3, 2, 4, 1)', '(3, 4, 1, 2)', '(3, 4, 2, 1)', '(4, 1, 2, 3)', '(4, 1, 3, 2)', '(4, 2, 1, 3)', '(4, 2, 3, 1)', '(4, 3, 1, 2)', '(4, 3, 2, 1)'],
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23], [1, 0, 4, 5, 2, 3, 7, 6, 10, 11, 8, 9, 18, 19, 20, 21, 22, 23, 12, 13, 14, 15, 16, 17], [2, 3, 0, 1, 5, 4, 12, 13, 14, 15, 16, 17, 6, 7, 8, 9, 10, 11, 19, 18, 22, 23, 20, 21], [3, 2, 5, 4, 0, 1, 13, 12, 16, 17, 14, 15, 19, 18, 22, 23, 20, 21, 6, 7, 8, 9, 10, 11], [4, 5, 1, 0, 3, 2, 18, 19, 20, 21, 22, 23, 7, 6, 10, 11, 8, 9, 13, 12, 16, 17, 14, 15], [5, 4, 3, 2, 1, 0, 19, 18, 22, 23, 20, 21, 13, 12, 16, 17, 14, 15, 7, 6, 10, 11, 8, 9], [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 14, 15, 12, 13, 17, 16, 20, 21, 18, 19, 23, 22], [7, 6, 10, 11, 8, 9, 1, 0, 4, 5, 2, 3, 20, 21, 18, 19, 23, 22, 14, 15, 12, 13, 17, 16], [8, 9, 6, 7, 11, 10, 14, 15, 12, 13, 17, 16, 0, 1, 2, 3, 4, 5, 21, 20, 23, 22, 18, 19], [9, 8, 11, 10, 6, 7, 15, 14, 17, 16, 12, 13, 21, 20, 23, 22, 18, 19, 0, 1, 2, 3, 4, 5], [10, 11, 7, 6, 9, 8, 20, 21, 18, 19, 23, 22, 1, 0, 4, 5, 2, 3, 15, 14, 17, 16, 12, 13], [11, 10, 9, 8, 7, 6, 21, 20, 23, 22, 18, 19, 15, 14, 17, 16, 12, 13, 1, 0, 4, 5, 2, 3], [12, 13, 14, 15, 16, 17, 2, 3, 0, 1, 5, 4, 8, 9, 6, 7, 11, 10, 22, 23, 19, 18, 21, 20], [13, 12, 16, 17, 14, 15, 3, 2, 5, 4, 0, 1, 22, 23, 19, 18, 21, 20, 8, 9, 6, 7, 11, 10], [14, 15, 12, 13, 17, 16, 8, 9, 6, 7, 11, 10, 2, 3, 0, 1, 5, 4, 23, 22, 21, 20, 19, 18], [15, 14, 17, 16, 12, 13, 9, 8, 11, 10, 6, 7, 23, 22, 21, 20, 19, 18, 2, 3, 0, 1, 5, 4], [16, 17, 13, 12, 15, 14, 22, 23, 19, 18, 21, 20, 3, 2, 5, 4, 0, 1, 9, 8, 11, 10, 6, 7], [17, 16, 15, 14, 13, 12, 23, 22, 21, 20, 19, 18, 9, 8, 11, 10, 6, 7, 3, 2, 5, 4, 0, 1], [18, 19, 20, 21, 22, 23, 4, 5, 1, 0, 3, 2, 10, 11, 7, 6, 9, 8, 16, 17, 13, 12, 15, 14], [19, 18, 22, 23, 20, 21, 5, 4, 3, 2, 1, 0, 16, 17, 13, 12, 15, 14, 10, 11, 7, 6, 9, 8], [20, 21, 18, 19, 23, 22, 10, 11, 7, 6, 9, 8, 4, 5, 1, 0, 3, 2, 17, 16, 15, 14, 13, 12], [21, 20, 23, 22, 18, 19, 11, 10, 9, 8, 7, 6, 17, 16, 15, 14, 13, 12, 4, 5, 1, 0, 3, 2], [22, 23, 19, 18, 21, 20, 16, 17, 13, 12, 15, 14, 5, 4, 3, 2, 1, 0, 11, 10, 9, 8, 7, 6], [23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]])

In [12]:
s4_test.about()

Group: S4
Autogenerated symmetric group on 4 elements
Abelian? False
Elements:
   Index   Name   Inverse  Order
      0 (1, 2, 3, 4) (1, 2, 3, 4)       1
      1 (1, 2, 4, 3) (1, 2, 4, 3)       2
      2 (1, 3, 2, 4) (1, 3, 2, 4)       2
      3 (1, 3, 4, 2) (1, 4, 2, 3)       3
      4 (1, 4, 2, 3) (1, 3, 4, 2)       3
      5 (1, 4, 3, 2) (1, 4, 3, 2)       2
      6 (2, 1, 3, 4) (2, 1, 3, 4)       2
      7 (2, 1, 4, 3) (2, 1, 4, 3)       2
      8 (2, 3, 1, 4) (3, 1, 2, 4)       3
      9 (2, 3, 4, 1) (4, 1, 2, 3)       4
     10 (2, 4, 1, 3) (3, 1, 4, 2)       4
     11 (2, 4, 3, 1) (4, 1, 3, 2)       3
     12 (3, 1, 2, 4) (2, 3, 1, 4)       3
     13 (3, 1, 4, 2) (2, 4, 1, 3)       4
     14 (3, 2, 1, 4) (3, 2, 1, 4)       2
     15 (3, 2, 4, 1) (4, 2, 1, 3)       3
     16 (3, 4, 1, 2) (3, 4, 1, 2)       2
     17 (3, 4, 2, 1) (4, 3, 1, 2)       4
     18 (4, 1, 2, 3) (2, 3, 4, 1)       4
     19 (4, 1, 3, 2) (2, 4, 3, 1)       3
     20 (4, 2, 1, 3) (3, 2, 4, 1)       3
     21 (4, 2, 3, 1) (4, 2, 3, 1)       2
     22 (4, 3, 1, 2) (3, 4, 2, 1)       4
     23 (4, 3, 2, 1) (4, 3, 2, 1)       2
Group order is 24 > 12, so no further info calculated/printed.

## Cycle Notation

In [13]:
def one_cycle(test_map, note, perm, order, base):
    min_elem = min(perm)
    cyc = [min_elem]
    for i in range(min_elem, order):
        last = cyc[-1]
        next_ = test_map[last]
        if next_ not in cyc:
            cyc.append(next_)
        else:
            break
        note.append(tuple(cyc))
    return note, remove_items(perm, cyc)

In [14]:
#test_perm = Perm((3, 1, 4, 2))
test = Perm((1, 3, 2, 4))
#test = Perm((2, 1, 4, 3))
test_map = test.mapping
perm0 = test.perm
size0 = max(perm0)
base = 1

print(base)
print(size0)
print(perm0)
print(test_map)

1
4
(1, 3, 2, 4)
{1: 1, 2: 3, 3: 2, 4: 4}

In [15]:
cyc1, perm1 = one_cycle(test_map, [], perm0, size0, base)
print(cyc1, perm1)

[] (3, 2, 4)

In [17]:
cyc2, perm2 = one_cycle(test_map, cyc1, perm1, size0, base)
print(cyc2, perm2)

[(2, 3)] (4,)

In [19]:
cyc3, perm3 = one_cycle(test_map, cyc2, perm2, size0, base)

In [20]:
print(cyc3, perm3)

[(2, 3)] ()

In [21]:
def cycle(perm):
    result = []
    perm_map = perm.mapping
    perm = perm.perm
    size = max(perm)
    base = 1
    while perm:
        x, perm = one_cycle(perm_map, perm, size, base)
        result.append(x)
    return x

In [22]:
test

Perm((1, 3, 2, 4))

In [23]:
cycle(test)

TypeError: one_cycle() missing 1 required positional argument: 'base'

In [ ]:
foo = []
bar = (1,)
foo.append(tuple(bar))

In [ ]:
foo