# Scratchwork

In [1]:
import finite_algebras as alg
import json
import os
import numpy as np
import itertools as it

In [2]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

## Loading Examples

In [3]:
ex = alg.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  9 example algebras are available.
  Use "get_example(INDEX)" to get a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
======================================================================

In [4]:
v4 = ex.get_example(7)
v4

Group(
V4,
Klein-4 group,
['e', 'h', 'v', 'r'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [5]:
rps = ex.get_example(4)
rps

Magma(
RPS,
Rock, Paper, Scissors Magma,
['r', 'p', 's'],
[[0, 1, 0], [1, 1, 2], [0, 2, 2]]
)

In [6]:
rps.is_commutative()

True

## Example Monoid

In [7]:
order = 9
mon = alg.generate_commutative_monoid(order)
mon.about()

Monoid: M9
Description: Autogenerated commutative monoid of order 9
Elements: ['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8']
Identity: a1
Associative? Yes
Commutative? Yes
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 2, 4, 6, 8, 1, 3, 5, 7],
 [0, 3, 6, 0, 3, 6, 0, 3, 6],
 [0, 4, 8, 3, 7, 2, 6, 1, 5],
 [0, 5, 1, 6, 2, 7, 3, 8, 4],
 [0, 6, 3, 0, 6, 3, 0, 6, 3],
 [0, 7, 5, 3, 1, 8, 6, 4, 2],
 [0, 8, 7, 6, 5, 4, 3, 2, 1]]

## Distributivity between Cayley Tables

The two tables below are generated from the powerset of a set, where "addition" is symmetric difference and "multiplication" is intersection.

# psr3 = alg.generate_powerset_ring(3)

In [8]:
addtbl = [[0, 1, 2, 3, 4, 5, 6, 7],
          [1, 0, 4, 5, 2, 3, 7, 6],
          [2, 4, 0, 6, 1, 7, 3, 5],
          [3, 5, 6, 0, 7, 1, 2, 4],
          [4, 2, 1, 7, 0, 6, 5, 3],
          [5, 3, 7, 1, 6, 0, 4, 2],
          [6, 7, 3, 2, 5, 4, 0, 1],
          [7, 6, 5, 4, 3, 2, 1, 0]]

In [9]:
multbl = [[0, 0, 0, 0, 0, 0, 0, 0],
          [0, 1, 0, 0, 1, 1, 0, 1],
          [0, 0, 2, 0, 2, 0, 2, 2],
          [0, 0, 0, 3, 0, 3, 3, 3],
          [0, 1, 2, 0, 4, 1, 2, 4],
          [0, 1, 0, 3, 1, 5, 3, 5],
          [0, 0, 2, 3, 2, 3, 6, 6],
          [0, 1, 2, 3, 4, 5, 6, 7]]

In [10]:
addct = alg.CayleyTable(addtbl)
addct.about(True)

  Order  Associative?  Commutative?  Left Id?  Right Id?  Identity?  Inverses?
-------------------------------------------------------------------------------------
     8        True         True            0         0          0       True

In [11]:
mulct = alg.CayleyTable(multbl)
mulct.about(True)

  Order  Associative?  Commutative?  Left Id?  Right Id?  Identity?  Inverses?
-------------------------------------------------------------------------------------
     8        True         True            7         7          7      False

Multiplication distributes over addition.

In [12]:
mulct.distributes_over(addct)

True

But, addition does not distribute over multiplication.

In [13]:
addct.distributes_over(mulct)

False

In [14]:
from finite_algebras import generate_powerset_ring

In [15]:
generate_powerset_ring(3)

Ring(
PSRing3,
Autogenerated ring on powerset of 3 elements w/ symmetric diff. (+) & intersection (*),
['{}', '{0}', '{1}', '{2}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 2}'],
[[0, 1, 2, 3, 4, 5, 6, 7], [1, 0, 4, 5, 2, 3, 7, 6], [2, 4, 0, 6, 1, 7, 3, 5], [3, 5, 6, 0, 7, 1, 2, 4], [4, 2, 1, 7, 0, 6, 5, 3], [5, 3, 7, 1, 6, 0, 4, 2], [6, 7, 3, 2, 5, 4, 0, 1], [7, 6, 5, 4, 3, 2, 1, 0]]
)