# Scratchwork

This notebook is only used for trying out ideas.

In [1]:
import algebras as alg
import json
import os
import numpy as np
import itertools as it
from pprint import pprint

from itertools import combinations, permutations, product

In [2]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

## Groups for Testing

### D4 - Dihedral Group on 4 Vertices

In [3]:
d4_path = os.path.join(alg_dir, "d4_dihedral_group_on_4_vertices.json")
!cat {d4_path}

{"type": "Group",
 "name": "D_4",
 "description": "Dihedral group on four vertices",
 "element_names": ["e", "r", "r^2", "r^3", "f", "fr", "r^2f", "rf"],
 "alt_elem_names": ["()", "(0 1 2 3)", "(0 2)(1 3)", "(0 3 2 1)",
                    "(0 1)(2 3)", "(1 3)", "(0 3)(1 2)", "(0 2)"],
 "mult_table": [[0, 1, 2, 3, 4, 5, 6, 7],
                [1, 2, 3, 0, 7, 4, 5, 6],
                [2, 3, 0, 1, 6, 7, 4, 5],
                [3, 0, 1, 2, 5, 6, 7, 4],
                [4, 5, 6, 7, 0, 1, 2, 3],
                [5, 6, 7, 4, 3, 0, 1, 2],
                [6, 7, 4, 5, 2, 3, 0, 1],
                [7, 4, 5, 6, 1, 2, 3, 0]]
}

In [4]:
d4 = alg.Group(d4_path)
d4.print_info()

Group : D_4 : Dihedral group on four vertices
  Element Names: ['e', 'r', 'r^2', 'r^3', 'f', 'fr', 'r^2f', 'rf']
  Is Abelian? False
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(r) = r^3
    inv(r^2) = r^2   **
    inv(r^3) = r
    inv(f) = f   **
    inv(fr) = fr   **
    inv(r^2f) = r^2f   **
    inv(rf) = rf   **
Element Orders:
{1: ['e'], 2: ['r^2', 'f', 'fr', 'r^2f', 'rf'], 4: ['r', 'r^3']}
  Is associative? True
  Cayley Table:
[['e', 'r', 'r^2', 'r^3', 'f', 'fr', 'r^2f', 'rf'],
 ['r', 'r^2', 'r^3', 'e', 'rf', 'f', 'fr', 'r^2f'],
 ['r^2', 'r^3', 'e', 'r', 'r^2f', 'rf', 'f', 'fr'],
 ['r^3', 'e', 'r', 'r^2', 'fr', 'r^2f', 'rf', 'f'],
 ['f', 'fr', 'r^2f', 'rf', 'e', 'r', 'r^2', 'r^3'],
 ['fr', 'r^2f', 'rf', 'f', 'r^3', 'e', 'r', 'r^2'],
 ['r^2f', 'rf', 'f', 'fr', 'r^2', 'r^3', 'e', 'r'],
 ['rf', 'f', 'fr', 'r^2f', 'r', 'r^2', 'r^3', 'e']]

### V4 - Klein 4 Group

In [5]:
v4_path = os.path.join(alg_dir, "v4_klein_4_group.json")
!cat {v4_path}

{"type": "Group",
 "name": "V4",
 "description": "Klein-4 group",
 "element_names": ["e", "h", "v", "hv"],
 "mult_table": [[0, 1, 2, 3],
                [1, 0, 3, 2],
                [2, 3, 0, 1],
                [3, 2, 1, 0]]
}

In [6]:
v4 = alg.Group(v4_path)
v4.print_info()

Group : V4 : Klein-4 group
  Element Names: ['e', 'h', 'v', 'hv']
  Is Abelian? True
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(h) = h   **
    inv(v) = v   **
    inv(hv) = hv   **
Element Orders:
{1: ['e'], 2: ['h', 'v', 'hv']}
  Is associative? True
  Cayley Table:
[['e', 'h', 'v', 'hv'],
 ['h', 'e', 'hv', 'v'],
 ['v', 'hv', 'e', 'h'],
 ['hv', 'v', 'h', 'e']]

In [7]:
z2 = alg.generate_cyclic_group(2)
z2

Group('Z2',
'Autogenerated cyclic group of order 2',
['e', 'a'],
[[0, 1], [1, 0]])

In [8]:
z2_x_z2 = z2 * z2
z2_x_z2

Group('Z2_x_Z2',
'Direct product of Z2 & Z2',
['e:e', 'e:a', 'a:e', 'a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [9]:
z4 = alg.generate_cyclic_group(4)
z4

Group('Z4',
'Autogenerated cyclic group of order 4',
['e', 'a', 'a^2', 'a^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])

## Changing the Order of Elements

<b>Observation</b>: If the group is abelian, then changing the order of the elements does <b>not</b> affect the order of the indices in the <i>mult_table</i>.  <b>Why?</b>

In [10]:
# new_elem_order = v4.element_names
# new_v4_elem_order = ['e', 'v', 'h', 'hv']
new_v4_elem_order = ["e", "hv", "h", "v"]

In [11]:
#table_from_reordered_elements(v4, new_v4_elem_order)
v4_reordered = v4.reorder_elements(new_v4_elem_order)
v4_reordered

Group('V4_REORDERED',
'Klein-4 group (elements reordered)',
['e', 'hv', 'h', 'v'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [12]:
pprint(v4_reordered.mult_table_with_names())

[['e', 'hv', 'h', 'v'],
 ['hv', 'e', 'v', 'h'],
 ['h', 'v', 'e', 'hv'],
 ['v', 'h', 'hv', 'e']]

In [13]:
v4_reordered.mult_table

array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 0, 1],
       [3, 2, 1, 0]])

In [14]:
pprint(v4.mult_table_with_names())

[['e', 'h', 'v', 'hv'],
 ['h', 'e', 'hv', 'v'],
 ['v', 'hv', 'e', 'h'],
 ['hv', 'v', 'h', 'e']]

In [15]:
v4.mult_table

array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 0, 1],
       [3, 2, 1, 0]])

In [16]:
new_d4_elem_order = ["e", "r", "r^2", "f", "r^3", "fr", "r^2f", "rf"]

In [17]:
d4_reordered = d4.reorder_elements(new_d4_elem_order)
d4_reordered

Group('D_4_REORDERED',
'Dihedral group on four vertices (elements reordered)',
['e', 'r', 'r^2', 'f', 'r^3', 'fr', 'r^2f', 'rf'],
[[0, 1, 2, 3, 4, 5, 6, 7], [1, 2, 4, 7, 0, 3, 5, 6], [2, 4, 0, 6, 1, 7, 3, 5], [3, 5, 6, 0, 7, 1, 2, 4], [4, 0, 1, 5, 2, 6, 7, 3], [5, 6, 7, 4, 3, 0, 1, 2], [6, 7, 3, 2, 5, 4, 0, 1], [7, 3, 5, 1, 6, 2, 4, 0]])

In [18]:
d4_reordered.mult_table

array([[0, 1, 2, 3, 4, 5, 6, 7],
       [1, 2, 4, 7, 0, 3, 5, 6],
       [2, 4, 0, 6, 1, 7, 3, 5],
       [3, 5, 6, 0, 7, 1, 2, 4],
       [4, 0, 1, 5, 2, 6, 7, 3],
       [5, 6, 7, 4, 3, 0, 1, 2],
       [6, 7, 3, 2, 5, 4, 0, 1],
       [7, 3, 5, 1, 6, 2, 4, 0]])

In [19]:
d4.mult_table

array([[0, 1, 2, 3, 4, 5, 6, 7],
       [1, 2, 3, 0, 7, 4, 5, 6],
       [2, 3, 0, 1, 6, 7, 4, 5],
       [3, 0, 1, 2, 5, 6, 7, 4],
       [4, 5, 6, 7, 0, 1, 2, 3],
       [5, 6, 7, 4, 3, 0, 1, 2],
       [6, 7, 4, 5, 2, 3, 0, 1],
       [7, 4, 5, 6, 1, 2, 3, 0]])

In [20]:
d4.element_orders()

{'e': 1, 'r': 4, 'r^2': 2, 'r^3': 4, 'f': 2, 'fr': 2, 'r^2f': 2, 'rf': 2}

In [21]:
d4_reordered.element_orders()

{'e': 1, 'r': 4, 'r^2': 2, 'f': 2, 'r^3': 4, 'fr': 2, 'r^2f': 2, 'rf': 2}

## Generating Possible Multiplication Tables

In [22]:
tables4 = alg.generate_all_group_tables(4)
tables4

[([0, 1, 2, 3], (1, 0, 3, 2), (2, 3, 0, 1), (3, 2, 1, 0)),
 ([0, 1, 2, 3], (1, 0, 3, 2), (2, 3, 1, 0), (3, 2, 0, 1)),
 ([0, 1, 2, 3], (1, 2, 3, 0), (2, 3, 0, 1), (3, 0, 1, 2)),
 ([0, 1, 2, 3], (1, 3, 0, 2), (2, 0, 3, 1), (3, 2, 1, 0))]

In [23]:
for t in tables4:
    pprint(np.array(t))

array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 0, 1],
       [3, 2, 1, 0]])
array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 1, 0],
       [3, 2, 0, 1]])
array([[0, 1, 2, 3],
       [1, 2, 3, 0],
       [2, 3, 0, 1],
       [3, 0, 1, 2]])
array([[0, 1, 2, 3],
       [1, 3, 0, 2],
       [2, 0, 3, 1],
       [3, 2, 1, 0]])

In [24]:
groups4 = alg.tables_to_groups(tables4)
for g in groups4:
    g.pprint()

Group('G0',
'Group 0 of order 4',
['e0', 'a0_1', 'a0_2', 'a0_3'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)
Group('G1',
'Group 1 of order 4',
['e1', 'a1_1', 'a1_2', 'a1_3'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 1, 0], [3, 2, 0, 1]]
)
Group('G2',
'Group 2 of order 4',
['e2', 'a2_1', 'a2_2', 'a2_3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
)
Group('G3',
'Group 3 of order 4',
['e3', 'a3_1', 'a3_2', 'a3_3'],
[[0, 1, 2, 3], [1, 3, 0, 2], [2, 0, 3, 1], [3, 2, 1, 0]]
)

In [25]:
g0 = groups4[0]
g1 = groups4[1]
g2 = groups4[2]
g3 = groups4[3]

Below, it can be seen that...

* <b>g0</b> is isomorphic to the Klein-4 group
* <b>g1, g2, & g3</b> are isomorphic to each other and to the cyclic group of order 4

## G0

In [26]:
g0  # Isomorphic to v4 and z2_x_z2

Group('G0',
'Group 0 of order 4',
['e0', 'a0_1', 'a0_2', 'a0_3'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [27]:
v4.pprint()

Group('V4',
'Klein-4 group',
['e', 'h', 'v', 'hv'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [28]:
g0.isomorphic(v4)

{'a0_1': 'h', 'a0_2': 'v', 'a0_3': 'hv', 'e0': 'e'}

In [29]:
g0.isomorphic(z2_x_z2)

{'a0_1': 'e:a', 'a0_2': 'a:e', 'a0_3': 'a:a', 'e0': 'e:e'}

In [30]:
v4.isomorphic(z2_x_z2)

{'h': 'e:a', 'v': 'a:e', 'hv': 'a:a', 'e': 'e:e'}

## G1

In [31]:
g1

Group('G1',
'Group 1 of order 4',
['e1', 'a1_1', 'a1_2', 'a1_3'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 1, 0], [3, 2, 0, 1]])

In [32]:
g1.isomorphic(g0)

False

## G2

In [33]:
g2  # Same as z4, below

Group('G2',
'Group 2 of order 4',
['e2', 'a2_1', 'a2_2', 'a2_3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])

In [34]:
g2.isomorphic(z4)

{'a2_1': 'a', 'a2_2': 'a^2', 'a2_3': 'a^3', 'e2': 'e'}

In [35]:
g2.isomorphic(g0)

False

In [36]:
g2.isomorphic(g1)

{'a2_1': 'a1_2', 'a2_2': 'a1_1', 'a2_3': 'a1_3', 'e2': 'e1'}

## G3

In [37]:
g3

Group('G3',
'Group 3 of order 4',
['e3', 'a3_1', 'a3_2', 'a3_3'],
[[0, 1, 2, 3], [1, 3, 0, 2], [2, 0, 3, 1], [3, 2, 1, 0]])

In [38]:
g3.isomorphic(g0)

False

In [39]:
g3.isomorphic(g1)

{'a3_1': 'a1_2', 'a3_2': 'a1_3', 'a3_3': 'a1_1', 'e3': 'e1'}

In [40]:
g3.isomorphic(g2)

{'a3_1': 'a2_1', 'a3_2': 'a2_3', 'a3_3': 'a2_2', 'e3': 'e2'}

## Groups of Prime Order

In [41]:
order = 5

In [42]:
z5 = alg.generate_cyclic_group(order)

In [43]:
z5.pprint()

Group('Z5',
'Autogenerated cyclic group of order 5',
['e', 'a', 'a^2', 'a^3', 'a^4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 3, 4, 0, 1],
 [3, 4, 0, 1, 2],
 [4, 0, 1, 2, 3]]
)

In [44]:
tables5 = alg.generate_all_group_tables(order)
len(tables5)

56

In [45]:
groups5 = alg.tables_to_groups(tables5)
for grp in groups5:
    grp.pprint()

Group('G0',
'Group 0 of order 5',
['e0', 'a0_1', 'a0_2', 'a0_3', 'a0_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 3, 4, 0, 1],
 [3, 4, 1, 2, 0],
 [4, 2, 0, 1, 3]]
)
Group('G1',
'Group 1 of order 5',
['e1', 'a1_1', 'a1_2', 'a1_3', 'a1_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 3, 4, 1, 0],
 [3, 4, 0, 2, 1],
 [4, 2, 1, 0, 3]]
)
Group('G2',
'Group 2 of order 5',
['e2', 'a2_1', 'a2_2', 'a2_3', 'a2_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 4, 0, 1, 3],
 [3, 2, 4, 0, 1],
 [4, 3, 1, 2, 0]]
)
Group('G3',
'Group 3 of order 5',
['e3', 'a3_1', 'a3_2', 'a3_3', 'a3_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 4, 1, 0, 3],
 [3, 2, 4, 1, 0],
 [4, 3, 0, 2, 1]]
)
Group('G4',
'Group 4 of order 5',
['e4', 'a4_1', 'a4_2', 'a4_3', 'a4_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 3, 0, 4, 1],
 [3, 4, 1, 0, 2],
 [4, 2, 3, 1, 0]]
)
Group('G5',
'Group 5 of order 5',
['e5', 'a5_1', 'a5_2', 'a5_3', 'a5_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 3, 1, 4, 0],
 [3, 4, 0, 1, 2],
 [4, 2, 3, 0, 1]]
)
Group('G6',
'Group 6 of order 5',
['e6', 'a6_1', 'a6_2', 'a6_3', 'a6_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 4, 3, 0, 1],
 [3, 2, 1, 4, 0],
 [4, 3, 0, 1, 2]]
)
Group('G7',
'Group 7 of order 5',
['e7', 'a7_1', 'a7_2', 'a7_3', 'a7_4'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 4, 3, 1, 0],
 [3, 2, 0, 4, 1],
 [4, 3, 1, 0, 2]]
)
Group('G8',
'Group 8 of order 5',
['e8', 'a8_1', 'a8_2', 'a8_3', 'a8_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 3, 4, 0, 1],
 [3, 4, 1, 2, 0],
 [4, 0, 3, 1, 2]]
)
Group('G9',
'Group 9 of order 5',
['e9', 'a9_1', 'a9_2', 'a9_3', 'a9_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 3, 4, 1, 0],
 [3, 4, 1, 0, 2],
 [4, 0, 3, 2, 1]]
)
Group('G10',
'Group 10 of order 5',
['e10', 'a10_1', 'a10_2', 'a10_3', 'a10_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 4, 3, 0, 1],
 [3, 0, 4, 1, 2],
 [4, 3, 1, 2, 0]]
)
Group('G11',
'Group 11 of order 5',
['e11', 'a11_1', 'a11_2', 'a11_3', 'a11_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 4, 3, 1, 0],
 [3, 0, 4, 2, 1],
 [4, 3, 1, 0, 2]]
)
Group('G12',
'Group 12 of order 5',
['e12', 'a12_1', 'a12_2', 'a12_3', 'a12_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 0, 4, 1, 3],
 [3, 4, 0, 2, 1],
 [4, 3, 1, 0, 2]]
)
Group('G13',
'Group 13 of order 5',
['e13', 'a13_1', 'a13_2', 'a13_3', 'a13_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 0, 4, 1, 3],
 [3, 4, 1, 0, 2],
 [4, 3, 0, 2, 1]]
)
Group('G14',
'Group 14 of order 5',
['e14', 'a14_1', 'a14_2', 'a14_3', 'a14_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 3, 4, 0, 1],
 [3, 4, 0, 1, 2],
 [4, 0, 1, 2, 3]]
)
Group('G15',
'Group 15 of order 5',
['e15', 'a15_1', 'a15_2', 'a15_3', 'a15_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 4, 0, 1, 3],
 [3, 0, 4, 2, 1],
 [4, 3, 1, 0, 2]]
)
Group('G16',
'Group 16 of order 5',
['e16', 'a16_1', 'a16_2', 'a16_3', 'a16_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 4, 1, 0, 3],
 [3, 0, 4, 1, 2],
 [4, 3, 0, 2, 1]]
)
Group('G17',
'Group 17 of order 5',
['e17', 'a17_1', 'a17_2', 'a17_3', 'a17_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 4, 1, 0, 3],
 [3, 0, 4, 2, 1],
 [4, 3, 0, 1, 2]]
)
Group('G18',
'Group 18 of order 5',
['e18', 'a18_1', 'a18_2', 'a18_3', 'a18_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 0, 3, 4, 1],
 [3, 4, 0, 1, 2],
 [4, 3, 1, 2, 0]]
)
Group('G19',
'Group 19 of order 5',
['e19', 'a19_1', 'a19_2', 'a19_3', 'a19_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 0, 3, 4, 1],
 [3, 4, 1, 2, 0],
 [4, 3, 0, 1, 2]]
)
Group('G20',
'Group 20 of order 5',
['e20', 'a20_1', 'a20_2', 'a20_3', 'a20_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 3, 0, 4, 1],
 [3, 4, 1, 2, 0],
 [4, 0, 3, 1, 2]]
)
Group('G21',
'Group 21 of order 5',
['e21', 'a21_1', 'a21_2', 'a21_3', 'a21_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 3, 1, 4, 0],
 [3, 4, 0, 1, 2],
 [4, 0, 3, 2, 1]]
)
Group('G22',
'Group 22 of order 5',
['e22', 'a22_1', 'a22_2', 'a22_3', 'a22_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 3, 1, 4, 0],
 [3, 4, 0, 2, 1],
 [4, 0, 3, 1, 2]]
)
Group('G23',
'Group 23 of order 5',
['e23', 'a23_1', 'a23_2', 'a23_3', 'a23_4'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 4, 3, 1, 0],
 [3, 0, 1, 4, 2],
 [4, 3, 0, 2, 1]]
)
Group('G24',
'Group 24 of order 5',
['e24', 'a24_1', 'a24_2', 'a24_3', 'a24_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 0, 4, 1, 3],
 [3, 4, 1, 2, 0],
 [4, 2, 3, 0, 1]]
)
Group('G25',
'Group 25 of order 5',
['e25', 'a25_1', 'a25_2', 'a25_3', 'a25_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 1, 0, 3],
 [3, 0, 4, 2, 1],
 [4, 2, 3, 1, 0]]
)
Group('G26',
'Group 26 of order 5',
['e26', 'a26_1', 'a26_2', 'a26_3', 'a26_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 1, 0, 3],
 [3, 2, 4, 1, 0],
 [4, 0, 3, 2, 1]]
)
Group('G27',
'Group 27 of order 5',
['e27', 'a27_1', 'a27_2', 'a27_3', 'a27_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 3, 0, 1],
 [3, 2, 4, 1, 0],
 [4, 0, 1, 2, 3]]
)
Group('G28',
'Group 28 of order 5',
['e28', 'a28_1', 'a28_2', 'a28_3', 'a28_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 3, 1, 0],
 [3, 0, 4, 2, 1],
 [4, 2, 1, 0, 3]]
)
Group('G29',
'Group 29 of order 5',
['e29', 'a29_1', 'a29_2', 'a29_3', 'a29_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 3, 1, 0],
 [3, 2, 4, 0, 1],
 [4, 0, 1, 2, 3]]
)
Group('G30',
'Group 30 of order 5',
['e30', 'a30_1', 'a30_2', 'a30_3', 'a30_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 0, 1, 4, 3],
 [3, 4, 0, 2, 1],
 [4, 2, 3, 1, 0]]
)
Group('G31',
'Group 31 of order 5',
['e31', 'a31_1', 'a31_2', 'a31_3', 'a31_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 0, 3, 4, 1],
 [3, 4, 1, 2, 0],
 [4, 2, 0, 1, 3]]
)
Group('G32',
'Group 32 of order 5',
['e32', 'a32_1', 'a32_2', 'a32_3', 'a32_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 4, 0, 1, 3],
 [3, 2, 1, 4, 0],
 [4, 0, 3, 2, 1]]
)
Group('G33',
'Group 33 of order 5',
['e33', 'a33_1', 'a33_2', 'a33_3', 'a33_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 4, 3, 1, 0],
 [3, 2, 0, 4, 1],
 [4, 0, 1, 2, 3]]
)
Group('G34',
'Group 34 of order 5',
['e34', 'a34_1', 'a34_2', 'a34_3', 'a34_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 0, 1, 4, 3],
 [3, 4, 0, 1, 2],
 [4, 2, 3, 0, 1]]
)
Group('G35',
'Group 35 of order 5',
['e35', 'a35_1', 'a35_2', 'a35_3', 'a35_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 0, 3, 4, 1],
 [3, 4, 0, 1, 2],
 [4, 2, 1, 0, 3]]
)
Group('G36',
'Group 36 of order 5',
['e36', 'a36_1', 'a36_2', 'a36_3', 'a36_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 0, 3, 4, 1],
 [3, 4, 1, 0, 2],
 [4, 2, 0, 1, 3]]
)
Group('G37',
'Group 37 of order 5',
['e37', 'a37_1', 'a37_2', 'a37_3', 'a37_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 4, 0, 1, 3],
 [3, 0, 1, 4, 2],
 [4, 2, 3, 0, 1]]
)
Group('G38',
'Group 38 of order 5',
['e38', 'a38_1', 'a38_2', 'a38_3', 'a38_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 4, 1, 0, 3],
 [3, 2, 0, 4, 1],
 [4, 0, 3, 1, 2]]
)
Group('G39',
'Group 39 of order 5',
['e39', 'a39_1', 'a39_2', 'a39_3', 'a39_4'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 4, 3, 0, 1],
 [3, 0, 1, 4, 2],
 [4, 2, 0, 1, 3]]
)
Group('G40',
'Group 40 of order 5',
['e40', 'a40_1', 'a40_2', 'a40_3', 'a40_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 0, 3, 4, 1],
 [3, 2, 4, 1, 0],
 [4, 3, 1, 0, 2]]
)
Group('G41',
'Group 41 of order 5',
['e41', 'a41_1', 'a41_2', 'a41_3', 'a41_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 1, 4, 0],
 [3, 0, 4, 1, 2],
 [4, 2, 3, 0, 1]]
)
Group('G42',
'Group 42 of order 5',
['e42', 'a42_1', 'a42_2', 'a42_3', 'a42_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 1, 4, 0],
 [3, 2, 4, 0, 1],
 [4, 0, 3, 1, 2]]
)
Group('G43',
'Group 43 of order 5',
['e43', 'a43_1', 'a43_2', 'a43_3', 'a43_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 4, 0, 1],
 [3, 0, 1, 4, 2],
 [4, 2, 3, 1, 0]]
)
Group('G44',
'Group 44 of order 5',
['e44', 'a44_1', 'a44_2', 'a44_3', 'a44_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 4, 0, 1],
 [3, 2, 1, 4, 0],
 [4, 0, 3, 1, 2]]
)
Group('G45',
'Group 45 of order 5',
['e45', 'a45_1', 'a45_2', 'a45_3', 'a45_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 4, 1, 0],
 [3, 0, 1, 4, 2],
 [4, 2, 3, 0, 1]]
)
Group('G46',
'Group 46 of order 5',
['e46', 'a46_1', 'a46_2', 'a46_3', 'a46_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 0, 1, 4, 3],
 [3, 2, 4, 1, 0],
 [4, 3, 0, 2, 1]]
)
Group('G47',
'Group 47 of order 5',
['e47', 'a47_1', 'a47_2', 'a47_3', 'a47_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 0, 4, 1, 3],
 [3, 2, 0, 4, 1],
 [4, 3, 1, 2, 0]]
)
Group('G48',
'Group 48 of order 5',
['e48', 'a48_1', 'a48_2', 'a48_3', 'a48_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 0, 4, 1, 3],
 [3, 2, 1, 4, 0],
 [4, 3, 0, 2, 1]]
)
Group('G49',
'Group 49 of order 5',
['e49', 'a49_1', 'a49_2', 'a49_3', 'a49_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 3, 0, 4, 1],
 [3, 2, 4, 1, 0],
 [4, 0, 1, 2, 3]]
)
Group('G50',
'Group 50 of order 5',
['e50', 'a50_1', 'a50_2', 'a50_3', 'a50_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 3, 1, 4, 0],
 [3, 0, 4, 2, 1],
 [4, 2, 0, 1, 3]]
)
Group('G51',
'Group 51 of order 5',
['e51', 'a51_1', 'a51_2', 'a51_3', 'a51_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 3, 4, 1, 0],
 [3, 2, 0, 4, 1],
 [4, 0, 1, 2, 3]]
)
Group('G52',
'Group 52 of order 5',
['e52', 'a52_1', 'a52_2', 'a52_3', 'a52_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 0, 1, 4, 3],
 [3, 2, 4, 0, 1],
 [4, 3, 0, 1, 2]]
)
Group('G53',
'Group 53 of order 5',
['e53', 'a53_1', 'a53_2', 'a53_3', 'a53_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 0, 4, 1, 3],
 [3, 2, 0, 4, 1],
 [4, 3, 1, 0, 2]]
)
Group('G54',
'Group 54 of order 5',

['e54', 'a54_1', 'a54_2', 'a54_3', 'a54_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 3, 0, 4, 1],
 [3, 0, 4, 1, 2],
 [4, 2, 1, 0, 3]]
)
Group('G55',
'Group 55 of order 5',
['e55', 'a55_1', 'a55_2', 'a55_3', 'a55_4'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 3, 4, 0, 1],
 [3, 0, 1, 4, 2],
 [4, 2, 0, 1, 3]]
)

In [60]:
# No two tables in groups5 are the same:

np_tables5 = [g.mult_table for g in groups5]

for combo in combinations(groups5, 2):
    if combo[0] == combo[1]:
        print(combo[0])

In [58]:
# And yet, six of the groups are abelian:

abelian_tables5 = [g for g in groups5 if g.abelian()]
abelian_tables5

[Group('G14',
 'Group 14 of order 5',
 ['e14', 'a14_1', 'a14_2', 'a14_3', 'a14_4'],
 [[0, 1, 2, 3, 4], [1, 2, 3, 4, 0], [2, 3, 4, 0, 1], [3, 4, 0, 1, 2], [4, 0, 1, 2, 3]]) ,
 Group('G23',
 'Group 23 of order 5',
 ['e23', 'a23_1', 'a23_2', 'a23_3', 'a23_4'],
 [[0, 1, 2, 3, 4], [1, 2, 4, 0, 3], [2, 4, 3, 1, 0], [3, 0, 1, 4, 2], [4, 3, 0, 2, 1]]) ,
 Group('G24',
 'Group 24 of order 5',
 ['e24', 'a24_1', 'a24_2', 'a24_3', 'a24_4'],
 [[0, 1, 2, 3, 4], [1, 3, 0, 4, 2], [2, 0, 4, 1, 3], [3, 4, 1, 2, 0], [4, 2, 3, 0, 1]]) ,
 Group('G38',
 'Group 38 of order 5',
 ['e38', 'a38_1', 'a38_2', 'a38_3', 'a38_4'],
 [[0, 1, 2, 3, 4], [1, 3, 4, 2, 0], [2, 4, 1, 0, 3], [3, 2, 0, 4, 1], [4, 0, 3, 1, 2]]) ,
 Group('G40',
 'Group 40 of order 5',
 ['e40', 'a40_1', 'a40_2', 'a40_3', 'a40_4'],
 [[0, 1, 2, 3, 4], [1, 4, 0, 2, 3], [2, 0, 3, 4, 1], [3, 2, 4, 1, 0], [4, 3, 1, 0, 2]]) ,
 Group('G50',
 'Group 50 of order 5',
 ['e50', 'a50_1', 'a50_2', 'a50_3', 'a50_4'],
 [[0, 1, 2, 3, 4], [1, 4, 3, 0, 2], [2, 3, 1, 4, 0], [3, 0, 4, 2, 1], [4, 2, 0, 1, 3]]) ]

In [61]:
assoc_tables5 = [g for g in groups5 if g.associative()]
assoc_tables5

[Group('G14',
 'Group 14 of order 5',
 ['e14', 'a14_1', 'a14_2', 'a14_3', 'a14_4'],
 [[0, 1, 2, 3, 4], [1, 2, 3, 4, 0], [2, 3, 4, 0, 1], [3, 4, 0, 1, 2], [4, 0, 1, 2, 3]]) ,
 Group('G23',
 'Group 23 of order 5',
 ['e23', 'a23_1', 'a23_2', 'a23_3', 'a23_4'],
 [[0, 1, 2, 3, 4], [1, 2, 4, 0, 3], [2, 4, 3, 1, 0], [3, 0, 1, 4, 2], [4, 3, 0, 2, 1]]) ,
 Group('G24',
 'Group 24 of order 5',
 ['e24', 'a24_1', 'a24_2', 'a24_3', 'a24_4'],
 [[0, 1, 2, 3, 4], [1, 3, 0, 4, 2], [2, 0, 4, 1, 3], [3, 4, 1, 2, 0], [4, 2, 3, 0, 1]]) ,
 Group('G38',
 'Group 38 of order 5',
 ['e38', 'a38_1', 'a38_2', 'a38_3', 'a38_4'],
 [[0, 1, 2, 3, 4], [1, 3, 4, 2, 0], [2, 4, 1, 0, 3], [3, 2, 0, 4, 1], [4, 0, 3, 1, 2]]) ,
 Group('G40',
 'Group 40 of order 5',
 ['e40', 'a40_1', 'a40_2', 'a40_3', 'a40_4'],
 [[0, 1, 2, 3, 4], [1, 4, 0, 2, 3], [2, 0, 3, 4, 1], [3, 2, 4, 1, 0], [4, 3, 1, 0, 2]]) ,
 Group('G50',
 'Group 50 of order 5',
 ['e50', 'a50_1', 'a50_2', 'a50_3', 'a50_4'],
 [[0, 1, 2, 3, 4], [1, 4, 3, 0, 2], [2, 3, 1, 4, 0], [3, 0, 4, 2, 1], [4, 2, 0, 1, 3]]) ]

In [74]:
tbl0 = tables5[0]
tbl14 = tables5[14]
print(tbl0)
print(tbl14)

([0, 1, 2, 3, 4], (1, 0, 3, 4, 2), (2, 3, 4, 0, 1), (3, 4, 1, 2, 0), (4, 2, 0, 1, 3))
([0, 1, 2, 3, 4], (1, 2, 3, 4, 0), (2, 3, 4, 0, 1), (3, 4, 0, 1, 2), (4, 0, 1, 2, 3))

In [66]:
def table_mult(table, a, b):
    prod = table[a][b]
    return prod

In [68]:
table_mult(tbl0, 2, 3)

0

In [70]:
def associative_table(table):
    """A brute force test of whether a table supports associativity.
    Returns True if the table does support associativity."""
    result = True
    elements = table[0]  # The first row should correspond to the elements of a group
    for a in elements:
        for b in elements:
            for c in elements:
                ab = table[a][b]
                bc = table[b][c]
                if not (table[ab][c] == table[a][bc]):
                    result = False
                    break
    return result

In [71]:
associative_table(tbl0)

False

In [75]:
associative_table(tbl14)

True

In [128]:
def gen_all_group_tables(order):
    """Return a list of all arrays that correspond to multiplication tables for groups of a specific order """
    row0 = list(range(order))
    row_candidates = [[row0]]
    for row_num in range(1, order):
        row_candidates.append(alg._filter_out_conflicts(permutations(row0), row0, row_num))
    table_candidates = [cand for cand in product(*row_candidates) if associative_table(cand)]
    return [tbl for tbl in table_candidates if alg._no_conflicts(tbl)]

In [131]:
gen_all_group_tables(4)

[([0, 1, 2, 3], (1, 0, 3, 2), (2, 3, 0, 1), (3, 2, 1, 0)),
 ([0, 1, 2, 3], (1, 0, 3, 2), (2, 3, 1, 0), (3, 2, 0, 1)),
 ([0, 1, 2, 3], (1, 2, 3, 0), (2, 3, 0, 1), (3, 0, 1, 2)),
 ([0, 1, 2, 3], (1, 3, 0, 2), (2, 0, 3, 1), (3, 2, 1, 0))]

In [132]:
tables6 = gen_all_group_tables(6)
len(tables6)

80

In [133]:
tables6

[([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 3, 4, 5, 0, 1),
  (3, 2, 5, 4, 1, 0),
  (4, 5, 0, 1, 2, 3),
  (5, 4, 1, 0, 3, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 3, 4, 5, 1, 0),
  (3, 2, 5, 4, 0, 1),
  (4, 5, 1, 0, 3, 2),
  (5, 4, 0, 1, 2, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 3, 5, 4, 0, 1),
  (3, 2, 4, 5, 1, 0),
  (4, 5, 0, 1, 3, 2),
  (5, 4, 1, 0, 2, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 3, 5, 4, 1, 0),
  (3, 2, 4, 5, 0, 1),
  (4, 5, 1, 0, 2, 3),
  (5, 4, 0, 1, 3, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 4, 0, 5, 1, 3),
  (3, 5, 1, 4, 0, 2),
  (4, 2, 5, 0, 3, 1),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 4, 5, 1, 3, 0),
  (3, 5, 4, 0, 2, 1),
  (4, 2, 1, 5, 0, 3),
  (5, 3, 0, 4, 1, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 5, 0, 4, 3, 1),
  (3, 4, 1, 5, 2, 0),
  (4, 3, 5, 1, 0, 2),
  (5, 2, 4, 0, 1, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 3, 2, 5, 4),
  (2, 5, 4, 1, 0, 3),
  (3, 4, 5, 0, 1, 2),
  (4, 3, 0, 5, 2, 1),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 3, 0, 1, 5, 4),
  (3, 2, 5, 4, 0, 1),
  (4, 5, 1, 0, 3, 2),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 3, 5, 4, 1, 0),
  (3, 2, 1, 0, 5, 4),
  (4, 5, 3, 2, 0, 1),
  (5, 4, 0, 1, 3, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 4, 3, 0, 5, 1),
  (3, 5, 0, 2, 1, 4),
  (4, 2, 5, 1, 3, 0),
  (5, 3, 1, 4, 0, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 4, 3, 1, 5, 0),
  (3, 5, 1, 4, 0, 2),
  (4, 2, 5, 0, 3, 1),
  (5, 3, 0, 2, 1, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 4, 5, 0, 3, 1),
  (3, 5, 0, 4, 1, 2),
  (4, 2, 3, 1, 5, 0),
  (5, 3, 1, 2, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 4, 5, 1, 3, 0),
  (3, 5, 1, 2, 0, 4),
  (4, 2, 3, 0, 5, 1),
  (5, 3, 0, 4, 1, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 5, 0, 4, 3, 1),
  (3, 4, 5, 0, 1, 2),
  (4, 3, 1, 2, 5, 0),
  (5, 2, 3, 1, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 4, 5, 2, 3),
  (2, 5, 3, 0, 1, 4),
  (3, 4, 0, 2, 5, 1),
  (4, 3, 5, 1, 0, 2),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 3, 0, 1, 5, 4),
  (3, 2, 4, 5, 1, 0),
  (4, 5, 3, 2, 0, 1),
  (5, 4, 1, 0, 2, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 3, 4, 5, 0, 1),
  (3, 2, 1, 0, 5, 4),
  (4, 5, 0, 1, 2, 3),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 4, 0, 5, 1, 3),
  (3, 5, 4, 0, 2, 1),
  (4, 2, 3, 1, 5, 0),
  (5, 3, 1, 2, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 4, 3, 0, 5, 1),
  (3, 5, 0, 2, 1, 4),
  (4, 2, 1, 5, 0, 3),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 5, 3, 0, 1, 4),
  (3, 4, 0, 2, 5, 1),
  (4, 3, 1, 5, 2, 0),
  (5, 2, 4, 1, 0, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 5, 3, 1, 0, 4),
  (3, 4, 1, 5, 2, 0),
  (4, 3, 0, 2, 5, 1),
  (5, 2, 4, 0, 1, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 5, 4, 0, 1, 3),
  (3, 4, 0, 5, 2, 1),
  (4, 3, 1, 2, 5, 0),
  (5, 2, 3, 1, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 0, 5, 4, 3, 2),
  (2, 5, 4, 1, 0, 3),
  (3, 4, 1, 2, 5, 0),
  (4, 3, 0, 5, 2, 1),
  (5, 2, 3, 0, 1, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 4, 5, 3),
  (2, 0, 1, 5, 3, 4),
  (3, 4, 5, 0, 1, 2),
  (4, 5, 3, 1, 2, 0),
  (5, 3, 4, 2, 0, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 4, 5, 3),
  (2, 0, 1, 5, 3, 4),
  (3, 4, 5, 1, 2, 0),
  (4, 5, 3, 2, 0, 1),
  (5, 3, 4, 0, 1, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 4, 5, 3),
  (2, 0, 1, 5, 3, 4),
  (3, 4, 5, 2, 0, 1),
  (4, 5, 3, 0, 1, 2),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 4, 5, 3),
  (2, 0, 1, 5, 3, 4),
  (3, 5, 4, 0, 2, 1),
  (4, 3, 5, 1, 0, 2),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 5, 3, 4),
  (2, 0, 1, 4, 5, 3),
  (3, 4, 5, 0, 1, 2),
  (4, 5, 3, 2, 0, 1),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 5, 3, 4),
  (2, 0, 1, 4, 5, 3),
  (3, 5, 4, 0, 2, 1),
  (4, 3, 5, 2, 1, 0),
  (5, 4, 3, 1, 0, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 5, 3, 4),
  (2, 0, 1, 4, 5, 3),
  (3, 5, 4, 1, 0, 2),
  (4, 3, 5, 0, 2, 1),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 0, 5, 3, 4),
  (2, 0, 1, 4, 5, 3),
  (3, 5, 4, 2, 1, 0),
  (4, 3, 5, 1, 0, 2),
  (5, 4, 3, 0, 2, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 3, 4, 5, 0),
  (2, 3, 4, 5, 0, 1),
  (3, 4, 5, 0, 1, 2),
  (4, 5, 0, 1, 2, 3),
  (5, 0, 1, 2, 3, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 3, 5, 0, 4),
  (2, 3, 5, 4, 1, 0),
  (3, 5, 4, 0, 2, 1),
  (4, 0, 1, 2, 5, 3),
  (5, 4, 0, 1, 3, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 4, 0, 5, 3),
  (2, 4, 5, 1, 3, 0),
  (3, 0, 1, 5, 2, 4),
  (4, 5, 3, 2, 0, 1),
  (5, 3, 0, 4, 1, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 4, 5, 3, 0),
  (2, 4, 3, 0, 5, 1),
  (3, 5, 0, 2, 1, 4),
  (4, 3, 5, 1, 0, 2),
  (5, 0, 1, 4, 2, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 5, 0, 3, 4),
  (2, 5, 4, 1, 0, 3),
  (3, 0, 1, 4, 5, 2),
  (4, 3, 0, 5, 2, 1),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 2, 5, 4, 0, 3),
  (2, 5, 3, 0, 1, 4),
  (3, 4, 0, 2, 5, 1),
  (4, 0, 1, 5, 3, 2),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 0, 4, 5, 2),
  (2, 0, 5, 1, 3, 4),
  (3, 4, 1, 5, 2, 0),
  (4, 5, 3, 2, 0, 1),
  (5, 2, 4, 0, 1, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 0, 5, 2, 4),
  (2, 0, 4, 1, 5, 3),
  (3, 5, 1, 4, 0, 2),
  (4, 2, 5, 0, 3, 1),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 4, 0, 5, 2),
  (2, 4, 0, 5, 1, 3),
  (3, 0, 5, 1, 2, 4),
  (4, 5, 1, 2, 3, 0),
  (5, 2, 3, 4, 0, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 4, 0, 5, 2),
  (2, 4, 1, 5, 3, 0),
  (3, 0, 5, 1, 2, 4),
  (4, 5, 3, 2, 0, 1),
  (5, 2, 0, 4, 1, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 4, 0, 5, 2),
  (2, 4, 3, 5, 0, 1),
  (3, 0, 5, 1, 2, 4),
  (4, 5, 0, 2, 1, 3),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 4, 0, 5, 2),
  (2, 5, 0, 4, 3, 1),
  (3, 0, 5, 1, 2, 4),
  (4, 2, 1, 5, 0, 3),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 4, 2, 5, 0),
  (2, 4, 0, 5, 1, 3),
  (3, 2, 5, 4, 0, 1),
  (4, 5, 1, 0, 3, 2),
  (5, 0, 3, 1, 2, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 4, 5, 0, 2),
  (2, 4, 3, 0, 5, 1),
  (3, 5, 0, 2, 1, 4),
  (4, 0, 5, 1, 2, 3),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 5, 0, 2, 4),
  (2, 4, 0, 5, 1, 3),
  (3, 0, 4, 1, 5, 2),
  (4, 5, 3, 2, 0, 1),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 5, 0, 2, 4),
  (2, 5, 0, 4, 3, 1),
  (3, 0, 4, 1, 5, 2),
  (4, 2, 3, 5, 1, 0),
  (5, 4, 1, 2, 0, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 5, 0, 2, 4),
  (2, 5, 1, 4, 0, 3),
  (3, 0, 4, 1, 5, 2),
  (4, 2, 0, 5, 3, 1),
  (5, 4, 3, 2, 1, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 5, 0, 2, 4),
  (2, 5, 3, 4, 1, 0),
  (3, 0, 4, 1, 5, 2),
  (4, 2, 1, 5, 0, 3),
  (5, 4, 0, 2, 3, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 5, 2, 0, 4),
  (2, 5, 0, 4, 3, 1),
  (3, 2, 4, 5, 1, 0),
  (4, 0, 3, 1, 5, 2),
  (5, 4, 1, 0, 2, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 3, 5, 4, 2, 0),
  (2, 5, 3, 0, 1, 4),
  (3, 4, 0, 2, 5, 1),
  (4, 2, 1, 5, 0, 3),
  (5, 0, 4, 1, 3, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 0, 2, 5, 3),
  (2, 0, 3, 5, 1, 4),
  (3, 2, 5, 4, 0, 1),
  (4, 5, 1, 0, 3, 2),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 0, 5, 3, 2),
  (2, 0, 5, 4, 1, 3),
  (3, 5, 4, 0, 2, 1),
  (4, 3, 1, 2, 5, 0),
  (5, 2, 3, 1, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 3, 0, 5, 2),
  (2, 3, 4, 5, 0, 1),
  (3, 0, 5, 2, 1, 4),
  (4, 5, 0, 1, 2, 3),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 3, 5, 0, 2),
  (2, 3, 0, 1, 5, 4),
  (3, 5, 1, 4, 2, 0),
  (4, 0, 5, 2, 1, 3),
  (5, 2, 4, 0, 3, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 3, 5, 0, 2),
  (2, 3, 1, 4, 5, 0),
  (3, 5, 4, 0, 2, 1),
  (4, 0, 5, 2, 1, 3),
  (5, 2, 0, 1, 3, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 3, 5, 0, 2),
  (2, 3, 4, 0, 5, 1),
  (3, 5, 0, 1, 2, 4),
  (4, 0, 5, 2, 1, 3),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 3, 5, 0, 2),
  (2, 5, 0, 4, 3, 1),
  (3, 2, 1, 0, 5, 4),
  (4, 0, 5, 2, 1, 3),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 3, 5, 2, 0),
  (2, 3, 0, 1, 5, 4),
  (3, 5, 1, 4, 0, 2),
  (4, 2, 5, 0, 3, 1),
  (5, 0, 4, 2, 1, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 5, 0, 2, 3),
  (2, 5, 0, 4, 3, 1),
  (3, 0, 4, 5, 1, 2),
  (4, 2, 3, 1, 5, 0),
  (5, 3, 1, 2, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 5, 2, 0, 3),
  (2, 3, 0, 1, 5, 4),
  (3, 5, 4, 0, 2, 1),
  (4, 0, 3, 5, 1, 2),
  (5, 2, 1, 4, 3, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 5, 2, 0, 3),
  (2, 5, 0, 4, 3, 1),
  (3, 2, 4, 1, 5, 0),
  (4, 0, 3, 5, 1, 2),
  (5, 3, 1, 0, 2, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 5, 2, 0, 3),
  (2, 5, 1, 0, 3, 4),
  (3, 2, 0, 4, 5, 1),
  (4, 0, 3, 5, 1, 2),
  (5, 3, 4, 1, 2, 0)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 5, 2, 0, 3),
  (2, 5, 4, 1, 3, 0),
  (3, 2, 1, 0, 5, 4),
  (4, 0, 3, 5, 1, 2),
  (5, 3, 0, 4, 2, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 4, 5, 2, 3, 0),
  (2, 5, 4, 1, 0, 3),
  (3, 2, 1, 0, 5, 4),
  (4, 3, 0, 5, 2, 1),
  (5, 0, 3, 4, 1, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 0, 2, 3, 4),
  (2, 0, 3, 4, 5, 1),
  (3, 2, 4, 5, 1, 0),
  (4, 3, 5, 1, 0, 2),
  (5, 4, 1, 0, 2, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 0, 4, 2, 3),
  (2, 0, 4, 5, 3, 1),
  (3, 4, 5, 0, 1, 2),
  (4, 2, 3, 1, 5, 0),
  (5, 3, 1, 2, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 3, 0, 2, 4),
  (2, 3, 5, 4, 1, 0),
  (3, 0, 4, 2, 5, 1),
  (4, 2, 1, 5, 0, 3),
  (5, 4, 0, 1, 3, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 3, 4, 0, 2),
  (2, 3, 0, 1, 5, 4),
  (3, 4, 1, 5, 2, 0),
  (4, 0, 5, 2, 3, 1),
  (5, 2, 4, 0, 1, 3)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 3, 4, 2, 0),
  (2, 3, 0, 1, 5, 4),
  (3, 4, 1, 5, 0, 2),
  (4, 2, 5, 0, 1, 3),
  (5, 0, 4, 2, 3, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 3, 4, 2, 0),
  (2, 3, 1, 5, 0, 4),
  (3, 4, 5, 0, 1, 2),
  (4, 2, 0, 1, 5, 3),
  (5, 0, 4, 2, 3, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 3, 4, 2, 0),
  (2, 3, 5, 0, 1, 4),
  (3, 4, 0, 1, 5, 2),
  (4, 2, 1, 5, 0, 3),
  (5, 0, 4, 2, 3, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 3, 4, 2, 0),
  (2, 4, 0, 5, 1, 3),
  (3, 2, 1, 0, 5, 4),
  (4, 3, 5, 1, 0, 2),
  (5, 0, 4, 2, 3, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 4, 0, 3, 2),
  (2, 4, 0, 5, 1, 3),
  (3, 0, 5, 4, 2, 1),
  (4, 3, 1, 2, 5, 0),
  (5, 2, 3, 1, 0, 4)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 4, 2, 0, 3),
  (2, 4, 5, 1, 3, 0),
  (3, 2, 1, 0, 5, 4),
  (4, 0, 3, 5, 2, 1),
  (5, 3, 0, 4, 1, 2)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 4, 2, 3, 0),
  (2, 3, 0, 1, 5, 4),
  (3, 4, 5, 0, 1, 2),
  (4, 2, 1, 5, 0, 3),
  (5, 0, 3, 4, 2, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 4, 2, 3, 0),
  (2, 4, 0, 5, 1, 3),
  (3, 2, 5, 1, 0, 4),
  (4, 3, 1, 0, 5, 2),
  (5, 0, 3, 4, 2, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 4, 2, 3, 0),
  (2, 4, 1, 0, 5, 3),
  (3, 2, 0, 5, 1, 4),
  (4, 3, 5, 1, 0, 2),
  (5, 0, 3, 4, 2, 1)),
 ([0, 1, 2, 3, 4, 5],
  (1, 5, 4, 2, 3, 0),
  (2, 4, 5, 1, 0, 3),
  (3, 2, 1, 0, 5, 4),
  (4, 3, 0, 5, 1, 2),
  (5, 0, 3, 4, 2, 1))]

## Partitioning Subgroups of a Group into Isomorphic Sets

In [47]:
for combo in combinations(groups4,2):
    mp = combo[0].isomorphic(combo[1])
    print(combo[0].name, combo[1].name, mp)

G0 G1 False
G0 G2 False
G0 G3 False
G1 G2 {'a1_1': 'a2_2', 'a1_2': 'a2_1', 'a1_3': 'a2_3', 'e1': 'e2'}
G1 G3 {'a1_1': 'a3_3', 'a1_2': 'a3_1', 'a1_3': 'a3_2', 'e1': 'e3'}
G2 G3 {'a2_1': 'a3_1', 'a2_2': 'a3_3', 'a2_3': 'a3_2', 'e2': 'e3'}