# Scratchwork 4  - Cosets of Algebras

In [1]:
import finite_algebras as alg
# from cayley_table import *
# from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = alg.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

## The Group $A_4$

In [5]:
a4 = ex[0]
a4.about()

** Group **
Name: A4
Instance ID: 4471216592
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: '()'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '()'    '()'       0
      1 '(1 3 2)' '(1 2 3)'       0
      2 '(1 2 3)' '(1 3 2)'       0
      3 '(0 1)(2 3)' '(0 1)(2 3)'       0
      4 '(0 1 2)' '(0 2 1)'       0
      5 '(0 1 3)' '(0 3 1)'       0
      6 '(0 3 1)' '(0 1 3)'       0
      7 '(0 3 2)' '(0 2 3)'       0
      8 '(0 3)(1 2)' '(0 3)(1 2)'       0
      9 '(0 2 3)' '(0 3 2)'       0
     10 '(0 2 1)' '(0 1 2)'       0
     11 '(0 2)(1 3)' '(0 2)(1 3)'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

'<Group:A4, ID:4471216592>'

In [8]:
_ = alg.about_subalgebras(a4)

Subalgebras of <Group:A4, ID:4471216592>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Group of order 4 with identity '()':
      Group: A4_subalgebra_0: ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)']

4 Isomorphic Commutative Groups of order 3 with identity '()':
      Group: A4_subalgebra_1: ['()', '(0 1 2)', '(0 2 1)']
      Group: A4_subalgebra_2: ['()', '(0 1 3)', '(0 3 1)']
      Group: A4_subalgebra_4: ['()', '(0 3 2)', '(0 2 3)']
      Group: A4_subalgebra_7: ['()', '(1 3 2)', '(1 2 3)']

3 Isomorphic Commutative Groups of order 2 with identity '()':
      Group: A4_subalgebra_3: ['()', '(0 2)(1 3)']
      Group: A4_subalgebra_5: ['()', '(0 1)(2 3)']
      Group: A4_subalgebra_6: ['()', '(0 3)(1 2)']

In [9]:
a4_subs = a4.proper_subalgebras()
a4_subs

[Group(
 'A4_subalgebra_0',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
 ),
 Group(
 'A4_subalgebra_1',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 1 2)', '(0 2 1)'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 ),
 Group(
 'A4_subalgebra_2',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 1 3)', '(0 3 1)'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 ),
 Group(
 'A4_subalgebra_3',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 2)(1 3)'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'A4_subalgebra_4',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 3 2)', '(0 2 3)'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 ),
 Group(
 'A4_subalgebra_5',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 1)(2 3)'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'A4_subalgebra_6',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(0 3)(1 2)'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'A4_subalgebra_7',
 'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
 ['()', '(1 3 2)', '(1 2 3)'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 )]

The following subgroups of $A_4$ are of order 4, 3, and 2:

In [16]:
a4_4 = alg.Group(
    'A4_subalgebra_0',
    'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
    ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
    [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [17]:
a4_3 = alg.Group(
    'A4_subalgebra_1',
    'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
    ['()', '(0 1 2)', '(0 2 1)'],
    [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

In [18]:
a4_2 = alg.Group(
    'A4_subalgebra_3',
    'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
    ['()', '(0 2)(1 3)'],
    [[0, 1], [1, 0]]
)

Note how the three subgroups, above, are isomorphic to $C_2 \times C_2$, $C_3$, and $C_2$, as shown below.

In [19]:
c2 = alg.generate_cyclic_group(2)
c3 = alg.generate_cyclic_group(3)
c2xc2 = c2 * c2

In [20]:
a4_4.isomorphic(c2xc2)

{'()': '0:0', '(0 1)(2 3)': '0:1', '(0 3)(1 2)': '1:0', '(0 2)(1 3)': '1:1'}

In [21]:
a4_3.isomorphic(c3)

{'()': '0', '(0 1 2)': '1', '(0 2 1)': '2'}

In [22]:
a4_2.isomorphic(c2)

{'()': '0', '(0 2)(1 3)': '1'}

### Cosets of a Non-Normal Subgroup

The left & right cosets are not necessarily the same for non-normal subgroups

In [23]:
a4.is_normal(a4_3)

False

In [32]:
a4_3_lc = list(a4.left_cosets(a4_3))
a4_3_lc

[['(0 1)(2 3)', '(0 3 2)', '(1 3 2)'],
 ['()', '(0 1 2)', '(0 2 1)'],
 ['(0 1 3)', '(0 2 3)', '(0 3)(1 2)'],
 ['(0 2)(1 3)', '(0 3 1)', '(1 2 3)']]

In [33]:
a4_3_rc = list(a4.right_cosets(a4_3))
a4_3_rc

[['(0 1 3)', '(0 2)(1 3)', '(1 3 2)'],
 ['()', '(0 1 2)', '(0 2 1)'],
 ['(0 3 1)', '(0 3 2)', '(0 3)(1 2)'],
 ['(0 1)(2 3)', '(0 2 3)', '(1 2 3)']]

In [37]:
def symm_diff_of_two_lists_of_lists (list1, list2):
    """Return the symmetric difference between two lists of lists"""
    # Turn the inner lists into tuples, because tuples
    # are hashable and lists are not. Then turn the outer
    # lists into sets, before applying the symm diff operator.
    return set(map(tuple, list1)) ^ set(map(tuple, list2))

def same_cosets(cosets1, cosets2):
    return not symm_diff_of_two_lists_of_lists(cosets1, cosets2)

In [38]:
symm_diff_of_two_lists_of_lists(a4_3_lc, a4_3_rc)

{('(0 1 3)', '(0 2 3)', '(0 3)(1 2)'),
 ('(0 1 3)', '(0 2)(1 3)', '(1 3 2)'),
 ('(0 1)(2 3)', '(0 2 3)', '(1 2 3)'),
 ('(0 1)(2 3)', '(0 3 2)', '(1 3 2)'),
 ('(0 2)(1 3)', '(0 3 1)', '(1 2 3)'),
 ('(0 3 1)', '(0 3 2)', '(0 3)(1 2)')}

In [39]:
same_cosets(a4_3_lc, a4_3_rc)

False

### Cosets of a Normal Subgroup

The left & right cosets are the same for normal subgroups

In [42]:
a42 = alg.Group(
    'A4_subalgebra_2',
    'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
    ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
    [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [43]:
a4_2_lc = list(a4.left_cosets(a42))
a4_2_lc

[['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)'],
 ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)'],
 ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']]

In [44]:
a4_2_rc = list(a4.right_cosets(a42))
a4_2_rc

[['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)'],
 ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)'],
 ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']]

In [45]:
same_cosets(a4_2_lc, a4_2_rc)

True

## Cosets of a Monoid

Generate a Monoid by generating a Ring and then extracting its multiplicative algebra.

In [46]:
m8 = alg.generate_algebra_mod_n(8)
m8.about()

** Ring **
Name: R8
Instance ID: 4507143184
Description: Autogenerated Ring of integers mod 8
Order: 8
Identity: '0'
Commutative? Yes
Cyclic?: Yes
Generators: ['3', '7', '5', '1']
Elements:
   Index   Name   Inverse  Order
      0     '0'     '0'       0
      1     '1'     '7'       0
      2     '2'     '6'       0
      3     '3'     '5'       0
      4     '4'     '4'       0
      5     '5'     '3'       0
      6     '6'     '2'       0
      7     '7'     '1'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7, 0],
 [2, 3, 4, 5, 6, 7, 0, 1],
 [3, 4, 5, 6, 7, 0, 1, 2],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 6, 7, 0, 1, 2, 3, 4],
 [6, 7, 0, 1, 2, 3, 4, 5],
 [7, 0, 1, 2, 3, 4, 5, 6]]
Mult. Identity: '1'
Mult. Commutative? Yes
Zero Divisors: ['2', '4', '6']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 2, 4, 6, 0, 2, 4, 6],
 [0, 3, 6, 1, 4, 7, 2, 5],
 [0, 4, 0, 4, 0, 4, 0, 4],
 [0, 5, 2, 7, 4, 1, 6, 3],
 [0, 6, 4, 2, 0, 6, 4, 2],
 [0, 7, 6, 5, 4, 3, 2, 1]]

In [47]:
m8_mul = m8.extract_multiplicative_algebra()
m8_mul.about()

** Monoid **
Name: R8.Mult
Instance ID: 4491554320
Description: Multiplicative-only portion of R8
Order: 8
Identity: 1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['0', '1', '2', '3', '4', '5', '6', '7']
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 2, 4, 6, 0, 2, 4, 6],
 [0, 3, 6, 1, 4, 7, 2, 5],
 [0, 4, 0, 4, 0, 4, 0, 4],
 [0, 5, 2, 7, 4, 1, 6, 3],
 [0, 6, 4, 2, 0, 6, 4, 2],
 [0, 7, 6, 5, 4, 3, 2, 1]]

In [49]:
m8_mul_subs = alg.about_subalgebras(m8_mul)

Subalgebras of <Monoid:R8.Mult, ID:4491554320>
  There are 16 unique proper subalgebras, up to isomorphism, out of 26 total subalgebras.
  as shown by the partitions below:

1 Commutative Monoid of order 5 with identity '1':
      Monoid: R8.Mult_subalgebra_0: ['0', '1', '2', '4', '6']

2 Isomorphic Commutative Monoids of order 5 with identity '1':
      Monoid: R8.Mult_subalgebra_1: ['0', '1', '2', '4', '5']
      Monoid: R8.Mult_subalgebra_14: ['0', '1', '4', '5', '6']

2 Isomorphic Commutative Monoids of order 4 with identity '1':
      Monoid: R8.Mult_subalgebra_2: ['0', '1', '4', '6']
      Monoid: R8.Mult_subalgebra_17: ['0', '1', '2', '4']

2 Isomorphic Commutative Semigroups of order 3:
      Semigroup: R8.Mult_subalgebra_3: ['0', '2', '4']
      Semigroup: R8.Mult_subalgebra_13: ['0', '4', '6']

3 Isomorphic Commutative Monoids of order 3 with identity '1':
      Monoid: R8.Mult_subalgebra_4: ['0', '1', '5']
      Monoid: R8.Mult_subalgebra_7: ['0', '1', '7']
      Monoid: R8.Mult_subalgebra_12: ['0', '1', '3']

1 Commutative Semigroup of order 2:
      Semigroup: R8.Mult_subalgebra_5: ['0', '4']

3 Isomorphic Commutative Monoids of order 4 with identity '1':
      Monoid: R8.Mult_subalgebra_6: ['0', '1', '4', '7']
      Monoid: R8.Mult_subalgebra_9: ['0', '1', '4', '5']
      Monoid: R8.Mult_subalgebra_11: ['0', '1', '3', '4']

1 Commutative Monoid of order 2 with identity '1':
      Monoid: R8.Mult_subalgebra_8: ['0', '1']

1 Commutative Monoid of order 3 with identity '1':
      Monoid: R8.Mult_subalgebra_10: ['0', '1', '4']

3 Isomorphic Commutative Groups of order 2 with identity '1':
      Group: R8.Mult_subalgebra_15: ['1', '7']
      Group: R8.Mult_subalgebra_19: ['1', '3']
      Group: R8.Mult_subalgebra_20: ['1', '5']

2 Isomorphic Commutative Monoids of order 6 with identity '1':
      Monoid: R8.Mult_subalgebra_16: ['0', '1', '2', '4', '6', '7']
      Monoid: R8.Mult_subalgebra_25: ['0', '1', '2', '3', '4', '6']

1 Commutative Semigroup of order 4:
      Semigroup: R8.Mult_subalgebra_18: ['0', '2', '4', '6']

1 Commutative Group of order 4 with identity '1':
      Group: R8.Mult_subalgebra_21: ['1', '3', '5', '7']

1 Commutative Monoid of order 5 with identity '1':
      Monoid: R8.Mult_subalgebra_22: ['0', '1', '3', '5', '7']

1 Commutative Monoid of order 6 with identity '1':
      Monoid: R8.Mult_subalgebra_23: ['0', '1', '2', '4', '5', '6']

1 Commutative Monoid of order 6 with identity '1':
      Monoid: R8.Mult_subalgebra_24: ['0', '1', '3', '4', '5', '7']

### Cosets a Subgroup of a Monoid

In [50]:
m83 = alg.Group(
    'R8.Mult_subalgebra_3',
    'Subalgebra of: Multiplicative-only portion of R8',
    ['1', '3', '5', '7'],
    [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

By the way, this subgroup is isomorphic to the Klein-4 Group.

In [51]:
v4 = ex[7]
v4.description

'Klein-4 group'

In [52]:
v4.isomorphic(m83)

{'e': '1', 'h': '3', 'v': '5', 'r': '7'}

In [53]:
m8_mul_3_lc = list(m8_mul.left_cosets(m83))
m8_mul_3_lc

[['2', '6'], ['1', '3', '5', '7'], ['4'], ['0']]

In [54]:
m8_mul_3_rc = list(m8_mul.right_cosets(m83))
m8_mul_3_rc

[['2', '6'], ['1', '3', '5', '7'], ['4'], ['0']]

In [55]:
same_cosets(m8_mul_3_lc, m8_mul_3_rc)

True

### Cosets of Submonoid of a Monoid

In [57]:
m87 = alg.Monoid(
    'R8.Mult_subalgebra_7',
    'Subalgebra of: Multiplicative-only portion of R8',
    ['0', '1', '4', '7'],
    [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 0, 2], [0, 3, 2, 1]]
)

In [58]:
m8_mul_7_lc = list(m8_mul.left_cosets(m87))
m8_mul_7_lc

[['0', '4'],
 ['0', '3', '4', '5'],
 ['0'],
 ['0', '2', '6'],
 ['0', '1', '4', '7']]

In [59]:
m8_mul_7_rc = list(m8_mul.right_cosets(m87))
m8_mul_7_rc

[['0', '4'],
 ['0', '3', '4', '5'],
 ['0'],
 ['0', '2', '6'],
 ['0', '1', '4', '7']]

In [60]:
same_cosets(m8_mul_7_lc, m8_mul_7_rc)

True

## Multiplying Coset Elements

In [63]:
a4_2_lc

[['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)'],
 ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)'],
 ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']]

In [84]:
for c in a4_2_lc:
    print(f"\n{c = }")
    for y in c:
        for d in a4_2_lc:
            print(f"{d = }")
            for x in d:
                print(f"{x} * {y} = {a4.op(x, y)}")

c = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * () = ()
(0 1)(2 3) * () = (0 1)(2 3)
(0 2)(1 3) * () = (0 2)(1 3)
(0 3)(1 2) * () = (0 3)(1 2)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * () = (0 1 2)
(0 2 3) * () = (0 2 3)
(0 3 1) * () = (0 3 1)
(1 3 2) * () = (1 3 2)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * () = (0 1 3)
(0 2 1) * () = (0 2 1)
(0 3 2) * () = (0 3 2)
(1 2 3) * () = (1 2 3)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 1)(2 3) = (0 1)(2 3)
(0 1)(2 3) * (0 1)(2 3) = ()
(0 2)(1 3) * (0 1)(2 3) = (0 3)(1 2)
(0 3)(1 2) * (0 1)(2 3) = (0 2)(1 3)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 1)(2 3) = (0 2 3)
(0 2 3) * (0 1)(2 3) = (0 1 2)
(0 3 1) * (0 1)(2 3) = (1 3 2)
(1 3 2) * (0 1)(2 3) = (0 3 1)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 1)(2 3) = (0 3 2)
(0 2 1) * (0 1)(2 3) = (1 2 3)
(0 3 2) * (0 1)(2 3) = (0 1 3)
(1 2 3) * (0 1)(2 3) = (0 2 1)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 2)(1 3) = (0 2)(1 3)
(0 1)(2 3) * (0 2)(1 3) = (0 3)(1 2)
(0 2)(1 3) * (0 2)(1 3) = ()
(0 3)(1 2) * (0 2)(1 3) = (0 1)(2 3)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 2)(1 3) = (1 3 2)
(0 2 3) * (0 2)(1 3) = (0 3 1)
(0 3 1) * (0 2)(1 3) = (0 2 3)
(1 3 2) * (0 2)(1 3) = (0 1 2)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 2)(1 3) = (0 2 1)
(0 2 1) * (0 2)(1 3) = (0 1 3)
(0 3 2) * (0 2)(1 3) = (1 2 3)
(1 2 3) * (0 2)(1 3) = (0 3 2)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 3)(1 2) = (0 3)(1 2)
(0 1)(2 3) * (0 3)(1 2) = (0 2)(1 3)
(0 2)(1 3) * (0 3)(1 2) = (0 1)(2 3)
(0 3)(1 2) * (0 3)(1 2) = ()
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 3)(1 2) = (0 3 1)
(0 2 3) * (0 3)(1 2) = (1 3 2)
(0 3 1) * (0 3)(1 2) = (0 1 2)
(1 3 2) * (0 3)(1 2) = (0 2 3)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 3)(1 2) = (1 2 3)
(0 2 1) * (0 3)(1 2) = (0 3 2)
(0 3 2) * (0 3)(1 2) = (0 2 1)
(1 2 3) * (0 3)(1 2) = (0 1 3)

c = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 1 2) = (0 1 2)
(0 1)(2 3) * (0 1 2) = (1 3 2)
(0 2)(1 3) * (0 1 2) = (0 3 1)
(0 3)(1 2) * (0 1 2) = (0 2 3)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 1 2) = (0 2 1)
(0 2 3) * (0 1 2) = (0 1 3)
(0 3 1) * (0 1 2) = (1 2 3)
(1 3 2) * (0 1 2) = (0 3 2)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 1 2) = (0 3)(1 2)
(0 2 1) * (0 1 2) = ()
(0 3 2) * (0 1 2) = (0 1)(2 3)
(1 2 3) * (0 1 2) = (0 2)(1 3)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 2 3) = (0 2 3)
(0 1)(2 3) * (0 2 3) = (0 3 1)
(0 2)(1 3) * (0 2 3) = (1 3 2)
(0 3)(1 2) * (0 2 3) = (0 1 2)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 2 3) = (1 2 3)
(0 2 3) * (0 2 3) = (0 3 2)
(0 3 1) * (0 2 3) = (0 2 1)
(1 3 2) * (0 2 3) = (0 1 3)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 2 3) = (0 2)(1 3)
(0 2 1) * (0 2 3) = (0 1)(2 3)
(0 3 2) * (0 2 3) = ()
(1 2 3) * (0 2 3) = (0 3)(1 2)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 3 1) = (0 3 1)
(0 1)(2 3) * (0 3 1) = (0 2 3)
(0 2)(1 3) * (0 3 1) = (0 1 2)
(0 3)(1 2) * (0 3 1) = (1 3 2)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 3 1) = (0 3 2)
(0 2 3) * (0 3 1) = (1 2 3)
(0 3 1) * (0 3 1) = (0 1 3)
(1 3 2) * (0 3 1) = (0 2 1)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 3 1) = ()
(0 2 1) * (0 3 1) = (0 3)(1 2)
(0 3 2) * (0 3 1) = (0 2)(1 3)
(1 2 3) * (0 3 1) = (0 1)(2 3)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (1 3 2) = (1 3 2)
(0 1)(2 3) * (1 3 2) = (0 1 2)
(0 2)(1 3) * (1 3 2) = (0 2 3)
(0 3)(1 2) * (1 3 2) = (0 3 1)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (1 3 2) = (0 1 3)
(0 2 3) * (1 3 2) = (0 2 1)
(0 3 1) * (1 3 2) = (0 3 2)
(1 3 2) * (1 3 2) = (1 2 3)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (1 3 2) = (0 1)(2 3)
(0 2 1) * (1 3 2) = (0 2)(1 3)
(0 3 2) * (1 3 2) = (0 3)(1 2)
(1 2 3) * (1 3 2) = ()

c = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 1 3) = (0 1 3)
(0 1)(2 3) * (0 1 3) = (1 2 3)
(0 2)(1 3) * (0 1 3) = (0 3 2)
(0 3)(1 2) * (0 1 3) = (0 2 1)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 1 3) = (0 2)(1 3)
(0 2 3) * (0 1 3) = (0 1)(2 3)
(0 3 1) * (0 1 3) = ()
(1 3 2) * (0 1 3) = (0 3)(1 2)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 1 3) = (0 3 1)
(0 2 1) * (0 1 3) = (1 3 2)
(0 3 2) * (0 1 3) = (0 1 2)
(1 2 3) * (0 1 3) = (0 2 3)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 2 1) = (0 2 1)
(0 1)(2 3) * (0 2 1) = (0 3 2)
(0 2)(1 3) * (0 2 1) = (1 2 3)
(0 3)(1 2) * (0 2 1) = (0 1 3)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 2 1) = ()
(0 2 3) * (0 2 1) = (0 3)(1 2)
(0 3 1) * (0 2 1) = (0 2)(1 3)
(1 3 2) * (0 2 1) = (0 1)(2 3)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 2 1) = (0 2 3)
(0 2 1) * (0 2 1) = (0 1 2)
(0 3 2) * (0 2 1) = (1 3 2)
(1 2 3) * (0 2 1) = (0 3 1)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (0 3 2) = (0 3 2)
(0 1)(2 3) * (0 3 2) = (0 2 1)
(0 2)(1 3) * (0 3 2) = (0 1 3)
(0 3)(1 2) * (0 3 2) = (1 2 3)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (0 3 2) = (0 3)(1 2)
(0 2 3) * (0 3 2) = ()
(0 3 1) * (0 3 2) = (0 1)(2 3)
(1 3 2) * (0 3 2) = (0 2)(1 3)
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (0 3 2) = (1 3 2)
(0 2 1) * (0 3 2) = (0 3 1)
(0 3 2) * (0 3 2) = (0 2 3)
(1 2 3) * (0 3 2) = (0 1 2)
d = ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)']
() * (1 2 3) = (1 2 3)
(0 1)(2 3) * (1 2 3) = (0 1 3)
(0 2)(1 3) * (1 2 3) = (0 2 1)
(0 3)(1 2) * (1 2 3) = (0 3 2)
d = ['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)']
(0 1 2) * (1 2 3) = (0 1)(2 3)
(0 2 3) * (1 2 3) = (0 2)(1 3)
(0 3 1) * (1 2 3) = (0 3)(1 2)
(1 3 2) * (1 2 3) = ()
d = ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']
(0 1 3) * (1 2 3) = (0 1 2)
(0 2 1) * (1 2 3) = (0 2 3)
(0 3 2) * (1 2 3) = (0 3 1)
(1 2 3) * (1 2 3) = (1 3 2)