# Whatever

In [1]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
import finite_algebras as alg

In [5]:
ex = alg.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

## Pinter's Example Group vs. the Symmetric Group S3

The example Group on p. 29 of Pinter's book, based on a closed set of 2x2 matrices, is isomorphic to S3.

In [7]:
pinter = ex[3]
pinter.about(use_table_names=True)

** Group **
Name: Pinter29
Instance ID: 140422081784272
Description: Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
Order: 6
Identity: I
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       I       I       1
      1       A       A       2
      2       B       D       3
      3       C       C       2
      4       D       B       3
      5       K       K       2
Cayley Table (showing names):
[['I', 'A', 'B', 'C', 'D', 'K'],
 ['A', 'I', 'C', 'B', 'K', 'D'],
 ['B', 'K', 'D', 'A', 'I', 'C'],
 ['C', 'D', 'K', 'I', 'A', 'B'],
 ['D', 'C', 'I', 'K', 'B', 'A'],
 ['K', 'B', 'A', 'D', 'C', 'I']]

In [10]:
s3 = alg.generate_symmetric_group(3)
s3.about()

** Group **
Name: S3
Instance ID: 140422103552256
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: (1, 2, 3)
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 (1, 2, 3) (1, 2, 3)       1
      1 (1, 3, 2) (1, 3, 2)       2
      2 (2, 1, 3) (2, 1, 3)       2
      3 (2, 3, 1) (3, 1, 2)       3
      4 (3, 1, 2) (2, 3, 1)       3
      5 (3, 2, 1) (3, 2, 1)       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 3, 0, 1, 5, 4],
 [3, 2, 5, 4, 0, 1],
 [4, 5, 1, 0, 3, 2],
 [5, 4, 3, 2, 1, 0]]

In [14]:
pinter.isomorphic(s3)

{'I': '(1, 2, 3)',
 'A': '(1, 3, 2)',
 'B': '(2, 3, 1)',
 'C': '(3, 2, 1)',
 'D': '(3, 1, 2)',
 'K': '(2, 1, 3)'}

In [19]:
pinter_cg = pinter.commutator_subalgebra()
pinter_cg.about(use_table_names=True)

** Group **
Name: Pinter29_Comm
Instance ID: 140422137141088
Description: Pinter29 commutator subalgebra
Order: 3
Identity: I
Commutative? Yes
Cyclic?: Yes
  Generators: ['B', 'D']
Elements:
   Index   Name   Inverse  Order
      0       I       I       1
      1       B       D       3
      2       D       B       3
Cayley Table (showing names):
[['I', 'B', 'D'], ['B', 'D', 'I'], ['D', 'I', 'B']]

In [21]:
pinter.is_normal(pinter_cg)

True

In [22]:
z3 = alg.generate_cyclic_group(3)
z3.about()

** Group **
Name: Z3
Instance ID: 140422135804928
Description: Autogenerated cyclic Group of order 3
Order: 3
Identity: e
Commutative? Yes
Cyclic?: Yes
  Generators: ['a', 'a^2']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       a     a^2       3
      2     a^2       a       3
Cayley Table (showing indices):
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]

In [23]:
pinter_cg.isomorphic(z3)

{'I': 'e', 'B': 'a', 'D': 'a^2'}

In [26]:
_ = alg.about_subalgebras(pinter)

Subalgebras of <Group:Pinter29, ID:140422081784272>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2 with identity 'I':
      Group: Pinter29_subalgebra_0: ['I', 'C']
      Group: Pinter29_subalgebra_1: ['I', 'A']
      Group: Pinter29_subalgebra_2: ['I', 'K']

1 Commutative Normal Group of order 3 with identity 'I':
      Group: Pinter29_subalgebra_3: ['I', 'B', 'D']