# Scratchwork 6 - Comutators

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  16 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
======================================================================

## Load some example algebras

In [4]:
v4 = ex[7]
v4.about()

** Group **
Name: V4
Instance ID: 140425711872400
Description: Klein-4 group
Order: 4
Identity: e
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       h       h       2
      2       v       v       2
      3       r       r       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

In [5]:
a4 = ex[0]
a4.about()

** Group **
Name: A4
Instance ID: 140425711840976
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: ()
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      ()      ()       1
      1 (1 3 2) (1 2 3)       3
      2 (1 2 3) (1 3 2)       3
      3 (0 1)(2 3) (0 1)(2 3)       2
      4 (0 1 2) (0 2 1)       3
      5 (0 1 3) (0 3 1)       3
      6 (0 3 1) (0 1 3)       3
      7 (0 3 2) (0 2 3)       3
      8 (0 3)(1 2) (0 3)(1 2)       2
      9 (0 2 3) (0 3 2)       3
     10 (0 2 1) (0 1 2)       3
     11 (0 2)(1 3) (0 2)(1 3)       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

In [6]:
a5 = ex[15]
a5.about()

** Group **
Name: A5
Instance ID: 140425711905232
Description: Alternating group on 5 letters
Order: 60
Identity: ()
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      ()      ()       1
      1 (0 1 2 3 4) (0 4 3 2 1)       5
      2 (0 2 4 1 3) (0 3 1 4 2)       5
      3 (0 3 1 4 2) (0 2 4 1 3)       5
      4 (0 4 3 2 1) (0 1 2 3 4)       5
      5 (0 1)(2 3) (0 1)(2 3)       2
      6 (1 3 4) (1 4 3)       3
      7 (0 3 1 2 4) (0 4 2 1 3)       5
      8 (0 2 1 4 3) (0 3 4 1 2)       5
      9 (0 4 2) (0 2 4)       3
     10 (0 2 4) (0 4 2)       3
     11 (0 1 4 2 3) (0 3 2 4 1)       5
     12 (0 4 1 3 2) (0 2 3 1 4)       5
     13 (0 3 1) (0 1 3)       3
     14 (1 2)(3 4) (1 2)(3 4)       2
     15 (0 3 2 4 1) (0 1 4 2 3)       5
     16 (1 4 3) (1 3 4)       3
     17 (0 4)(1 2) (0 4)(1 2)       2
     18 (0 2 3) (0 3 2)       3
     19 (0 1 3 4 2) (0 2 4 3 1)       5
     20 (0 3 4 1 2) (0 2 1 4 3)       5
     21 (0 2 4 3 1) (0 1 3 4 2)       5
     22 (1 4 2) (1 2 4)       3
     23 (0 4)(2 3) (0 4)(2 3)       2
     24 (0 1 3) (0 3 1)       3
     25 (0 2 1 3 4) (0 4 3 1 2)       5
     26 (0 3)(2 4) (0 3)(2 4)       2
     27 (0 1 4 3 2) (0 2 3 4 1)       5
     28 (0 4 1) (0 1 4)       3
     29 (1 2 3) (1 3 2)       3
     30 (0 4 2 1 3) (0 3 1 2 4)       5
     31 (0 3 2) (0 2 3)       3
     32 (0 1)(3 4) (0 1)(3 4)       2
     33 (1 2 4) (1 4 2)       3
     34 (0 2 3 1 4) (0 4 1 3 2)       5
     35 (0 4 3 1 2) (0 2 1 3 4)       5
     36 (0 2 1) (0 1 2)       3
     37 (2 3 4) (2 4 3)       3
     38 (0 1 3 2 4) (0 4 2 3 1)       5
     39 (0 3)(1 4) (0 3)(1 4)       2
     40 (0 4 2 3 1) (0 1 3 2 4)       5
     41 (1 3 2) (1 2 3)       3
     42 (0 3 4) (0 4 3)       3
     43 (0 1 2 4 3) (0 3 4 2 1)       5
     44 (0 2)(1 4) (0 2)(1 4)       2
     45 (0 4 3) (0 3 4)       3
     46 (0 1 2) (0 2 1)       3
     47 (0 2 3 4 1) (0 1 4 3 2)       5
     48 (1 3)(2 4) (1 3)(2 4)       2
     49 (0 3 2 1 4) (0 4 1 2 3)       5
     50 (2 4 3) (2 3 4)       3
     51 (0 1 4) (0 4 1)       3
     52 (0 4 1 2 3) (0 3 2 1 4)       5
     53 (0 2)(1 3) (0 2)(1 3)       2
     54 (0 3 4 2 1) (0 1 2 4 3)       5
     55 (0 1)(2 4) (0 1)(2 4)       2
     56 (1 4)(2 3) (1 4)(2 3)       2
     57 (0 4)(1 3) (0 4)(1 3)       2
     58 (0 3)(1 2) (0 3)(1 2)       2
     59 (0 2)(3 4) (0 2)(3 4)       2
Group order is 60 > 12, so no further info calculated/printed.

In [7]:
ex6 = ex[12]
ex6.about()

** Ring **
Name: Ex6
Instance ID: 140425711891536
Description: Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
Order: 4
Identity: 0
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       a       a       2
      2       b       b       2
      3       c       c       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: None
Mult. Commutative? No
Zero Divisors: ['a', 'b', 'c']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 0, 2, 2], [0, 0, 3, 3]]

In [8]:
r6 = generate_algebra_mod_n(6)
r6.about()

** Ring **
Name: R6
Instance ID: 140425440008528
Description: Autogenerated Ring of integers mod 6
Order: 6
Identity: a0
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a5']
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1      a5       6
      2      a2      a4       3
      3      a3      a3       2
      4      a4      a2       3
      5      a5      a1       6
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 0],
 [2, 3, 4, 5, 0, 1],
 [3, 4, 5, 0, 1, 2],
 [4, 5, 0, 1, 2, 3],
 [5, 0, 1, 2, 3, 4]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5],
 [0, 2, 4, 0, 2, 4],
 [0, 3, 0, 3, 0, 3],
 [0, 4, 2, 0, 4, 2],
 [0, 5, 4, 3, 2, 1]]

In [9]:
f7 = generate_algebra_mod_n(7)
f7.about()

** Field **
Name: F7
Instance ID: 140425440009296
Description: Autogenerated Field of integers mod 7
Order: 7
Identity: a0
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a2', 'a3', 'a4', 'a5', 'a6']
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1      a6       7
      2      a2      a5       7
      3      a3      a4       7
      4      a4      a3       7
      5      a5      a2       7
      6      a6      a1       7
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6, 0],
 [2, 3, 4, 5, 6, 0, 1],
 [3, 4, 5, 6, 0, 1, 2],
 [4, 5, 6, 0, 1, 2, 3],
 [5, 6, 0, 1, 2, 3, 4],
 [6, 0, 1, 2, 3, 4, 5]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 2, 4, 6, 1, 3, 5],
 [0, 3, 6, 2, 5, 1, 4],
 [0, 4, 1, 5, 2, 6, 3],
 [0, 5, 3, 1, 6, 4, 2],
 [0, 6, 5, 4, 3, 2, 1]]

## Derive Their Commutators & Commutator Subgroups

In [10]:
v4.commutators()

{'e'}

In [11]:
v4.commutator_subalgebra()

Group(
'V4_Comm',
'V4 commutator subalgebra',
['e'],
[[0]]
)

In [12]:
a4.commutators()

{'()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)'}

In [13]:
a4.commutator_subalgebra().about()

** Group **
Name: A4_Comm
Instance ID: 140425711960848
Description: A4 commutator subalgebra
Order: 4
Identity: ()
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      ()      ()       1
      1 (0 1)(2 3) (0 1)(2 3)       2
      2 (0 3)(1 2) (0 3)(1 2)       2
      3 (0 2)(1 3) (0 2)(1 3)       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

In [14]:
a5comm = a5.commutators()
len(a5comm)

60

In [15]:
ex6.commutators()

{'0', 'a'}

### Trivial Fields are not allowed/defined

The commutator subalgebras of the following Ring & Field are trivial subrings.

In [16]:
r6.commutator_subalgebra()

Ring(
'R6_Comm',
'R6 commutator subalgebra',
['a0'],
[[0]],
[[0]]
)

In [17]:
f7.commutator_subalgebra()

Ring(
'F7_Comm',
'F7 commutator subalgebra',
['a0'],
[[0]],
[[0]]
)

### Commutator Subring

In [18]:
ex6.__class__.__name__

'Ring'

In [19]:
ex6.commutator_subalgebra().about()

** Ring **
Name: Ex6_Comm
Instance ID: 140425711918096
Description: Ex6 commutator subalgebra
Order: 2
Identity: 0
Commutative? Yes
Cyclic?: Yes
  Generators: ['a']
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       a       a       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]
Mult. Identity: None
Mult. Commutative? Yes
Zero Divisors: ['a']
Multiplicative Cayley Table (showing indices):
[[0, 0], [0, 0]]

## Orders & Number of Commutators in Examples

In [20]:
for alg in ex:
    if isinstance(alg, Group):  # NOTE: By inheritance, Rings & Fields are also Groups
        print(f"{alg.__class__.__name__}: {alg.name}  {alg.order}  {len(alg.commutators())}")

Group: A4  12  4
Group: D3  6  3
Group: D4  8  2
Group: Pinter29  6  3
Group: S3  6  3
Group: S3X  6  3
Group: V4  4  1
Group: Z4  4  1
Field: F4  4  1
Ring: Ex6  4  2
Group: Q8  8  2
Group: SD16  16  4
Group: A5  60  60

In [21]:
for alg in [r6, f7]:
    print(f"{alg.__class__.__name__}: {alg.name}  {alg.order}  {len(alg.commutators())}")

Ring: R6  6  1
Field: F7  7  1