# Scratchwork

This notebook is only used for trying out ideas.

In [3]:
import algebras as alg
import json
import os
import numpy as np
import itertools as it
# from pprint import pprint
import pprint as pp

# from itertools import combinations, permutations, product
import itertools as it

In [4]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

## Groups for Testing

### D4 - Dihedral Group on 4 Vertices

In [5]:
d4_path = os.path.join(alg_dir, "d4_dihedral_group_on_4_vertices.json")
!cat {d4_path}

{"type": "Group",
 "name": "D_4",
 "description": "Dihedral group on four vertices",
 "element_names": ["e", "r", "r^2", "r^3", "f", "fr", "r^2f", "rf"],
 "alt_elem_names": ["()", "(0 1 2 3)", "(0 2)(1 3)", "(0 3 2 1)",
                    "(0 1)(2 3)", "(1 3)", "(0 3)(1 2)", "(0 2)"],
 "mult_table": [[0, 1, 2, 3, 4, 5, 6, 7],
                [1, 2, 3, 0, 7, 4, 5, 6],
                [2, 3, 0, 1, 6, 7, 4, 5],
                [3, 0, 1, 2, 5, 6, 7, 4],
                [4, 5, 6, 7, 0, 1, 2, 3],
                [5, 6, 7, 4, 3, 0, 1, 2],
                [6, 7, 4, 5, 2, 3, 0, 1],
                [7, 4, 5, 6, 1, 2, 3, 0]]
}

In [6]:
d4 = alg.Group(d4_path)
d4.about()

Group: D_4
Dihedral group on four vertices
Abelian? False
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       r     r^3       4
      2     r^2     r^2       2
      3     r^3       r       4
      4       f       f       2
      5      fr      fr       2
      6    r^2f    r^2f       2
      7      rf      rf       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 6, 7, 4, 3, 0, 1, 2],
 [6, 7, 4, 5, 2, 3, 0, 1],
 [7, 4, 5, 6, 1, 2, 3, 0]]

### V4 - Klein 4 Group

In [7]:
v4_path = os.path.join(alg_dir, "v4_klein_4_group.json")
!cat {v4_path}

{"type": "Group",
 "name": "V4",
 "description": "Klein-4 group",
 "element_names": ["e", "h", "v", "r"],
 "mult_table": [[0, 1, 2, 3],
                [1, 0, 3, 2],
                [2, 3, 0, 1],
                [3, 2, 1, 0]]
}

In [8]:
v4 = alg.Group(v4_path)
v4.about()

Group: V4
Klein-4 group
Abelian? True
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       h       h       2
      2       v       v       2
      3       r       r       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

In [9]:
z2 = alg.generate_cyclic_group(2)
z2

Group('Z2',
'Autogenerated cyclic group of order 2',
['e', 'a'],
[[0, 1], [1, 0]])

In [10]:
z2_x_z2 = z2 * z2
z2_x_z2

Group('Z2_x_Z2',
'Direct product of Z2 & Z2',
['e:e', 'e:a', 'a:e', 'a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [11]:
z4 = alg.generate_cyclic_group(4)
z4

Group('Z4',
'Autogenerated cyclic group of order 4',
['e', 'a', 'a^2', 'a^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])

### Powerset Group on 3 Items

TODO: Look for the paper by Carolyn Bean, "Group operations on the power set", Journal of Undergraduate Mathematics 8 #1 (March 1976), 13-17.

In [12]:
ps3 = alg.generate_powerset_group(3)
ps3.about()

Group: PS3
Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Abelian? True
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {0}     {0}       2
      2     {1}     {1}       2
      3     {2}     {2}       2
      4  {0, 1}  {0, 1}       2
      5  {0, 2}  {0, 2}       2
      6  {1, 2}  {1, 2}       2
      7 {0, 1, 2} {0, 1, 2}       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 0, 4, 5, 2, 3, 7, 6],
 [2, 4, 0, 6, 1, 7, 3, 5],
 [3, 5, 6, 0, 7, 1, 2, 4],
 [4, 2, 1, 7, 0, 6, 5, 3],
 [5, 3, 7, 1, 6, 0, 4, 2],
 [6, 7, 3, 2, 5, 4, 0, 1],
 [7, 6, 5, 4, 3, 2, 1, 0]]

## Finite Rings

"Consider any finite set. Then its power set with respect to symmetric difference (as 1st operation) and set intersection (as 2nd operation) is an example of a finite ring." -- [Quora](https://www.quora.com/What-are-examples-of-finite-rings#:~:text=Matrices%20over%20any%20ring%20make,a%20finite%20ring%20with%20elements.)

## Set Operations

In [13]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

print(f"               Union: {A | B}")
print(f"        Intersection: {A & B}")
print(f"          Difference: {A - B}")
print(f"Symmetric Difference: {A ^ B}")

               Union: {0, 1, 2, 3, 4, 5, 6, 8}
        Intersection: {2, 4}
          Difference: {0, 8, 6}
Symmetric Difference: {0, 1, 3, 5, 6, 8}

## Summarize Proper Subgroups of a Group

In [14]:
ps3_prop_subs = ps3.proper_subgroups()
print(f"\n{ps3.name} has {len(ps3_prop_subs)} proper subgroups.\n")

PS3 has 14 proper subgroups.

In [15]:
iso_sets_of_groups = alg.divide_groups_into_isomorphic_sets(ps3_prop_subs)

In [16]:
[g.name for g in iso_sets_of_groups[0]]

['PS3_subgroup_0',
 'PS3_subgroup_4',
 'PS3_subgroup_5',
 'PS3_subgroup_6',
 'PS3_subgroup_10',
 'PS3_subgroup_11',
 'PS3_subgroup_13']

In [17]:
[g.name for g in iso_sets_of_groups[1]]

['PS3_subgroup_1',
 'PS3_subgroup_2',
 'PS3_subgroup_3',
 'PS3_subgroup_7',
 'PS3_subgroup_8',
 'PS3_subgroup_9',
 'PS3_subgroup_12']

In [18]:
[[g.name for g in iso_set] for iso_set in iso_sets_of_groups]

[['PS3_subgroup_0',
  'PS3_subgroup_4',
  'PS3_subgroup_5',
  'PS3_subgroup_6',
  'PS3_subgroup_10',
  'PS3_subgroup_11',
  'PS3_subgroup_13'],
 ['PS3_subgroup_1',
  'PS3_subgroup_2',
  'PS3_subgroup_3',
  'PS3_subgroup_7',
  'PS3_subgroup_8',
  'PS3_subgroup_9',
  'PS3_subgroup_12']]

In [19]:
[iso_set[0].about() for iso_set in iso_sets_of_groups]

Group: PS3_subgroup_0
Subgroup of: Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Abelian? True
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1 {0, 1, 2} {0, 1, 2}       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

Group: PS3_subgroup_1
Subgroup of: Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Abelian? True
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1  {0, 1}  {0, 1}       2
      2  {0, 2}  {0, 2}       2
      3  {1, 2}  {1, 2}       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

[None, None]

## Conjugation & Normal Subgroups

### V4

In [20]:
v4_subs = v4.proper_subgroups()
v4_subs

[Group('V4_subgroup_0',
 'Subgroup of: Klein-4 group',
 ['e', 'r'],
 [[0, 1], [1, 0]]) ,
 Group('V4_subgroup_1',
 'Subgroup of: Klein-4 group',
 ['e', 'v'],
 [[0, 1], [1, 0]]) ,
 Group('V4_subgroup_2',
 'Subgroup of: Klein-4 group',
 ['e', 'h'],
 [[0, 1], [1, 0]]) ]

In [21]:
v4.unique_proper_subgroups()

[Group('V4_subgroup_0',
 'Subgroup of: Klein-4 group',
 ['e', 'r'],
 [[0, 1], [1, 0]]) ]

In [22]:
v4.is_normal(v4_subs[0])

True

### D4

In [23]:
d4.about()

Group: D_4
Dihedral group on four vertices
Abelian? False
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       r     r^3       4
      2     r^2     r^2       2
      3     r^3       r       4
      4       f       f       2
      5      fr      fr       2
      6    r^2f    r^2f       2
      7      rf      rf       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 6, 7, 4, 3, 0, 1, 2],
 [6, 7, 4, 5, 2, 3, 0, 1],
 [7, 4, 5, 6, 1, 2, 3, 0]]

In [24]:
len(d4.proper_subgroups())

8

In [25]:
d4_subs = d4.unique_proper_subgroups()
d4_subs

[Group('D_4_subgroup_0',
 'Subgroup of: Dihedral group on four vertices',
 ['e', 'fr'],
 [[0, 1], [1, 0]]) ,
 Group('D_4_subgroup_1',
 'Subgroup of: Dihedral group on four vertices',
 ['e', 'r^2', 'fr', 'rf'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]) ,
 Group('D_4_subgroup_7',
 'Subgroup of: Dihedral group on four vertices',
 ['e', 'r', 'r^2', 'r^3'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]) ]

The result below matches the comment in the last paragraph of this section:
https://en.wikipedia.org/wiki/Dihedral_group#Properties

In [26]:
[d4.is_normal(sub) for sub in d4_subs]

[False, True, True]

### V4

In [27]:
grp = v4
grp_subs = grp.proper_subgroups()
[grp.is_normal(sub) for sub in grp_subs]

[True, True, True]

### PS3

In [28]:
grp = ps3
grp_unique_subs = grp.unique_proper_subgroups()
[grp.is_normal(sub) for sub in grp_unique_subs]

[True, True]

### WORK IN PROGRESS

In [29]:
subs = grp.proper_subgroups()
iso_subs = alg.divide_groups_into_isomorphic_sets(subs)
elem_name_lists = [[g.elements for g in iso_sub] for iso_sub in iso_subs]
elem_name_lists

[[['{}', '{0, 1, 2}'],
  ['{}', '{1}'],
  ['{}', '{0}'],
  ['{}', '{0, 1}'],
  ['{}', '{2}'],
  ['{}', '{0, 2}'],
  ['{}', '{1, 2}']],
 [['{}', '{0, 1}', '{0, 2}', '{1, 2}'],
  ['{}', '{2}', '{0, 1}', '{0, 1, 2}'],
  ['{}', '{0}', '{1}', '{0, 1}'],
  ['{}', '{1}', '{0, 2}', '{0, 1, 2}'],
  ['{}', '{1}', '{2}', '{1, 2}'],
  ['{}', '{0}', '{2}', '{0, 2}'],
  ['{}', '{0}', '{1, 2}', '{0, 1, 2}']]]

In [30]:
def about_proper_subgroups2(grp, unique=False, show_elements=True):
    if unique:
        subs = grp.unique_proper_subgroups()
    else:
        subs = grp.proper_subgroups()
    print(f"\nSubgroups of {grp.name}:")
    for sub in subs:
        print(f"\n  {sub.name}:")
        print(f"       order: {sub.order}")
        if show_elements:
            print(f"    elements: {sub.elements}")
        print(f"    abelian?: {sub.is_abelian()}")
        print(f"     normal?: {grp.is_normal(sub)}")
    return None

In [31]:
def about_proper_subgroups3(grp, unique=False, show_elements=True):
    subs = grp.proper_subgroups()
    if unique:
        iso_subs = alg.divide_groups_into_isomorphic_sets(subs)
        elem_name_lists = [g.element_names for g in iso_subs[0]]
        elem_name_lists[1:]
    print(f"\nSubgroups of {grp.name}:")
    for sub in subs:
        print(f"\n  {sub.name}:")
        print(f"       order: {sub.order}")
        if show_elements:
            print(f"    elements: {sub.elements}")
        print(f"    abelian?: {sub.is_abelian()}")
        print(f"     normal?: {grp.is_normal(sub)}")
    return None

In [32]:
about_proper_subgroups2(ps3, unique=True)

Subgroups of PS3:

  PS3_subgroup_0:
       order: 2
    elements: ['{}', '{0, 1, 2}']
    abelian?: True
     normal?: True

  PS3_subgroup_1:
       order: 4
    elements: ['{}', '{0, 1}', '{0, 2}', '{1, 2}']
    abelian?: True
     normal?: True

In [33]:
ps3 = alg.generate_powerset_group(3)
ps3.set_elements(['e', 'a', 'b', 'c', 'd', 'f', 'g', 'h'])
ps3.about()

Group: PS3
Autogenerated group on the powerset of 3 elements, with symmetric difference operator
Abelian? True
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       a       a       2
      2       b       b       2
      3       c       c       2
      4       d       d       2
      5       f       f       2
      6       g       g       2
      7       h       h       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 0, 4, 5, 2, 3, 7, 6],
 [2, 4, 0, 6, 1, 7, 3, 5],
 [3, 5, 6, 0, 7, 1, 2, 4],
 [4, 2, 1, 7, 0, 6, 5, 3],
 [5, 3, 7, 1, 6, 0, 4, 2],
 [6, 7, 3, 2, 5, 4, 0, 1],
 [7, 6, 5, 4, 3, 2, 1, 0]]

In [34]:
ps3_subs = ps3.subgroups()

In [35]:
ps3_unique_subs = ps3.unique_proper_subgroups()

In [36]:
[ps3.is_normal(sub) for sub in ps3_unique_subs]

[True, True]

In [37]:
foo = [['e', 'v'], ['e', 'h'],['e', 'r']]

In [38]:
foo

[['e', 'v'], ['e', 'h'], ['e', 'r']]

In [39]:
foo.sort()

In [40]:
foo

[['e', 'h'], ['e', 'r'], ['e', 'v']]

In [41]:
sorted(v4_subs, key=lambda g: g.elements)

[Group('V4_subgroup_2',
 'Subgroup of: Klein-4 group',
 ['e', 'h'],
 [[0, 1], [1, 0]]) ,
 Group('V4_subgroup_0',
 'Subgroup of: Klein-4 group',
 ['e', 'r'],
 [[0, 1], [1, 0]]) ,
 Group('V4_subgroup_1',
 'Subgroup of: Klein-4 group',
 ['e', 'v'],
 [[0, 1], [1, 0]]) ]

In [42]:
elem_name_lists

[[['{}', '{0, 1, 2}'],
  ['{}', '{1}'],
  ['{}', '{0}'],
  ['{}', '{0, 1}'],
  ['{}', '{2}'],
  ['{}', '{0, 2}'],
  ['{}', '{1, 2}']],
 [['{}', '{0, 1}', '{0, 2}', '{1, 2}'],
  ['{}', '{2}', '{0, 1}', '{0, 1, 2}'],
  ['{}', '{0}', '{1}', '{0, 1}'],
  ['{}', '{1}', '{0, 2}', '{0, 1, 2}'],
  ['{}', '{1}', '{2}', '{1, 2}'],
  ['{}', '{0}', '{2}', '{0, 2}'],
  ['{}', '{0}', '{1, 2}', '{0, 1, 2}']]]

In [43]:
[f.elements for f in sorted(iso_subs[0], key=lambda g: g.elements)]

[['{}', '{0, 1, 2}'],
 ['{}', '{0, 1}'],
 ['{}', '{0, 2}'],
 ['{}', '{0}'],
 ['{}', '{1, 2}'],
 ['{}', '{1}'],
 ['{}', '{2}']]

In [44]:
ps3

Group('PS3',
'Autogenerated group on the powerset of 3 elements, with symmetric difference operator',
['e', 'a', 'b', 'c', 'd', 'f', 'g', 'h'],
[[0, 1, 2, 3, 4, 5, 6, 7], [1, 0, 4, 5, 2, 3, 7, 6], [2, 4, 0, 6, 1, 7, 3, 5], [3, 5, 6, 0, 7, 1, 2, 4], [4, 2, 1, 7, 0, 6, 5, 3], [5, 3, 7, 1, 6, 0, 4, 2], [6, 7, 3, 2, 5, 4, 0, 1], [7, 6, 5, 4, 3, 2, 1, 0]])

In [45]:
ps3.mult_table_with_names()

[['e', 'a', 'b', 'c', 'd', 'f', 'g', 'h'],
 ['a', 'e', 'd', 'f', 'b', 'c', 'h', 'g'],
 ['b', 'd', 'e', 'g', 'a', 'h', 'c', 'f'],
 ['c', 'f', 'g', 'e', 'h', 'a', 'b', 'd'],
 ['d', 'b', 'a', 'h', 'e', 'g', 'f', 'c'],
 ['f', 'c', 'h', 'a', 'g', 'e', 'd', 'b'],
 ['g', 'h', 'c', 'b', 'f', 'd', 'e', 'a'],
 ['h', 'g', 'f', 'd', 'c', 'b', 'a', 'e']]

In [52]:
ps3 = alg.generate_powerset_group(3)

In [59]:
new_grp_elems = ['e', 'a', 'b', 'c', 'd', 'f', 'g', 'h']
sub_elems = ['{}', '{0, 1}', '{0, 2}', '{1, 2}']

mapping = dict(zip(ps3.elements, new_grp_elems))
print(mapping)
new_test = [mapping[x] for x in sub_elems]
new_test

{'{}': 'e', '{0}': 'a', '{1}': 'b', '{2}': 'c', '{0, 1}': 'd', '{0, 2}': 'f', '{1, 2}': 'g', '{0, 1, 2}': 'h'}

['e', 'd', 'f', 'g']

In [ ]:
def set_elements(grp, new_element_name_list):
    n = len(new_element_name_list)
    if all(isinstance(elem, str) for elem in new_element_name_list):
        if grp.order == n:
            grp.__element_names = new_element_name_list
            self.__inverse_lookup_dict = self.__make_inverse_lookup_dict()  # Recalculate element inverses
            self.__element_orders = {elem: None for elem in self.__element_names}  # Clear cached elem orders
            return self
        else:
            raise Exception(f"The input list has {n} items, but there should be {self.order} items.")
    else:
        raise Exception("All element names should be strings.")