# Generate Alternating Groups

In [1]:
# import itertools as it
# from permutations import Perm
# from finite_algebras import make_finite_algebra, index_table_from_name_table, InfixNotation, generate_symmetric_group
from finite_algebras import *

def generate_symmetric_group(n, name=None, description=None, alternating=False):
    """Generates a symmetric group on n elements."""
    if alternating:
        txt = ["A", "alternating"]
    else:
        txt = ["S", "symmetric"]
    if name:
        nm = name
    else:
        nm = txt[0] + str(n)
    if description:
        desc = description
    else:
        desc = f"Autogenerated {txt[1]} Group on {n} elements"
    ident = tuple(range(n))
    mappings = list(it.permutations(ident))
    perms = map(lambda x: Perm(x), mappings)
    if alternating:
        elem_dict = {str(p): p for p in perms if p.is_even}
        # elem_dict = {str(p): Perm(p) for p in perms if Perm(p).is_even}
    else:
        elem_dict = {str(p): p for p in perms}
        # elem_dict = {str(p): Perm(p) for p in perms}
    rev_elem_dict = {val: key for key, val in elem_dict.items()}
    mul_tbl = [[rev_elem_dict[elem_dict[a] * elem_dict[b]]
                for b in elem_dict]
               for a in elem_dict]
    index_table = index_table_from_name_table(list(elem_dict.keys()), mul_tbl)
    return make_finite_algebra(nm, desc, list(elem_dict.keys()), index_table)

In [2]:
a4 = generate_symmetric_group(4, alternating=True)
a4.about()

** Group **
Name: A4
Instance ID: 4699295424
Description: Autogenerated alternating Group on 4 elements
Order: 12
Identity: '(0, 1, 2, 3)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(0, 1, 2, 3)' '(0, 1, 2, 3)'       1
      1 '(0, 2, 3, 1)' '(0, 3, 1, 2)'       3
      2 '(0, 3, 1, 2)' '(0, 2, 3, 1)'       3
      3 '(1, 0, 3, 2)' '(1, 0, 3, 2)'       2
      4 '(1, 2, 0, 3)' '(2, 0, 1, 3)'       3
      5 '(1, 3, 2, 0)' '(3, 0, 2, 1)'       3
      6 '(2, 0, 1, 3)' '(1, 2, 0, 3)'       3
      7 '(2, 1, 3, 0)' '(3, 1, 0, 2)'       3
      8 '(2, 3, 0, 1)' '(2, 3, 0, 1)'       2
      9 '(3, 0, 2, 1)' '(1, 3, 2, 0)'       3
     10 '(3, 1, 0, 2)' '(2, 1, 3, 0)'       3
     11 '(3, 2, 1, 0)' '(3, 2, 1, 0)'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 8, 7, 9, 11, 10, 3, 4, 5],
 [2, 0, 1, 9, 10, 11, 3, 5, 4, 6, 8, 7],
 [3, 5, 4, 0, 2, 1, 10, 9, 11, 7, 6, 8],
 [4, 3, 5, 7, 6, 8, 0, 1, 2, 10, 11, 9],
 [5, 4, 3, 10, 11, 9, 7, 8, 6, 0, 2, 1],
 [6, 7, 8, 1, 0, 2, 4, 3, 5, 11, 9, 10],
 [7, 8, 6, 4, 5, 3, 11, 10, 9, 1, 0, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 11, 10, 2, 1, 0, 8, 6, 7, 5, 3, 4],
 [10, 9, 11, 5, 3, 4, 2, 0, 1, 8, 7, 6],
 [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]]

'<Group:A4, ID:4699295424>'

In [3]:
a4.element_order('(2, 3, 0, 1)')

2

In [4]:
a4.op('(2, 3, 0, 1)', '(2, 3, 0, 1)')

'(0, 1, 2, 3)'

In [5]:
s4 = generate_symmetric_group(4)
s4.about()

** Group **
Name: S4
Instance ID: 4698880144
Description: Autogenerated symmetric Group on 4 elements
Order: 24
Identity: '(0, 1, 2, 3)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(0, 1, 2, 3)' '(0, 1, 2, 3)'       1
      1 '(0, 1, 3, 2)' '(0, 1, 3, 2)'       2
      2 '(0, 2, 1, 3)' '(0, 2, 1, 3)'       2
      3 '(0, 2, 3, 1)' '(0, 3, 1, 2)'       3
      4 '(0, 3, 1, 2)' '(0, 2, 3, 1)'       3
      5 '(0, 3, 2, 1)' '(0, 3, 2, 1)'       2
      6 '(1, 0, 2, 3)' '(1, 0, 2, 3)'       2
      7 '(1, 0, 3, 2)' '(1, 0, 3, 2)'       2
      8 '(1, 2, 0, 3)' '(2, 0, 1, 3)'       3
      9 '(1, 2, 3, 0)' '(3, 0, 1, 2)'       4
     10 '(1, 3, 0, 2)' '(2, 0, 3, 1)'       4
     11 '(1, 3, 2, 0)' '(3, 0, 2, 1)'       3
     12 '(2, 0, 1, 3)' '(1, 2, 0, 3)'       3
     13 '(2, 0, 3, 1)' '(1, 3, 0, 2)'       4
     14 '(2, 1, 0, 3)' '(2, 1, 0, 3)'       2
     15 '(2, 1, 3, 0)' '(3, 1, 0, 2)'       3
     16 '(2, 3, 0, 1)' '(2, 3, 0, 1)'       2
     17 '(2, 3, 1, 0)' '(3, 2, 0, 1)'       4
     18 '(3, 0, 1, 2)' '(1, 2, 3, 0)'       4
     19 '(3, 0, 2, 1)' '(1, 3, 2, 0)'       3
     20 '(3, 1, 0, 2)' '(2, 1, 3, 0)'       3
     21 '(3, 1, 2, 0)' '(3, 1, 2, 0)'       2
     22 '(3, 2, 0, 1)' '(2, 3, 1, 0)'       4
     23 '(3, 2, 1, 0)' '(3, 2, 1, 0)'       2
Group order is 24 > 12, so no table is printed.

'<Group:S4, ID:4698880144>'

In [6]:
c5 = generate_cyclic_group(5)
c5.about()

** Group **
Name: Z5
Instance ID: 4698880464
Description: Autogenerated cyclic Group of order 5
Order: 5
Identity: '0'
Commutative? Yes
Cyclic?: Yes
Generators: ['2', '1', '4', '3']
Elements:
   Index   Name   Inverse  Order
      0     '0'     '0'       1
      1     '1'     '4'       5
      2     '2'     '3'       5
      3     '3'     '2'       5
      4     '4'     '1'       5
Cayley Table (showing indices):
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 3, 4, 0, 1],
 [3, 4, 0, 1, 2],
 [4, 0, 1, 2, 3]]

'<Group:Z5, ID:4698880464>'

According to the calculation below, the **order** of the element, ``'2'``, is 5, but instead it gets computed in the *about* listing, above, as 0.

In [7]:
with InfixNotation(c5) as A:
    print(A['2'] ** 5)

0

def element_order_NEW(alg, element):
    """Returns the order of the given element within the algebra."""

    def order_aux(elem, prod, order):
        if prod == alg.identity:
            return order
        else:
            return order_aux(elem, alg.op(prod, elem), order + 1)
    
    if alg._element_orders[element] is None:  # If not cached yet...
        alg._element_orders[element] = order_aux(element, element, 1)
    return alg._element_orders[element]

In [ ]:
element_order_NEW(c5, '2')