# Element Class

Exploring ways to turn elements from string names into objects that can be added/multiplied.

In [27]:
from finite_algebras import *

In [76]:
s3 = generate_symmetric_group(3)
s3.about(use_table_names=True)

** Group **
Name: S3
Instance ID: 4940930384
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: '(1, 2, 3)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(1, 2, 3)' '(1, 2, 3)'       1
      1 '(1, 3, 2)' '(1, 3, 2)'       2
      2 '(2, 1, 3)' '(2, 1, 3)'       2
      3 '(2, 3, 1)' '(3, 1, 2)'       3
      4 '(3, 1, 2)' '(2, 3, 1)'       3
      5 '(3, 2, 1)' '(3, 2, 1)'       2
Cayley Table (showing names):
[['(1, 2, 3)', '(1, 3, 2)', '(2, 1, 3)', '(2, 3, 1)', '(3, 1, 2)', '(3, 2, 1)'],
 ['(1, 3, 2)', '(1, 2, 3)', '(3, 1, 2)', '(3, 2, 1)', '(2, 1, 3)', '(2, 3, 1)'],
 ['(2, 1, 3)', '(2, 3, 1)', '(1, 2, 3)', '(1, 3, 2)', '(3, 2, 1)', '(3, 1, 2)'],
 ['(2, 3, 1)', '(2, 1, 3)', '(3, 2, 1)', '(3, 1, 2)', '(1, 2, 3)', '(1, 3, 2)'],
 ['(3, 1, 2)', '(3, 2, 1)', '(1, 3, 2)', '(1, 2, 3)', '(2, 3, 1)', '(2, 1, 3)'],
 ['(3, 2, 1)', '(3, 1, 2)', '(2, 3, 1)', '(2, 1, 3)', '(1, 3, 2)', '(1, 2, 3)']]

In [77]:
m5 = generate_commutative_monoid(5)
m5.about(use_table_names=True)

** Monoid **
Name: M5
Instance ID: 4846957328
Description: Autogenerated commutative Monoid of order 5
Order: 5
Identity: a1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['a0', 'a1', 'a2', 'a3', 'a4']
Has Inverses? No
Cayley Table (showing names):
[['a0', 'a0', 'a0', 'a0', 'a0'],
 ['a0', 'a1', 'a2', 'a3', 'a4'],
 ['a0', 'a2', 'a4', 'a1', 'a3'],
 ['a0', 'a3', 'a1', 'a4', 'a2'],
 ['a0', 'a4', 'a3', 'a2', 'a1']]

In [139]:
class Element():
    
    def __init__(self, name, algebra):
        
        self.__can_add = False
        self.__can_subtract = False
        self.__can_multiply = False
        self.__can_divide = False
        
        if isinstance(algebra, FiniteAlgebra):
            self.__algebra = algebra
            self.__can_add = True
            self.__can_subtract = self.__algebra.has_inverses()
            if isinstance(algebra, Ring):
                self.__can_multiply = True
                mult_alg = self.__algebra.mult_abelian_subgroup()
                if mult_alg.has_inverses():
                    self.__can_divide = True
        else:
            raise ValueError(f"algebra must be a FiniteAlgebra")
            
        if isinstance(name, str):
            if name in self.__algebra:
                self.__name = name
            else:
                raise ValueError(f"name must be an element of algebra")
        else:
            raise ValueError(f"name must be a string")

    @property
    def name(self):
        return self.__name
    
    @property
    def algebra(self):
        return self.__algebra
    
    @property
    def can_add(self):
        return True
    
    @property
    def can_subtract(self):
        return self.__can_subtract
    
    @property
    def can_multiply(self):
        return self.__can_multiply
    
    @property
    def can_divide(self):
        return self.__can_divide
    
    def __str__(self):
        return self.__name
    
    def __repr__(self):
        return repr(self.__name)
    
    def __add__(self, other):
        elem = self.__algebra.op(self.__name, other.name)
        return Element(elem, self.__algebra)
    
    def __sub__(self, other):
        if self.__can_subtract:
            elem = self.__algebra.sub(self.__name, other.name)
            return Element(elem, self.__algebra)
        else:
            raise ValueError(f"{self.__algebra.name} does not support subtraction")
            
    def __mul__(self, other):
        if self.__can_multiply:
            elem = self.__algebra.mult(self.__name, other.name)
            return Element(elem, self.__algebra)
        else:
            raise ValueError(f"{self.__algebra.name} does not support multiplication")
    
    def __truediv__(self, other):
        if self.__can_divide:
            elem = self.__algebra.mult(self.__name, other.name)
            return Element(elem, self.__algebra)
        else:
            raise ValueError(f"{self.__algebra.name} does not support multiplication")

In [140]:
a1 = Element('(2, 1, 3)', s3)
a1

'(2, 1, 3)'

In [141]:
elem = a1
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
True
False
False

In [142]:
a2 = Element('(3, 2, 1)', s3)
a2

'(3, 2, 1)'

In [143]:
a1 + a2

'(3, 1, 2)'

In [144]:
(a2 - a1) + a1 == a2

False

In [145]:
b2 = Element('a2', m5)
b3 = Element('a3', m5)

In [146]:
elem = b2
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
False
False
False

In [147]:
b2 + b3

'a1'

In [148]:
try:
    print(b2 - b3)
except Exception as exc:
    print(exc)

M5 does not support subtraction

In [149]:
tuple([[1, 2], [3, 4]])

([1, 2], [3, 4])

In [150]:
f5 = generate_algebra_mod_n(5)
f5.about()

** Field **
Name: F5
Instance ID: 4949197584
Description: Autogenerated Field of integers mod 5
Order: 5
Identity: 'a0'
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a2', 'a3', 'a4']
Elements:
   Index   Name   Inverse  Order
      0    'a0'    'a0'       1
      1    'a1'    'a4'       5
      2    'a2'    'a3'       5
      3    'a3'    'a2'       5
      4    'a4'    'a1'       5
Cayley Table (showing indices):
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 3, 4, 0, 1],
 [3, 4, 0, 1, 2],
 [4, 0, 1, 2, 3]]
Mult. Identity: 'a1'
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 1, 3],
 [0, 3, 1, 4, 2],
 [0, 4, 3, 2, 1]]

In [151]:
g0 = Element('a0', f5)
g1 = Element('a2', f5)
g2 = Element('a3', f5)

In [152]:
elem = g1
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
True
True
True

In [156]:
print(g1 + g2)
print(g1 - g2)
print(g1 * g2)
print(g1 / g2)

a0
a4
a1
a1

In [154]:
f5m = f5.mult_abelian_subgroup()
f5m.about()

** Group **
Name: F5_G
Instance ID: 4949222736
Description: Multiplicative abelian Group of F5
Order: 4
Identity: 'a1'
Commutative? Yes
Cyclic?: Yes
  Generators: ['a2', 'a3']
Elements:
   Index   Name   Inverse  Order
      0    'a1'    'a1'       1
      1    'a2'    'a3'       4
      2    'a3'    'a2'       4
      3    'a4'    'a4'       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 3, 0, 2], [2, 0, 3, 1], [3, 2, 1, 0]]

In [157]:
r6 = generate_algebra_mod_n(6)
r6.about()

** Ring **
Name: R6
Instance ID: 4948784080
Description: Autogenerated Ring of integers mod 6
Order: 6
Identity: 'a0'
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a5']
Elements:
   Index   Name   Inverse  Order
      0    'a0'    'a0'       1
      1    'a1'    'a5'       6
      2    'a2'    'a4'       3
      3    'a3'    'a3'       2
      4    'a4'    'a2'       3
      5    'a5'    'a1'       6
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 0],
 [2, 3, 4, 5, 0, 1],
 [3, 4, 5, 0, 1, 2],
 [4, 5, 0, 1, 2, 3],
 [5, 0, 1, 2, 3, 4]]
Mult. Identity: 'a1'
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5],
 [0, 2, 4, 0, 2, 4],
 [0, 3, 0, 3, 0, 3],
 [0, 4, 2, 0, 4, 2],
 [0, 5, 4, 3, 2, 1]]

In [158]:
h0 = Element('a0', f5)
h1 = Element('a2', f5)
h2 = Element('a3', f5)

In [159]:
elem = h1
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
True
True
True

In [160]:
h1 / h2

'a1'

In [ ]:
r6.