# Scratchwork 2

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

In [4]:
mag_id = ex[10]
mag_id.about(use_table_names=True)

** Magma **
Name: mag_id
Instance ID: 5688589392
Description: Magma with Identity
Order: 3
Identity: e
Associative? No
Commutative? No
Cyclic?: Yes
Generators: ['b']
Elements: ('e', 'a', 'b')
Has Inverses? No
Cayley Table (showing names):
[['e', 'a', 'b'], ['a', 'e', 'a'], ['b', 'b', 'a']]

### The Center of a Magma

In [5]:
mag_id.center()

['e']

### Taking an Element to a Power

In the examples here, $b^3$ is computed for the "Magma with identity".

Because Magmas are non-associative, it matters whether the powers are associated from the left or right. Both choices are illustrated below.

In [6]:
print("\nUsing Left Associativity (the default):")
print(f"b^3 = {mag_id.element_to_power('b', 3)}")
print(f"(b * b) * b = {mag_id.op(mag_id.op('b', 'b'), 'b')}")

print("\nUsing Right Associativity:")
print(f"b^3 = {mag_id.element_to_power('b', 3, left_associative=False)}")
print(f"b * (b * b) = {mag_id.op('b', mag_id.op('b', 'b'))}")

Using Left Associativity (the default):
b^3 = a
(b * b) * b = a

Using Right Associativity:
b^3 = b
b * (b * b) = b

In [7]:
try:
    print(mag_id.element_to_power('a', -1))
except Exception as exc:
    print(exc)

Error: n = -1. But, mag_id does not have inverses.

In [8]:
mag_id.element_to_power('a', 0)

'e'

In [9]:
rps = ex[4]  # Rock-Paper-Scissors

try:
    print(rps.element_to_power('r', 0))
except Exception as exc:
    print(exc)

Error: n = 0. RPS does not have an identity element.

In [10]:
z5 = generate_cyclic_group(5, 'a')
z5.about(use_table_names=True)

** Group **
Name: Z5
Instance ID: 5205660336
Description: Autogenerated cyclic Group of order 5
Order: 5
Identity: 'a0'
Commutative? Yes
Cyclic?: Yes
Generators: ['a2', 'a1', 'a3', 'a4']
Elements:
   Index   Name   Inverse  Order
      0    'a0'    'a0'       1
      1    'a1'    'a4'       5
      2    'a2'    'a3'       5
      3    'a3'    'a2'       5
      4    'a4'    'a1'       5
Cayley Table (showing names):
[['a0', 'a1', 'a2', 'a3', 'a4'],
 ['a1', 'a2', 'a3', 'a4', 'a0'],
 ['a2', 'a3', 'a4', 'a0', 'a1'],
 ['a3', 'a4', 'a0', 'a1', 'a2'],
 ['a4', 'a0', 'a1', 'a2', 'a3']]

'<Group:Z5, ID:5205660336>'

In [11]:
z5.element_to_power('a1', 3)

'a3'

In [12]:
z5.element_to_power('a1', -3)

'a2'

In [13]:
z5.element_to_power('a1', 60)  # Equals a0, since 60 mod 5 = 0

'a0'

### Moving on...

In [14]:
n12 = generate_algebra_mod_n(12, "a")
n12.about()

** Ring **
Name: R12
Instance ID: 5688590032
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: 'a00'
Commutative? Yes
Cyclic?: Yes
Generators: ['a07', 'a01', 'a05', 'a11']
Elements:
   Index   Name   Inverse  Order
      0   'a00'   'a00'       1
      1   'a01'   'a11'      12
      2   'a02'   'a10'       6
      3   'a03'   'a09'       4
      4   'a04'   'a08'       3
      5   'a05'   'a07'      12
      6   'a06'   'a06'       2
      7   'a07'   'a05'      12
      8   'a08'   'a04'       3
      9   'a09'   'a03'       4
     10   'a10'   'a02'       6
     11   'a11'   'a01'      12
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
Mult. Identity: 'a01'
Mult. Commutative? Yes
Zero Divisors: ['a02', 'a03', 'a04', 'a06', 'a08', 'a09', 'a10']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10],
 [0, 3, 6, 9, 0, 3, 6, 9, 0, 3, 6, 9],
 [0, 4, 8, 0, 4, 8, 0, 4, 8, 0, 4, 8],
 [0, 5, 10, 3, 8, 1, 6, 11, 4, 9, 2, 7],
 [0, 6, 0, 6, 0, 6, 0, 6, 0, 6, 0, 6],
 [0, 7, 2, 9, 4, 11, 6, 1, 8, 3, 10, 5],
 [0, 8, 4, 0, 8, 4, 0, 8, 4, 0, 8, 4],
 [0, 9, 6, 3, 0, 9, 6, 3, 0, 9, 6, 3],
 [0, 10, 8, 6, 4, 2, 0, 10, 8, 6, 4, 2],
 [0, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [15]:
parts12 = about_subalgebras(n12)

Subalgebras of <Ring:R12, ID:5688590032>
  There are 4 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Ring of order 6 with identity 'a00':
      Ring: R12_subalgebra_0: ('a00', 'a02', 'a04', 'a06', 'a08', 'a10')

1 Commutative Normal Field of order 3 with identity 'a00':
      Field: R12_subalgebra_1: ('a00', 'a04', 'a08')

1 Commutative Normal Ring of order 4 with identity 'a00':
      Ring: R12_subalgebra_2: ('a00', 'a03', 'a06', 'a09')

1 Commutative Normal Ring of order 2 with identity 'a00':
      Ring: R12_subalgebra_3: ('a00', 'a06')

In [16]:
n11 = generate_algebra_mod_n(11, "c")
n11.about()

** Field **
Name: F11
Instance ID: 5688796448
Description: Autogenerated Field of integers mod 11
Order: 11
Identity: 'c00'
Commutative? Yes
Cyclic?: Yes
Generators: ['c05', 'c03', 'c09', 'c08', 'c01', 'c10', 'c07', 'c02', 'c04', 'c06']
Elements:
   Index   Name   Inverse  Order
      0   'c00'   'c00'       1
      1   'c01'   'c10'      11
      2   'c02'   'c09'      11
      3   'c03'   'c08'      11
      4   'c04'   'c07'      11
      5   'c05'   'c06'      11
      6   'c06'   'c05'      11
      7   'c07'   'c04'      11
      8   'c08'   'c03'      11
      9   'c09'   'c02'      11
     10   'c10'   'c01'      11
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
Mult. Identity: 'c01'
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9],
 [0, 3, 6, 9, 1, 4, 7, 10, 2, 5, 8],
 [0, 4, 8, 1, 5, 9, 2, 6, 10, 3, 7],
 [0, 5, 10, 4, 9, 3, 8, 2, 7, 1, 6],
 [0, 6, 1, 7, 2, 8, 3, 9, 4, 10, 5],
 [0, 7, 3, 10, 6, 2, 9, 5, 1, 8, 4],
 [0, 8, 5, 2, 10, 7, 4, 1, 9, 6, 3],
 [0, 9, 7, 5, 3, 1, 10, 8, 6, 4, 2],
 [0, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [17]:
parts11 = about_subalgebras(n11)

There are no proper subalgebras.

## Generators

In [18]:
n = 12
alg = generate_cyclic_group(n, "a")
alg_gens = alg.generators()
print(alg.name + " generators:")
print(alg_gens)
print(f"There are {len(alg_gens)} generators.")

Z12 generators:
['a1', 'a5', 'a7', 'a11']
There are 4 generators.

In [19]:
n = 11
alg = generate_cyclic_group(n, "c")
alg_gens = alg.generators()
print(alg.name + " generators:")
print(alg_gens)
print(f"There are {len(alg_gens)} generators.")

Z11 generators:
['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']
There are 10 generators.

In [20]:
alg.is_cyclic()

['c3', 'c4', 'c1', 'c5', 'c6', 'c10', 'c9', 'c2', 'c7', 'c8']

In [29]:
for alg in ex:
    # Returns the generators, or if None, then returns False
    print(f"\n{alg.name} is cyclic? {alg.is_cyclic()}")

A4 is cyclic? False

D3 is cyclic? False

D4 is cyclic? False

Pinter29 is cyclic? False

RPS is cyclic? False

S3 is cyclic? False

S3X is cyclic? False

V4 is cyclic? False

Z4 is cyclic? ['a^3', 'a']

F4 is cyclic? ['1+a', 'a']

mag_id is cyclic? ['b']

Example 1.4.1 is cyclic? False

Ex6 is cyclic? False

Q8 is cyclic? False

SD16 is cyclic? False

A5 is cyclic? False

F2 is cyclic? ['1']

In [30]:
z5 = generate_cyclic_group(5, "a")
print(z5)
print(f"Generators: {z5.is_cyclic()}")

<Group:Z5, ID:5689740816>
Generators: ['a2', 'a1', 'a3', 'a4']

In [31]:
z5_sqr = z5 * z5
print(z5_sqr)
print(f"{z5_sqr.is_cyclic() = }")

<Group:Z5_x_Z5, ID:5689455664>
z5_sqr.is_cyclic() = False

In [32]:
mag_id = ex[10]
mag_id.about(use_table_names=True)

** Magma **
Name: mag_id
Instance ID: 5688589392
Description: Magma with Identity
Order: 3
Identity: e
Associative? No
Commutative? No
Cyclic?: Yes
Generators: ['b']
Elements: ('e', 'a', 'b')
Has Inverses? No
Cayley Table (showing names):
[['e', 'a', 'b'], ['a', 'e', 'a'], ['b', 'b', 'a']]

In [33]:
mag_id.is_cyclic()

['b']

## Center of a Group

In [34]:
q8 = ex[13]
q8.about()

** Group **
Name: Q8
Instance ID: 5205288272
Description: Quaternion Group
Order: 8
Identity: '1'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     '1'     '1'       1
      1     'i'    '-i'       4
      2    '-1'    '-1'       2
      3    '-i'     'i'       4
      4     'j'    '-j'       4
      5     'k'    '-k'       4
      6    '-j'     'j'       4
      7    '-k'     'k'       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 2, 3, 0, 1],
 [5, 6, 7, 4, 1, 2, 3, 0],
 [6, 7, 4, 5, 0, 1, 2, 3],
 [7, 4, 5, 6, 3, 0, 1, 2]]

'<Group:Q8, ID:5205288272>'

In [35]:
q8_ctr = q8.center_algebra()
q8_ctr.about()

** Group **
Name: Q8_CENTER
Instance ID: 5689738736
Description: Center of Q8
Order: 2
Identity: '1'
Commutative? Yes
Cyclic?: Yes
Generators: ['-1']
Elements:
   Index   Name   Inverse  Order
      0     '1'     '1'       1
      1    '-1'    '-1'       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

'<Group:Q8_CENTER, ID:5689738736>'

In [36]:
sd16 = ex[14]
sd16.about(max_size=16)

** Group **
Name: SD16
Instance ID: 5689091536
Description: Semidihedral group of order 16
Order: 16
Identity: 'e'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1     't'     't'       2
      2     's' 'ts^2ts'       8
      3    'st' 's^2ts'       4
      4   's^2' 'ts^2t'       4
      5  's^2t'  's^2t'       2
      6   'tst' 'tsts^2'       8
      7    'ts' 'sts^2'       4
      8  'tsts'  'tsts'       2
      9   'sts'   'sts'       2
     10 'tsts^2'   'tst'       8
     11 's^2ts'    'st'       4
     12 'ts^2t'   's^2'       4
     13  'ts^2'  'ts^2'       2
     14 'ts^2ts'     's'       8
     15 'sts^2'    'ts'       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1],
 [3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3],
 [5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5],
 [7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0],
 [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2],
 [10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4],
 [12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6],
 [14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8]]

'<Group:SD16, ID:5689091536>'

In [37]:
sd16_ctr = sd16.center_algebra()
sd16_ctr.about()

** Group **
Name: SD16_CENTER
Instance ID: 5689737296
Description: Center of SD16
Order: 2
Identity: 'e'
Commutative? Yes
Cyclic?: Yes
Generators: ['tsts']
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1  'tsts'  'tsts'       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

'<Group:SD16_CENTER, ID:5689737296>'

In [38]:
ex141 = ex[11]
ex141.about()

** Semigroup **
Name: Example 1.4.1
Instance ID: 5689103024
Description: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 6
Identity: None
Associative? Yes
Commutative? No
Cyclic?: No
Elements: ('a', 'b', 'c', 'd', 'e', 'f')
Has Inverses? No
Cayley Table (showing indices):
[[0, 3, 0, 3, 0, 3],
 [1, 4, 1, 4, 1, 4],
 [2, 5, 2, 5, 2, 5],
 [3, 0, 3, 0, 3, 0],
 [4, 1, 4, 1, 4, 1],
 [5, 2, 5, 2, 5, 2]]

In [39]:
ex141.center_algebra(verbose=True)

<Semigroup:Example 1.4.1, ID:5689103024> does not have a Center.

In [42]:
for x in ex:
    xctr = x.center()
    print(f"{x.__class__.__name__}: {x.name}, {xctr}")

Group: A4, ['()']
Group: D3, ['e']
Group: D4, ['e', 'r^2']
Group: Pinter29, ['I']
Magma: RPS, ['r', 'p', 's']
Group: S3, ['e']
Group: S3X, ['()']
Group: V4, ['e', 'h', 'v', 'r']
Group: Z4, ['e', 'a', 'a^2', 'a^3']
Field: F4, ['0', '1', 'a', '1+a']
Magma: mag_id, ['e']
Semigroup: Example 1.4.1, []
Ring: Ex6, ['0', 'a', 'b', 'c']
Group: Q8, ['1', '-1']
Group: SD16, ['e', 'tsts']
Group: A5, ['()']
Field: F2, ['0', '1']

## Cancellation

A Magma, $M = \langle S, \circ \rangle$ is a **division Magma** if $\forall a,b \in S, \exists x,y \in S$ such that $a \circ x = b$ and $y \circ a = b$.

In [34]:
# ex.about()

In [35]:
alg = ex[10]
alg.about()

** Magma **
Name: mag_id
Instance ID: 5695962832
Description: Magma with Identity
Order: 3
Identity: e
Associative? No
Commutative? No
Cyclic?: Yes
Generators: ['b']
Elements: ('e', 'a', 'b')
Has Inverses? No
Cayley Table (showing indices):
[[0, 1, 2], [1, 0, 1], [2, 2, 1]]

In [44]:
import itertools as it

print(f"\n{alg}\n")

for ab in it.product(alg.elements, alg.elements):
    ab_ok = False
    for xy in it.product(alg.elements, alg.elements):
        a = ab[0]; b = ab[1]; x = xy[0]; y = xy[1]
        if alg.op(a, x) == b and alg.op(y, a) == b:
            print(f"{ab} & {xy}")
            ab_ok = True
            break
    if not ab_ok:
        print(f"{ab} fail")

<Field:F2, ID:5688589712>

('0', '0') & ('0', '0')
('0', '1') & ('1', '1')
('1', '0') & ('1', '1')
('1', '1') & ('0', '0')

In [45]:
import itertools as it

def is_division_algebra(alg, verbose=False):
    if verbose:
        print(f"\n{alg}\n")
    result = True
    for ab in it.product(alg.elements, alg.elements):
        ab_ok = False
        for xy in it.product(alg.elements, alg.elements):
            a = ab[0]; b = ab[1]; x = xy[0]; y = xy[1]
            if alg.op(a, x) == b and alg.op(y, a) == b:
                if verbose:
                    print(f"{ab} & {xy}")
                ab_ok = True
                break
        if not ab_ok:
            result = False
            if verbose:
                print(f"{ab} fail")
    return result

In [46]:
is_division_algebra(ex[4], verbose=True)

<Magma:RPS, ID:5689101344>

('r', 'r') & ('r', 'r')
('r', 'p') & ('p', 'p')
('r', 's') fail
('p', 'r') fail
('p', 'p') & ('r', 'r')
('p', 's') & ('s', 's')
('s', 'r') & ('r', 'r')
('s', 'p') fail
('s', 's') & ('p', 'p')

False

In [39]:
for alg in ex:
    print(f"{alg.name}? {yes_or_no(is_division_algebra(alg))}")

A4? Yes
D3? Yes
D4? Yes
Pinter29? Yes
RPS? No
S3? Yes
S3X? Yes
V4? Yes
Z4? Yes
F4? Yes
mag_id? No
Example 1.4.1? No
Ex6? Yes
Q8? Yes
SD16? Yes
A5? Yes
F2? Yes

In [40]:
ex.about()

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

## Regularity in Semigroups

See the paper by John Howie (ref below)

A Semigroup, $\langle S, \circ \rangle$ is **regular** if $\forall a \in S, \exists x \in S$ such that $a \circ x \circ a = a$.

In [41]:
alg = ex[1]
alg.about()

** Group **
Name: D3
Instance ID: 4816714832
Description: https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
Order: 6
Identity: 'e'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1     'a'     'a'       2
      2     'b'     'b'       2
      3   'aba'   'aba'       2
      4    'ab'    'ba'       3
      5    'ba'    'ab'       3
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 5, 0, 4, 3, 1],
 [3, 4, 5, 0, 1, 2],
 [4, 3, 1, 2, 5, 0],
 [5, 2, 3, 1, 0, 4]]

'<Group:D3, ID:4816714832>'

In [42]:
a = alg.elements[4]
print(f"a = {a}")
print(f"a_inv = {alg.inv(a)}")

[x for x in alg if alg.op(alg.op(a, x), a) == a]
print([alg.op(alg.op(a, x), a) == a for x in alg])
any([alg.op(alg.op(a, x), a) == a for x in alg])

a = ab
a_inv = ba
[False, False, False, False, False, True]

True

def is_regular(alg):
    return all([any([alg.op(alg.op(a, x), a) == a for x in alg]) for a in alg])

In [43]:
for alg in ex:
    #print(alg.name, all([any([alg.op(alg.op(a, x), a) == a for x in alg]) for a in alg]))
    if isinstance(alg, Semigroup):
        print(alg.name, alg.is_regular())

A4 True
D3 True
D4 True
Pinter29 True
S3 True
S3X True
V4 True
Z4 True
F4 True
Example 1.4.1 True
Ex6 True
Q8 True
SD16 True
A5 True
F2 True

In [44]:
alg = generate_commutative_monoid(8)
alg.about()

** Monoid **
Name: M8
Instance ID: 4387221264
Description: Autogenerated commutative Monoid of order 8
Order: 8
Identity: a1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ('a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7')
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 2, 4, 6, 0, 2, 4, 6],
 [0, 3, 6, 1, 4, 7, 2, 5],
 [0, 4, 0, 4, 0, 4, 0, 4],
 [0, 5, 2, 7, 4, 1, 6, 3],
 [0, 6, 4, 2, 0, 6, 4, 2],
 [0, 7, 6, 5, 4, 3, 2, 1]]

def weak_inverses(alg):
    return {a:[x for x in alg if alg.op(alg.op(a, x), a) == a] for a in alg}

In [45]:
alg.is_regular()

False

In [46]:
alg.weak_inverses()

{'a0': ['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7'],
 'a1': ['a1'],
 'a2': [],
 'a3': ['a3'],
 'a4': [],
 'a5': ['a5'],
 'a6': [],
 'a7': ['a7']}

In [47]:
[i for i in range(1, 50) if not generate_commutative_monoid(i).is_regular()]

[4, 8, 9, 12, 16, 18, 20, 24, 25, 27, 28, 32, 36, 40, 44, 45, 48, 49]

What is the pattern here w.r.t. non-regular Monoid orders?

[i for i in range(1, 50) if not generate_commutative_monoid(i).is_regular()]

[4, 8, 9, 12, 16, 18, 20, 24, 25, 27, 28, 32, 36, 40, 44, 45, 48, 49]

See https://en.wikipedia.org/wiki/Cancellation_property

and https://math.stackexchange.com/questions/4008196/defining-loops-why-is-divisibility-and-identitiy-implying-invertibility

and ["Why Study Semigroups?" by John M. Howie](http://www.thebookshelf.auckland.ac.nz/docs/Maths/PDF2/mathschron016-001.pdf)