# Scratchwork 1 - Subalgebras

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  16 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
======================================================================

## Subalgebras of a Semigroup

In [33]:
sg = ex[11]
sg.about()

** Semigroup **
Name: Example 1.4.1
Instance ID: 140644887222352
Description: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 6
Identity: None
Associative? Yes
Commutative? No
Cyclic?: No
Elements: ['a', 'b', 'c', 'd', 'e', 'f']
Has Inverses? No
Cayley Table (showing indices):
[[0, 3, 0, 3, 0, 3],
 [1, 4, 1, 4, 1, 4],
 [2, 5, 2, 5, 2, 5],
 [3, 0, 3, 0, 3, 0],
 [4, 1, 4, 1, 4, 1],
 [5, 2, 5, 2, 5, 2]]

In [34]:
alg = sg
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(sg, partitions)

Subalgebras of <Semigroup:Example 1.4.1, ID:140644887222352>
  There are 4 unique proper subalgebras, up to isomorphism, out of 10 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Semigroups of order 2:
      Semigroup: Example 1.4.1_subalgebra_0: ['a', 'e']
      Semigroup: Example 1.4.1_subalgebra_4: ['c', 'e']
      Semigroup: Example 1.4.1_subalgebra_6: ['a', 'c']

3 Isomorphic Semigroups of order 4:
      Semigroup: Example 1.4.1_subalgebra_1: ['a', 'c', 'd', 'f']
      Semigroup: Example 1.4.1_subalgebra_2: ['b', 'c', 'e', 'f']
      Semigroup: Example 1.4.1_subalgebra_7: ['a', 'b', 'd', 'e']

3 Isomorphic Commutative Groups of order 2:
      Group: Example 1.4.1_subalgebra_3: ['c', 'f'] with identity 'c'
      Group: Example 1.4.1_subalgebra_5: ['b', 'e'] with identity 'e'
      Group: Example 1.4.1_subalgebra_9: ['a', 'd'] with identity 'a'

1 Semigroup of order 3:
      Semigroup: Example 1.4.1_subalgebra_8: ['a', 'c', 'e']

### A closer look at the commutative Groups

In [44]:
print("\n" + "-"*40)
for sub in alg_subs:
    if isinstance(sub, Group):
        sub.about(use_table_names=True)
        print("\n" + "-"*40)

----------------------------------------

** Group **
Name: Example 1.4.1_subalgebra_3
Instance ID: 140645426496592
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: c
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['f']
Elements:
   Index   Name   Inverse  Order
      0       c       c       1
      1       f       f       2
Cayley Table (showing names):
[['c', 'f'], ['f', 'c']]

----------------------------------------

** Group **
Name: Example 1.4.1_subalgebra_5
Instance ID: 140645426497040
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['b']
Elements:
   Index   Name   Inverse  Order
      0       b       b       2
      1       e       e       1
Cayley Table (showing names):
[['e', 'b'], ['b', 'e']]

----------------------------------------

** Group **
Name: Example 1.4.1_subalgebra_9
Instance ID: 140645426497808
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: a
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['d']
Elements:
   Index   Name   Inverse  Order
      0       a       a       1
      1       d       d       2
Cayley Table (showing names):
[['a', 'd'], ['d', 'a']]

----------------------------------------

## Subgroups of an Alternating Group

In [45]:
a4 = ex[0]
a4.about()

** Group **
Name: A4
Instance ID: 140644887031696
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: ()
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      ()      ()       1
      1 (1 3 2) (1 2 3)       3
      2 (1 2 3) (1 3 2)       3
      3 (0 1)(2 3) (0 1)(2 3)       2
      4 (0 1 2) (0 2 1)       3
      5 (0 1 3) (0 3 1)       3
      6 (0 3 1) (0 1 3)       3
      7 (0 3 2) (0 2 3)       3
      8 (0 3)(1 2) (0 3)(1 2)       2
      9 (0 2 3) (0 3 2)       3
     10 (0 2 1) (0 1 2)       3
     11 (0 2)(1 3) (0 2)(1 3)       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

In [46]:
alg = a4
alg_subs = alg.proper_subalgebras(divisors_only=False, include_inverses=False)
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:A4, ID:140644887031696>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2 with identity '()':
      Group: A4_subalgebra_0: ['()', '(0 2)(1 3)']
      Group: A4_subalgebra_1: ['()', '(0 1)(2 3)']
      Group: A4_subalgebra_6: ['()', '(0 3)(1 2)']

1 Commutative Normal Group of order 4 with identity '()':
      Group: A4_subalgebra_2: ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)']

4 Isomorphic Commutative Groups of order 3 with identity '()':
      Group: A4_subalgebra_3: ['()', '(0 1 3)', '(0 3 1)']
      Group: A4_subalgebra_4: ['()', '(0 1 2)', '(0 2 1)']
      Group: A4_subalgebra_5: ['()', '(1 3 2)', '(1 2 3)']
      Group: A4_subalgebra_7: ['()', '(0 3 2)', '(0 2 3)']

**NOTE**: The single commutative normal (sub)group, above, is actually the **commutator subgroup** of A4, as shown by the derivation below:

In [47]:
a4.commutator_subgroup()

Group(
'A4_CG',
'A4 commutator subgroup',
['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

## Subalgebras of a Powerset Group

In [48]:
psr = generate_powerset_group(4)
psr.about(max_size=16)

** Group **
Name: PS4
Instance ID: 140645431208400
Description: Autogenerated Group on the powerset of 4 elements, with symmetric difference operator
Order: 16
Identity: {}
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {0}     {0}       2
      2     {1}     {1}       2
      3     {2}     {2}       2
      4     {3}     {3}       2
      5  {0, 1}  {0, 1}       2
      6  {0, 2}  {0, 2}       2
      7  {0, 3}  {0, 3}       2
      8  {1, 2}  {1, 2}       2
      9  {1, 3}  {1, 3}       2
     10  {2, 3}  {2, 3}       2
     11 {0, 1, 2} {0, 1, 2}       2
     12 {0, 1, 3} {0, 1, 3}       2
     13 {0, 2, 3} {0, 2, 3}       2
     14 {1, 2, 3} {1, 2, 3}       2
     15 {0, 1, 2, 3} {0, 1, 2, 3}       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 5, 6, 7, 2, 3, 4, 11, 12, 13, 8, 9, 10, 15, 14],
 [2, 5, 0, 8, 9, 1, 11, 12, 3, 4, 14, 6, 7, 15, 10, 13],
 [3, 6, 8, 0, 10, 11, 1, 13, 2, 14, 4, 5, 15, 7, 9, 12],
 [4, 7, 9, 10, 0, 12, 13, 1, 14, 2, 3, 15, 5, 6, 8, 11],
 [5, 2, 1, 11, 12, 0, 8, 9, 6, 7, 15, 3, 4, 14, 13, 10],
 [6, 3, 11, 1, 13, 8, 0, 10, 5, 15, 7, 2, 14, 4, 12, 9],
 [7, 4, 12, 13, 1, 9, 10, 0, 15, 5, 6, 14, 2, 3, 11, 8],
 [8, 11, 3, 2, 14, 6, 5, 15, 0, 10, 9, 1, 13, 12, 4, 7],
 [9, 12, 4, 14, 2, 7, 15, 5, 10, 0, 8, 13, 1, 11, 3, 6],
 [10, 13, 14, 4, 3, 15, 7, 6, 9, 8, 0, 12, 11, 1, 2, 5],
 [11, 8, 6, 5, 15, 3, 2, 14, 1, 13, 12, 0, 10, 9, 7, 4],
 [12, 9, 7, 15, 5, 4, 14, 2, 13, 1, 11, 10, 0, 8, 6, 3],
 [13, 10, 15, 7, 6, 14, 4, 3, 12, 11, 1, 9, 8, 0, 5, 2],
 [14, 15, 10, 9, 8, 13, 12, 11, 4, 3, 2, 7, 6, 5, 0, 1],
 [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]]

In [49]:
alg = psr
%time alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

CPU times: user 8.17 s, sys: 32.5 ms, total: 8.2 s
Wall time: 8.24 s

Subalgebras of <Group:PS4, ID:140645431208400>
  There are 3 unique proper subalgebras, up to isomorphism, out of 65 total subalgebras.
  as shown by the partitions below:

35 Isomorphic Commutative Normal Groups of order 4 with identity '{}':
      Group: PS4_subalgebra_0: ['{}', '{1}', '{3}', '{1, 3}']
      Group: PS4_subalgebra_1: ['{}', '{3}', '{0, 1, 2}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_2: ['{}', '{3}', '{0, 1}', '{0, 1, 3}']
      Group: PS4_subalgebra_4: ['{}', '{0}', '{1, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_5: ['{}', '{0}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_6: ['{}', '{0, 2}', '{0, 1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_10: ['{}', '{0}', '{2}', '{0, 2}']
      Group: PS4_subalgebra_11: ['{}', '{2}', '{0, 1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_13: ['{}', '{3}', '{1, 2}', '{1, 2, 3}']
      Group: PS4_subalgebra_14: ['{}', '{0, 1}', '{0, 3}', '{1, 3}']
      Group: PS4_subalgebra_15: ['{}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}']
      Group: PS4_subalgebra_19: ['{}', '{0, 2}', '{1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_20: ['{}', '{2}', '{0, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_21: ['{}', '{1}', '{2}', '{1, 2}']
      Group: PS4_subalgebra_27: ['{}', '{1}', '{0, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_28: ['{}', '{1}', '{0, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_29: ['{}', '{0}', '{3}', '{0, 3}']
      Group: PS4_subalgebra_31: ['{}', '{2}', '{3}', '{2, 3}']
      Group: PS4_subalgebra_34: ['{}', '{0, 3}', '{0, 1, 2}', '{1, 2, 3}']
      Group: PS4_subalgebra_36: ['{}', '{0, 3}', '{1, 2}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_39: ['{}', '{0, 1}', '{2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_41: ['{}', '{0, 2}', '{0, 3}', '{2, 3}']
      Group: PS4_subalgebra_44: ['{}', '{0}', '{2, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_46: ['{}', '{0, 1}', '{0, 2}', '{1, 2}']
      Group: PS4_subalgebra_48: ['{}', '{0, 1}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_49: ['{}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_50: ['{}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}']
      Group: PS4_subalgebra_51: ['{}', '{1, 2}', '{1, 3}', '{2, 3}']
      Group: PS4_subalgebra_52: ['{}', '{1}', '{2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_53: ['{}', '{2}', '{0, 1}', '{0, 1, 2}']
      Group: PS4_subalgebra_54: ['{}', '{2}', '{1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_58: ['{}', '{0}', '{1}', '{0, 1}']
      Group: PS4_subalgebra_59: ['{}', '{0}', '{1, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_61: ['{}', '{3}', '{0, 2}', '{0, 2, 3}']
      Group: PS4_subalgebra_63: ['{}', '{1}', '{0, 2, 3}', '{0, 1, 2, 3}']

15 Isomorphic Commutative Normal Groups of order 2 with identity '{}':
      Group: PS4_subalgebra_3: ['{}', '{3}']
      Group: PS4_subalgebra_8: ['{}', '{0}']
      Group: PS4_subalgebra_16: ['{}', '{0, 1, 3}']
      Group: PS4_subalgebra_17: ['{}', '{0, 1}']
      Group: PS4_subalgebra_18: ['{}', '{1, 2}']
      Group: PS4_subalgebra_24: ['{}', '{0, 3}']
      Group: PS4_subalgebra_25: ['{}', '{1, 2, 3}']
      Group: PS4_subalgebra_26: ['{}', '{2, 3}']
      Group: PS4_subalgebra_35: ['{}', '{0, 1, 2}']
      Group: PS4_subalgebra_37: ['{}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_38: ['{}', '{1}']
      Group: PS4_subalgebra_42: ['{}', '{0, 2}']
      Group: PS4_subalgebra_47: ['{}', '{0, 2, 3}']
      Group: PS4_subalgebra_56: ['{}', '{2}']
      Group: PS4_subalgebra_64: ['{}', '{1, 3}']

15 Isomorphic Commutative Normal Groups of order 8 with identity '{}':
      Group: PS4_subalgebra_7: ['{}', '{0}', '{1}', '{0, 1}', '{2, 3}', '{0, 2, 3}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_9: ['{}', '{0}', '{2}', '{3}', '{0, 2}', '{0, 3}', '{2, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_12: ['{}', '{0}', '{1, 2}', '{1, 3}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_22: ['{}', '{0}', '{1}', '{2}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_23: ['{}', '{0, 1}', '{0, 2}', '{0, 3}', '{1, 2}', '{1, 3}', '{2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_30: ['{}', '{0}', '{1}', '{3}', '{0, 1}', '{0, 3}', '{1, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_32: ['{}', '{2}', '{3}', '{0, 1}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_33: ['{}', '{2}', '{0, 1}', '{0, 3}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_40: ['{}', '{1}', '{3}', '{0, 2}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_43: ['{}', '{1}', '{2}', '{0, 3}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_45: ['{}', '{3}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_55: ['{}', '{1}', '{2}', '{3}', '{1, 2}', '{1, 3}', '{2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_57: ['{}', '{1}', '{0, 2}', '{0, 3}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_60: ['{}', '{0}', '{3}', '{0, 3}', '{1, 2}', '{0, 1, 2}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_62: ['{}', '{0}', '{2}', '{0, 2}', '{1, 3}', '{0, 1, 3}', '{1, 2, 3}', '{0, 1, 2, 3}']

In [50]:
psr.commutators()

{'{}'}

In [51]:
psr.commutator_subgroup()

Group(
'PS4_CG',
'PS4 commutator subgroup',
['{}'],
[[0]]
)

In [52]:
q8 = ex[13]
q8.about()

** Group **
Name: Q8
Instance ID: 140644887223440
Description: Quaternion Group
Order: 8
Identity: 1
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1       i      -i       4
      2      -1      -1       2
      3      -i       i       4
      4       j      -j       4
      5       k      -k       4
      6      -j       j       4
      7      -k       k       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 2, 3, 0, 1],
 [5, 6, 7, 4, 1, 2, 3, 0],
 [6, 7, 4, 5, 0, 1, 2, 3],
 [7, 4, 5, 6, 3, 0, 1, 2]]

In [53]:
alg = q8
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:Q8, ID:140644887223440>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Group of order 2 with identity '1':
      Group: Q8_subalgebra_0: ['1', '-1']

3 Isomorphic Commutative Normal Groups of order 4 with identity '1':
      Group: Q8_subalgebra_1: ['1', 'i', '-1', '-i']
      Group: Q8_subalgebra_2: ['1', '-1', 'k', '-k']
      Group: Q8_subalgebra_3: ['1', '-1', 'j', '-j']

The order 2 normal subgroup, above, is the **commutator subgroup**, as shown below:

In [55]:
alg.commutator_subgroup().about()

** Group **
Name: Q8_CG
Instance ID: 140645161806544
Description: Q8 commutator subgroup
Order: 2
Identity: 1
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['-1']
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1      -1      -1       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

In [56]:
sd16 = ex[14]
sd16.about(max_size=16)

** Group **
Name: SD16
Instance ID: 140644887223952
Description: Semidihedral group of order 16
Order: 16
Identity: e
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       t       t       2
      2       s  ts^2ts       8
      3      st   s^2ts       4
      4     s^2   ts^2t       4
      5    s^2t    s^2t       2
      6     tst  tsts^2       8
      7      ts   sts^2       4
      8    tsts    tsts       2
      9     sts     sts       2
     10  tsts^2     tst       8
     11   s^2ts      st       4
     12   ts^2t     s^2       4
     13    ts^2    ts^2       2
     14  ts^2ts       s       8
     15   sts^2      ts       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1],
 [3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3],
 [5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5],
 [7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0],
 [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2],
 [10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4],
 [12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6],
 [14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8]]

In [69]:
alg = sd16
%time alg_subs = alg.proper_subalgebras()
%time partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

CPU times: user 8.66 s, sys: 14.5 ms, total: 8.68 s
Wall time: 8.69 s
CPU times: user 20.5 s, sys: 29.2 ms, total: 20.5 s
Wall time: 20.5 s

Subalgebras of <Group:SD16, ID:140644887223952>
  There are 6 unique proper subalgebras, up to isomorphism, out of 13 total subalgebras.
  as shown by the partitions below:

5 Isomorphic Commutative Groups of order 2 with identity 'e':
      Group: SD16_subalgebra_0: ['e', 't']
      Group: SD16_subalgebra_2: ['e', 's^2t']
      Group: SD16_subalgebra_4: ['e', 'tsts']
      Group: SD16_subalgebra_6: ['e', 'sts']
      Group: SD16_subalgebra_12: ['e', 'ts^2']

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_1: ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']

3 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_3: ['e', 'ts', 'tsts', 'sts^2']
      Group: SD16_subalgebra_8: ['e', 'st', 'tsts', 's^2ts']
      Group: SD16_subalgebra_10: ['e', 's^2', 'tsts', 'ts^2t']

2 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_5: ['e', 't', 'tsts', 'sts']
      Group: SD16_subalgebra_11: ['e', 's^2t', 'tsts', 'ts^2']

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_7: ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']

1 Commutative Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_9: ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

**ISSUE**: subs 4 & 9 are normal, as shown below, but that is not indicated in the summary above.

In [68]:
print("\n" + "-"*40)
for sub in alg_subs:
    if alg.is_normal(sub):
        # sub.about(use_table_names=True)
        print("\n" + "-"*40)

----------------------------------------
<Group:SD16_subalgebra_1, ID:140644898959184>

----------------------------------------
<Group:SD16_subalgebra_4, ID:140644898956496>

----------------------------------------
<Group:SD16_subalgebra_7, ID:140644898958032>

----------------------------------------
<Group:SD16_subalgebra_9, ID:140644898956368>

----------------------------------------
<Group:SD16_subalgebra_10, ID:140644898956176>

----------------------------------------

**ISSUE**: Why isn't the order 4 commutator subgroup (derived below) one of the subgroups reported by the summary above?

In [59]:
alg.commutator_subgroup().about()

** Group **
Name: SD16_CG
Instance ID: 140645161901008
Description: SD16 commutator subgroup
Order: 4
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['s^2', 'ts^2t']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1     s^2   ts^2t       4
      2    tsts    tsts       2
      3   ts^2t     s^2       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]

**Observation**: The intersections of the element sets belonging to the 3 order 8 normal subgroups is the set of elements of the commutator subgroup.

In [60]:
x1 = ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']
x2 = ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']
x3 = ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

In [63]:
set(x1) & set(x2)

{'e', 's^2', 'ts^2t', 'tsts'}

In [64]:
set(x1) & set(x3)

{'e', 's^2', 'ts^2t', 'tsts'}

In [65]:
set(x2) & set(x3)

{'e', 's^2', 'ts^2t', 'tsts'}

In [74]:
alg.commutators()

{'e', 's^2', 'ts^2t', 'tsts'}

In [78]:
alg_subs[3].about()

** Group **
Name: SD16_subalgebra_3
Instance ID: 140644894022992
Description: Subalgebra of: Semidihedral group of order 16
Order: 4
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['sts^2', 'ts']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1      ts   sts^2       4
      2    tsts    tsts       2
      3   sts^2      ts       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]

In [79]:
alg_subs[8].about()

** Group **
Name: SD16_subalgebra_8
Instance ID: 140644894078032
Description: Subalgebra of: Semidihedral group of order 16
Order: 4
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['s^2ts', 'st']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1      st   s^2ts       4
      2    tsts    tsts       2
      3   s^2ts      st       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]

In [80]:
alg_subs[10].about()

** Group **
Name: SD16_subalgebra_10
Instance ID: 140644894080528
Description: Subalgebra of: Semidihedral group of order 16
Order: 4
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['s^2', 'ts^2t']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1     s^2   ts^2t       4
      2    tsts    tsts       2
      3   ts^2t     s^2       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]

## More Work Needed Past This Point

Deriving subalgebras of Rings and Fields needs more work, as does the method for reporting on them: *about_isomorphic_partitions*

In [20]:
f4 = ex[9]
f4.about()

** Field **
Name: F4
Instance ID: 140645691123600
Description: Field with 4 elements (from Wikipedia)
Order: 4
Identity: 0
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['1+a', 'a']
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       1       1       2
      2       a       a       2
      3     1+a     1+a       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: 1
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]

In [21]:
alg = f4
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Field:F4, ID:140645691123600>
  There is 1 unique proper subalgebra, up to isomorphism, out of 1 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Field of order 2 with identity '0':
      Field: F4_subalgebra_0: ['0', '1']

In [22]:
ex6 = ex[12]
ex6.about()

** Ring **
Name: Ex6
Instance ID: 140644887222544
Description: Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
Order: 4
Identity: 0
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       a       a       2
      2       b       b       2
      3       c       c       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: None
Mult. Commutative? No
Zero Divisors: ['a', 'b', 'c']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 0, 2, 2], [0, 0, 3, 3]]

In [23]:
alg = ex6
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Ring:Ex6, ID:140644887222544>
  There is 1 unique proper subalgebra, up to isomorphism, out of 3 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Normal Rings of order 2 with identity '0':
      Ring: Ex6_subalgebra_0: ['0', 'a']
      Field: Ex6_subalgebra_1: ['0', 'b']
      Field: Ex6_subalgebra_2: ['0', 'c']

In [24]:
alg1 = generate_algebra_mod_n(12)
alg1.about(use_table_names=True)

** Ring **
Name: R12
Instance ID: 140644887287824
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: a00
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['a01', 'a05', 'a07', 'a11']
Elements:
   Index   Name   Inverse  Order
      0     a00     a00       1
      1     a01     a11      12
      2     a02     a10       6
      3     a03     a09       4
      4     a04     a08       3
      5     a05     a07      12
      6     a06     a06       2
      7     a07     a05      12
      8     a08     a04       3
      9     a09     a03       4
     10     a10     a02       6
     11     a11     a01      12
Cayley Table (showing names):
[['a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11'],
 ['a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00'],
 ['a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01'],
 ['a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02'],
 ['a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03'],
 ['a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04'],
 ['a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05'],
 ['a07',
  'a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06'],
 ['a08',
  'a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07'],
 ['a09',
  'a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08'],
 ['a10',
  'a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09'],
 ['a11',
  'a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10']]
Mult. Identity: a01
Mult. Commutative? Yes
Zero Divisors: ['a02', 'a03', 'a04', 'a06', 'a08', 'a09', 'a10']
Multiplicative Cayley Table (showing names):
[['a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00',
  'a00'],
 ['a00',
  'a01',
  'a02',
  'a03',
  'a04',
  'a05',
  'a06',
  'a07',
  'a08',
  'a09',
  'a10',
  'a11'],
 ['a00',
  'a02',
  'a04',
  'a06',
  'a08',
  'a10',
  'a00',
  'a02',
  'a04',
  'a06',
  'a08',
  'a10'],
 ['a00',
  'a03',
  'a06',
  'a09',
  'a00',
  'a03',
  'a06',
  'a09',
  'a00',
  'a03',
  'a06',
  'a09'],
 ['a00',
  'a04',
  'a08',
  'a00',
  'a04',
  'a08',
  'a00',
  'a04',
  'a08',
  'a00',
  'a04',
  'a08'],
 ['a00',
  'a05',
  'a10',
  'a03',
  'a08',
  'a01',
  'a06',
  'a11',
  'a04',
  'a09',
  'a02',
  'a07'],
 ['a00',
  'a06',
  'a00',
  'a06',
  'a00',
  'a06',
  'a00',
  'a06',
  'a00',
  'a06',
  'a00',
  'a06'],
 ['a00',
  'a07',
  'a02',
  'a09',
  'a04',
  'a11',
  'a06',
  'a01',
  'a08',
  'a03',
  'a10',
  'a05'],
 ['a00',
  'a08',
  'a04',
  'a00',
  'a08',
  'a04',
  'a00',
  'a08',
  'a04',
  'a00',
  'a08',
  'a04'],
 ['a00',
  'a09',
  'a06',
  'a03',
  'a00',
  'a09',
  'a06',
  'a03',
  'a00',
  'a09',
  'a06',
  'a03'],
 ['a00',
  'a10',
  'a08',
  'a06',
  'a04',
  'a02',
  'a00',
  'a10',
  'a08',
  'a06',
  'a04',
  'a02'],
 ['a00',
  'a11',
  'a10',
  'a09',
  'a08',
  'a07',
  'a06',
  'a05',
  'a04',
  'a03',
  'a02',
  'a01']]

In [25]:
alg = alg1
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Ring:R12, ID:140644887287824>
  There are 4 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Field of order 3 with identity 'a00':
      Field: R12_subalgebra_0: ['a00', 'a04', 'a08']

1 Commutative Normal Ring of order 6 with identity 'a00':
      Ring: R12_subalgebra_1: ['a00', 'a02', 'a04', 'a06', 'a08', 'a10']

1 Commutative Normal Ring of order 4 with identity 'a00':
      Ring: R12_subalgebra_2: ['a00', 'a03', 'a06', 'a09']

1 Commutative Normal Ring of order 2 with identity 'a00':
      Ring: R12_subalgebra_3: ['a00', 'a06']

In [26]:
alg.zero_divisors()

['a02', 'a03', 'a04', 'a06', 'a08', 'a09', 'a10']

In [27]:
alg.mult_identity

'a01'