# Scratchwork

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  13 example algebras are available.
  Use "get_example(INDEX)" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
======================================================================

In [4]:
a4 = ex.get_example(0)
a4

Group(
'A4',
'Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(1 3 2)', '(1 2 3)', '(0 1)(2 3)', '(0 1 2)', '(0 1 3)', '(0 3 1)', '(0 3 2)', '(0 3)(1 2)', '(0 2 3)', '(0 2 1)', '(0 2)(1 3)'],
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4], [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7], [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8], [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1], [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10], [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9], [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2], [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3], [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6], [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5], [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]
)

In [5]:
a4.to_dict(include_classname=True)

{'name': 'A4',
 'description': 'Alternating group on 4 letters (AKA Tetrahedral group)',
 'elements': ['()',
  '(1 3 2)',
  '(1 2 3)',
  '(0 1)(2 3)',
  '(0 1 2)',
  '(0 1 3)',
  '(0 3 1)',
  '(0 3 2)',
  '(0 3)(1 2)',
  '(0 2 3)',
  '(0 2 1)',
  '(0 2)(1 3)'],
 'table': [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
  [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
  [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
  [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
  [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
  [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
  [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
  [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
  [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
  [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
  [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
  [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]],
 'type': 'Group'}

In [6]:
f4 = ex.get_example(9)
f4

Field(
'F4',
'Field with 4 elements (from Wikipedia)',
['0', '1', 'a', '1+a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]
)

In [7]:
f4_dict = f4.to_dict(include_classname=True)
f4_dict

{'name': 'F4',
 'description': 'Field with 4 elements (from Wikipedia)',
 'elements': ['0', '1', 'a', '1+a'],
 'table': [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
 'table2': [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]],
 'type': 'Field'}

In [8]:
f4x = make_finite_algebra(f4_dict)
f4x

Field(
'F4',
'Field with 4 elements (from Wikipedia)',
['0', '1', 'a', '1+a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]
)

In [9]:
f4 == f4x

False

In [10]:
print(f4)

<Field:F4, ID:140472147762448>

In [11]:
print(f4x)

<Field:F4, ID:140472147886864>