# Scratchwork - Graph Structure of Subalgebras

In [1]:
import finite_algebras as alg

import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [2]:
ex = alg.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

In [3]:
sd16 = ex[14]

In [4]:
sd16.about(max_size=16)

** Group **
Name: SD16
Instance ID: 4464251728
Description: Semidihedral group of order 16
Order: 16
Identity: 'e'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       0
      1     't'     't'       0
      2     's' 'ts^2ts'       0
      3    'st' 's^2ts'       0
      4   's^2' 'ts^2t'       0
      5  's^2t'  's^2t'       0
      6   'tst' 'tsts^2'       0
      7    'ts' 'sts^2'       0
      8  'tsts'  'tsts'       0
      9   'sts'   'sts'       0
     10 'tsts^2'   'tst'       0
     11 's^2ts'    'st'       0
     12 'ts^2t'   's^2'       0
     13  'ts^2'  'ts^2'       0
     14 'ts^2ts'     's'       0
     15 'sts^2'    'ts'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1],
 [3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3],
 [5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5],
 [7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0],
 [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2],
 [10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4],
 [12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6],
 [14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8]]

'<Group:SD16, ID:4464251728>'

In [5]:
%time sd16_subs = alg.about_subalgebras(sd16)

Subalgebras of <Group:SD16, ID:4464251728>
  There are 6 unique proper subalgebras, up to isomorphism, out of 13 total subalgebras.
  as shown by the partitions below:

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_0: ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']

3 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_1: ['e', 'st', 'tsts', 's^2ts']
      Group: SD16_subalgebra_3: ['e', 's^2', 'tsts', 'ts^2t']
      Group: SD16_subalgebra_10: ['e', 'ts', 'tsts', 'sts^2']

5 Isomorphic Commutative Groups of order 2 with identity 'e':
      Group: SD16_subalgebra_2: ['e', 't']
      Group: SD16_subalgebra_4: ['e', 'tsts']
      Group: SD16_subalgebra_5: ['e', 'ts^2']
      Group: SD16_subalgebra_7: ['e', 'sts']
      Group: SD16_subalgebra_12: ['e', 's^2t']

2 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_6: ['e', 's^2t', 'tsts', 'ts^2']
      Group: SD16_subalgebra_11: ['e', 't', 'tsts', 'sts']

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_8: ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']

1 Commutative Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_9: ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

CPU times: user 9.82 s, sys: 25.2 ms, total: 9.85 s
Wall time: 9.82 s

In [6]:
len(sd16_subs)

6

In [7]:
for sub_list in sd16_subs:
    print(sub_list[0].order)
    for sub in sub_list:
        print(sub.elements)

8
['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']
4
['e', 'st', 'tsts', 's^2ts']
['e', 's^2', 'tsts', 'ts^2t']
['e', 'ts', 'tsts', 'sts^2']
2
['e', 't']
['e', 'tsts']
['e', 'ts^2']
['e', 'sts']
['e', 's^2t']
4
['e', 's^2t', 'tsts', 'ts^2']
['e', 't', 'tsts', 'sts']
8
['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']
8
['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

In [8]:
def is_contained(seq1, seq2):
    """Returns True if sequence1 is contained in sequence2, otherwise False is returned."""
    for element in seq1:
        if element not in seq2:
            return False
    return True

# def flatten_list_of_lists(list_of_lists):
#     return [item for list in list_of_lists for item in list]

#sorted_algebras = sorted(algebras, key=lambda a: a.order)

In [9]:
algebra = sd16

In [10]:
subs = algebra.proper_subalgebras()
subs_sorted = sorted(subs, key=lambda a: a.order)

In [11]:
[a.order for a in subs_sorted]

[2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 8, 8, 8]

In [13]:
subs_sorted

[Group(
 'SD16_subalgebra_2',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 't'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'SD16_subalgebra_4',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 'tsts'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'SD16_subalgebra_5',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 'ts^2'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'SD16_subalgebra_7',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 'sts'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'SD16_subalgebra_12',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 's^2t'],
 [[0, 1], [1, 0]]
 ),
 Group(
 'SD16_subalgebra_1',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 'st', 'tsts', 's^2ts'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
 ),
 Group(
 'SD16_subalgebra_3',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 's^2', 'tsts', 'ts^2t'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
 ),
 Group(
 'SD16_subalgebra_6',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 's^2t', 'tsts', 'ts^2'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
 ),
 Group(
 'SD16_subalgebra_10',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 'ts', 'tsts', 'sts^2'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
 ),
 Group(
 'SD16_subalgebra_11',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 't', 'tsts', 'sts'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
 ),
 Group(
 'SD16_subalgebra_0',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2'],
 [[0, 1, 2, 3, 4, 5, 6, 7], [1, 0, 7, 6, 5, 4, 3, 2], [2, 3, 4, 5, 6, 7, 0, 1], [3, 2, 1, 0, 7, 6, 5, 4], [4, 5, 6, 7, 0, 1, 2, 3], [5, 4, 3, 2, 1, 0, 7, 6], [6, 7, 0, 1, 2, 3, 4, 5], [7, 6, 5, 4, 3, 2, 1, 0]]
 ),
 Group(
 'SD16_subalgebra_8',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2'],
 [[0, 1, 2, 3, 4, 5, 6, 7], [1, 4, 7, 2, 5, 0, 3, 6], [2, 3, 4, 5, 6, 7, 0, 1], [3, 6, 1, 4, 7, 2, 5, 0], [4, 5, 6, 7, 0, 1, 2, 3], [5, 0, 3, 6, 1, 4, 7, 2], [6, 7, 0, 1, 2, 3, 4, 5], [7, 2, 5, 0, 3, 6, 1, 4]]
 ),
 Group(
 'SD16_subalgebra_9',
 'Subalgebra of: Semidihedral group of order 16',
 ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts'],
 [[0, 1, 2, 3, 4, 5, 6, 7], [1, 2, 3, 4, 5, 6, 7, 0], [2, 3, 4, 5, 6, 7, 0, 1], [3, 4, 5, 6, 7, 0, 1, 2], [4, 5, 6, 7, 0, 1, 2, 3], [5, 6, 7, 0, 1, 2, 3, 4], [6, 7, 0, 1, 2, 3, 4, 5], [7, 0, 1, 2, 3, 4, 5, 6]]
 )]

In [30]:
def foobar(subs):

    def aux(first, rest):
        # print(f"\n----- {first.name} : {len(rest)} -----")
        if len(rest) == 0:
            return None
        else:
            n = first.order
            for sub in rest:
                if sub.order > n:                    
                    if is_contained(first, sub):
                        print(f"({first.name[16:]}, {sub.name[16:]})")
        aux(rest[0], rest[1:])
    
    aux(subs[0], subs[1:])

In [31]:
foobar(subs_sorted)

(2, 11)
(2, 0)
(4, 1)
(4, 3)
(4, 6)
(4, 10)
(4, 11)
(4, 0)
(4, 8)
(4, 9)
(5, 6)
(5, 0)
(7, 11)
(7, 0)
(12, 6)
(12, 0)
(1, 8)
(3, 0)
(3, 8)
(3, 9)
(6, 0)
(10, 8)
(11, 0)