# Element Class

Exploring ways to turn elements from string names into objects that can be added/multiplied.

In [27]:
from finite_algebras import *

In [76]:
s3 = generate_symmetric_group(3)
s3.about(use_table_names=True)

** Group **
Name: S3
Instance ID: 4940930384
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: '(1, 2, 3)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(1, 2, 3)' '(1, 2, 3)'       1
      1 '(1, 3, 2)' '(1, 3, 2)'       2
      2 '(2, 1, 3)' '(2, 1, 3)'       2
      3 '(2, 3, 1)' '(3, 1, 2)'       3
      4 '(3, 1, 2)' '(2, 3, 1)'       3
      5 '(3, 2, 1)' '(3, 2, 1)'       2
Cayley Table (showing names):
[['(1, 2, 3)', '(1, 3, 2)', '(2, 1, 3)', '(2, 3, 1)', '(3, 1, 2)', '(3, 2, 1)'],
 ['(1, 3, 2)', '(1, 2, 3)', '(3, 1, 2)', '(3, 2, 1)', '(2, 1, 3)', '(2, 3, 1)'],
 ['(2, 1, 3)', '(2, 3, 1)', '(1, 2, 3)', '(1, 3, 2)', '(3, 2, 1)', '(3, 1, 2)'],
 ['(2, 3, 1)', '(2, 1, 3)', '(3, 2, 1)', '(3, 1, 2)', '(1, 2, 3)', '(1, 3, 2)'],
 ['(3, 1, 2)', '(3, 2, 1)', '(1, 3, 2)', '(1, 2, 3)', '(2, 3, 1)', '(2, 1, 3)'],
 ['(3, 2, 1)', '(3, 1, 2)', '(2, 3, 1)', '(2, 1, 3)', '(1, 3, 2)', '(1, 2, 3)']]

In [77]:
m5 = generate_commutative_monoid(5)
m5.about(use_table_names=True)

** Monoid **
Name: M5
Instance ID: 4846957328
Description: Autogenerated commutative Monoid of order 5
Order: 5
Identity: a1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['a0', 'a1', 'a2', 'a3', 'a4']
Has Inverses? No
Cayley Table (showing names):
[['a0', 'a0', 'a0', 'a0', 'a0'],
 ['a0', 'a1', 'a2', 'a3', 'a4'],
 ['a0', 'a2', 'a4', 'a1', 'a3'],
 ['a0', 'a3', 'a1', 'a4', 'a2'],
 ['a0', 'a4', 'a3', 'a2', 'a1']]

In [78]:
class Element():
    
    def __init__(self, name, algebra):
        
        if isinstance(algebra, FiniteAlgebra):
            self.__algebra = algebra
        else:
            raise ValueError(f"algebra must be a FiniteAlgebra")
            
        if isinstance(name, str):
            if name in self.__algebra:
                self.__name = name
            else:
                raise ValueError(f"name must be an element of algebra")
        else:
            raise ValueError(f"name must be a string")

    @property
    def name(self):
        return self.__name
    
    @property
    def algebra(self):
        return self.__algebra
    
    def __str__(self):
        return self.__name
    
    def __repr__(self):
        return repr(self.__name)
    
    def __add__(self, other):
        elem = self.__algebra.op(self.__name, other.name)
        return Element(elem, self.__algebra)
    
    def __sub__(self, other):
        if self.__algebra.has_inverses():
            elem = self.__algebra.sub(self.__name, other.name)
            return Element(elem, self.__algebra)
        else:
            raise ValueError(f"{self.__algebra.name} does not support subtraction")
            
    def __mul__(self, other):

In [79]:
a1 = Element('(2, 1, 3)', s3)
a1

'(2, 1, 3)'

In [80]:
a2 = Element('(3, 2, 1)', s3)
a2

'(3, 2, 1)'

In [81]:
a1 + a2

'(3, 1, 2)'

In [82]:
(a2 - a1) + a1

'(3, 2, 1)'

In [83]:
a2 = Element('a2', m5)
a3 = Element('a3', m5)

In [84]:
a2 + a3

'a1'

In [85]:
try:
    print(a2 - a3)
except Exception as exc:
    print(exc)

M5 does not support subtraction