# Isomorphisms

*Making the isomorphic method more efficient*

In [1]:
from finite_algebras import *
import itertools as it

## Load Built-In Examples

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  19 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
17: Latin_Sqr -- Latin Square. A division algebra (AKA Quasigroup)
18: IP_Loop -- IP loop of small order
======================================================================

### Current code extracted from Magma methods

In [4]:
def element_mappings(alg, other):
    """Returns a list of mappings (dictionaries) of this algebra's elements to all
    possible permutations of other's elements.  The orders of alg and other must
    be equal."""
    return [dict(zip(alg.elements, perm)) for perm in it.permutations(other.elements)]

def isomorphic_mapping(alg, other, mapping):
    """Returns True if the input mapping from this algebra to the other algebra is isomorphic."""
    return all([mapping[alg.op(x, y)] == other.op(mapping[x], mapping[y])
                for x in alg.elements for y in alg.elements])

def isomorphic(alg, other):
    """If there is a mapping from elements of this algebra to the other algebra's elements,
    return it; otherwise return False."""
    if (alg.__class__.__name__ == other.__class__.__name__) and (alg.order == other.order):
        maps = alg.element_mappings(other)
        for mp in maps:
            if alg.isomorphic_mapping(other, mp):
                return mp
        return False
    else:
        return False

## A Convenience Function

In [5]:
def get_subalgebra_from_partitions(partitions, name):
    """Given a partition of subgroups (i.e., a list of lists of subalgebras),
    return the one with the given name"""
    for part in partitions:
        for algebra in part:
            if algebra.name == name:
                return algebra

## Two Isomorphic Symmetric Groups

In [6]:
# alg0 = ex[5]  # S3
alg0 = ex[0]  # A4

alg0.about()

** Group **
Name: A4
Instance ID: 5979573952
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: '()'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '()'    '()'       1
      1 '(1 3 2)' '(1 2 3)'       3
      2 '(1 2 3)' '(1 3 2)'       3
      3 '(0 1)(2 3)' '(0 1)(2 3)'       2
      4 '(0 1 2)' '(0 2 1)'       3
      5 '(0 1 3)' '(0 3 1)'       3
      6 '(0 3 1)' '(0 1 3)'       3
      7 '(0 3 2)' '(0 2 3)'       3
      8 '(0 3)(1 2)' '(0 3)(1 2)'       2
      9 '(0 2 3)' '(0 3 2)'       3
     10 '(0 2 1)' '(0 1 2)'       3
     11 '(0 2)(1 3)' '(0 2)(1 3)'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

'<Group:A4, ID:5979573952>'

In [7]:
# alg1 = generate_symmetric_group(3)
alg1 = generate_symmetric_group(4, alternating=True)

alg1.about()

** Group **
Name: A4
Instance ID: 5980096784
Description: Autogenerated alternating Group on 4 elements
Order: 12
Identity: '(0, 1, 2, 3)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(0, 1, 2, 3)' '(0, 1, 2, 3)'       1
      1 '(0, 2, 3, 1)' '(0, 3, 1, 2)'       3
      2 '(0, 3, 1, 2)' '(0, 2, 3, 1)'       3
      3 '(1, 0, 3, 2)' '(1, 0, 3, 2)'       2
      4 '(1, 2, 0, 3)' '(2, 0, 1, 3)'       3
      5 '(1, 3, 2, 0)' '(3, 0, 2, 1)'       3
      6 '(2, 0, 1, 3)' '(1, 2, 0, 3)'       3
      7 '(2, 1, 3, 0)' '(3, 1, 0, 2)'       3
      8 '(2, 3, 0, 1)' '(2, 3, 0, 1)'       2
      9 '(3, 0, 2, 1)' '(1, 3, 2, 0)'       3
     10 '(3, 1, 0, 2)' '(2, 1, 3, 0)'       3
     11 '(3, 2, 1, 0)' '(3, 2, 1, 0)'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 8, 7, 9, 11, 10, 3, 4, 5],
 [2, 0, 1, 9, 10, 11, 3, 5, 4, 6, 8, 7],
 [3, 5, 4, 0, 2, 1, 10, 9, 11, 7, 6, 8],
 [4, 3, 5, 7, 6, 8, 0, 1, 2, 10, 11, 9],
 [5, 4, 3, 10, 11, 9, 7, 8, 6, 0, 2, 1],
 [6, 7, 8, 1, 0, 2, 4, 3, 5, 11, 9, 10],
 [7, 8, 6, 4, 5, 3, 11, 10, 9, 1, 0, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 11, 10, 2, 1, 0, 8, 6, 7, 5, 3, 4],
 [10, 9, 11, 5, 3, 4, 2, 0, 1, 8, 7, 6],
 [11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]]

'<Group:A4, ID:5980096784>'

In [8]:
# iso = alg0.isomorphic(alg1)
# iso

## Look at Subalgebras

In [9]:
alg0_subs = about_subalgebras(alg0)

Subalgebras of <Group:A4, ID:5979573952>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

4 Isomorphic Commutative Groups of order 3 with identity '()':
      Group: A4_subalgebra_0: ('()', '(0 3 2)', '(0 2 3)')
      Group: A4_subalgebra_3: ('()', '(0 1 3)', '(0 3 1)')
      Group: A4_subalgebra_6: ('()', '(0 1 2)', '(0 2 1)')
      Group: A4_subalgebra_7: ('()', '(1 3 2)', '(1 2 3)')

3 Isomorphic Commutative Groups of order 2 with identity '()':
      Group: A4_subalgebra_1: ('()', '(0 3)(1 2)')
      Group: A4_subalgebra_4: ('()', '(0 1)(2 3)')
      Group: A4_subalgebra_5: ('()', '(0 2)(1 3)')

1 Commutative Normal Group of order 4 with identity '()':
      Group: A4_subalgebra_2: ('()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)')

In [10]:
alg1_subs = about_subalgebras(alg1)

Subalgebras of <Group:A4, ID:5980096784>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

4 Isomorphic Commutative Groups of order 3 with identity '(0, 1, 2, 3)':
      Group: A4_subalgebra_0: ('(0, 1, 2, 3)', '(2, 1, 3, 0)', '(3, 1, 0, 2)')
      Group: A4_subalgebra_3: ('(0, 1, 2, 3)', '(1, 2, 0, 3)', '(2, 0, 1, 3)')
      Group: A4_subalgebra_4: ('(0, 1, 2, 3)', '(0, 2, 3, 1)', '(0, 3, 1, 2)')
      Group: A4_subalgebra_5: ('(0, 1, 2, 3)', '(1, 3, 2, 0)', '(3, 0, 2, 1)')

3 Isomorphic Commutative Groups of order 2 with identity '(0, 1, 2, 3)':
      Group: A4_subalgebra_1: ('(0, 1, 2, 3)', '(1, 0, 3, 2)')
      Group: A4_subalgebra_6: ('(0, 1, 2, 3)', '(3, 2, 1, 0)')
      Group: A4_subalgebra_7: ('(0, 1, 2, 3)', '(2, 3, 0, 1)')

1 Commutative Normal Group of order 4 with identity '(0, 1, 2, 3)':
      Group: A4_subalgebra_2: ('(0, 1, 2, 3)', '(1, 0, 3, 2)', '(2, 3, 0, 1)', '(3, 2, 1, 0)')

### Sort Partitions by Length of Partition

In [11]:
alg0_subs.sort(key=len)
alg0_subs

[[Group(
  'A4_subalgebra_2',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'),
  [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
  )],
 [Group(
  'A4_subalgebra_1',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 3)(1 2)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'A4_subalgebra_4',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1)(2 3)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'A4_subalgebra_5',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 2)(1 3)'),
  [[0, 1], [1, 0]]
  )],
 [Group(
  'A4_subalgebra_0',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 3 2)', '(0 2 3)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_3',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1 3)', '(0 3 1)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_6',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1 2)', '(0 2 1)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_7',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(1 3 2)', '(1 2 3)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  )]]

In [12]:
alg1_subs.sort(key=len)
alg1_subs

[[Group(
  'A4_subalgebra_2',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(1, 0, 3, 2)', '(2, 3, 0, 1)', '(3, 2, 1, 0)'),
  [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
  )],
 [Group(
  'A4_subalgebra_1',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(1, 0, 3, 2)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'A4_subalgebra_6',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(3, 2, 1, 0)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'A4_subalgebra_7',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(2, 3, 0, 1)'),
  [[0, 1], [1, 0]]
  )],
 [Group(
  'A4_subalgebra_0',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(2, 1, 3, 0)', '(3, 1, 0, 2)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_3',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(1, 2, 0, 3)', '(2, 0, 1, 3)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_4',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(0, 2, 3, 1)', '(0, 3, 1, 2)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_5',
  'Subalgebra of: Autogenerated alternating Group on 4 elements',
  ('(0, 1, 2, 3)', '(1, 3, 2, 0)', '(3, 0, 2, 1)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  )]]

## Partition lengths should match

In [13]:
def partition_lengths_match(parts0, parts1):
    return list(map(len, parts0)) == list(map(len, parts1))

In [14]:
partition_lengths_match(alg0_subs, alg1_subs)

True

## Get isomorphism between first algebras from the first partitions

In [15]:
alg0_sub0 = alg0_subs[0][0]
alg0_sub0

Group(
'A4_subalgebra_2',
'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
('()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'),
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [16]:
alg1_sub0 = alg1_subs[0][0]
alg1_sub0

Group(
'A4_subalgebra_2',
'Subalgebra of: Autogenerated alternating Group on 4 elements',
('(0, 1, 2, 3)', '(1, 0, 3, 2)', '(2, 3, 0, 1)', '(3, 2, 1, 0)'),
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [17]:
iso01 = alg0_sub0.isomorphic(alg1_sub0)
iso01

{'()': '(0, 1, 2, 3)',
 '(0 1)(2 3)': '(1, 0, 3, 2)',
 '(0 3)(1 2)': '(2, 3, 0, 1)',
 '(0 2)(1 3)': '(3, 2, 1, 0)'}

### Get elements NOT participating in the isomorphism

In [18]:
rem0 = list(set(alg0.elements) - set(alg0_sub0.elements))
rem0

['(0 2 1)',
 '(0 1 3)',
 '(0 2 3)',
 '(0 3 2)',
 '(1 2 3)',
 '(1 3 2)',
 '(0 1 2)',
 '(0 3 1)']

In [19]:
rem1 = list(set(alg1.elements) - set(alg1_sub0.elements))
rem1

['(2, 1, 3, 0)',
 '(0, 3, 1, 2)',
 '(1, 2, 0, 3)',
 '(3, 1, 0, 2)',
 '(0, 2, 3, 1)',
 '(2, 0, 1, 3)',
 '(1, 3, 2, 0)',
 '(3, 0, 2, 1)']

### Calculate all the ways the remaining elements can be mapped together

In [20]:
rem_dicts = [dict(zip(rem0, perm)) for perm in it.permutations(rem1)]
len(rem_dicts)

40320

### Append the subalgebra isomorphism to each of those mappings

In [21]:
isos = [iso01 | rem for rem in rem_dicts]
len(isos)

40320

In [22]:
%time
result = [iso for iso in isos if isomorphic_mapping(alg0, alg1, iso)]
len(result)

CPU times: user 1e+03 ns, sys: 0 ns, total: 1e+03 ns
Wall time: 1.91 Î¼s

4

def select_subalgebras(alg0, alg1):
    """Return a subalgebra, of highest order possible, from
    each of the two input algebras."""
    if alg0.order != alg1.order:
        print("Algebra orders do not match")
        return None, None

    subs0 = alg0.proper_subalgebras()
    subs1 = alg1.proper_subalgebras()
    if len(subs0) != len(subs1):
        print(f"Total number of subalgebras do not match, {len(subs0)} != {len(subs1)}")
        return None, None

    parts0 = partition_into_isomorphic_lists(subs0)
    parts1 = partition_into_isomorphic_lists(subs1)
    parts0.sort(key=lambda part: part[0].order, reverse=True)
    parts1.sort(key=lambda part: part[0].order, reverse=True)
    len_parts0 = [len(p) for p in parts0]
    len_parts1 = [len(q) for q in parts1]
    if len_parts0 != len_parts1:    
        print(f"Number of subalgebras by order do not match, {len_parts0} != {len_parts1}")

    return parts0[0][0], parts1[0][0]

def isomorphisms_from_subalgebras(alg0, alg1):
    """Return a list of isoomorphisms (dictionaries) between
    the two input algebras"""

    if alg0.order != alg1.order:
        return None
    
    sub0, sub1 = select_subalgebras(alg0, alg1)

    # Get the isomorphism between the two subalgebras
    subs_iso = sub0.isomorphic(sub1)

    # Get remainder elements (those not part of the subalgebra isomorphism)
    rem0 = list(set(alg0.elements) - set(sub0.elements))
    rem1 = list(set(alg1.elements) - set(sub1.elements))

    # List all the ways remainder elements can be mapped to each other
    rem_dicts = [dict(zip(rem0, perm)) for perm in it.permutations(rem1)]

    # Append the subalgebra isomorphism (mapping) to each mapping
    isos = [subs_iso | rem for rem in rem_dicts]

    # Return mappings that represent isomorphisms between the algebras
    return [iso for iso in isos if isomorphic_mapping(alg0, alg1, iso)]

In [51]:
# isomorphisms_from_subalgebras(alg0, alg1, alg0_sub0, alg1_sub0)
isomorphisms_from_subalgebras(alg0, alg1)

[{'()': '(0, 1, 2, 3)',
  '(0 1)(2 3)': '(1, 0, 3, 2)',
  '(0 3)(1 2)': '(2, 3, 0, 1)',
  '(0 2)(1 3)': '(3, 2, 1, 0)',
  '(0 2 1)': '(2, 1, 3, 0)',
  '(0 1 3)': '(0, 3, 1, 2)',
  '(0 2 3)': '(1, 3, 2, 0)',
  '(0 3 2)': '(3, 0, 2, 1)',
  '(1 2 3)': '(1, 2, 0, 3)',
  '(1 3 2)': '(2, 0, 1, 3)',
  '(0 1 2)': '(3, 1, 0, 2)',
  '(0 3 1)': '(0, 2, 3, 1)'},
 {'()': '(0, 1, 2, 3)',
  '(0 1)(2 3)': '(1, 0, 3, 2)',
  '(0 3)(1 2)': '(2, 3, 0, 1)',
  '(0 2)(1 3)': '(3, 2, 1, 0)',
  '(0 2 1)': '(0, 3, 1, 2)',
  '(0 1 3)': '(2, 1, 3, 0)',
  '(0 2 3)': '(2, 0, 1, 3)',
  '(0 3 2)': '(1, 2, 0, 3)',
  '(1 2 3)': '(3, 0, 2, 1)',
  '(1 3 2)': '(1, 3, 2, 0)',
  '(0 1 2)': '(0, 2, 3, 1)',
  '(0 3 1)': '(3, 1, 0, 2)'},
 {'()': '(0, 1, 2, 3)',
  '(0 1)(2 3)': '(1, 0, 3, 2)',
  '(0 3)(1 2)': '(2, 3, 0, 1)',
  '(0 2)(1 3)': '(3, 2, 1, 0)',
  '(0 2 1)': '(1, 2, 0, 3)',
  '(0 1 3)': '(3, 0, 2, 1)',
  '(0 2 3)': '(0, 2, 3, 1)',
  '(0 3 2)': '(0, 3, 1, 2)',
  '(1 2 3)': '(2, 1, 3, 0)',
  '(1 3 2)': '(3, 1, 0, 2)',
  '(0 1 2)': '(2, 0, 1, 3)',
  '(0 3 1)': '(1, 3, 2, 0)'},
 {'()': '(0, 1, 2, 3)',
  '(0 1)(2 3)': '(1, 0, 3, 2)',
  '(0 3)(1 2)': '(2, 3, 0, 1)',
  '(0 2)(1 3)': '(3, 2, 1, 0)',
  '(0 2 1)': '(3, 0, 2, 1)',
  '(0 1 3)': '(1, 2, 0, 3)',
  '(0 2 3)': '(3, 1, 0, 2)',
  '(0 3 2)': '(2, 1, 3, 0)',
  '(1 2 3)': '(0, 3, 1, 2)',
  '(1 3 2)': '(0, 2, 3, 1)',
  '(0 1 2)': '(1, 3, 2, 0)',
  '(0 3 1)': '(2, 0, 1, 3)'}]

In [25]:
def subs_sizes(subs):
    """Return a reverse sorted dictionary of algebra order (key)
    and number of subalgebras (value)"""
    sizes = {s[0].order: len(s) for s in subs}
    return {k: v for k, v in sorted(sizes.items(), reverse=True)}

In [26]:
sizes0 = subs_sizes(alg0_subs)
sizes0

{4: 1, 3: 4, 2: 3}

In [27]:
sizes1 = subs_sizes(alg1_subs)
sizes1

{4: 1, 3: 4, 2: 3}

In [28]:
sizes0 == sizes1

True

In [29]:
alg0_subs

[[Group(
  'A4_subalgebra_2',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'),
  [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
  )],
 [Group(
  'A4_subalgebra_1',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 3)(1 2)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'A4_subalgebra_4',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1)(2 3)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'A4_subalgebra_5',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 2)(1 3)'),
  [[0, 1], [1, 0]]
  )],
 [Group(
  'A4_subalgebra_0',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 3 2)', '(0 2 3)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_3',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1 3)', '(0 3 1)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_6',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(0 1 2)', '(0 2 1)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'A4_subalgebra_7',
  'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
  ('()', '(1 3 2)', '(1 2 3)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  )]]