# Scratchwork: experimenting with "words"

In [1]:
import finite_algebras as fa

In [24]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [40]:
z3 = fa.generate_cyclic_group(3)
z3

Group(
'Z3',
'Autogenerated cyclic Group of order 3',
['e', 'a', 'a^2'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

In [41]:
z3.about()

** Group **
Name: Z3
Instance ID: 140396743573072
Description: Autogenerated cyclic Group of order 3
Order: 3
Identity: e
Commutative? Yes
Cyclic?: Yes
  Generators: ['a', 'a^2']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       a     a^2       3
      2     a^2       a       3
Cayley Table (showing indices):
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]

In [42]:
z3_sqr = z3 * z3
z3_sqr.about()

** Group **
Name: Z3_x_Z3
Instance ID: 140395665911040
Description: Direct product of Z3 & Z3
Order: 9
Identity: e:e
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     e:e     e:e       1
      1     e:a   e:a^2       3
      2   e:a^2     e:a       3
      3     a:e   a^2:e       3
      4     a:a a^2:a^2       3
      5   a:a^2   a^2:a       3
      6   a^2:e     a:e       3
      7   a^2:a   a:a^2       3
      8 a^2:a^2     a:a       3
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8],
 [1, 2, 0, 4, 5, 3, 7, 8, 6],
 [2, 0, 1, 5, 3, 4, 8, 6, 7],
 [3, 4, 5, 6, 7, 8, 0, 1, 2],
 [4, 5, 3, 7, 8, 6, 1, 2, 0],
 [5, 3, 4, 8, 6, 7, 2, 0, 1],
 [6, 7, 8, 0, 1, 2, 3, 4, 5],
 [7, 8, 6, 1, 2, 0, 4, 5, 3],
 [8, 6, 7, 2, 0, 1, 5, 3, 4]]

In [43]:
fa.about_subalgebras(z3_sqr)

Subalgebras of <Group:Z3_x_Z3, ID:140395665911040>
  There is 1 unique proper subalgebra, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

4 Isomorphic Commutative Normal Groups of order 3 with identity 'e:e':
      Group: Z3_x_Z3_subalgebra_0: ['e:e', 'a:a', 'a^2:a^2']
      Group: Z3_x_Z3_subalgebra_1: ['e:e', 'a:e', 'a^2:e']
      Group: Z3_x_Z3_subalgebra_2: ['e:e', 'e:a', 'e:a^2']
      Group: Z3_x_Z3_subalgebra_3: ['e:e', 'a:a^2', 'a^2:a']

[[Group(
  'Z3_x_Z3_subalgebra_0',
  'Subalgebra of: Direct product of Z3 & Z3',
  ['e:e', 'a:a', 'a^2:a^2'],
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'Z3_x_Z3_subalgebra_1',
  'Subalgebra of: Direct product of Z3 & Z3',
  ['e:e', 'a:e', 'a^2:e'],
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'Z3_x_Z3_subalgebra_2',
  'Subalgebra of: Direct product of Z3 & Z3',
  ['e:e', 'e:a', 'e:a^2'],
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  ),
  Group(
  'Z3_x_Z3_subalgebra_3',
  'Subalgebra of: Direct product of Z3 & Z3',
  ['e:e', 'a:a^2', 'a^2:a'],
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  )]]

In [45]:
ex = fa.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  16 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
======================================================================

## Klein-4 Group

In [49]:
v4 = ex[7]
v4

Group(
'V4',
'Klein-4 group',
['e', 'h', 'v', 'r'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [50]:
v4.about()

** Group **
Name: V4
Instance ID: 140396745919264
Description: Klein-4 group
Order: 4
Identity: e
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       h       h       2
      2       v       v       2
      3       r       r       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

### Finite Presentation

$V_4 = \langle h, v | h^2 = v^2 = (hv)^2 = e \rangle$

In [75]:
import itertools as it

Generators and Relators:

In [80]:
gens = ['h', 'v']
rels = ['h_h', 'v_v', 'h_v_h_v']

In [81]:
foo = list(it.product(gens, gens))
foo

[('h', 'h'), ('h', 'v'), ('v', 'h'), ('v', 'v')]

In [82]:
cartprod = list(map(lambda x: '_'.join(x), foo))
cartprod

['h_h', 'h_v', 'v_h', 'v_v']

In [84]:
[x for x in cartprod if x != 'h_h']

['h_v', 'v_h', 'v_v']

In [87]:
def remove_rels(lst, rels):
    if rels == []:
        return lst
    else:
        return remove_rels([x for x in lst if x != rels[0]], rels[1:])

In [89]:
new = remove_rels(cartprod, rels)
new

['h_v', 'v_h']

In [90]:
elems = gens + new

In [91]:
elems

['h', 'v', 'h_v', 'v_h']