# Not-A-Group

Posted to Twitter on April 28, 2022 by Prof. Michael Kinyon.

In [1]:
import numpy as np

raw_table = [[1, 2, 3, 4, 5, 6, 7],
             [2, 3, 1, 5, 4, 7, 6],
             [3, 1, 2, 6, 7, 4, 5],
             [4, 5, 6, 7, 2, 3, 1],
             [5, 4, 7, 2, 6, 1, 3],
             [6, 7, 4, 3, 1, 5, 2],
             [7, 6, 5, 1, 3, 2, 4]]

zero_base_table = np.array(raw_table) - 1
zero_base_table

array([[0, 1, 2, 3, 4, 5, 6],
       [1, 2, 0, 4, 3, 6, 5],
       [2, 0, 1, 5, 6, 3, 4],
       [3, 4, 5, 6, 1, 2, 0],
       [4, 3, 6, 1, 5, 0, 2],
       [5, 6, 3, 2, 0, 4, 1],
       [6, 5, 4, 0, 2, 1, 3]])

For documentation on the items below see https://abstract-algebra.readthedocs.io by Alfred J. Reich

In [2]:
from finite_algebras import make_finite_algebra

nag = make_finite_algebra('Not_a_Group',
                          'Posted on Twitter by Michael Kinyon',
                          ['1', '2', '3', '4', '5', '6', '7'],
                          zero_base_table
                         )

nag

Magma(
'Not_a_Group',
'Posted on Twitter by Michael Kinyon',
['1', '2', '3', '4', '5', '6', '7'],
[[0, 1, 2, 3, 4, 5, 6], [1, 2, 0, 4, 3, 6, 5], [2, 0, 1, 5, 6, 3, 4], [3, 4, 5, 6, 1, 2, 0], [4, 3, 6, 1, 5, 0, 2], [5, 6, 3, 2, 0, 4, 1], [6, 5, 4, 0, 2, 1, 3]]
)

In [3]:
nag.about(use_table_names=True)

** Magma **
Name: Not_a_Group
Instance ID: 140430404908496
Description: Posted on Twitter by Michael Kinyon
Order: 7
Identity: 1
Associative? No
Commutative? Yes
Cyclic?: No
Elements: ['1', '2', '3', '4', '5', '6', '7']
Has Inverses? Yes
Cayley Table (showing names):
[['1', '2', '3', '4', '5', '6', '7'],
 ['2', '3', '1', '5', '4', '7', '6'],
 ['3', '1', '2', '6', '7', '4', '5'],
 ['4', '5', '6', '7', '2', '3', '1'],
 ['5', '4', '7', '2', '6', '1', '3'],
 ['6', '7', '4', '3', '1', '5', '2'],
 ['7', '6', '5', '1', '3', '2', '4']]

In [4]:
subs = nag.proper_subalgebras(divisors_only=False, include_inverses=False)
subs

[Group(
 'Not_a_Group_subalgebra_0',
 'Subalgebra of: Posted on Twitter by Michael Kinyon',
 ['1', '5', '6'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 ),
 Group(
 'Not_a_Group_subalgebra_1',
 'Subalgebra of: Posted on Twitter by Michael Kinyon',
 ['1', '2', '3'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 ),
 Group(
 'Not_a_Group_subalgebra_2',
 'Subalgebra of: Posted on Twitter by Michael Kinyon',
 ['1', '4', '7'],
 [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
 )]

In [6]:
for sub in subs:
    sub.about(use_table_names=True)

** Group **
Name: Not_a_Group_subalgebra_0
Instance ID: 140431227474960
Description: Subalgebra of: Posted on Twitter by Michael Kinyon
Order: 3
Identity: 1
Commutative? Yes
Cyclic?: Yes
  Generators: ['5', '6']
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1       5       6       3
      2       6       5       3
Cayley Table (showing names):
[['1', '5', '6'], ['5', '6', '1'], ['6', '1', '5']]

** Group **
Name: Not_a_Group_subalgebra_1
Instance ID: 140431227475024
Description: Subalgebra of: Posted on Twitter by Michael Kinyon
Order: 3
Identity: 1
Commutative? Yes
Cyclic?: Yes
  Generators: ['2', '3']
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1       2       3       3
      2       3       2       3
Cayley Table (showing names):
[['1', '2', '3'], ['2', '3', '1'], ['3', '1', '2']]

** Group **
Name: Not_a_Group_subalgebra_2
Instance ID: 140431227476624
Description: Subalgebra of: Posted on Twitter by Michael Kinyon
Order: 3
Identity: 1
Commutative? Yes
Cyclic?: Yes
  Generators: ['4', '7']
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1       4       7       3
      2       7       4       3
Cayley Table (showing names):
[['1', '4', '7'], ['4', '7', '1'], ['7', '1', '4']]