# Scratchwork 2

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  15 example algebras are available.
  Use "get_example(INDEX)" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
======================================================================

In [4]:
def about_subalgebras(alg):
    alg_subs = alg.proper_subalgebras()
    partitions = partition_into_isomorphic_lists(alg_subs)
    about_isomorphic_partitions(alg, partitions)
    return partitions

In [5]:
n12 = generate_algebra_mod_n(12)
n12.about()

Ring: R12
Instance ID: 140352289086224
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: a0
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1     a11      12
      2      a2     a10       6
      3      a3      a9       4
      4      a4      a8       3
      5      a5      a7      12
      6      a6      a6       2
      7      a7      a5      12
      8      a8      a4       3
      9      a9      a3       4
     10     a10      a2       6
     11     a11      a1      12
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4', 'a6', 'a8', 'a9', 'a10']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10],
 [0, 3, 6, 9, 0, 3, 6, 9, 0, 3, 6, 9],
 [0, 4, 8, 0, 4, 8, 0, 4, 8, 0, 4, 8],
 [0, 5, 10, 3, 8, 1, 6, 11, 4, 9, 2, 7],
 [0, 6, 0, 6, 0, 6, 0, 6, 0, 6, 0, 6],
 [0, 7, 2, 9, 4, 11, 6, 1, 8, 3, 10, 5],
 [0, 8, 4, 0, 8, 4, 0, 8, 4, 0, 8, 4],
 [0, 9, 6, 3, 0, 9, 6, 3, 0, 9, 6, 3],
 [0, 10, 8, 6, 4, 2, 0, 10, 8, 6, 4, 2],
 [0, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [13]:
parts12 = about_subalgebras(n12)

Subalgebras of <Ring:R12, ID:140352289086224>
  There are 4 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Ring of order 2 with identity 'a0':
      Ring: R12_subalgebra_0: ['a0', 'a6']

1 Commutative Normal Ring of order 6 with identity 'a0':
      Ring: R12_subalgebra_1: ['a0', 'a2', 'a4', 'a6', 'a8', 'a10']

1 Commutative Normal Field of order 3 with identity 'a0':
      Field: R12_subalgebra_2: ['a0', 'a4', 'a8']

1 Commutative Normal Ring of order 4 with identity 'a0':
      Ring: R12_subalgebra_3: ['a0', 'a3', 'a6', 'a9']

In [14]:
n11 = generate_algebra_mod_n(11)
n11.about()

Field: F11
Instance ID: 140352289143184
Description: Autogenerated Field of integers mod 11
Order: 11
Identity: a0
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1     a10      11
      2      a2      a9      11
      3      a3      a8      11
      4      a4      a7      11
      5      a5      a6      11
      6      a6      a5      11
      7      a7      a4      11
      8      a8      a3      11
      9      a9      a2      11
     10     a10      a1      11
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9],
 [0, 3, 6, 9, 1, 4, 7, 10, 2, 5, 8],
 [0, 4, 8, 1, 5, 9, 2, 6, 10, 3, 7],
 [0, 5, 10, 4, 9, 3, 8, 2, 7, 1, 6],
 [0, 6, 1, 7, 2, 8, 3, 9, 4, 10, 5],
 [0, 7, 3, 10, 6, 2, 9, 5, 1, 8, 4],
 [0, 8, 5, 2, 10, 7, 4, 1, 9, 6, 3],
 [0, 9, 7, 5, 3, 1, 10, 8, 6, 4, 2],
 [0, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [15]:
parts11 = about_subalgebras(n11)

There are no subalgebras.