# Element Class

Exploring ways to turn elements from string names into objects that can be added/multiplied.

In [1]:
from finite_algebras import *

## Test Group

In [2]:
s3 = generate_symmetric_group(3)
s3.about(use_table_names=True)

** Group **
Name: S3
Instance ID: 4532388048
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: '(1, 2, 3)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(1, 2, 3)' '(1, 2, 3)'       1
      1 '(1, 3, 2)' '(1, 3, 2)'       2
      2 '(2, 1, 3)' '(2, 1, 3)'       2
      3 '(2, 3, 1)' '(3, 1, 2)'       3
      4 '(3, 1, 2)' '(2, 3, 1)'       3
      5 '(3, 2, 1)' '(3, 2, 1)'       2
Cayley Table (showing names):
[['(1, 2, 3)', '(1, 3, 2)', '(2, 1, 3)', '(2, 3, 1)', '(3, 1, 2)', '(3, 2, 1)'],
 ['(1, 3, 2)', '(1, 2, 3)', '(3, 1, 2)', '(3, 2, 1)', '(2, 1, 3)', '(2, 3, 1)'],
 ['(2, 1, 3)', '(2, 3, 1)', '(1, 2, 3)', '(1, 3, 2)', '(3, 2, 1)', '(3, 1, 2)'],
 ['(2, 3, 1)', '(2, 1, 3)', '(3, 2, 1)', '(3, 1, 2)', '(1, 2, 3)', '(1, 3, 2)'],
 ['(3, 1, 2)', '(3, 2, 1)', '(1, 3, 2)', '(1, 2, 3)', '(2, 3, 1)', '(2, 1, 3)'],
 ['(3, 2, 1)', '(3, 1, 2)', '(2, 3, 1)', '(2, 1, 3)', '(1, 3, 2)', '(1, 2, 3)']]

In [3]:
a1 = Element('(2, 1, 3)', s3)
a1

'(2, 1, 3)'

In [4]:
elem = a1
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
True
False
False

In [5]:
a2 = Element('(3, 2, 1)', s3)
a2

'(3, 2, 1)'

In [6]:
a1 + a2

'(3, 1, 2)'

In [7]:
(a2 - a1) + a1 == a2

True

In [8]:
with Algebra(s3) as g:
    gx = (g['(3, 2, 1)'] - g['(2, 1, 3)']) + g['(2, 1, 3)']
    
gx

'(3, 2, 1)'

In [9]:
try:
    print(a1 * a2)
except Exception as exc:
    print(exc)

S3 does not support multiplication

In [10]:
try:
    print(a1 / a2)
except Exception as exc:
    print(exc)

S3 does not support division

In [11]:
a3 = Element('(2, 3, 1)', s3)
a3

'(2, 3, 1)'

In [12]:
-a3

'(3, 1, 2)'

In [13]:
a3**-1

'(3, 1, 2)'

In [14]:
a3 + a3

'(3, 1, 2)'

In [15]:
try:
    print(a3**2)
except Exception as exc:
    print(exc)

(3, 1, 2)

In [16]:
with Algebra(s3) as f:
    print(f['(2, 1, 3)']+ f['(3, 2, 1)'])

(3, 1, 2)

## Test Monoid

In [17]:
m5 = generate_commutative_monoid(5)
m5.about(use_table_names=True)

** Monoid **
Name: M5
Instance ID: 4532364176
Description: Autogenerated commutative Monoid of order 5
Order: 5
Identity: a1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['a0', 'a1', 'a2', 'a3', 'a4']
Has Inverses? No
Cayley Table (showing names):
[['a0', 'a0', 'a0', 'a0', 'a0'],
 ['a0', 'a1', 'a2', 'a3', 'a4'],
 ['a0', 'a2', 'a4', 'a1', 'a3'],
 ['a0', 'a3', 'a1', 'a4', 'a2'],
 ['a0', 'a4', 'a3', 'a2', 'a1']]

In [18]:
b2 = Element('a2', m5)
b3 = Element('a3', m5)

In [19]:
elem = b2
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
False
False
False

In [20]:
b2 + b3

'a1'

In [21]:
try:
    print(b2 - b3)
except Exception as exc:
    print(exc)

M5 does not support subtraction

## Test Field

In [22]:
f5 = generate_algebra_mod_n(5)
f5.about(use_table_names=True)

** Field **
Name: F5
Instance ID: 4546198800
Description: Autogenerated Field of integers mod 5
Order: 5
Identity: 'a0'
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a2', 'a3', 'a4']
Elements:
   Index   Name   Inverse  Order
      0    'a0'    'a0'       1
      1    'a1'    'a4'       5
      2    'a2'    'a3'       5
      3    'a3'    'a2'       5
      4    'a4'    'a1'       5
Cayley Table (showing names):
[['a0', 'a1', 'a2', 'a3', 'a4'],
 ['a1', 'a2', 'a3', 'a4', 'a0'],
 ['a2', 'a3', 'a4', 'a0', 'a1'],
 ['a3', 'a4', 'a0', 'a1', 'a2'],
 ['a4', 'a0', 'a1', 'a2', 'a3']]
Mult. Identity: 'a1'
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing names):
[['a0', 'a0', 'a0', 'a0', 'a0'],
 ['a0', 'a1', 'a2', 'a3', 'a4'],
 ['a0', 'a2', 'a4', 'a1', 'a3'],
 ['a0', 'a3', 'a1', 'a4', 'a2'],
 ['a0', 'a4', 'a3', 'a2', 'a1']]

In [23]:
c2 = Element('a2', f5)
c3 = Element('a3', f5)

In [24]:
with Algebra(f5) as f:
    print(f['a2'] + f['a3'])
    print(f['a2'] - f['a3'])
    print(f['a2'] * f['a3'])
    print(f['a2'] / f['a3'])

a0
a4
a1
a4

In [25]:
foo = f5.mult_abelian_subgroup()
foo.about(use_table_names=True)

** Group **
Name: F5_G
Instance ID: 4546237968
Description: Multiplicative abelian Group of F5
Order: 4
Identity: 'a1'
Commutative? Yes
Cyclic?: Yes
  Generators: ['a2', 'a3']
Elements:
   Index   Name   Inverse  Order
      0    'a1'    'a1'       1
      1    'a2'    'a3'       4
      2    'a3'    'a2'       4
      3    'a4'    'a4'       2
Cayley Table (showing names):
[['a1', 'a2', 'a3', 'a4'],
 ['a2', 'a4', 'a1', 'a3'],
 ['a3', 'a1', 'a4', 'a2'],
 ['a4', 'a3', 'a2', 'a1']]

In [26]:
k = -1
elem = c2

print(f"{elem}^{k} = {elem**k}")

with Algebra(f5) as h:
    print(f"{elem}^{k} = {h[str(c2)]**k}")

a2^-1 = a3
a2^-1 = a3

In [27]:
try:
    print(c3**4.7)
except Exception as exc:
    print(exc)

n = 4.7. The power must be an integer.

In [28]:
try:
    with Algebra(f5) as h:
        print(h['a3']**4.7)
except Exception as exc:
    print(exc)

n = 4.7. The power must be an integer.

## Test Ring

In [29]:
r6 = generate_algebra_mod_n(6)
r6.about()

** Ring **
Name: R6
Instance ID: 4546302352
Description: Autogenerated Ring of integers mod 6
Order: 6
Identity: 'a0'
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a5']
Elements:
   Index   Name   Inverse  Order
      0    'a0'    'a0'       1
      1    'a1'    'a5'       6
      2    'a2'    'a4'       3
      3    'a3'    'a3'       2
      4    'a4'    'a2'       3
      5    'a5'    'a1'       6
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5, 0],
 [2, 3, 4, 5, 0, 1],
 [3, 4, 5, 0, 1, 2],
 [4, 5, 0, 1, 2, 3],
 [5, 0, 1, 2, 3, 4]]
Mult. Identity: 'a1'
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5],
 [0, 2, 4, 0, 2, 4],
 [0, 3, 0, 3, 0, 3],
 [0, 4, 2, 0, 4, 2],
 [0, 5, 4, 3, 2, 1]]

In [30]:
d0 = Element('a0', r6)
d1 = Element('a1', r6)
d2 = Element('a2', r6)
d3 = Element('a3', r6)

In [31]:
elem = d2
print(elem.can_add)
print(elem.can_subtract)
print(elem.can_multiply)
print(elem.can_divide)

True
True
True
False

In [32]:
print(d1 + d2)
print(d1 - d2)
print(d1 * d2)
#print(c1 / c2)

a3
a5
a2

In [33]:
try:
    print(d1 / d2)
except Exception as exc:
    print(exc)

R6 does not support division

In [34]:
k = 2
elem = d2
print(f"{elem}^{k} = {elem**k}")

a2^2 = a4

In [35]:
with Algebra(r6) as r:
    print(r['a2']**k)

a4

## Element Maps

An element map is a dictionary where the element names (strings) are the keys and their corresponding Element objects are the values.

In [36]:
s3elems = element_map(s3)
s3elems

{'(1, 2, 3)': '(1, 2, 3)',
 '(1, 3, 2)': '(1, 3, 2)',
 '(2, 1, 3)': '(2, 1, 3)',
 '(2, 3, 1)': '(2, 3, 1)',
 '(3, 1, 2)': '(3, 1, 2)',
 '(3, 2, 1)': '(3, 2, 1)'}

In [37]:
s3elems['(1, 3, 2)']

'(1, 3, 2)'

In [38]:
f5elems = element_map(f5)
f5elems

{'a0': 'a0', 'a1': 'a1', 'a2': 'a2', 'a3': 'a3', 'a4': 'a4'}

In [39]:
f5elems['a2']

'a2'