# Scratchwork 1 - Subalgebras

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  16 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
======================================================================

## Subalgebras of a Semigroup

In [4]:
sg = ex[11]
sg.about()

** Semigroup **
Name: Example 1.4.1
Instance ID: 140438861652048
Description: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 6
Identity: None
Associative? Yes
Commutative? No
Cyclic?: No
Elements: ['a', 'b', 'c', 'd', 'e', 'f']
Has Inverses? No
Cayley Table (showing indices):
[[0, 3, 0, 3, 0, 3],
 [1, 4, 1, 4, 1, 4],
 [2, 5, 2, 5, 2, 5],
 [3, 0, 3, 0, 3, 0],
 [4, 1, 4, 1, 4, 1],
 [5, 2, 5, 2, 5, 2]]

In [5]:
alg = sg
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(sg, partitions)

Subalgebras of <Semigroup:Example 1.4.1, ID:140438861652048>
  There are 4 unique proper subalgebras, up to isomorphism, out of 10 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2:
      Group: Example 1.4.1_subalgebra_0: ['b', 'e'] with identity 'e'
      Group: Example 1.4.1_subalgebra_1: ['c', 'f'] with identity 'c'
      Group: Example 1.4.1_subalgebra_4: ['a', 'd'] with identity 'a'

1 Semigroup of order 3:
      Semigroup: Example 1.4.1_subalgebra_2: ['a', 'c', 'e']

3 Isomorphic Semigroups of order 4:
      Semigroup: Example 1.4.1_subalgebra_3: ['a', 'b', 'd', 'e']
      Semigroup: Example 1.4.1_subalgebra_5: ['b', 'c', 'e', 'f']
      Semigroup: Example 1.4.1_subalgebra_9: ['a', 'c', 'd', 'f']

3 Isomorphic Semigroups of order 2:
      Semigroup: Example 1.4.1_subalgebra_6: ['a', 'e']
      Semigroup: Example 1.4.1_subalgebra_7: ['a', 'c']
      Semigroup: Example 1.4.1_subalgebra_8: ['c', 'e']

### A closer look at the commutative Groups

In [6]:
alg_subs[0].about(use_table_names=True)

** Group **
Name: Example 1.4.1_subalgebra_0
Instance ID: 140438861652688
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['b']
Elements:
   Index   Name   Inverse  Order
      0       b       b       2
      1       e       e       1
Cayley Table (showing names):
[['e', 'b'], ['b', 'e']]

In [7]:
alg_subs[1].about(use_table_names=True)

** Group **
Name: Example 1.4.1_subalgebra_1
Instance ID: 140438861623184
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: c
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['f']
Elements:
   Index   Name   Inverse  Order
      0       c       c       1
      1       f       f       2
Cayley Table (showing names):
[['c', 'f'], ['f', 'c']]

In [9]:
alg_subs[4].about(use_table_names=True)

** Group **
Name: Example 1.4.1_subalgebra_4
Instance ID: 140438861587920
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: a
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['d']
Elements:
   Index   Name   Inverse  Order
      0       a       a       1
      1       d       d       2
Cayley Table (showing names):
[['a', 'd'], ['d', 'a']]

## Subgroups of an Alternating Group

In [10]:
a4 = ex[0]
a4.about()

** Group **
Name: A4
Instance ID: 140438861589264
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: ()
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      ()      ()       1
      1 (1 3 2) (1 2 3)       3
      2 (1 2 3) (1 3 2)       3
      3 (0 1)(2 3) (0 1)(2 3)       2
      4 (0 1 2) (0 2 1)       3
      5 (0 1 3) (0 3 1)       3
      6 (0 3 1) (0 1 3)       3
      7 (0 3 2) (0 2 3)       3
      8 (0 3)(1 2) (0 3)(1 2)       2
      9 (0 2 3) (0 3 2)       3
     10 (0 2 1) (0 1 2)       3
     11 (0 2)(1 3) (0 2)(1 3)       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

In [11]:
alg = a4
alg_subs = alg.proper_subalgebras(divisors_only=False, include_inverses=False)
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:A4, ID:140438861589264>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2 with identity '()':
      Group: A4_subalgebra_0: ['()', '(0 1)(2 3)']
      Group: A4_subalgebra_3: ['()', '(0 3)(1 2)']
      Group: A4_subalgebra_4: ['()', '(0 2)(1 3)']

4 Isomorphic Commutative Groups of order 3 with identity '()':
      Group: A4_subalgebra_1: ['()', '(1 3 2)', '(1 2 3)']
      Group: A4_subalgebra_5: ['()', '(0 1 2)', '(0 2 1)']
      Group: A4_subalgebra_6: ['()', '(0 1 3)', '(0 3 1)']
      Group: A4_subalgebra_7: ['()', '(0 3 2)', '(0 2 3)']

1 Commutative Normal Group of order 4 with identity '()':
      Group: A4_subalgebra_2: ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)']

**NOTE**: The single commutative normal (sub)group, above, is actually the **commutator subgroup** of A4, as shown by the derivation below:

In [13]:
a4.commutator_subgroup()

Group(
'A4_CG',
'A4 commutator subgroup',
['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

## Subalgebras of a Powerset Group

In [18]:
psr = generate_powerset_group(4)
psr.about(max_size=16)

** Group **
Name: PS4
Instance ID: 140439398449680
Description: Autogenerated Group on the powerset of 4 elements, with symmetric difference operator
Order: 16
Identity: {}
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {0}     {0}       2
      2     {1}     {1}       2
      3     {2}     {2}       2
      4     {3}     {3}       2
      5  {0, 1}  {0, 1}       2
      6  {0, 2}  {0, 2}       2
      7  {0, 3}  {0, 3}       2
      8  {1, 2}  {1, 2}       2
      9  {1, 3}  {1, 3}       2
     10  {2, 3}  {2, 3}       2
     11 {0, 1, 2} {0, 1, 2}       2
     12 {0, 1, 3} {0, 1, 3}       2
     13 {0, 2, 3} {0, 2, 3}       2
     14 {1, 2, 3} {1, 2, 3}       2
     15 {0, 1, 2, 3} {0, 1, 2, 3}       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 5, 6, 7, 2, 3, 4, 11, 12, 13, 8, 9, 10, 15, 14],
 [2, 5, 0, 8, 9, 1, 11, 12, 3, 4, 14, 6, 7, 15, 10, 13],
 [3, 6, 8, 0, 10, 11, 1, 13, 2, 14, 4, 5, 15, 7, 9, 12],
 [4, 7, 9, 10, 0, 12, 13, 1, 14, 2, 3, 15, 5, 6, 8, 11],
 [5, 2, 1, 11, 12, 0, 8, 9, 6, 7, 15, 3, 4, 14, 13, 10],
 [6, 3, 11, 1, 13, 8, 0, 10, 5, 15, 7, 2, 14, 4, 12, 9],
 [7, 4, 12, 13, 1, 9, 10, 0, 15, 5, 6, 14, 2, 3, 11, 8],
 [8, 11, 3, 2, 14, 6, 5, 15, 0, 10, 9, 1, 13, 12, 4, 7],
 [9, 12, 4, 14, 2, 7, 15, 5, 10, 0, 8, 13, 1, 11, 3, 6],
 [10, 13, 14, 4, 3, 15, 7, 6, 9, 8, 0, 12, 11, 1, 2, 5],
 [11, 8, 6, 5, 15, 3, 2, 14, 1, 13, 12, 0, 10, 9, 7, 4],
 [12, 9, 7, 15, 5, 4, 14, 2, 13, 1, 11, 10, 0, 8, 6, 3],
 [13, 10, 15, 7, 6, 14, 4, 3, 12, 11, 1, 9, 8, 0, 5, 2],
 [14, 15, 10, 9, 8, 13, 12, 11, 4, 3, 2, 7, 6, 5, 0, 1],
 [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]]

In [19]:
alg = psr
%time alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

CPU times: user 7.73 s, sys: 22.5 ms, total: 7.75 s
Wall time: 7.75 s

Subalgebras of <Group:PS4, ID:140439398449680>
  There are 3 unique proper subalgebras, up to isomorphism, out of 65 total subalgebras.
  as shown by the partitions below:

35 Isomorphic Commutative Normal Groups of order 4 with identity '{}':
      Group: PS4_subalgebra_0: ['{}', '{0}', '{2}', '{0, 2}']
      Group: PS4_subalgebra_4: ['{}', '{0}', '{1, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_5: ['{}', '{1}', '{2}', '{1, 2}']
      Group: PS4_subalgebra_6: ['{}', '{0, 1}', '{2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_7: ['{}', '{3}', '{0, 1, 2}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_8: ['{}', '{1, 2}', '{1, 3}', '{2, 3}']
      Group: PS4_subalgebra_10: ['{}', '{2}', '{0, 1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_11: ['{}', '{2}', '{0, 1}', '{0, 1, 2}']
      Group: PS4_subalgebra_12: ['{}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}']
      Group: PS4_subalgebra_13: ['{}', '{2}', '{3}', '{2, 3}']
      Group: PS4_subalgebra_14: ['{}', '{1}', '{0, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_17: ['{}', '{1}', '{2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_18: ['{}', '{0, 2}', '{0, 1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_20: ['{}', '{0, 2}', '{0, 3}', '{2, 3}']
      Group: PS4_subalgebra_21: ['{}', '{1}', '{0, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_23: ['{}', '{2}', '{1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_24: ['{}', '{0, 1}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_28: ['{}', '{0}', '{1, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_29: ['{}', '{3}', '{1, 2}', '{1, 2, 3}']
      Group: PS4_subalgebra_30: ['{}', '{3}', '{0, 1}', '{0, 1, 3}']
      Group: PS4_subalgebra_32: ['{}', '{0}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_33: ['{}', '{3}', '{0, 2}', '{0, 2, 3}']
      Group: PS4_subalgebra_34: ['{}', '{1}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_36: ['{}', '{0}', '{1}', '{0, 1}']
      Group: PS4_subalgebra_40: ['{}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_42: ['{}', '{2}', '{0, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_43: ['{}', '{0, 1}', '{0, 3}', '{1, 3}']
      Group: PS4_subalgebra_46: ['{}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}']
      Group: PS4_subalgebra_47: ['{}', '{0, 1}', '{0, 2}', '{1, 2}']
      Group: PS4_subalgebra_48: ['{}', '{0, 3}', '{1, 2}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_52: ['{}', '{0, 2}', '{1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_61: ['{}', '{0}', '{3}', '{0, 3}']
      Group: PS4_subalgebra_62: ['{}', '{0}', '{2, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_63: ['{}', '{0, 3}', '{0, 1, 2}', '{1, 2, 3}']
      Group: PS4_subalgebra_64: ['{}', '{1}', '{3}', '{1, 3}']

15 Isomorphic Commutative Normal Groups of order 8 with identity '{}':
      Group: PS4_subalgebra_1: ['{}', '{0}', '{2}', '{3}', '{0, 2}', '{0, 3}', '{2, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_3: ['{}', '{1}', '{3}', '{0, 2}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_15: ['{}', '{0}', '{1}', '{3}', '{0, 1}', '{0, 3}', '{1, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_16: ['{}', '{2}', '{3}', '{0, 1}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_26: ['{}', '{0}', '{2}', '{0, 2}', '{1, 3}', '{0, 1, 3}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_27: ['{}', '{1}', '{0, 2}', '{0, 3}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_37: ['{}', '{0}', '{1}', '{2}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_38: ['{}', '{0, 1}', '{0, 2}', '{0, 3}', '{1, 2}', '{1, 3}', '{2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_50: ['{}', '{3}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_51: ['{}', '{0}', '{3}', '{0, 3}', '{1, 2}', '{0, 1, 2}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_53: ['{}', '{1}', '{2}', '{3}', '{1, 2}', '{1, 3}', '{2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_54: ['{}', '{0}', '{1, 2}', '{1, 3}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_55: ['{}', '{1}', '{2}', '{0, 3}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_57: ['{}', '{0}', '{1}', '{0, 1}', '{2, 3}', '{0, 2, 3}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_60: ['{}', '{2}', '{0, 1}', '{0, 3}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}', '{1, 2, 3}']

15 Isomorphic Commutative Normal Groups of order 2 with identity '{}':
      Group: PS4_subalgebra_2: ['{}', '{1, 2}']
      Group: PS4_subalgebra_9: ['{}', '{0, 1, 2}']
      Group: PS4_subalgebra_19: ['{}', '{1, 2, 3}']
      Group: PS4_subalgebra_22: ['{}', '{0, 2, 3}']
      Group: PS4_subalgebra_25: ['{}', '{2}']
      Group: PS4_subalgebra_31: ['{}', '{0, 1}']
      Group: PS4_subalgebra_35: ['{}', '{2, 3}']
      Group: PS4_subalgebra_39: ['{}', '{0, 1, 3}']
      Group: PS4_subalgebra_41: ['{}', '{1}']
      Group: PS4_subalgebra_44: ['{}', '{0, 3}']
      Group: PS4_subalgebra_45: ['{}', '{0}']
      Group: PS4_subalgebra_49: ['{}', '{1, 3}']
      Group: PS4_subalgebra_56: ['{}', '{3}']
      Group: PS4_subalgebra_58: ['{}', '{0, 2}']
      Group: PS4_subalgebra_59: ['{}', '{0, 1, 2, 3}']

In [33]:
psr.commutators()

{'{}'}

In [29]:
psr.commutator_subgroup()

Group(
'PS4_CG',
'PS4 commutator subgroup',
['{}'],
[[0]]
)

In [20]:
q8 = ex[13]
q8.about()

** Group **
Name: Q8
Instance ID: 140438861653008
Description: Quaternion Group
Order: 8
Identity: 1
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1       i      -i       4
      2      -1      -1       2
      3      -i       i       4
      4       j      -j       4
      5       k      -k       4
      6      -j       j       4
      7      -k       k       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 2, 3, 0, 1],
 [5, 6, 7, 4, 1, 2, 3, 0],
 [6, 7, 4, 5, 0, 1, 2, 3],
 [7, 4, 5, 6, 3, 0, 1, 2]]

In [21]:
alg = q8
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:Q8, ID:140438861653008>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Normal Groups of order 4 with identity '1':
      Group: Q8_subalgebra_0: ['1', 'i', '-1', '-i']
      Group: Q8_subalgebra_2: ['1', '-1', 'j', '-j']
      Group: Q8_subalgebra_3: ['1', '-1', 'k', '-k']

1 Commutative Normal Group of order 2 with identity '1':
      Group: Q8_subalgebra_1: ['1', '-1']

In [22]:
sd16 = ex[14]
sd16.about(max_size=16)

** Group **
Name: SD16
Instance ID: 140438861653520
Description: Semidihedral group of order 16
Order: 16
Identity: e
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       t       t       2
      2       s  ts^2ts       8
      3      st   s^2ts       4
      4     s^2   ts^2t       4
      5    s^2t    s^2t       2
      6     tst  tsts^2       8
      7      ts   sts^2       4
      8    tsts    tsts       2
      9     sts     sts       2
     10  tsts^2     tst       8
     11   s^2ts      st       4
     12   ts^2t     s^2       4
     13    ts^2    ts^2       2
     14  ts^2ts       s       8
     15   sts^2      ts       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1],
 [3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3],
 [5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5],
 [7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0],
 [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2],
 [10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4],
 [12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6],
 [14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8]]

In [23]:
alg = sd16
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:SD16, ID:140438861653520>
  There are 6 unique proper subalgebras, up to isomorphism, out of 13 total subalgebras.
  as shown by the partitions below:

5 Isomorphic Commutative Normal Groups of order 2 with identity 'e':
      Group: SD16_subalgebra_0: ['e', 'tsts']
      Group: SD16_subalgebra_1: ['e', 's^2t']
      Group: SD16_subalgebra_3: ['e', 'sts']
      Group: SD16_subalgebra_5: ['e', 'ts^2']
      Group: SD16_subalgebra_7: ['e', 't']

3 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_2: ['e', 'ts', 'tsts', 'sts^2']
      Group: SD16_subalgebra_8: ['e', 'st', 'tsts', 's^2ts']
      Group: SD16_subalgebra_9: ['e', 's^2', 'tsts', 'ts^2t']

2 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_4: ['e', 't', 'tsts', 'sts']
      Group: SD16_subalgebra_11: ['e', 's^2t', 'tsts', 'ts^2']

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_6: ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_10: ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']

1 Commutative Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_12: ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

## More Work Needed Past This Point

Deriving subalgebras of Rings and Fields needs more work, as does the method for reporting on them: *about_isomorphic_partitions*

In [14]:
f4 = ex[9]
f4.about()

** Field **
Name: F4
Instance ID: 140438861622096
Description: Field with 4 elements (from Wikipedia)
Order: 4
Identity: 0
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['1+a', 'a']
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       1       1       2
      2       a       a       2
      3     1+a     1+a       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: 1
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]

In [15]:
alg = f4
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Field:F4, ID:140438861622096>
  There is 1 unique proper subalgebra, up to isomorphism, out of 1 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Field of order 2 with identity '0':
      Field: F4_subalgebra_0: ['0', '1']

In [16]:
ex6 = ex[12]
ex6.about()

** Ring **
Name: Ex6
Instance ID: 140438861589712
Description: Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
Order: 4
Identity: 0
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       a       a       2
      2       b       b       2
      3       c       c       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: None
Mult. Commutative? No
Zero Divisors: ['a', 'b', 'c']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 0, 2, 2], [0, 0, 3, 3]]

In [17]:
alg = ex6
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Ring:Ex6, ID:140438861589712>
  There is 1 unique proper subalgebra, up to isomorphism, out of 3 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Normal Fields of order 2 with identity '0':
      Field: Ex6_subalgebra_0: ['0', 'b']
      Ring: Ex6_subalgebra_1: ['0', 'a']
      Field: Ex6_subalgebra_2: ['0', 'c']

In [24]:
alg1 = generate_algebra_mod_n(12)
alg1.about(use_table_names=True)

** Ring **
Name: R12
Instance ID: 140438861586768
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: a0
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a11', 'a5', 'a7']
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1     a11      12
      2      a2     a10       6
      3      a3      a9       4
      4      a4      a8       3
      5      a5      a7      12
      6      a6      a6       2
      7      a7      a5      12
      8      a8      a4       3
      9      a9      a3       4
     10     a10      a2       6
     11     a11      a1      12
Cayley Table (showing names):
[['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11'],
 ['a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a0'],
 ['a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a0', 'a1'],
 ['a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a0', 'a1', 'a2'],
 ['a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a0', 'a1', 'a2', 'a3'],
 ['a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a0', 'a1', 'a2', 'a3', 'a4'],
 ['a6', 'a7', 'a8', 'a9', 'a10', 'a11', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5'],
 ['a7', 'a8', 'a9', 'a10', 'a11', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6'],
 ['a8', 'a9', 'a10', 'a11', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7'],
 ['a9', 'a10', 'a11', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8'],
 ['a10', 'a11', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9'],
 ['a11', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10']]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4', 'a6', 'a8', 'a9', 'a10']
Multiplicative Cayley Table (showing names):
[['a0', 'a0', 'a0', 'a0', 'a0', 'a0', 'a0', 'a0', 'a0', 'a0', 'a0', 'a0'],
 ['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9', 'a10', 'a11'],
 ['a0', 'a2', 'a4', 'a6', 'a8', 'a10', 'a0', 'a2', 'a4', 'a6', 'a8', 'a10'],
 ['a0', 'a3', 'a6', 'a9', 'a0', 'a3', 'a6', 'a9', 'a0', 'a3', 'a6', 'a9'],
 ['a0', 'a4', 'a8', 'a0', 'a4', 'a8', 'a0', 'a4', 'a8', 'a0', 'a4', 'a8'],
 ['a0', 'a5', 'a10', 'a3', 'a8', 'a1', 'a6', 'a11', 'a4', 'a9', 'a2', 'a7'],
 ['a0', 'a6', 'a0', 'a6', 'a0', 'a6', 'a0', 'a6', 'a0', 'a6', 'a0', 'a6'],
 ['a0', 'a7', 'a2', 'a9', 'a4', 'a11', 'a6', 'a1', 'a8', 'a3', 'a10', 'a5'],
 ['a0', 'a8', 'a4', 'a0', 'a8', 'a4', 'a0', 'a8', 'a4', 'a0', 'a8', 'a4'],
 ['a0', 'a9', 'a6', 'a3', 'a0', 'a9', 'a6', 'a3', 'a0', 'a9', 'a6', 'a3'],
 ['a0', 'a10', 'a8', 'a6', 'a4', 'a2', 'a0', 'a10', 'a8', 'a6', 'a4', 'a2'],
 ['a0', 'a11', 'a10', 'a9', 'a8', 'a7', 'a6', 'a5', 'a4', 'a3', 'a2', 'a1']]

In [25]:
alg = alg1
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Ring:R12, ID:140438861586768>
  There are 4 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Field of order 3 with identity 'a0':
      Field: R12_subalgebra_0: ['a0', 'a4', 'a8']

1 Commutative Normal Ring of order 6 with identity 'a0':
      Ring: R12_subalgebra_1: ['a0', 'a2', 'a4', 'a6', 'a8', 'a10']

1 Commutative Normal Ring of order 4 with identity 'a0':
      Ring: R12_subalgebra_2: ['a0', 'a3', 'a6', 'a9']

1 Commutative Normal Ring of order 2 with identity 'a0':
      Ring: R12_subalgebra_3: ['a0', 'a6']

In [26]:
alg.zero_divisors()

['a2', 'a3', 'a4', 'a6', 'a8', 'a9', 'a10']

In [27]:
alg.mult_identity

'a1'