# Scratchwork 1 - Subalgebras

In [54]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [55]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [56]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

## Subalgebras of a Semigroup

In [57]:
sg = ex[11]
sg.about()

** Semigroup **
Name: Example 1.4.1
Instance ID: 4575392272
Description: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 6
Identity: None
Associative? Yes
Commutative? No
Cyclic?: No
Elements: ['a', 'b', 'c', 'd', 'e', 'f']
Has Inverses? No
Cayley Table (showing indices):
[[0, 3, 0, 3, 0, 3],
 [1, 4, 1, 4, 1, 4],
 [2, 5, 2, 5, 2, 5],
 [3, 0, 3, 0, 3, 0],
 [4, 1, 4, 1, 4, 1],
 [5, 2, 5, 2, 5, 2]]

In [58]:
alg = sg
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(sg, partitions)

Subalgebras of <Semigroup:Example 1.4.1, ID:4575392272>
  There are 4 unique proper subalgebras, up to isomorphism, out of 10 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2:
      Group: Example 1.4.1_subalgebra_0: ['b', 'e'] with identity 'e'
      Group: Example 1.4.1_subalgebra_3: ['a', 'd'] with identity 'a'
      Group: Example 1.4.1_subalgebra_4: ['c', 'f'] with identity 'c'

1 Semigroup of order 3:
      Semigroup: Example 1.4.1_subalgebra_1: ['a', 'c', 'e']

3 Isomorphic Semigroups of order 2:
      Semigroup: Example 1.4.1_subalgebra_2: ['c', 'e']
      Semigroup: Example 1.4.1_subalgebra_8: ['a', 'e']
      Semigroup: Example 1.4.1_subalgebra_9: ['a', 'c']

3 Isomorphic Semigroups of order 4:
      Semigroup: Example 1.4.1_subalgebra_5: ['b', 'c', 'e', 'f']
      Semigroup: Example 1.4.1_subalgebra_6: ['a', 'b', 'd', 'e']
      Semigroup: Example 1.4.1_subalgebra_7: ['a', 'c', 'd', 'f']

### A closer look at the commutative Groups

In [59]:
print("\n" + "-"*40)
for sub in alg_subs:
    if isinstance(sub, Group):
        sub.about(use_table_names=True)
        print("\n" + "-"*40)

----------------------------------------

** Group **
Name: Example 1.4.1_subalgebra_0
Instance ID: 4583215440
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: 'e'
Commutative? Yes
Cyclic?: Yes
Generators: ['b']
Elements:
   Index   Name   Inverse  Order
      0     'b'     'b'       0
      1     'e'     'e'       0
Cayley Table (showing names):
[['e', 'b'], ['b', 'e']]

----------------------------------------

** Group **
Name: Example 1.4.1_subalgebra_3
Instance ID: 4911124368
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: 'a'
Commutative? Yes
Cyclic?: Yes
Generators: ['d']
Elements:
   Index   Name   Inverse  Order
      0     'a'     'a'       0
      1     'd'     'd'       0
Cayley Table (showing names):
[['a', 'd'], ['d', 'a']]

----------------------------------------

** Group **
Name: Example 1.4.1_subalgebra_4
Instance ID: 4911129872
Description: Subalgebra of: See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
Order: 2
Identity: 'c'
Commutative? Yes
Cyclic?: Yes
Generators: ['f']
Elements:
   Index   Name   Inverse  Order
      0     'c'     'c'       0
      1     'f'     'f'       0
Cayley Table (showing names):
[['c', 'f'], ['f', 'c']]

----------------------------------------

## Subgroups of an Alternating Group

Alternating group on 4 letters (AKA Tetrahedral group)

In [60]:
a4 = ex[0]
a4.about()

** Group **
Name: A4
Instance ID: 4903293200
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: '()'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '()'    '()'       0
      1 '(1 3 2)' '(1 2 3)'       0
      2 '(1 2 3)' '(1 3 2)'       0
      3 '(0 1)(2 3)' '(0 1)(2 3)'       0
      4 '(0 1 2)' '(0 2 1)'       0
      5 '(0 1 3)' '(0 3 1)'       0
      6 '(0 3 1)' '(0 1 3)'       0
      7 '(0 3 2)' '(0 2 3)'       0
      8 '(0 3)(1 2)' '(0 3)(1 2)'       0
      9 '(0 2 3)' '(0 3 2)'       0
     10 '(0 2 1)' '(0 1 2)'       0
     11 '(0 2)(1 3)' '(0 2)(1 3)'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

'<Group:A4, ID:4903293200>'

In [95]:
alg = a4
alg_subs = alg.proper_subalgebras(divisors_only=False, include_inverses=False)
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:A4, ID:4903293200>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

4 Isomorphic Commutative Groups of order 3 with identity '()':
      Group: A4_subalgebra_0: ['()', '(0 1 2)', '(0 2 1)']
      Group: A4_subalgebra_1: ['()', '(0 3 2)', '(0 2 3)']
      Group: A4_subalgebra_2: ['()', '(0 1 3)', '(0 3 1)']
      Group: A4_subalgebra_6: ['()', '(1 3 2)', '(1 2 3)']

3 Isomorphic Commutative Groups of order 2 with identity '()':
      Group: A4_subalgebra_3: ['()', '(0 1)(2 3)']
      Group: A4_subalgebra_4: ['()', '(0 2)(1 3)']
      Group: A4_subalgebra_7: ['()', '(0 3)(1 2)']

1 Commutative Normal Group of order 4 with identity '()':
      Group: A4_subalgebra_5: ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)']

The normal subgroup of A4 is isomorphic to the Klein-4 group, V4, as shown below.

In [99]:
a4_normal_sub = alg_subs[5]
a4_normal_sub.about()

** Group **
Name: A4_subalgebra_5
Instance ID: 4907563600
Description: Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 4
Identity: '()'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '()'    '()'       0
      1 '(0 1)(2 3)' '(0 1)(2 3)'       0
      2 '(0 3)(1 2)' '(0 3)(1 2)'       0
      3 '(0 2)(1 3)' '(0 2)(1 3)'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

'<Group:A4_subalgebra_5, ID:4907563600>'

In [93]:
v4 = ex[7]
v4.description

'Klein-4 group'

In [100]:
v4.isomorphic(a4_normal_sub)

{'e': '()', 'h': '(0 1)(2 3)', 'v': '(0 3)(1 2)', 'r': '(0 2)(1 3)'}

Also, the normal subgroup of $A_4$ is the **commutator subgroup** of $A_4$, as shown by the equality test below.

In [96]:
a4_comm = a4.commutator_subalgebra()
a4_comm.about()

** Group **
Name: A4_Comm
Instance ID: 4907487504
Description: A4 commutator subalgebra
Order: 4
Identity: '()'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '()'    '()'       0
      1 '(0 1)(2 3)' '(0 1)(2 3)'       0
      2 '(0 3)(1 2)' '(0 3)(1 2)'       0
      3 '(0 2)(1 3)' '(0 2)(1 3)'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

'<Group:A4_Comm, ID:4907487504>'

In [101]:
a4_normal_sub == a4_comm

True

Also, the normal subgroup of $A_4$ is isomorphic to $C_2 x C_2$, as shown below.

In [104]:
c2 = generate_cyclic_group(2)
c2x2 = c2 * c2
c2x2.about()

** Group **
Name: Z2_x_Z2
Instance ID: 4909271312
Description: Direct product of Z2 & Z2
Order: 4
Identity: '0:0'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0   '0:0'   '0:0'       0
      1   '0:1'   '0:1'       0
      2   '1:0'   '1:0'       0
      3   '1:1'   '1:1'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

'<Group:Z2_x_Z2, ID:4909271312>'

In [105]:
a4_normal_sub.isomorphic(c2x2)

{'()': '0:0', '(0 1)(2 3)': '0:1', '(0 3)(1 2)': '1:0', '(0 2)(1 3)': '1:1'}

## Subalgebras of a Powerset Group

In [63]:
psr = generate_powerset_group(4)
psr.about(max_size=16)

** Group **
Name: PS4
Instance ID: 4575585168
Description: Autogenerated Group on the powerset of 4 elements, with symmetric difference operator
Order: 16
Identity: '{}'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '{}'    '{}'       0
      1   '{0}'   '{0}'       0
      2   '{1}'   '{1}'       0
      3   '{2}'   '{2}'       0
      4   '{3}'   '{3}'       0
      5 '{0, 1}' '{0, 1}'       0
      6 '{0, 2}' '{0, 2}'       0
      7 '{0, 3}' '{0, 3}'       0
      8 '{1, 2}' '{1, 2}'       0
      9 '{1, 3}' '{1, 3}'       0
     10 '{2, 3}' '{2, 3}'       0
     11 '{0, 1, 2}' '{0, 1, 2}'       0
     12 '{0, 1, 3}' '{0, 1, 3}'       0
     13 '{0, 2, 3}' '{0, 2, 3}'       0
     14 '{1, 2, 3}' '{1, 2, 3}'       0
     15 '{0, 1, 2, 3}' '{0, 1, 2, 3}'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 5, 6, 7, 2, 3, 4, 11, 12, 13, 8, 9, 10, 15, 14],
 [2, 5, 0, 8, 9, 1, 11, 12, 3, 4, 14, 6, 7, 15, 10, 13],
 [3, 6, 8, 0, 10, 11, 1, 13, 2, 14, 4, 5, 15, 7, 9, 12],
 [4, 7, 9, 10, 0, 12, 13, 1, 14, 2, 3, 15, 5, 6, 8, 11],
 [5, 2, 1, 11, 12, 0, 8, 9, 6, 7, 15, 3, 4, 14, 13, 10],
 [6, 3, 11, 1, 13, 8, 0, 10, 5, 15, 7, 2, 14, 4, 12, 9],
 [7, 4, 12, 13, 1, 9, 10, 0, 15, 5, 6, 14, 2, 3, 11, 8],
 [8, 11, 3, 2, 14, 6, 5, 15, 0, 10, 9, 1, 13, 12, 4, 7],
 [9, 12, 4, 14, 2, 7, 15, 5, 10, 0, 8, 13, 1, 11, 3, 6],
 [10, 13, 14, 4, 3, 15, 7, 6, 9, 8, 0, 12, 11, 1, 2, 5],
 [11, 8, 6, 5, 15, 3, 2, 14, 1, 13, 12, 0, 10, 9, 7, 4],
 [12, 9, 7, 15, 5, 4, 14, 2, 13, 1, 11, 10, 0, 8, 6, 3],
 [13, 10, 15, 7, 6, 14, 4, 3, 12, 11, 1, 9, 8, 0, 5, 2],
 [14, 15, 10, 9, 8, 13, 12, 11, 4, 3, 2, 7, 6, 5, 0, 1],
 [15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]]

'<Group:PS4, ID:4575585168>'

In [64]:
alg = psr
%time alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

CPU times: user 2.74 s, sys: 7.24 ms, total: 2.75 s
Wall time: 2.75 s

Subalgebras of <Group:PS4, ID:4575585168>
  There are 3 unique proper subalgebras, up to isomorphism, out of 65 total subalgebras.
  as shown by the partitions below:

15 Isomorphic Commutative Normal Groups of order 8 with identity '{}':
      Group: PS4_subalgebra_0: ['{}', '{0}', '{2}', '{3}', '{0, 2}', '{0, 3}', '{2, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_2: ['{}', '{0}', '{3}', '{0, 3}', '{1, 2}', '{0, 1, 2}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_3: ['{}', '{2}', '{3}', '{0, 1}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_8: ['{}', '{0}', '{1}', '{3}', '{0, 1}', '{0, 3}', '{1, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_11: ['{}', '{1}', '{2}', '{0, 3}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_16: ['{}', '{2}', '{0, 1}', '{0, 3}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_18: ['{}', '{0, 1}', '{0, 2}', '{0, 3}', '{1, 2}', '{1, 3}', '{2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_37: ['{}', '{0}', '{1, 2}', '{1, 3}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_45: ['{}', '{1}', '{2}', '{3}', '{1, 2}', '{1, 3}', '{2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_46: ['{}', '{1}', '{3}', '{0, 2}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_52: ['{}', '{3}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_56: ['{}', '{0}', '{2}', '{0, 2}', '{1, 3}', '{0, 1, 3}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_60: ['{}', '{1}', '{0, 2}', '{0, 3}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_61: ['{}', '{0}', '{1}', '{2}', '{0, 1}', '{0, 2}', '{1, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_63: ['{}', '{0}', '{1}', '{0, 1}', '{2, 3}', '{0, 2, 3}', '{1, 2, 3}', '{0, 1, 2, 3}']

35 Isomorphic Commutative Normal Groups of order 4 with identity '{}':
      Group: PS4_subalgebra_1: ['{}', '{1}', '{3}', '{1, 3}']
      Group: PS4_subalgebra_4: ['{}', '{1}', '{0, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_5: ['{}', '{2}', '{1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_6: ['{}', '{0}', '{2, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_9: ['{}', '{3}', '{0, 1}', '{0, 1, 3}']
      Group: PS4_subalgebra_10: ['{}', '{3}', '{0, 2}', '{0, 2, 3}']
      Group: PS4_subalgebra_12: ['{}', '{0}', '{1, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_13: ['{}', '{3}', '{0, 1, 2}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_14: ['{}', '{0, 1}', '{0, 3}', '{1, 3}']
      Group: PS4_subalgebra_17: ['{}', '{3}', '{1, 2}', '{1, 2, 3}']
      Group: PS4_subalgebra_21: ['{}', '{0, 2}', '{0, 1, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_22: ['{}', '{0, 1}', '{0, 2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_23: ['{}', '{0}', '{1, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_24: ['{}', '{0, 1}', '{2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_25: ['{}', '{0, 1}', '{0, 2}', '{1, 2}']
      Group: PS4_subalgebra_26: ['{}', '{2, 3}', '{0, 1, 2}', '{0, 1, 3}']
      Group: PS4_subalgebra_27: ['{}', '{2}', '{0, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_30: ['{}', '{0}', '{1, 3}', '{0, 1, 3}']
      Group: PS4_subalgebra_32: ['{}', '{0}', '{1}', '{0, 1}']
      Group: PS4_subalgebra_33: ['{}', '{2}', '{0, 1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_34: ['{}', '{1, 3}', '{0, 1, 2}', '{0, 2, 3}']
      Group: PS4_subalgebra_36: ['{}', '{1}', '{2, 3}', '{1, 2, 3}']
      Group: PS4_subalgebra_38: ['{}', '{1, 2}', '{0, 1, 3}', '{0, 2, 3}']
      Group: PS4_subalgebra_41: ['{}', '{0}', '{3}', '{0, 3}']
      Group: PS4_subalgebra_42: ['{}', '{1}', '{0, 2}', '{0, 1, 2}']
      Group: PS4_subalgebra_43: ['{}', '{1}', '{0, 2, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_47: ['{}', '{2}', '{3}', '{2, 3}']
      Group: PS4_subalgebra_48: ['{}', '{0, 3}', '{1, 2}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_50: ['{}', '{1, 2}', '{1, 3}', '{2, 3}']
      Group: PS4_subalgebra_51: ['{}', '{2}', '{0, 1}', '{0, 1, 2}']
      Group: PS4_subalgebra_54: ['{}', '{0, 2}', '{1, 3}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_57: ['{}', '{1}', '{2}', '{1, 2}']
      Group: PS4_subalgebra_58: ['{}', '{0, 3}', '{0, 1, 2}', '{1, 2, 3}']
      Group: PS4_subalgebra_62: ['{}', '{0}', '{2}', '{0, 2}']
      Group: PS4_subalgebra_64: ['{}', '{0, 2}', '{0, 3}', '{2, 3}']

15 Isomorphic Commutative Normal Groups of order 2 with identity '{}':
      Group: PS4_subalgebra_7: ['{}', '{0, 1, 2, 3}']
      Group: PS4_subalgebra_15: ['{}', '{0, 3}']
      Group: PS4_subalgebra_19: ['{}', '{1, 2, 3}']
      Group: PS4_subalgebra_20: ['{}', '{2}']
      Group: PS4_subalgebra_28: ['{}', '{0}']
      Group: PS4_subalgebra_29: ['{}', '{2, 3}']
      Group: PS4_subalgebra_31: ['{}', '{0, 2, 3}']
      Group: PS4_subalgebra_35: ['{}', '{0, 1, 3}']
      Group: PS4_subalgebra_39: ['{}', '{3}']
      Group: PS4_subalgebra_40: ['{}', '{1, 2}']
      Group: PS4_subalgebra_44: ['{}', '{1, 3}']
      Group: PS4_subalgebra_49: ['{}', '{0, 1, 2}']
      Group: PS4_subalgebra_53: ['{}', '{0, 2}']
      Group: PS4_subalgebra_55: ['{}', '{0, 1}']
      Group: PS4_subalgebra_59: ['{}', '{1}']

In [65]:
psr.commutators()

{'{}'}

In [66]:
# psr.commutator_subgroup()

In [67]:
q8 = ex[13]
q8.about()

** Group **
Name: Q8
Instance ID: 4575384528
Description: Quaternion Group
Order: 8
Identity: '1'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     '1'     '1'       0
      1     'i'    '-i'       0
      2    '-1'    '-1'       0
      3    '-i'     'i'       0
      4     'j'    '-j'       0
      5     'k'    '-k'       0
      6    '-j'     'j'       0
      7    '-k'     'k'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 2, 3, 0, 1],
 [5, 6, 7, 4, 1, 2, 3, 0],
 [6, 7, 4, 5, 0, 1, 2, 3],
 [7, 4, 5, 6, 3, 0, 1, 2]]

'<Group:Q8, ID:4575384528>'

In [68]:
alg = q8
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Group:Q8, ID:4575384528>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Normal Groups of order 4 with identity '1':
      Group: Q8_subalgebra_0: ['1', 'i', '-1', '-i']
      Group: Q8_subalgebra_2: ['1', '-1', 'k', '-k']
      Group: Q8_subalgebra_3: ['1', '-1', 'j', '-j']

1 Commutative Normal Group of order 2 with identity '1':
      Group: Q8_subalgebra_1: ['1', '-1']

The order 2 normal subgroup, above, is the **commutator subgroup**, as shown below:

In [69]:
# alg.commutator_subgroup().about()

In [70]:
sd16 = ex[14]
sd16.about(max_size=16)

** Group **
Name: SD16
Instance ID: 4575291280
Description: Semidihedral group of order 16
Order: 16
Identity: 'e'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       0
      1     't'     't'       0
      2     's' 'ts^2ts'       0
      3    'st' 's^2ts'       0
      4   's^2' 'ts^2t'       0
      5  's^2t'  's^2t'       0
      6   'tst' 'tsts^2'       0
      7    'ts' 'sts^2'       0
      8  'tsts'  'tsts'       0
      9   'sts'   'sts'       0
     10 'tsts^2'   'tst'       0
     11 's^2ts'    'st'       0
     12 'ts^2t'   's^2'       0
     13  'ts^2'  'ts^2'       0
     14 'ts^2ts'     's'       0
     15 'sts^2'    'ts'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1],
 [3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3],
 [5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5],
 [7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0],
 [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2],
 [10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4],
 [12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6],
 [14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8]]

'<Group:SD16, ID:4575291280>'

In [71]:
alg = sd16
%time alg_subs = alg.proper_subalgebras()
%time partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

CPU times: user 2.93 s, sys: 9.08 ms, total: 2.94 s
Wall time: 2.94 s
CPU times: user 6.88 s, sys: 18.9 ms, total: 6.9 s
Wall time: 6.9 s

Subalgebras of <Group:SD16, ID:4575291280>
  There are 6 unique proper subalgebras, up to isomorphism, out of 13 total subalgebras.
  as shown by the partitions below:

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_0: ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']

1 Commutative Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_1: ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

5 Isomorphic Commutative Groups of order 2 with identity 'e':
      Group: SD16_subalgebra_2: ['e', 'ts^2']
      Group: SD16_subalgebra_5: ['e', 't']
      Group: SD16_subalgebra_7: ['e', 's^2t']
      Group: SD16_subalgebra_8: ['e', 'tsts']
      Group: SD16_subalgebra_10: ['e', 'sts']

2 Isomorphic Commutative Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_3: ['e', 't', 'tsts', 'sts']
      Group: SD16_subalgebra_11: ['e', 's^2t', 'tsts', 'ts^2']

1 Normal Group of order 8 with identity 'e':
      Group: SD16_subalgebra_4: ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']

3 Isomorphic Commutative Normal Groups of order 4 with identity 'e':
      Group: SD16_subalgebra_6: ['e', 's^2', 'tsts', 'ts^2t']
      Group: SD16_subalgebra_9: ['e', 'st', 'tsts', 's^2ts']
      Group: SD16_subalgebra_12: ['e', 'ts', 'tsts', 'sts^2']

**ISSUE**: subs 4 & 9 are normal, as shown below, but that is not indicated in the summary above.

In [72]:
print("\n" + "-"*40)
for sub in alg_subs:
    if alg.is_normal(sub):
        # sub.about(use_table_names=True)
        print("\n" + "-"*40)

----------------------------------------

----------------------------------------

----------------------------------------

----------------------------------------

----------------------------------------

----------------------------------------

**ISSUE**: Why isn't the order 4 commutator subgroup (derived below) one of the subgroups reported by the summary above?

In [73]:
# alg.commutator_subgroup().about()

**Observation**: The intersections of the element sets belonging to the 3 order 8 normal subgroups is the set of elements of the commutator subgroup.

In [74]:
x1 = ['e', 't', 's^2', 's^2t', 'tsts', 'sts', 'ts^2t', 'ts^2']
x2 = ['e', 'st', 's^2', 'ts', 'tsts', 's^2ts', 'ts^2t', 'sts^2']
x3 = ['e', 's', 's^2', 'tst', 'tsts', 'tsts^2', 'ts^2t', 'ts^2ts']

In [75]:
set(x1) & set(x2)

{'e', 's^2', 'ts^2t', 'tsts'}

In [76]:
set(x1) & set(x3)

{'e', 's^2', 'ts^2t', 'tsts'}

In [77]:
set(x2) & set(x3)

{'e', 's^2', 'ts^2t', 'tsts'}

In [78]:
alg.commutators()

{'e', 's^2', 'ts^2t', 'tsts'}

In [79]:
alg_subs[3].about()

** Group **
Name: SD16_subalgebra_3
Instance ID: 4911643152
Description: Subalgebra of: Semidihedral group of order 16
Order: 4
Identity: 'e'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       0
      1     't'     't'       0
      2  'tsts'  'tsts'       0
      3   'sts'   'sts'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

'<Group:SD16_subalgebra_3, ID:4911643152>'

In [80]:
alg_subs[8].about()

** Group **
Name: SD16_subalgebra_8
Instance ID: 4911634320
Description: Subalgebra of: Semidihedral group of order 16
Order: 2
Identity: 'e'
Commutative? Yes
Cyclic?: Yes
Generators: ['tsts']
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       0
      1  'tsts'  'tsts'       0
Cayley Table (showing indices):
[[0, 1], [1, 0]]

'<Group:SD16_subalgebra_8, ID:4911634320>'

In [81]:
alg_subs[10].about()

** Group **
Name: SD16_subalgebra_10
Instance ID: 4911642896
Description: Subalgebra of: Semidihedral group of order 16
Order: 2
Identity: 'e'
Commutative? Yes
Cyclic?: Yes
Generators: ['sts']
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       0
      1   'sts'   'sts'       0
Cayley Table (showing indices):
[[0, 1], [1, 0]]

'<Group:SD16_subalgebra_10, ID:4911642896>'

## More Work Needed Past This Point

Deriving subalgebras of Rings and Fields needs more work, as does the method for reporting on them: *about_isomorphic_partitions*

In [82]:
f4 = ex[9]
f4.about()

** Field **
Name: F4
Instance ID: 4565144528
Description: Field with 4 elements (from Wikipedia)
Order: 4
Identity: '0'
Commutative? Yes
Cyclic?: Yes
Generators: ['a', '1+a']
Elements:
   Index   Name   Inverse  Order
      0     '0'     '0'       0
      1     '1'     '1'       0
      2     'a'     'a'       0
      3   '1+a'   '1+a'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: '1'
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]

In [83]:
alg = f4
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Field:F4, ID:4565144528>
  There is 1 unique proper subalgebra, up to isomorphism, out of 1 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Field of order 2 with identity '0':
      Field: F4_subalgebra_0: ['0', '1']

In [84]:
ex6 = ex[12]
ex6.about()

** Ring **
Name: Ex6
Instance ID: 4575383696
Description: Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
Order: 4
Identity: '0'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     '0'     '0'       0
      1     'a'     'a'       0
      2     'b'     'b'       0
      3     'c'     'c'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: None
Mult. Commutative? No
Zero Divisors: ['a', 'b', 'c']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 0, 1, 1], [0, 0, 2, 2], [0, 0, 3, 3]]

In [85]:
alg = ex6
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Ring:Ex6, ID:4575383696>
  There is 1 unique proper subalgebra, up to isomorphism, out of 3 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Normal Fields of order 2 with identity '0':
      Field: Ex6_subalgebra_0: ['0', 'b']
      Field: Ex6_subalgebra_1: ['0', 'c']
      Ring: Ex6_subalgebra_2: ['0', 'a']

In [86]:
alg1 = generate_algebra_mod_n(12)
alg1.about(use_table_names=True)

** Ring **
Name: R12
Instance ID: 4903175760
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: '00'
Commutative? Yes
Cyclic?: Yes
Generators: ['11', '05', '01', '07']
Elements:
   Index   Name   Inverse  Order
      0    '00'    '00'       0
      1    '01'    '11'       0
      2    '02'    '10'       0
      3    '03'    '09'       0
      4    '04'    '08'       0
      5    '05'    '07'       0
      6    '06'    '06'       0
      7    '07'    '05'       0
      8    '08'    '04'       0
      9    '09'    '03'       0
     10    '10'    '02'       0
     11    '11'    '01'       0
Cayley Table (showing names):
[['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11'],
 ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '00'],
 ['02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '00', '01'],
 ['03', '04', '05', '06', '07', '08', '09', '10', '11', '00', '01', '02'],
 ['04', '05', '06', '07', '08', '09', '10', '11', '00', '01', '02', '03'],
 ['05', '06', '07', '08', '09', '10', '11', '00', '01', '02', '03', '04'],
 ['06', '07', '08', '09', '10', '11', '00', '01', '02', '03', '04', '05'],
 ['07', '08', '09', '10', '11', '00', '01', '02', '03', '04', '05', '06'],
 ['08', '09', '10', '11', '00', '01', '02', '03', '04', '05', '06', '07'],
 ['09', '10', '11', '00', '01', '02', '03', '04', '05', '06', '07', '08'],
 ['10', '11', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09'],
 ['11', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10']]
Mult. Identity: '01'
Mult. Commutative? Yes
Zero Divisors: ['02', '03', '04', '06', '08', '09', '10']
Multiplicative Cayley Table (showing names):
[['00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00', '00'],
 ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11'],
 ['00', '02', '04', '06', '08', '10', '00', '02', '04', '06', '08', '10'],
 ['00', '03', '06', '09', '00', '03', '06', '09', '00', '03', '06', '09'],
 ['00', '04', '08', '00', '04', '08', '00', '04', '08', '00', '04', '08'],
 ['00', '05', '10', '03', '08', '01', '06', '11', '04', '09', '02', '07'],
 ['00', '06', '00', '06', '00', '06', '00', '06', '00', '06', '00', '06'],
 ['00', '07', '02', '09', '04', '11', '06', '01', '08', '03', '10', '05'],
 ['00', '08', '04', '00', '08', '04', '00', '08', '04', '00', '08', '04'],
 ['00', '09', '06', '03', '00', '09', '06', '03', '00', '09', '06', '03'],
 ['00', '10', '08', '06', '04', '02', '00', '10', '08', '06', '04', '02'],
 ['00', '11', '10', '09', '08', '07', '06', '05', '04', '03', '02', '01']]

In [87]:
alg = alg1
alg_subs = alg.proper_subalgebras()
partitions = partition_into_isomorphic_lists(alg_subs)
about_isomorphic_partitions(alg, partitions)

Subalgebras of <Ring:R12, ID:4903175760>
  There are 4 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Ring of order 6 with identity '00':
      Ring: R12_subalgebra_0: ['00', '02', '04', '06', '08', '10']

1 Commutative Normal Field of order 3 with identity '00':
      Field: R12_subalgebra_1: ['00', '04', '08']

1 Commutative Normal Ring of order 4 with identity '00':
      Ring: R12_subalgebra_2: ['00', '03', '06', '09']

1 Commutative Normal Ring of order 2 with identity '00':
      Ring: R12_subalgebra_3: ['00', '06']

In [88]:
alg.zero_divisors()

['02', '03', '04', '06', '08', '09', '10']

In [89]:
alg.mult_identity

'01'