# Scratchwork

In [43]:
from finite_algebras import make_finite_algebra, generate_algebra_mod_n, generate_commutative_monoid
from finite_algebras import Group, Ring, Field, is_field, Examples

import numpy as np
from json import dump, dumps

In [24]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [25]:
rng = make_finite_algebra('Powerset Ring 2',
                          'Ring on powerset of {0, 1}',
                          ['{}', '{0}', '{1}', '{0, 1}'],
                          [[0, 1, 2, 3],
                           [1, 0, 3, 2],
                           [2, 3, 0, 1],
                           [3, 2, 1, 0]],
                          [[0, 0, 0, 0],
                           [0, 1, 0, 1],
                           [0, 0, 2, 2],
                           [0, 1, 2, 3]]
                         )
rng.about()

Ring: Powerset Ring 2
Instance ID: 140317949681872
Description: Ring on powerset of {0, 1}
Identity: {}
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0      {}      {}       1
      1     {0}     {0}       2
      2     {1}     {1}       2
      3  {0, 1}  {0, 1}       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: {0, 1}
Mult. Commutative? Yes
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 0, 1], [0, 0, 2, 2], [0, 1, 2, 3]]

In [26]:
elems = ['0', '1', 'a', '1+a']

add_table = [[ '0' ,  '1' ,  'a' , '1+a'],
             [ '1' ,  '0' , '1+a',  'a' ],
             [ 'a' , '1+a',  '0' ,  '1' ],
             ['1+a',  'a' ,  '1' ,  '0' ]]

mult_table = [['0',  '0' ,  '0' ,  '0' ],
              ['0',  '1' ,  'a' , '1+a'],
              ['0',  'a' , '1+a',  '1' ],
              ['0', '1+a',  '1' ,  'a' ]]

f4 = make_finite_algebra('F4',
                         'Field with 4 elements',
                         elems,
                         add_table,
                         mult_table
                        )
f4.about()

Field: F4
Instance ID: 140317949664656
Description: Field with 4 elements
Identity: 0
Associative? Yes
Commutative? Yes
Elements:
   Index   Name   Inverse  Order
      0       0       0       1
      1       1       1       2
      2       a       a       2
      3     1+a     1+a       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
Mult. Identity: 1
Mult. Commutative? Yes
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]

## To_Dict (NEW)

def to_dict_NEW2(alg, include_classname=False):
    result = {'name': alg.name,
              'description': alg.description,
              'elements': alg.elements,
              'table': alg.table.tolist()
             }
    if isinstance(alg, Ring):
        result['table2'] = alg.mult_table.tolist()
    if include_classname:
        result['type'] = alg.__class__.__name__
    return result

In [29]:
# to_dict_NEW2(rng, include_classname=True)
to_dict_NEW2(rng)

{'name': 'Powerset Ring 2',
 'description': 'Ring on powerset of {0, 1}',
 'elements': ['{}', '{0}', '{1}', '{0, 1}'],
 'table': [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
 'table2': [[0, 0, 0, 0], [0, 1, 0, 1], [0, 0, 2, 2], [0, 1, 2, 3]]}

In [30]:
f4_dict = f4.to_dict()
f4_dict

{'name': 'F4',
 'description': 'Field with 4 elements',
 'elements': ['0', '1', 'a', '1+a'],
 'table': [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
 'table2': [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]}

In [31]:
f4.dumps()

'{"name": "F4", "description": "Field with 4 elements", "elements": ["0", "1", "a", "1+a"], "table": [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]], "table2": [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]}'

In [32]:
>>> f4_json = os.path.join(alg_dir, "field_with_four_elements.json")

>>> !cat {f4_json}

{"name": "F4",
 "description": "Field with 4 elements (from Wikipedia)",
 "elements": ["0", "1", "a", "1+a"],
 "table": [[0, 1, 2, 3],
           [1, 0, 3, 2],
           [2, 3, 0, 1],
           [3, 2, 1, 0]],
 "table2": [[0, 0, 0, 0],
            [0, 1, 2, 3],
            [0, 2, 3, 1],
            [0, 3, 1, 2]]
}

In [33]:
>>> f4 = make_finite_algebra(f4_json)

>>> f4

Field(
'F4',
'Field with 4 elements (from Wikipedia)',
['0', '1', 'a', '1+a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]
)

In [34]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  10 example algebras are available.
  Use "get_example(INDEX)" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
======================================================================

In [36]:
f4new = ex.get_example(9)
f4new

Field(
'F4',
'Field with 4 elements (from Wikipedia)',
['0', '1', 'a', '1+a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]],
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 3, 1], [0, 3, 1, 2]]
)