# Scratchwork

This notebook is only used for trying out ideas.

In [1]:
import algebras as alg
import json
import os
import numpy as np
import itertools as it
from pprint import pprint

from itertools import combinations, permutations, product

In [2]:
# Path to this repo
aa_path = os.path.join(os.getenv('PYPROJ'), 'abstract_algebra')

# Path to a directory containing Algebra definitions in JSON
alg_dir = os.path.join(aa_path, "Algebras")

## Groups for Testing

### D4 - Dihedral Group on 4 Vertices

In [3]:
d4_path = os.path.join(alg_dir, "d4_dihedral_group_on_4_vertices.json")
!cat {d4_path}

{"type": "Group",
 "name": "D_4",
 "description": "Dihedral group on four vertices",
 "element_names": ["e", "r", "r^2", "r^3", "f", "fr", "r^2f", "rf"],
 "alt_elem_names": ["()", "(0 1 2 3)", "(0 2)(1 3)", "(0 3 2 1)",
                    "(0 1)(2 3)", "(1 3)", "(0 3)(1 2)", "(0 2)"],
 "mult_table": [[0, 1, 2, 3, 4, 5, 6, 7],
                [1, 2, 3, 0, 7, 4, 5, 6],
                [2, 3, 0, 1, 6, 7, 4, 5],
                [3, 0, 1, 2, 5, 6, 7, 4],
                [4, 5, 6, 7, 0, 1, 2, 3],
                [5, 6, 7, 4, 3, 0, 1, 2],
                [6, 7, 4, 5, 2, 3, 0, 1],
                [7, 4, 5, 6, 1, 2, 3, 0]]
}

In [4]:
d4 = alg.Group(d4_path)
d4.print_info()

Group : D_4 : Dihedral group on four vertices
  Element Names: ['e', 'r', 'r^2', 'r^3', 'f', 'fr', 'r^2f', 'rf']
  Is Abelian? False
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(r) = r^3
    inv(r^2) = r^2   **
    inv(r^3) = r
    inv(f) = f   **
    inv(fr) = fr   **
    inv(r^2f) = r^2f   **
    inv(rf) = rf   **
Element Orders:
{1: ['e'], 2: ['r^2', 'f', 'fr', 'r^2f', 'rf'], 4: ['r', 'r^3']}
  Is associative? True
  Cayley Table:
[['e', 'r', 'r^2', 'r^3', 'f', 'fr', 'r^2f', 'rf'],
 ['r', 'r^2', 'r^3', 'e', 'rf', 'f', 'fr', 'r^2f'],
 ['r^2', 'r^3', 'e', 'r', 'r^2f', 'rf', 'f', 'fr'],
 ['r^3', 'e', 'r', 'r^2', 'fr', 'r^2f', 'rf', 'f'],
 ['f', 'fr', 'r^2f', 'rf', 'e', 'r', 'r^2', 'r^3'],
 ['fr', 'r^2f', 'rf', 'f', 'r^3', 'e', 'r', 'r^2'],
 ['r^2f', 'rf', 'f', 'fr', 'r^2', 'r^3', 'e', 'r'],
 ['rf', 'f', 'fr', 'r^2f', 'r', 'r^2', 'r^3', 'e']]

### V4 - Klein 4 Group

In [5]:
v4_path = os.path.join(alg_dir, "v4_klein_4_group.json")
!cat {v4_path}

{"type": "Group",
 "name": "V4",
 "description": "Klein-4 group",
 "element_names": ["e", "h", "v", "hv"],
 "mult_table": [[0, 1, 2, 3],
                [1, 0, 3, 2],
                [2, 3, 0, 1],
                [3, 2, 1, 0]]
}

In [6]:
v4 = alg.Group(v4_path)
v4.print_info()

Group : V4 : Klein-4 group
  Element Names: ['e', 'h', 'v', 'hv']
  Is Abelian? True
  Inverses:  (** - indicates that it is its own inverse)
    inv(e) = e   **
    inv(h) = h   **
    inv(v) = v   **
    inv(hv) = hv   **
Element Orders:
{1: ['e'], 2: ['h', 'v', 'hv']}
  Is associative? True
  Cayley Table:
[['e', 'h', 'v', 'hv'],
 ['h', 'e', 'hv', 'v'],
 ['v', 'hv', 'e', 'h'],
 ['hv', 'v', 'h', 'e']]

## Changing the Order of Elements

<b>Observation</b>: If the group is abelian, then changing the order of the elements does <b>not</b> affect the order of the indices in the <i>mult_table</i>.  <b>Why?</b>

In [7]:
# new_elem_order = v4.element_names
# new_v4_elem_order = ['e', 'v', 'h', 'hv']
new_v4_elem_order = ["e", "hv", "h", "v"]

In [8]:
#table_from_reordered_elements(v4, new_v4_elem_order)
v4_reordered = v4.reorder_elements(new_v4_elem_order)
v4_reordered

Group('V4_REORDERED',
'Klein-4 group (elements reordered)',
['e', 'hv', 'h', 'v'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

In [9]:
pprint(v4_reordered.mult_table_with_names())

[['e', 'hv', 'h', 'v'],
 ['hv', 'e', 'v', 'h'],
 ['h', 'v', 'e', 'hv'],
 ['v', 'h', 'hv', 'e']]

In [10]:
v4_reordered.mult_table

array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 0, 1],
       [3, 2, 1, 0]])

In [11]:
pprint(v4.mult_table_with_names())

[['e', 'h', 'v', 'hv'],
 ['h', 'e', 'hv', 'v'],
 ['v', 'hv', 'e', 'h'],
 ['hv', 'v', 'h', 'e']]

In [12]:
v4.mult_table

array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 0, 1],
       [3, 2, 1, 0]])

In [13]:
new_d4_elem_order = ["e", "r", "r^2", "f", "r^3", "fr", "r^2f", "rf"]

In [14]:
d4_reordered = d4.reorder_elements(new_d4_elem_order)
d4_reordered

Group('D_4_REORDERED',
'Dihedral group on four vertices (elements reordered)',
['e', 'r', 'r^2', 'f', 'r^3', 'fr', 'r^2f', 'rf'],
[[0, 1, 2, 3, 4, 5, 6, 7], [1, 2, 4, 7, 0, 3, 5, 6], [2, 4, 0, 6, 1, 7, 3, 5], [3, 5, 6, 0, 7, 1, 2, 4], [4, 0, 1, 5, 2, 6, 7, 3], [5, 6, 7, 4, 3, 0, 1, 2], [6, 7, 3, 2, 5, 4, 0, 1], [7, 3, 5, 1, 6, 2, 4, 0]])

In [15]:
d4_reordered.mult_table

array([[0, 1, 2, 3, 4, 5, 6, 7],
       [1, 2, 4, 7, 0, 3, 5, 6],
       [2, 4, 0, 6, 1, 7, 3, 5],
       [3, 5, 6, 0, 7, 1, 2, 4],
       [4, 0, 1, 5, 2, 6, 7, 3],
       [5, 6, 7, 4, 3, 0, 1, 2],
       [6, 7, 3, 2, 5, 4, 0, 1],
       [7, 3, 5, 1, 6, 2, 4, 0]])

In [16]:
d4.mult_table

array([[0, 1, 2, 3, 4, 5, 6, 7],
       [1, 2, 3, 0, 7, 4, 5, 6],
       [2, 3, 0, 1, 6, 7, 4, 5],
       [3, 0, 1, 2, 5, 6, 7, 4],
       [4, 5, 6, 7, 0, 1, 2, 3],
       [5, 6, 7, 4, 3, 0, 1, 2],
       [6, 7, 4, 5, 2, 3, 0, 1],
       [7, 4, 5, 6, 1, 2, 3, 0]])

In [17]:
d4.element_orders()

{'e': 1, 'r': 4, 'r^2': 2, 'r^3': 4, 'f': 2, 'fr': 2, 'r^2f': 2, 'rf': 2}

In [18]:
d4_reordered.element_orders()

{'e': 1, 'r': 4, 'r^2': 2, 'f': 2, 'r^3': 4, 'fr': 2, 'r^2f': 2, 'rf': 2}

## Generating Possible Multiplication Tables

In [19]:
foo = alg.generate_all_group_tables(4)
foo

[([0, 1, 2, 3], (1, 0, 3, 2), (2, 3, 0, 1), (3, 2, 1, 0)),
 ([0, 1, 2, 3], (1, 0, 3, 2), (2, 3, 1, 0), (3, 2, 0, 1)),
 ([0, 1, 2, 3], (1, 2, 3, 0), (2, 3, 0, 1), (3, 0, 1, 2)),
 ([0, 1, 2, 3], (1, 3, 0, 2), (2, 0, 3, 1), (3, 2, 1, 0))]

In [20]:
for t in foo:
    pprint(np.array(t))

array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 0, 1],
       [3, 2, 1, 0]])
array([[0, 1, 2, 3],
       [1, 0, 3, 2],
       [2, 3, 1, 0],
       [3, 2, 0, 1]])
array([[0, 1, 2, 3],
       [1, 2, 3, 0],
       [2, 3, 0, 1],
       [3, 0, 1, 2]])
array([[0, 1, 2, 3],
       [1, 3, 0, 2],
       [2, 0, 3, 1],
       [3, 2, 1, 0]])

def tables_to_groups(tables, identity_name="e", elem_name="a"):
    order = len(tables[0])
    groups = []
    for j in range(len(tables)):
        gname = f"G{j}"
        desc = f"Group {j} of order {order}"
        ename = elem_name + str(j)
        elements = [identity_name + str(j)] + [f"{ename}" + str(i) for i in range(1, order)]
        groups.append(alg.Group(gname, desc, elements, tables[j]))
    return groups

In [21]:
foobar = alg.tables_to_groups(foo)
#for fb in foobar:
#    fb.pprint()

g0 = foobar[0]
g1 = foobar[1]
g2 = foobar[2]
g3 = foobar[3]

In [22]:
[g for g in foobar if g.associative()]

[Group('G0',
 'Group 0 of order 4',
 ['e0', 'a01', 'a02', 'a03'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]) ,
 Group('G1',
 'Group 1 of order 4',
 ['e1', 'a11', 'a12', 'a13'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 1, 0], [3, 2, 0, 1]]) ,
 Group('G2',
 'Group 2 of order 4',
 ['e2', 'a21', 'a22', 'a23'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]) ,
 Group('G3',
 'Group 3 of order 4',
 ['e3', 'a31', 'a32', 'a33'],
 [[0, 1, 2, 3], [1, 3, 0, 2], [2, 0, 3, 1], [3, 2, 1, 0]]) ]

## G0

In [23]:
g0

Group('G0',
'Group 0 of order 4',
['e0', 'a01', 'a02', 'a03'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]])

## G1

In [24]:
g1  # Same as v4 and z2_x_z2, below

Group('G1',
'Group 1 of order 4',
['e1', 'a11', 'a12', 'a13'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 1, 0], [3, 2, 0, 1]])

In [25]:
v4.pprint()

Group('V4',
'Klein-4 group',
['e', 'h', 'v', 'hv'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [26]:
z2 = alg.generate_cyclic_group(2)
#z2.pprint()

z2_x_z2 = z2 * z2
z2_x_z2.pprint()

Group('Z2_x_Z2',
'Direct product of Z2 & Z2',
['e:e', 'e:a', 'a:e', 'a:a'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

## G2

In [27]:
g2  # Same as z4, below

Group('G2',
'Group 2 of order 4',
['e2', 'a21', 'a22', 'a23'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])

In [28]:
z4 = alg.generate_cyclic_group(4)
z4

Group('Z4',
'Cyclic group of order 4',
['e', 'a', 'a^2', 'a^3'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])

## G3

In [29]:
g3

Group('G3',
'Group 3 of order 4',
['e3', 'a31', 'a32', 'a33'],
[[0, 1, 2, 3], [1, 3, 0, 2], [2, 0, 3, 1], [3, 2, 1, 0]])

## Groups of Prime Order

In [30]:
order = 5

In [31]:
cyclic_group = alg.generate_cyclic_group(order)

In [32]:
cyclic_group.pprint()

Group('Z5',
'Cyclic group of order 5',
['e', 'a', 'a^2', 'a^3', 'a^4'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 3, 4, 0, 1],
 [3, 4, 0, 1, 2],
 [4, 0, 1, 2, 3]]
)

In [33]:
all_tables = alg.generate_all_group_tables(order)
len(all_tables)

56

In [34]:
all_groups = alg.tables_to_groups(all_tables)
for grp in all_groups:
    grp.pprint()

Group('G0',
'Group 0 of order 5',
['e0', 'a01', 'a02', 'a03', 'a04'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 3, 4, 0, 1],
 [3, 4, 1, 2, 0],
 [4, 2, 0, 1, 3]]
)
Group('G1',
'Group 1 of order 5',
['e1', 'a11', 'a12', 'a13', 'a14'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 3, 4, 1, 0],
 [3, 4, 0, 2, 1],
 [4, 2, 1, 0, 3]]
)
Group('G2',
'Group 2 of order 5',
['e2', 'a21', 'a22', 'a23', 'a24'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 4, 0, 1, 3],
 [3, 2, 4, 0, 1],
 [4, 3, 1, 2, 0]]
)
Group('G3',
'Group 3 of order 5',
['e3', 'a31', 'a32', 'a33', 'a34'],
[[0, 1, 2, 3, 4],
 [1, 0, 3, 4, 2],
 [2, 4, 1, 0, 3],
 [3, 2, 4, 1, 0],
 [4, 3, 0, 2, 1]]
)
Group('G4',
'Group 4 of order 5',
['e4', 'a41', 'a42', 'a43', 'a44'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 3, 0, 4, 1],
 [3, 4, 1, 0, 2],
 [4, 2, 3, 1, 0]]
)
Group('G5',
'Group 5 of order 5',
['e5', 'a51', 'a52', 'a53', 'a54'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 3, 1, 4, 0],
 [3, 4, 0, 1, 2],
 [4, 2, 3, 0, 1]]
)
Group('G6',
'Group 6 of order 5',
['e6', 'a61', 'a62', 'a63', 'a64'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 4, 3, 0, 1],
 [3, 2, 1, 4, 0],
 [4, 3, 0, 1, 2]]
)
Group('G7',
'Group 7 of order 5',
['e7', 'a71', 'a72', 'a73', 'a74'],
[[0, 1, 2, 3, 4],
 [1, 0, 4, 2, 3],
 [2, 4, 3, 1, 0],
 [3, 2, 0, 4, 1],
 [4, 3, 1, 0, 2]]
)
Group('G8',
'Group 8 of order 5',
['e8', 'a81', 'a82', 'a83', 'a84'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 3, 4, 0, 1],
 [3, 4, 1, 2, 0],
 [4, 0, 3, 1, 2]]
)
Group('G9',
'Group 9 of order 5',
['e9', 'a91', 'a92', 'a93', 'a94'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 3, 4, 1, 0],
 [3, 4, 1, 0, 2],
 [4, 0, 3, 2, 1]]
)
Group('G10',
'Group 10 of order 5',
['e10', 'a101', 'a102', 'a103', 'a104'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 4, 3, 0, 1],
 [3, 0, 4, 1, 2],
 [4, 3, 1, 2, 0]]
)
Group('G11',
'Group 11 of order 5',
['e11', 'a111', 'a112', 'a113', 'a114'],
[[0, 1, 2, 3, 4],
 [1, 2, 0, 4, 3],
 [2, 4, 3, 1, 0],
 [3, 0, 4, 2, 1],
 [4, 3, 1, 0, 2]]
)
Group('G12',
'Group 12 of order 5',
['e12', 'a121', 'a122', 'a123', 'a124'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 0, 4, 1, 3],
 [3, 4, 0, 2, 1],
 [4, 3, 1, 0, 2]]
)
Group('G13',
'Group 13 of order 5',
['e13', 'a131', 'a132', 'a133', 'a134'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 0, 4, 1, 3],
 [3, 4, 1, 0, 2],
 [4, 3, 0, 2, 1]]
)
Group('G14',
'Group 14 of order 5',
['e14', 'a141', 'a142', 'a143', 'a144'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 3, 4, 0, 1],
 [3, 4, 0, 1, 2],
 [4, 0, 1, 2, 3]]
)
Group('G15',
'Group 15 of order 5',
['e15', 'a151', 'a152', 'a153', 'a154'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 4, 0, 1, 3],
 [3, 0, 4, 2, 1],
 [4, 3, 1, 0, 2]]
)
Group('G16',
'Group 16 of order 5',
['e16', 'a161', 'a162', 'a163', 'a164'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 4, 1, 0, 3],
 [3, 0, 4, 1, 2],
 [4, 3, 0, 2, 1]]
)
Group('G17',
'Group 17 of order 5',
['e17', 'a171', 'a172', 'a173', 'a174'],
[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 0],
 [2, 4, 1, 0, 3],
 [3, 0, 4, 2, 1],
 [4, 3, 0, 1, 2]]
)
Group('G18',
'Group 18 of order 5',
['e18', 'a181', 'a182', 'a183', 'a184'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 0, 3, 4, 1],
 [3, 4, 0, 1, 2],
 [4, 3, 1, 2, 0]]
)
Group('G19',
'Group 19 of order 5',
['e19', 'a191', 'a192', 'a193', 'a194'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 0, 3, 4, 1],
 [3, 4, 1, 2, 0],
 [4, 3, 0, 1, 2]]
)
Group('G20',
'Group 20 of order 5',
['e20', 'a201', 'a202', 'a203', 'a204'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 3, 0, 4, 1],
 [3, 4, 1, 2, 0],
 [4, 0, 3, 1, 2]]
)
Group('G21',
'Group 21 of order 5',
['e21', 'a211', 'a212', 'a213', 'a214'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 3, 1, 4, 0],
 [3, 4, 0, 1, 2],
 [4, 0, 3, 2, 1]]
)
Group('G22',
'Group 22 of order 5',
['e22', 'a221', 'a222', 'a223', 'a224'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 3, 1, 4, 0],
 [3, 4, 0, 2, 1],
 [4, 0, 3, 1, 2]]
)
Group('G23',
'Group 23 of order 5',
['e23', 'a231', 'a232', 'a233', 'a234'],
[[0, 1, 2, 3, 4],
 [1, 2, 4, 0, 3],
 [2, 4, 3, 1, 0],
 [3, 0, 1, 4, 2],
 [4, 3, 0, 2, 1]]
)
Group('G24',
'Group 24 of order 5',
['e24', 'a241', 'a242', 'a243', 'a244'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 0, 4, 1, 3],
 [3, 4, 1, 2, 0],
 [4, 2, 3, 0, 1]]
)
Group('G25',
'Group 25 of order 5',
['e25', 'a251', 'a252', 'a253', 'a254'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 1, 0, 3],
 [3, 0, 4, 2, 1],
 [4, 2, 3, 1, 0]]
)
Group('G26',
'Group 26 of order 5',
['e26', 'a261', 'a262', 'a263', 'a264'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 1, 0, 3],
 [3, 2, 4, 1, 0],
 [4, 0, 3, 2, 1]]
)
Group('G27',
'Group 27 of order 5',
['e27', 'a271', 'a272', 'a273', 'a274'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 3, 0, 1],
 [3, 2, 4, 1, 0],
 [4, 0, 1, 2, 3]]
)
Group('G28',
'Group 28 of order 5',
['e28', 'a281', 'a282', 'a283', 'a284'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 3, 1, 0],
 [3, 0, 4, 2, 1],
 [4, 2, 1, 0, 3]]
)
Group('G29',
'Group 29 of order 5',
['e29', 'a291', 'a292', 'a293', 'a294'],
[[0, 1, 2, 3, 4],
 [1, 3, 0, 4, 2],
 [2, 4, 3, 1, 0],
 [3, 2, 4, 0, 1],
 [4, 0, 1, 2, 3]]
)
Group('G30',
'Group 30 of order 5',
['e30', 'a301', 'a302', 'a303', 'a304'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 0, 1, 4, 3],
 [3, 4, 0, 2, 1],
 [4, 2, 3, 1, 0]]
)
Group('G31',
'Group 31 of order 5',
['e31', 'a311', 'a312', 'a313', 'a314'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 0, 3, 4, 1],
 [3, 4, 1, 2, 0],
 [4, 2, 0, 1, 3]]
)
Group('G32',
'Group 32 of order 5',
['e32', 'a321', 'a322', 'a323', 'a324'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 4, 0, 1, 3],
 [3, 2, 1, 4, 0],
 [4, 0, 3, 2, 1]]
)
Group('G33',
'Group 33 of order 5',
['e33', 'a331', 'a332', 'a333', 'a334'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 0, 2],
 [2, 4, 3, 1, 0],
 [3, 2, 0, 4, 1],
 [4, 0, 1, 2, 3]]
)
Group('G34',
'Group 34 of order 5',
['e34', 'a341', 'a342', 'a343', 'a344'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 0, 1, 4, 3],
 [3, 4, 0, 1, 2],
 [4, 2, 3, 0, 1]]
)
Group('G35',
'Group 35 of order 5',
['e35', 'a351', 'a352', 'a353', 'a354'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 0, 3, 4, 1],
 [3, 4, 0, 1, 2],
 [4, 2, 1, 0, 3]]
)
Group('G36',
'Group 36 of order 5',
['e36', 'a361', 'a362', 'a363', 'a364'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 0, 3, 4, 1],
 [3, 4, 1, 0, 2],
 [4, 2, 0, 1, 3]]
)
Group('G37',
'Group 37 of order 5',
['e37', 'a371', 'a372', 'a373', 'a374'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 4, 0, 1, 3],
 [3, 0, 1, 4, 2],
 [4, 2, 3, 0, 1]]
)
Group('G38',
'Group 38 of order 5',
['e38', 'a381', 'a382', 'a383', 'a384'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 4, 1, 0, 3],
 [3, 2, 0, 4, 1],
 [4, 0, 3, 1, 2]]
)
Group('G39',
'Group 39 of order 5',
['e39', 'a391', 'a392', 'a393', 'a394'],
[[0, 1, 2, 3, 4],
 [1, 3, 4, 2, 0],
 [2, 4, 3, 0, 1],
 [3, 0, 1, 4, 2],
 [4, 2, 0, 1, 3]]
)
Group('G40',
'Group 40 of order 5',
['e40', 'a401', 'a402', 'a403', 'a404'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 0, 3, 4, 1],
 [3, 2, 4, 1, 0],
 [4, 3, 1, 0, 2]]
)
Group('G41',
'Group 41 of order 5',
['e41', 'a411', 'a412', 'a413', 'a414'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 1, 4, 0],
 [3, 0, 4, 1, 2],
 [4, 2, 3, 0, 1]]
)
Group('G42',
'Group 42 of order 5',
['e42', 'a421', 'a422', 'a423', 'a424'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 1, 4, 0],
 [3, 2, 4, 0, 1],
 [4, 0, 3, 1, 2]]
)
Group('G43',
'Group 43 of order 5',
['e43', 'a431', 'a432', 'a433', 'a434'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 4, 0, 1],
 [3, 0, 1, 4, 2],
 [4, 2, 3, 1, 0]]
)
Group('G44',
'Group 44 of order 5',
['e44', 'a441', 'a442', 'a443', 'a444'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 4, 0, 1],
 [3, 2, 1, 4, 0],
 [4, 0, 3, 1, 2]]
)
Group('G45',
'Group 45 of order 5',
['e45', 'a451', 'a452', 'a453', 'a454'],
[[0, 1, 2, 3, 4],
 [1, 4, 0, 2, 3],
 [2, 3, 4, 1, 0],
 [3, 0, 1, 4, 2],
 [4, 2, 3, 0, 1]]
)
Group('G46',
'Group 46 of order 5',
['e46', 'a461', 'a462', 'a463', 'a464'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 0, 1, 4, 3],
 [3, 2, 4, 1, 0],
 [4, 3, 0, 2, 1]]
)
Group('G47',
'Group 47 of order 5',
['e47', 'a471', 'a472', 'a473', 'a474'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 0, 4, 1, 3],
 [3, 2, 0, 4, 1],
 [4, 3, 1, 2, 0]]
)
Group('G48',
'Group 48 of order 5',
['e48', 'a481', 'a482', 'a483', 'a484'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 0, 4, 1, 3],
 [3, 2, 1, 4, 0],
 [4, 3, 0, 2, 1]]
)
Group('G49',
'Group 49 of order 5',
['e49', 'a491', 'a492', 'a493', 'a494'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 3, 0, 4, 1],
 [3, 2, 4, 1, 0],
 [4, 0, 1, 2, 3]]
)
Group('G50',
'Group 50 of order 5',
['e50', 'a501', 'a502', 'a503', 'a504'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 3, 1, 4, 0],
 [3, 0, 4, 2, 1],
 [4, 2, 0, 1, 3]]
)
Group('G51',
'Group 51 of order 5',
['e51', 'a511', 'a512', 'a513', 'a514'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 0, 2],
 [2, 3, 4, 1, 0],
 [3, 2, 0, 4, 1],
 [4, 0, 1, 2, 3]]
)
Group('G52',
'Group 52 of order 5',
['e52', 'a521', 'a522', 'a523', 'a524'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 0, 1, 4, 3],
 [3, 2, 4, 0, 1],
 [4, 3, 0, 1, 2]]
)
Group('G53',
'Group 53 of order 5',
['e53', 'a531', 'a532', 'a533', 'a534'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 0, 4, 1, 3],
 [3, 2, 0, 4, 1],
 [4, 3, 1, 0, 2]]
)
Group('G54',
'Group 54 of order 5',
['e54', 'a541', 'a542', 'a543', 'a544'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 3, 0, 4, 1],
 [3, 0, 4, 1, 2],
 [4, 2, 1, 0, 3]]
)
Group('G55',
'Group 55 of order 5',
['e55', 'a551', 'a552', 'a553', 'a554'],
[[0, 1, 2, 3, 4],
 [1, 4, 3, 2, 0],
 [2, 3, 4, 0, 1],
 [3, 0, 1, 4, 2],
 [4, 2, 0, 1, 3]]
)

In [35]:
[g for g in all_groups if g.abelian()]

[Group('G14',
 'Group 14 of order 5',
 ['e14', 'a141', 'a142', 'a143', 'a144'],
 [[0, 1, 2, 3, 4], [1, 2, 3, 4, 0], [2, 3, 4, 0, 1], [3, 4, 0, 1, 2], [4, 0, 1, 2, 3]]) ,
 Group('G23',
 'Group 23 of order 5',
 ['e23', 'a231', 'a232', 'a233', 'a234'],
 [[0, 1, 2, 3, 4], [1, 2, 4, 0, 3], [2, 4, 3, 1, 0], [3, 0, 1, 4, 2], [4, 3, 0, 2, 1]]) ,
 Group('G24',
 'Group 24 of order 5',
 ['e24', 'a241', 'a242', 'a243', 'a244'],
 [[0, 1, 2, 3, 4], [1, 3, 0, 4, 2], [2, 0, 4, 1, 3], [3, 4, 1, 2, 0], [4, 2, 3, 0, 1]]) ,
 Group('G38',
 'Group 38 of order 5',
 ['e38', 'a381', 'a382', 'a383', 'a384'],
 [[0, 1, 2, 3, 4], [1, 3, 4, 2, 0], [2, 4, 1, 0, 3], [3, 2, 0, 4, 1], [4, 0, 3, 1, 2]]) ,
 Group('G40',
 'Group 40 of order 5',
 ['e40', 'a401', 'a402', 'a403', 'a404'],
 [[0, 1, 2, 3, 4], [1, 4, 0, 2, 3], [2, 0, 3, 4, 1], [3, 2, 4, 1, 0], [4, 3, 1, 0, 2]]) ,
 Group('G50',
 'Group 50 of order 5',
 ['e50', 'a501', 'a502', 'a503', 'a504'],
 [[0, 1, 2, 3, 4], [1, 4, 3, 0, 2], [2, 3, 1, 4, 0], [3, 0, 4, 2, 1], [4, 2, 0, 1, 3]]) ]

## Mapping a Group to another Group

In [36]:
elems0 = ['e0', 'a01', 'a02', 'a03']
elems1 = ['e1', 'a11', 'a12', 'a13']

mappings = [dict(zip(elems0[1:], perm)) for perm in permutations(elems1[1:])]

for mapping in mappings:
    mapping[elems0[0]] = elems1[0]

mappings

def element_mappings(group0, group1):
    """Returns a list of mappings (dictionaries) of group0's elements to all possible permutations
    of group1's elements, where the identity of group0 is always mapped to the identity of group1."""
    elems0 = group0.element_names
    elems1 = group1.element_names
    mappings = [dict(zip(elems0[1:], perm)) for perm in permutations(elems1[1:])]
    for mapping in mappings:
        mapping[elems0[0]] = elems1[0]
    return mappings

In [37]:
print(z4.element_names)
print(g2.element_names)
#z4_g2_mappings = element_mappings(z4, g2)
z4_g2_mappings = z4.element_mappings(g2)
z4_g2_mappings

['e', 'a', 'a^2', 'a^3']
['e2', 'a21', 'a22', 'a23']

[{'a': 'a21', 'a^2': 'a22', 'a^3': 'a23', 'e': 'e2'},
 {'a': 'a21', 'a^2': 'a23', 'a^3': 'a22', 'e': 'e2'},
 {'a': 'a22', 'a^2': 'a21', 'a^3': 'a23', 'e': 'e2'},
 {'a': 'a22', 'a^2': 'a23', 'a^3': 'a21', 'e': 'e2'},
 {'a': 'a23', 'a^2': 'a21', 'a^3': 'a22', 'e': 'e2'},
 {'a': 'a23', 'a^2': 'a22', 'a^3': 'a21', 'e': 'e2'}]

In [38]:
m0 = z4_g2_mappings[0]
# all([ m0[z4.mult(x, y)] == g2.mult(m0[x], m0[y]) for x in z4.element_names for y in z4.element_names ])

def isomorphic_mapping(mapping, g, h):
    """Returns True if the mapping from group, g, to group, h, is isomorphic."""
    elems = g.element_names
    return all( [mapping[ g.mult(x, y) ] == h.mult( mapping[x], mapping[y] ) for x in elems for y in elems] )

In [39]:
# isomorphic_mapping(m0, z4, g2)
z4.isomorphic_mapping(g2, m0)

True

In [40]:
# Try it the other way around
# g2_z2_mappings = element_mappings(g2, z4)
g2_z2_mappings = g2.element_mappings(z4)
m0x = g2_z2_mappings[0]
# isomorphic_mapping(m0x, g2, z4)
g2.isomorphic_mapping(z4, m0x)

True

def isomorphic(g1, g2):
    maps = element_mappings(g1, g2)
    for m in maps:
        if isomorphic_mapping(m, g1, g2):
            return m
    return False

In [41]:
z4.isomorphic(g2)

{'a': 'a21', 'a^2': 'a22', 'a^3': 'a23', 'e': 'e2'}

In [42]:
g2.isomorphic(z4)

{'a21': 'a', 'a22': 'a^2', 'a23': 'a^3', 'e2': 'e'}

In [43]:
foobar

[Group('G0',
 'Group 0 of order 4',
 ['e0', 'a01', 'a02', 'a03'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]) ,
 Group('G1',
 'Group 1 of order 4',
 ['e1', 'a11', 'a12', 'a13'],
 [[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 1, 0], [3, 2, 0, 1]]) ,
 Group('G2',
 'Group 2 of order 4',
 ['e2', 'a21', 'a22', 'a23'],
 [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]) ,
 Group('G3',
 'Group 3 of order 4',
 ['e3', 'a31', 'a32', 'a33'],
 [[0, 1, 2, 3], [1, 3, 0, 2], [2, 0, 3, 1], [3, 2, 1, 0]]) ]

In [44]:
for combo in combinations(foobar,2):
    mp = combo[0].isomorphic(combo[1])
    if mp:
        print(combo[0].name, combo[1].name, mp)

G1 G2 {'a11': 'a22', 'a12': 'a21', 'a13': 'a23', 'e1': 'e2'}
G1 G3 {'a11': 'a33', 'a12': 'a31', 'a13': 'a32', 'e1': 'e3'}
G2 G3 {'a21': 'a31', 'a22': 'a33', 'a23': 'a32', 'e2': 'e3'}

### U(5) = {1, 2, 3, 4} under multiplication modulo 5

See Ref: "Subgroups of Order 4 (PDF)"

In [ ]:
order = 4

In [57]:
[[((a * b) % order) for b in range(1, order)] for a in range(1, order)]

[[1, 2, 3, 4], [2, 4, 1, 3], [3, 1, 4, 2], [4, 3, 2, 1]]

In [58]:
def group_generate_1(order, identity_name="e", elem_name="a", name=None, description=None):
    """Returns a Group with the input order, where 'order' is a positive integer."""
    if name:
        nm = name
    else:
        nm = "Z" + str(order)
    if description:
        desc = description
    else:
        desc = f"Group of order {order}"
    elements = [identity_name, elem_name] + [f"{elem_name}" + str(i) for i in range(2, order)]
    table = [[((a * b) % (order + 1)) for b in range(1, order + 1)] for a in range(1, order + 1)]
    return alg.Group(nm, desc, elements, table)

In [59]:
group_generate_1(4)

ValueError: A row 0 does not contain the correct values