# Miscellaneous Scratchwork

In [1]:
import finite_algebras as alg

import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = alg.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

In [4]:
v4 = ex[7]
v4.about()

** Group **
Name: V4
Instance ID: 4969636624
Description: Klein-4 group
Order: 4
Identity: 'e'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1     'h'     'h'       2
      2     'v'     'v'       2
      3     'r'     'r'       2
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

'<Group:V4, ID:4969636624>'

In [6]:
z4 = ex[8]
z4.about()

** Group **
Name: Z4
Instance ID: 4969641168
Description: Cyclic group of order 4
Order: 4
Identity: 'e'
Commutative? Yes
Cyclic?: Yes
Generators: ['a', 'a^3']
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1     'a'   'a^3'       4
      2   'a^2'   'a^2'       2
      3   'a^3'     'a'       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]

'<Group:Z4, ID:4969641168>'

In [9]:
g4 = alg.Group("G4",
               "Group based on 1, -1, i, & -i",
               ['1', '-1', 'i', '-i'],
               [['1', '-1', 'i', '-i'],
                ['-1', '1', '-i', 'i'],
                ['i', '-i', '-1', '1'],
                ['-i', 'i', '1', '-1']])

In [10]:
g4.about()

** Group **
Name: G4
Instance ID: 4968850192
Description: Group based on 1, -1, i, & -i
Order: 4
Identity: '1'
Commutative? Yes
Cyclic?: Yes
Generators: ['i', '-i']
Elements:
   Index   Name   Inverse  Order
      0     '1'     '1'       1
      1    '-1'    '-1'       2
      2     'i'    '-i'       4
      3    '-i'     'i'       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 1, 0], [3, 2, 0, 1]]

'<Group:G4, ID:4968850192>'

In [13]:
g4.isomorphic(v4)

False

In [14]:
g4.isomorphic(z4)

{'1': 'e', '-1': 'a^2', 'i': 'a', '-i': 'a^3'}

In [27]:
g4x = g4.reorder_elements(['1', 'i', '-1', '-i'])
g4x

Group(
'G4_REORDERED',
'Group based on 1, -1, i, & -i (elements reordered)',
['1', 'i', '-1', '-i'],
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]
)

In [28]:
g4x.isomorphic(z4)

{'1': 'e', 'i': 'a', '-1': 'a^2', '-i': 'a^3'}

In [32]:
g4z = alg.Group('G4',
                'Group based on 1, -1, i, & -i',
                ['1:0', '0:i', '-1:0', '0:-i'],
                [[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]])
g4z.about()

** Group **
Name: G4
Instance ID: 6121442512
Description: Group based on 1, -1, i, & -i
Order: 4
Identity: '1:0'
Commutative? Yes
Cyclic?: Yes
Generators: ['0:-i', '0:i']
Elements:
   Index   Name   Inverse  Order
      0   '1:0'   '1:0'       1
      1   '0:i'  '0:-i'       4
      2  '-1:0'  '-1:0'       2
      3  '0:-i'   '0:i'       4
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 2, 3, 0], [2, 3, 0, 1], [3, 0, 1, 2]]

'<Group:G4, ID:6121442512>'

In [33]:
f3 = alg.generate_algebra_mod_n(3)
f3

Field(
'F3',
'Autogenerated Field of integers mod 3',
['0', '1', '2'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]],
[[0, 0, 0], [0, 1, 2], [0, 2, 1]]
)

In [34]:
f3.elements

['0', '1', '2']

In [36]:
g4z.elements

['1:0', '0:i', '-1:0', '0:-i']

In [37]:
def sv_mult(s, v):
    pass