# Scratchwork 7 - Units of a Ring

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  16 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
======================================================================

## Create an example Ring

In [4]:
help(generate_algebra_mod_n)

Help on function generate_algebra_mod_n in module finite_algebras:

generate_algebra_mod_n(n, elem_name='a', name=None, description=None)
    Generate a Ring (or Field) based on integer addition and multiplication modulo n.
    If n is prime, then result will be a Field, otherwise it will be a Ring.

In [10]:
Zmod12 = generate_algebra_mod_n(12)
Zmod12.about()

** Ring **
Name: R12
Instance ID: 140645297117776
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: a0
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a11', 'a5', 'a7']
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1     a11      12
      2      a2     a10       6
      3      a3      a9       4
      4      a4      a8       3
      5      a5      a7      12
      6      a6      a6       2
      7      a7      a5      12
      8      a8      a4       3
      9      a9      a3       4
     10     a10      a2       6
     11     a11      a1      12
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4', 'a6', 'a8', 'a9', 'a10']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10],
 [0, 3, 6, 9, 0, 3, 6, 9, 0, 3, 6, 9],
 [0, 4, 8, 0, 4, 8, 0, 4, 8, 0, 4, 8],
 [0, 5, 10, 3, 8, 1, 6, 11, 4, 9, 2, 7],
 [0, 6, 0, 6, 0, 6, 0, 6, 0, 6, 0, 6],
 [0, 7, 2, 9, 4, 11, 6, 1, 8, 3, 10, 5],
 [0, 8, 4, 0, 8, 4, 0, 8, 4, 0, 8, 4],
 [0, 9, 6, 3, 0, 9, 6, 3, 0, 9, 6, 3],
 [0, 10, 8, 6, 4, 2, 0, 10, 8, 6, 4, 2],
 [0, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [23]:
Zmod12.elements.index(Zmod12.one)

1

In [19]:
Zmod12.mult_table.table

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11],
       [ 0,  2,  4,  6,  8, 10,  0,  2,  4,  6,  8, 10],
       [ 0,  3,  6,  9,  0,  3,  6,  9,  0,  3,  6,  9],
       [ 0,  4,  8,  0,  4,  8,  0,  4,  8,  0,  4,  8],
       [ 0,  5, 10,  3,  8,  1,  6, 11,  4,  9,  2,  7],
       [ 0,  6,  0,  6,  0,  6,  0,  6,  0,  6,  0,  6],
       [ 0,  7,  2,  9,  4, 11,  6,  1,  8,  3, 10,  5],
       [ 0,  8,  4,  0,  8,  4,  0,  8,  4,  0,  8,  4],
       [ 0,  9,  6,  3,  0,  9,  6,  3,  0,  9,  6,  3],
       [ 0, 10,  8,  6,  4,  2,  0, 10,  8,  6,  4,  2],
       [ 0, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1]])

In [44]:
xs, ys = np.where(Zmod12.mult_table.table == Zmod12.elements.index(Zmod12.one))
xy_pairs = list(zip(xs, ys))
xy_pairs

[(1, 1), (5, 5), (7, 7), (11, 11)]

In [45]:
set(xs)

{1, 5, 7, 11}

In [43]:
vals = set(xs) | set(ys)
vals

{1, 5, 7, 11}

In [47]:
for xy in xy_pairs:
    if (xy[1], xy[0]) in xy_pairs:
        print(f"{xy} is in")
    else:
        print(f"{xy} is not in")

(1, 1) is in
(5, 5) is in
(7, 7) is in
(11, 11) is in

In [52]:
{xy[0] for xy in xy_pairs if (xy[1], xy[0]) in xy_pairs}

{1, 5, 7, 11}

In [55]:
def units(ring):
    """Return a list of the Ring's units."""
    xs, ys = np.where(ring.mult_table.table == ring.elements.index(ring.one))
    xy_pairs = list(zip(xs, ys))
    return sorted(list({xy[0] for xy in xy_pairs if (xy[1], xy[0]) in xy_pairs}))

In [56]:
units(Zmod12)

[1, 5, 7, 11]