# Experiments using Totient Function

In [17]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [18]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [19]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  16 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
======================================================================

In [1]:
import math

def is_relatively_prime(n,m):
    if math.gcd(n,m) == 1:
        return True
    else:
        return False

In [2]:
is_relatively_prime(9, 16)

True

In [3]:
is_relatively_prime(9, 15)

False

Euler's totient function counts the positive integers up to a given integer n that are relatively prime to n.

In [7]:
def relative_primes(n):
    '''Return the list of relative primes that are less than n.'''
    return [x for x in range(n) if is_relatively_prime(x, n)]

In [11]:
for i in range(2, 20):
    print(f"{i} - {relative_primes(i)}")

2 - [1]
3 - [1, 2]
4 - [1, 3]
5 - [1, 2, 3, 4]
6 - [1, 5]
7 - [1, 2, 3, 4, 5, 6]
8 - [1, 3, 5, 7]
9 - [1, 2, 4, 5, 7, 8]
10 - [1, 3, 7, 9]
11 - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
12 - [1, 5, 7, 11]
13 - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
14 - [1, 3, 5, 9, 11, 13]
15 - [1, 2, 4, 7, 8, 11, 13, 14]
16 - [1, 3, 5, 7, 9, 11, 13, 15]
17 - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
18 - [1, 5, 7, 11, 13, 17]
19 - [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [12]:
def totient(n):
    return len(relative_primes(n))

In [14]:
for i in range(2, 20):
    print(f"{i} - {totient(i)}")

2 - 1
3 - 2
4 - 2
5 - 4
6 - 2
7 - 6
8 - 4
9 - 6
10 - 4
11 - 10
12 - 4
13 - 12
14 - 6
15 - 8
16 - 8
17 - 16
18 - 6
19 - 18

Generate algebra (group) based on multiplication mod n of relatively-prime numbers less than n.

In [20]:
foo = generate_commutative_monoid(4)
foo.about()

** Monoid **
Name: M4
Instance ID: 140459135525264
Description: Autogenerated commutative Monoid of order 4
Order: 4
Identity: a1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['a0', 'a1', 'a2', 'a3']
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 0, 2], [0, 3, 2, 1]]

In [16]:
n = 8
elems = relative_primes(n)
[[(a * b) % n for b in elems] for a in elems]

[[1, 3, 5, 7], [3, 1, 7, 5], [5, 7, 1, 3], [7, 5, 3, 1]]

In [ ]:
def generate_totient_group(n, elem_name='a', name=None, description=None):
    """Generates a group based on multiplication mod n of relatively-prime numbers less than n."""
    if name:
        nm = name
    else:
        nm = "M" + str(order)
    if description:
        desc = description
    else:
        desc = f"Autogenerated commutative Monoid of order {order}"
    nfill = len(str(order - 1))  # Number of zeros to left-fill integers in element names
    elements = [elem_name + str(i).zfill(nfill) for i in range(order)]
    table = [[(a * b) % order for b in range(order)] for a in range(order)]
    return make_finite_algebra(nm, desc, elements, table)