# Scratchwork 2

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  15 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
======================================================================

In [4]:
ex[10].about()

** Magma **
Name: mag_id
Instance ID: 140342502742672
Description: Magma with Identity
Order: 3
Identity: e
Associative? No
Commutative? No
Elements: ['e', 'a', 'b']
Has Inverses? No
Cayley Table (showing indices):
[[0, 1, 2], [1, 0, 1], [2, 2, 1]]

In [5]:
n12 = generate_algebra_mod_n(12)
n12.about()

** Ring **
Name: R12
Instance ID: 140342502807504
Description: Autogenerated Ring of integers mod 12
Order: 12
Identity: a0
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a11', 'a5', 'a7']
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1     a11      12
      2      a2     a10       6
      3      a3      a9       4
      4      a4      a8       3
      5      a5      a7      12
      6      a6      a6       2
      7      a7      a5      12
      8      a8      a4       3
      9      a9      a3       4
     10     a10      a2       6
     11     a11      a1      12
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: ['a2', 'a3', 'a4', 'a6', 'a8', 'a9', 'a10']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [0, 2, 4, 6, 8, 10, 0, 2, 4, 6, 8, 10],
 [0, 3, 6, 9, 0, 3, 6, 9, 0, 3, 6, 9],
 [0, 4, 8, 0, 4, 8, 0, 4, 8, 0, 4, 8],
 [0, 5, 10, 3, 8, 1, 6, 11, 4, 9, 2, 7],
 [0, 6, 0, 6, 0, 6, 0, 6, 0, 6, 0, 6],
 [0, 7, 2, 9, 4, 11, 6, 1, 8, 3, 10, 5],
 [0, 8, 4, 0, 8, 4, 0, 8, 4, 0, 8, 4],
 [0, 9, 6, 3, 0, 9, 6, 3, 0, 9, 6, 3],
 [0, 10, 8, 6, 4, 2, 0, 10, 8, 6, 4, 2],
 [0, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [6]:
parts12 = about_subalgebras(n12)

Subalgebras of <Ring:R12, ID:140342502807504>
  There are 4 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Ring of order 2 with identity 'a0':
      Ring: R12_subalgebra_0: ['a0', 'a6']

1 Commutative Normal Ring of order 4 with identity 'a0':
      Ring: R12_subalgebra_1: ['a0', 'a3', 'a6', 'a9']

1 Commutative Normal Field of order 3 with identity 'a0':
      Field: R12_subalgebra_2: ['a0', 'a4', 'a8']

1 Commutative Normal Ring of order 6 with identity 'a0':
      Ring: R12_subalgebra_3: ['a0', 'a2', 'a4', 'a6', 'a8', 'a10']

In [7]:
n11 = generate_algebra_mod_n(11)
n11.about()

** Field **
Name: F11
Instance ID: 140342502779600
Description: Autogenerated Field of integers mod 11
Order: 11
Identity: a0
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['a1', 'a10', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9']
Elements:
   Index   Name   Inverse  Order
      0      a0      a0       1
      1      a1     a10      11
      2      a2      a9      11
      3      a3      a8      11
      4      a4      a7      11
      5      a5      a6      11
      6      a6      a5      11
      7      a7      a4      11
      8      a8      a3      11
      9      a9      a2      11
     10     a10      a1      11
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1],
 [3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2],
 [4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3],
 [5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4],
 [6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5],
 [7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6],
 [8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8],
 [10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
Mult. Identity: a1
Mult. Commutative? Yes
Zero Divisors: None
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [0, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9],
 [0, 3, 6, 9, 1, 4, 7, 10, 2, 5, 8],
 [0, 4, 8, 1, 5, 9, 2, 6, 10, 3, 7],
 [0, 5, 10, 4, 9, 3, 8, 2, 7, 1, 6],
 [0, 6, 1, 7, 2, 8, 3, 9, 4, 10, 5],
 [0, 7, 3, 10, 6, 2, 9, 5, 1, 8, 4],
 [0, 8, 5, 2, 10, 7, 4, 1, 9, 6, 3],
 [0, 9, 7, 5, 3, 1, 10, 8, 6, 4, 2],
 [0, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]]

In [8]:
parts11 = about_subalgebras(n11)

There are no proper subalgebras.

## Generators

In [9]:
n = 12
alg = generate_cyclic_group(n)
alg_gens = alg.generators()
print(alg.name + " generators:")
print(alg_gens)
print(f"There are {len(alg_gens)} generators.")

Z12 generators:
['a^7', 'a', 'a^11', 'a^5']
There are 4 generators.

In [10]:
n = 11
alg = generate_cyclic_group(n)
alg_gens = alg.generators()
print(alg.name + " generators:")
print(alg_gens)
print(f"There are {len(alg_gens)} generators.")

Z11 generators:
['a^7', 'a^8', 'a^3', 'a', 'a^9', 'a^5', 'a^2', 'a^4', 'a^6', 'a^10']
There are 10 generators.

In [11]:
alg.is_cyclic()

['a^7', 'a^8', 'a^3', 'a', 'a^9', 'a^5', 'a^2', 'a^4', 'a^6', 'a^10']

In [12]:
for alg in ex:
    print(alg.name)
    print(f"  {alg.is_cyclic()}")

A4
  False
D3
  False
D4
  False
Pinter29
  False
RPS
  False
S3
  False
S3X
  False
V4
  False
Z4
  ['a^3', 'a']
F4
  ['1+a', 'a']
mag_id
  ['b']
Example 1.4.1
  False
Ex6
  False
Q8
  False
SD16
  False

In [13]:
z5 = generate_cyclic_group(5)
print(z5)
print(f"Generators: {z5.is_cyclic()}")

<Group:Z5, ID:140343572485008>
Generators: ['a^3', 'a', 'a^2', 'a^4']

In [14]:
z5_sqr = z5 * z5
print(z5_sqr)
print(f"Generators: {z5_sqr.is_cyclic()}")

<Group:Z5_x_Z5, ID:140342502743824>
Generators: False

## Center of a Group

In [19]:
q8 = ex[13]
q8.about()

** Group **
Name: Q8
Instance ID: 140342502777360
Description: Quaternion Group
Order: 8
Identity: 1
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1       i      -i       4
      2      -1      -1       2
      3      -i       i       4
      4       j      -j       4
      5       k      -k       4
      6      -j       j       4
      7      -k       k       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 2, 3, 0, 1],
 [5, 6, 7, 4, 1, 2, 3, 0],
 [6, 7, 4, 5, 0, 1, 2, 3],
 [7, 4, 5, 6, 3, 0, 1, 2]]

In [24]:
q8_ctr = q8.center()
q8_ctr.about()

** Group **
Name: Q8_CENTER
Instance ID: 140342502871248
Description: Center of Q8
Order: 2
Identity: 1
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['-1']
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1      -1      -1       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

In [21]:
sd16 = ex[14]
sd16.about(max_size=16)

** Group **
Name: SD16
Instance ID: 140342502777872
Description: Semidihedral group of order 16
Order: 16
Identity: e
Associative? Yes
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       t       t       2
      2       s  ts^2ts       8
      3      st   s^2ts       4
      4     s^2   ts^2t       4
      5    s^2t    s^2t       2
      6     tst  tsts^2       8
      7      ts   sts^2       4
      8    tsts    tsts       2
      9     sts     sts       2
     10  tsts^2     tst       8
     11   s^2ts      st       4
     12   ts^2t     s^2       4
     13    ts^2    ts^2       2
     14  ts^2ts       s       8
     15   sts^2      ts       4
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10],
 [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1],
 [3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3],
 [5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5],
 [7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0],
 [8, 9, 10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7],
 [9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2],
 [10, 11, 12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8, 15, 14, 5, 4],
 [12, 13, 14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [13, 12, 3, 2, 9, 8, 15, 14, 5, 4, 11, 10, 1, 0, 7, 6],
 [14, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [15, 14, 5, 4, 11, 10, 1, 0, 7, 6, 13, 12, 3, 2, 9, 8]]

In [22]:
sd16_ctr = sd16.center()
sd16_ctr.about()

** Group **
Name: SD16_CENTER
Instance ID: 140342502872528
Description: Center of SD16
Order: 2
Identity: e
Associative? Yes
Commutative? Yes
Cyclic?: Yes
  Generators: ['tsts']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1    tsts    tsts       2
Cayley Table (showing indices):
[[0, 1], [1, 0]]

In [26]:
for x in ex:
    xctr = x.center_elements()
    print(x, xctr)

<Group:A4, ID:140342501030480> ['()']
<Group:D3, ID:140342500987536> ['e']
<Group:D4, ID:140342502740432> ['e', 'r^2']
<Group:Pinter29, ID:140342501031184> ['I']
<Magma:RPS, ID:140342502726352> ['r', 'p', 's']
<Group:S3, ID:140342502740816> ['e']
<Group:S3X, ID:140342502741520> ['()']
<Group:V4, ID:140342502741264> ['e', 'h', 'v', 'r']
<Group:Z4, ID:140342502741776> ['e', 'a', 'a^2', 'a^3']
<Field:F4, ID:140342502742224> ['0', '1', 'a', '1+a']
<Magma:mag_id, ID:140342502742672> ['e']
<Semigroup:Example 1.4.1, ID:140342502743440> []
<Ring:Ex6, ID:140342502743632> ['0', 'a', 'b', 'c']
<Group:Q8, ID:140342502777360> ['1', '-1']
<Group:SD16, ID:140342502777872> ['e', 'tsts']