# Scratchwork 4  - Cosets

In [1]:
from finite_algebras import *
from cayley_table import *
from permutations import *

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

## Cosets of a Group

In [4]:
a4 = ex[0]
a4.about()

** Group **
Name: A4
Instance ID: 4432435792
Description: Alternating group on 4 letters (AKA Tetrahedral group)
Order: 12
Identity: '()'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0    '()'    '()'       0
      1 '(1 3 2)' '(1 2 3)'       0
      2 '(1 2 3)' '(1 3 2)'       0
      3 '(0 1)(2 3)' '(0 1)(2 3)'       0
      4 '(0 1 2)' '(0 2 1)'       0
      5 '(0 1 3)' '(0 3 1)'       0
      6 '(0 3 1)' '(0 1 3)'       0
      7 '(0 3 2)' '(0 2 3)'       0
      8 '(0 3)(1 2)' '(0 3)(1 2)'       0
      9 '(0 2 3)' '(0 3 2)'       0
     10 '(0 2 1)' '(0 1 2)'       0
     11 '(0 2)(1 3)' '(0 2)(1 3)'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [1, 2, 0, 6, 7, 8, 10, 11, 9, 5, 3, 4],
 [2, 0, 1, 10, 11, 9, 3, 4, 5, 8, 6, 7],
 [3, 4, 5, 0, 1, 2, 9, 10, 11, 6, 7, 8],
 [4, 5, 3, 9, 10, 11, 7, 8, 6, 2, 0, 1],
 [5, 3, 4, 7, 8, 6, 0, 1, 2, 11, 9, 10],
 [6, 7, 8, 1, 2, 0, 5, 3, 4, 10, 11, 9],
 [7, 8, 6, 5, 3, 4, 11, 9, 10, 0, 1, 2],
 [8, 6, 7, 11, 9, 10, 1, 2, 0, 4, 5, 3],
 [9, 10, 11, 4, 5, 3, 2, 0, 1, 7, 8, 6],
 [10, 11, 9, 2, 0, 1, 8, 6, 7, 3, 4, 5],
 [11, 9, 10, 8, 6, 7, 4, 5, 3, 1, 2, 0]]

'<Group:A4, ID:4432435792>'

In [5]:
a4_subs = about_subalgebras(a4)

Subalgebras of <Group:A4, ID:4432435792>
  There are 3 unique proper subalgebras, up to isomorphism, out of 8 total subalgebras.
  as shown by the partitions below:

4 Isomorphic Commutative Groups of order 3 with identity '()':
      Group: A4_subalgebra_0: ['()', '(1 3 2)', '(1 2 3)']
      Group: A4_subalgebra_1: ['()', '(0 3 2)', '(0 2 3)']
      Group: A4_subalgebra_3: ['()', '(0 1 2)', '(0 2 1)']
      Group: A4_subalgebra_4: ['()', '(0 1 3)', '(0 3 1)']

1 Commutative Normal Group of order 4 with identity '()':
      Group: A4_subalgebra_2: ['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)']

3 Isomorphic Commutative Groups of order 2 with identity '()':
      Group: A4_subalgebra_5: ['()', '(0 2)(1 3)']
      Group: A4_subalgebra_6: ['()', '(0 1)(2 3)']
      Group: A4_subalgebra_7: ['()', '(0 3)(1 2)']

### Cosets of a Non-Normal Subgroup

The left & right cosets are not necessarily the same for non-normal subgroups

In [6]:
a40 = a4_subs[0][0]
a40

Group(
'A4_subalgebra_0',
'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(1 3 2)', '(1 2 3)'],
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

In [8]:
list(a4.left_cosets(a40))

[['()', '(1 2 3)', '(1 3 2)'],
 ['(0 3 1)', '(0 3 2)', '(0 3)(1 2)'],
 ['(0 1 2)', '(0 1 3)', '(0 1)(2 3)'],
 ['(0 2 1)', '(0 2 3)', '(0 2)(1 3)']]

In [9]:
list(a4.right_cosets(a40))

[['()', '(1 2 3)', '(1 3 2)'],
 ['(0 1 3)', '(0 2 3)', '(0 3)(1 2)'],
 ['(0 1 2)', '(0 2)(1 3)', '(0 3 2)'],
 ['(0 1)(2 3)', '(0 2 1)', '(0 3 1)']]

### Cosets of a Normal Subgroup

The left & right cosets are the same for normal subgroups

In [11]:
a42 = a4_subs[1][0]
a42

Group(
'A4_subalgebra_2',
'Subalgebra of: Alternating group on 4 letters (AKA Tetrahedral group)',
['()', '(0 1)(2 3)', '(0 3)(1 2)', '(0 2)(1 3)'],
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]
)

In [12]:
list(a4.left_cosets(a42))

[['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)'],
 ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)'],
 ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']]

In [13]:
list(a4.right_cosets(a42))

[['(0 1 2)', '(0 2 3)', '(0 3 1)', '(1 3 2)'],
 ['()', '(0 1)(2 3)', '(0 2)(1 3)', '(0 3)(1 2)'],
 ['(0 1 3)', '(0 2 1)', '(0 3 2)', '(1 2 3)']]

## Cosets of a Monoid

Generate a Monoid by generating a Ring and then extracting its multiplicative algebra.

In [14]:
m8 = generate_algebra_mod_n(8)
m8.about()

** Ring **
Name: R8
Instance ID: 4468227600
Description: Autogenerated Ring of integers mod 8
Order: 8
Identity: '0'
Commutative? Yes
Cyclic?: Yes
Generators: ['5', '3', '1', '7']
Elements:
   Index   Name   Inverse  Order
      0     '0'     '0'       0
      1     '1'     '7'       0
      2     '2'     '6'       0
      3     '3'     '5'       0
      4     '4'     '4'       0
      5     '5'     '3'       0
      6     '6'     '2'       0
      7     '7'     '1'       0
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7, 0],
 [2, 3, 4, 5, 6, 7, 0, 1],
 [3, 4, 5, 6, 7, 0, 1, 2],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 6, 7, 0, 1, 2, 3, 4],
 [6, 7, 0, 1, 2, 3, 4, 5],
 [7, 0, 1, 2, 3, 4, 5, 6]]
Mult. Identity: '1'
Mult. Commutative? Yes
Zero Divisors: ['2', '4', '6']
Multiplicative Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 2, 4, 6, 0, 2, 4, 6],
 [0, 3, 6, 1, 4, 7, 2, 5],
 [0, 4, 0, 4, 0, 4, 0, 4],
 [0, 5, 2, 7, 4, 1, 6, 3],
 [0, 6, 4, 2, 0, 6, 4, 2],
 [0, 7, 6, 5, 4, 3, 2, 1]]

In [15]:
m8_mul = m8.extract_multiplicative_algebra()
m8_mul.about()

** Monoid **
Name: R8.Mult
Instance ID: 4429716048
Description: Multiplicative-only portion of R8
Order: 8
Identity: 1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['0', '1', '2', '3', '4', '5', '6', '7']
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 2, 4, 6, 0, 2, 4, 6],
 [0, 3, 6, 1, 4, 7, 2, 5],
 [0, 4, 0, 4, 0, 4, 0, 4],
 [0, 5, 2, 7, 4, 1, 6, 3],
 [0, 6, 4, 2, 0, 6, 4, 2],
 [0, 7, 6, 5, 4, 3, 2, 1]]

In [16]:
m8_mul_subs = about_subalgebras(m8_mul)

Subalgebras of <Monoid:R8.Mult, ID:4429716048>
  There are 16 unique proper subalgebras, up to isomorphism, out of 26 total subalgebras.
  as shown by the partitions below:

1 Commutative Monoid of order 3 with identity '1':
      Monoid: R8.Mult_subalgebra_0: ['0', '1', '4']

1 Commutative Monoid of order 2 with identity '1':
      Monoid: R8.Mult_subalgebra_1: ['0', '1']

3 Isomorphic Commutative Groups of order 2 with identity '1':
      Group: R8.Mult_subalgebra_2: ['1', '3']
      Group: R8.Mult_subalgebra_19: ['1', '7']
      Group: R8.Mult_subalgebra_23: ['1', '5']

3 Isomorphic Commutative Monoids of order 3 with identity '1':
      Monoid: R8.Mult_subalgebra_3: ['0', '1', '7']
      Monoid: R8.Mult_subalgebra_20: ['0', '1', '5']
      Monoid: R8.Mult_subalgebra_24: ['0', '1', '3']

3 Isomorphic Commutative Monoids of order 4 with identity '1':
      Monoid: R8.Mult_subalgebra_4: ['0', '1', '4', '7']
      Monoid: R8.Mult_subalgebra_13: ['0', '1', '4', '5']
      Monoid: R8.Mult_subalgebra_25: ['0', '1', '3', '4']

2 Isomorphic Commutative Semigroups of order 3:
      Semigroup: R8.Mult_subalgebra_5: ['0', '4', '6']
      Semigroup: R8.Mult_subalgebra_14: ['0', '2', '4']

1 Commutative Monoid of order 5 with identity '1':
      Monoid: R8.Mult_subalgebra_6: ['0', '1', '2', '4', '6']

1 Commutative Semigroup of order 4:
      Semigroup: R8.Mult_subalgebra_7: ['0', '2', '4', '6']

2 Isomorphic Commutative Monoids of order 5 with identity '1':
      Monoid: R8.Mult_subalgebra_8: ['0', '1', '2', '4', '5']
      Monoid: R8.Mult_subalgebra_17: ['0', '1', '4', '5', '6']

2 Isomorphic Commutative Monoids of order 6 with identity '1':
      Monoid: R8.Mult_subalgebra_9: ['0', '1', '2', '4', '6', '7']
      Monoid: R8.Mult_subalgebra_16: ['0', '1', '2', '3', '4', '6']

2 Isomorphic Commutative Monoids of order 4 with identity '1':
      Monoid: R8.Mult_subalgebra_10: ['0', '1', '2', '4']
      Monoid: R8.Mult_subalgebra_22: ['0', '1', '4', '6']

1 Commutative Monoid of order 6 with identity '1':
      Monoid: R8.Mult_subalgebra_11: ['0', '1', '2', '4', '5', '6']

1 Commutative Group of order 4 with identity '1':
      Group: R8.Mult_subalgebra_12: ['1', '3', '5', '7']

1 Commutative Semigroup of order 2:
      Semigroup: R8.Mult_subalgebra_15: ['0', '4']

1 Commutative Monoid of order 6 with identity '1':
      Monoid: R8.Mult_subalgebra_18: ['0', '1', '3', '4', '5', '7']

1 Commutative Monoid of order 5 with identity '1':
      Monoid: R8.Mult_subalgebra_21: ['0', '1', '3', '5', '7']

### Cosets a Subgroup of a Monoid

In [23]:
m812 = m8_mul_subs[12][0]
m812.about()

** Group **
Name: R8.Mult_subalgebra_12
Instance ID: 4476052560
Description: Subalgebra of: Multiplicative-only portion of R8
Order: 4
Identity: '1'
Commutative? Yes
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     '1'     '1'       0
      1     '3'     '3'       0
      2     '5'     '5'       0
      3     '7'     '7'       0
Cayley Table (showing indices):
[[0, 1, 2, 3], [1, 0, 3, 2], [2, 3, 0, 1], [3, 2, 1, 0]]

'<Group:R8.Mult_subalgebra_12, ID:4476052560>'

By the way, this subgroup is isomorphic to the Klein-4 Group.

In [24]:
v4 = ex[7]
v4.description

'Klein-4 group'

In [25]:
v4.isomorphic(m812)

{'e': '1', 'h': '3', 'v': '5', 'r': '7'}

In [26]:
list(m8_mul.left_cosets(m812))

[['1', '3', '5', '7'], ['4'], ['2', '6'], ['0']]

In [27]:
list(m8_mul.right_cosets(m812))

[['1', '3', '5', '7'], ['4'], ['2', '6'], ['0']]

### Cosets of Submonoid of a Monoid

In [28]:
m84 = m8_mul_subs[4][0]
m84.about()

** Monoid **
Name: R8.Mult_subalgebra_4
Instance ID: 4476050000
Description: Subalgebra of: Multiplicative-only portion of R8
Order: 4
Identity: 1
Associative? Yes
Commutative? Yes
Cyclic?: No
Elements: ['0', '1', '4', '7']
Has Inverses? No
Cayley Table (showing indices):
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 0, 2], [0, 3, 2, 1]]

In [29]:
list(m8_mul.left_cosets(m84))

[['0', '3', '4', '5'],
 ['0', '1', '4', '7'],
 ['0', '2', '6'],
 ['0'],
 ['0', '4']]

In [30]:
list(m8_mul.right_cosets(m84))

[['0', '3', '4', '5'],
 ['0', '1', '4', '7'],
 ['0', '2', '6'],
 ['0'],
 ['0', '4']]