# Isomorphisms

*Making the isomorphic method more efficient*

In [30]:
from finite_algebras import *
import itertools as it

## Load Built-In Examples

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  19 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
17: Latin_Sqr -- Latin Square. A division algebra (AKA Quasigroup)
18: IP_Loop -- IP loop of small order
======================================================================

## A Convenience Function

In [4]:
def get_subalgebra_from_partitions(partitions, name):
    """Given a partition of subgroups (i.e., a list of lists of subalgebras),
    return the one with the given name"""
    for part in partitions:
        for algebra in part:
            if algebra.name == name:
                return algebra

## Two Isomorphic Symmetric Groups

In [5]:
alg0 = ex[5]
alg0.about()

** Group **
Name: S3
Instance ID: 4657336864
Description: Symmetric group on 3 letters
Order: 6
Identity: 'e'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1     'r'   'r^2'       3
      2   'r^2'     'r'       3
      3     'f'     'f'       2
      4    'fr'    'fr'       2
      5    'rf'    'rf'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 2, 0, 5, 3, 4],
 [2, 0, 1, 4, 5, 3],
 [3, 4, 5, 0, 1, 2],
 [4, 5, 3, 2, 0, 1],
 [5, 3, 4, 1, 2, 0]]

'<Group:S3, ID:4657336864>'

In [6]:
alg1 = generate_symmetric_group(3)
alg1.about()

** Group **
Name: S3
Instance ID: 4406521520
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: '(0, 1, 2)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(0, 1, 2)' '(0, 1, 2)'       1
      1 '(0, 2, 1)' '(0, 2, 1)'       2
      2 '(1, 0, 2)' '(1, 0, 2)'       2
      3 '(1, 2, 0)' '(2, 0, 1)'       3
      4 '(2, 0, 1)' '(1, 2, 0)'       3
      5 '(2, 1, 0)' '(2, 1, 0)'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 3, 0, 1, 5, 4],
 [3, 2, 5, 4, 0, 1],
 [4, 5, 1, 0, 3, 2],
 [5, 4, 3, 2, 1, 0]]

'<Group:S3, ID:4406521520>'

In [39]:
iso = alg0.isomorphic(alg1)
iso

{'e': '(0, 1, 2)',
 'r': '(1, 2, 0)',
 'r^2': '(2, 0, 1)',
 'f': '(0, 2, 1)',
 'fr': '(2, 1, 0)',
 'rf': '(1, 0, 2)'}

## Look at Subalgebras

In [8]:
alg0_subs = about_subalgebras(alg0)

Subalgebras of <Group:S3, ID:4657336864>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Group of order 3 with identity 'e':
      Group: S3_subalgebra_0: ('e', 'r', 'r^2')

3 Isomorphic Commutative Groups of order 2 with identity 'e':
      Group: S3_subalgebra_1: ('e', 'fr')
      Group: S3_subalgebra_2: ('e', 'rf')
      Group: S3_subalgebra_3: ('e', 'f')

In [9]:
alg1_subs = about_subalgebras(alg1)

Subalgebras of <Group:S3, ID:4406521520>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2 with identity '(0, 1, 2)':
      Group: S3_subalgebra_0: ('(0, 1, 2)', '(0, 2, 1)')
      Group: S3_subalgebra_1: ('(0, 1, 2)', '(2, 1, 0)')
      Group: S3_subalgebra_3: ('(0, 1, 2)', '(1, 0, 2)')

1 Commutative Normal Group of order 3 with identity '(0, 1, 2)':
      Group: S3_subalgebra_2: ('(0, 1, 2)', '(1, 2, 0)', '(2, 0, 1)')

### Sort Partitions by Length of Partition

In [10]:
alg0_subs.sort(key=len)
alg0_subs

[[Group(
  'S3_subalgebra_0',
  'Subalgebra of: Symmetric group on 3 letters',
  ('e', 'r', 'r^2'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  )],
 [Group(
  'S3_subalgebra_1',
  'Subalgebra of: Symmetric group on 3 letters',
  ('e', 'fr'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'S3_subalgebra_2',
  'Subalgebra of: Symmetric group on 3 letters',
  ('e', 'rf'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'S3_subalgebra_3',
  'Subalgebra of: Symmetric group on 3 letters',
  ('e', 'f'),
  [[0, 1], [1, 0]]
  )]]

In [13]:
alg1_subs.sort(key=len)
alg1_subs

[[Group(
  'S3_subalgebra_2',
  'Subalgebra of: Autogenerated symmetric Group on 3 elements',
  ('(0, 1, 2)', '(1, 2, 0)', '(2, 0, 1)'),
  [[0, 1, 2], [1, 2, 0], [2, 0, 1]]
  )],
 [Group(
  'S3_subalgebra_0',
  'Subalgebra of: Autogenerated symmetric Group on 3 elements',
  ('(0, 1, 2)', '(0, 2, 1)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'S3_subalgebra_1',
  'Subalgebra of: Autogenerated symmetric Group on 3 elements',
  ('(0, 1, 2)', '(2, 1, 0)'),
  [[0, 1], [1, 0]]
  ),
  Group(
  'S3_subalgebra_3',
  'Subalgebra of: Autogenerated symmetric Group on 3 elements',
  ('(0, 1, 2)', '(1, 0, 2)'),
  [[0, 1], [1, 0]]
  )]]

## Partition lengths should match

In [14]:
def partition_lengths_match(parts0, parts1):
    return list(map(len, parts0)) == list(map(len, parts1))

In [15]:
partition_lengths_match(alg0_subs, alg1_subs)

True

## Get isomorphism between first algebras from the first partitions

In [18]:
alg0_sub0 = alg0_subs[0][0]
alg0_sub0

Group(
'S3_subalgebra_0',
'Subalgebra of: Symmetric group on 3 letters',
('e', 'r', 'r^2'),
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

In [19]:
alg1_sub0 = alg1_subs[0][0]
alg1_sub0

Group(
'S3_subalgebra_2',
'Subalgebra of: Autogenerated symmetric Group on 3 elements',
('(0, 1, 2)', '(1, 2, 0)', '(2, 0, 1)'),
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]
)

In [40]:
iso01 = alg0_sub0.isomorphic(alg1_sub0)
iso01

{'e': '(0, 1, 2)', 'r': '(1, 2, 0)', 'r^2': '(2, 0, 1)'}

In [24]:
set(alg0.elements)

{'e', 'f', 'fr', 'r', 'r^2', 'rf'}

In [25]:
set(alg0_sub0.elements)

{'e', 'r', 'r^2'}

In [34]:
rem0 = list(set(alg0.elements) - set(alg0_sub0.elements))
rem0

['f', 'fr', 'rf']

In [35]:
rem1 = list(set(alg1.elements) - set(alg1_sub0.elements))
rem1

['(1, 0, 2)', '(0, 2, 1)', '(2, 1, 0)']

In [42]:
rem_dicts = [dict(zip(rem0, perm)) for perm in it.permutations(rem1)]
rem_dicts

[{'f': '(1, 0, 2)', 'fr': '(0, 2, 1)', 'rf': '(2, 1, 0)'},
 {'f': '(1, 0, 2)', 'fr': '(2, 1, 0)', 'rf': '(0, 2, 1)'},
 {'f': '(0, 2, 1)', 'fr': '(1, 0, 2)', 'rf': '(2, 1, 0)'},
 {'f': '(0, 2, 1)', 'fr': '(2, 1, 0)', 'rf': '(1, 0, 2)'},
 {'f': '(2, 1, 0)', 'fr': '(1, 0, 2)', 'rf': '(0, 2, 1)'},
 {'f': '(2, 1, 0)', 'fr': '(0, 2, 1)', 'rf': '(1, 0, 2)'}]

In [48]:
isos = [iso01 | rem for rem in rem_dicts]
isos

[{'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(1, 0, 2)',
  'fr': '(0, 2, 1)',
  'rf': '(2, 1, 0)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(1, 0, 2)',
  'fr': '(2, 1, 0)',
  'rf': '(0, 2, 1)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(0, 2, 1)',
  'fr': '(1, 0, 2)',
  'rf': '(2, 1, 0)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(0, 2, 1)',
  'fr': '(2, 1, 0)',
  'rf': '(1, 0, 2)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(2, 1, 0)',
  'fr': '(1, 0, 2)',
  'rf': '(0, 2, 1)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(2, 1, 0)',
  'fr': '(0, 2, 1)',
  'rf': '(1, 0, 2)'}]

In [58]:
[iso for iso in isos if isomorphic_mapping(alg0, alg1, iso)]

[{'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(1, 0, 2)',
  'fr': '(0, 2, 1)',
  'rf': '(2, 1, 0)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(0, 2, 1)',
  'fr': '(2, 1, 0)',
  'rf': '(1, 0, 2)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(2, 1, 0)',
  'fr': '(1, 0, 2)',
  'rf': '(0, 2, 1)'}]

In [51]:
def isomorph(algebra0, algebra1, mappings):
    for map in mappings:
        if isomorphic_mapping(algebra0, algebra1, map):
            return map
        else:
            return None

In [52]:
isomorph(alg0, alg1, isos)

{'e': '(0, 1, 2)',
 'r': '(1, 2, 0)',
 'r^2': '(2, 0, 1)',
 'f': '(1, 0, 2)',
 'fr': '(0, 2, 1)',
 'rf': '(2, 1, 0)'}

### Current code extracted from Magma methods

In [49]:
def element_mappings(alg, other):
    """Returns a list of mappings (dictionaries) of this algebra's elements to all
    possible permutations of other's elements.  The orders of alg and other must
    be equal."""
    return [dict(zip(alg.elements, perm)) for perm in it.permutations(other.elements)]

def isomorphic_mapping(alg, other, mapping):
    """Returns True if the input mapping from this algebra to the other algebra is isomorphic."""
    return all([mapping[alg.op(x, y)] == other.op(mapping[x], mapping[y])
                for x in alg.elements for y in alg.elements])

def isomorphic(alg, other):
    """If there is a mapping from elements of this algebra to the other algebra's elements,
    return it; otherwise return False."""
    if (alg.__class__.__name__ == other.__class__.__name__) and (alg.order == other.order):
        maps = alg.element_mappings(other)
        for mp in maps:
            if alg.isomorphic_mapping(other, mp):
                return mp
        return False
    else:
        return False