# Isomorphisms

*Version 2*

*Making the isomorphic method more efficient*

In [1]:
from finite_algebras import *
from tmp import isomorphisms
import itertools as it

## Load Built-In Examples

In [2]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [3]:
ex = Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  19 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
17: Latin_Sqr -- Latin Square. A division algebra (AKA Quasigroup)
18: IP_Loop -- IP loop of small order
======================================================================

## A Convenience Function

In [4]:
def get_subalgebra_from_partitions(partitions, name):
    """Given a partition of subgroups (i.e., a list of lists of subalgebras),
    return the one with the given name"""
    for part in partitions:
        for algebra in part:
            if algebra.name == name:
                return algebra

## Two Isomorphic Symmetric Groups

In [5]:
alg0 = ex[5]  # S3
# alg0 = ex[0]  # A4

alg0.about()

** Group **
Name: S3
Instance ID: 4504244768
Description: Symmetric group on 3 letters
Order: 6
Identity: 'e'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0     'e'     'e'       1
      1     'r'   'r^2'       3
      2   'r^2'     'r'       3
      3     'f'     'f'       2
      4    'fr'    'fr'       2
      5    'rf'    'rf'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 2, 0, 5, 3, 4],
 [2, 0, 1, 4, 5, 3],
 [3, 4, 5, 0, 1, 2],
 [4, 5, 3, 2, 0, 1],
 [5, 3, 4, 1, 2, 0]]

'<Group:S3, ID:4504244768>'

In [6]:
alg1 = generate_symmetric_group(3)
# alg1 = generate_symmetric_group(4, alternating=True)

alg1.about()

** Group **
Name: S3
Instance ID: 4401279760
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: '(0, 1, 2)'
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 '(0, 1, 2)' '(0, 1, 2)'       1
      1 '(0, 2, 1)' '(0, 2, 1)'       2
      2 '(1, 0, 2)' '(1, 0, 2)'       2
      3 '(1, 2, 0)' '(2, 0, 1)'       3
      4 '(2, 0, 1)' '(1, 2, 0)'       3
      5 '(2, 1, 0)' '(2, 1, 0)'       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 3, 0, 1, 5, 4],
 [3, 2, 5, 4, 0, 1],
 [4, 5, 1, 0, 3, 2],
 [5, 4, 3, 2, 1, 0]]

'<Group:S3, ID:4401279760>'

In [7]:
if alg0.order < 8:
    pprint(alg0.isomorphic(alg1))

{'e': '(0, 1, 2)',
 'f': '(0, 2, 1)',
 'fr': '(2, 1, 0)',
 'r': '(1, 2, 0)',
 'r^2': '(2, 0, 1)',
 'rf': '(1, 0, 2)'}

## Look at Subalgebras

In [8]:
alg0_subs = about_subalgebras(alg0)

Subalgebras of <Group:S3, ID:4504244768>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

3 Isomorphic Commutative Groups of order 2 with identity 'e':
      Group: S3_subalgebra_0: ('e', 'f')
      Group: S3_subalgebra_2: ('e', 'rf')
      Group: S3_subalgebra_3: ('e', 'fr')

1 Commutative Normal Group of order 3 with identity 'e':
      Group: S3_subalgebra_1: ('e', 'r', 'r^2')

In [9]:
alg1_subs = about_subalgebras(alg1)

Subalgebras of <Group:S3, ID:4401279760>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Group of order 3 with identity '(0, 1, 2)':
      Group: S3_subalgebra_0: ('(0, 1, 2)', '(1, 2, 0)', '(2, 0, 1)')

3 Isomorphic Commutative Groups of order 2 with identity '(0, 1, 2)':
      Group: S3_subalgebra_1: ('(0, 1, 2)', '(1, 0, 2)')
      Group: S3_subalgebra_2: ('(0, 1, 2)', '(2, 1, 0)')
      Group: S3_subalgebra_3: ('(0, 1, 2)', '(0, 2, 1)')

In [11]:
isomorphisms(alg0, alg1)

[{'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(1, 0, 2)',
  'rf': '(2, 1, 0)',
  'fr': '(0, 2, 1)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(0, 2, 1)',
  'rf': '(1, 0, 2)',
  'fr': '(2, 1, 0)'},
 {'e': '(0, 1, 2)',
  'r': '(1, 2, 0)',
  'r^2': '(2, 0, 1)',
  'f': '(2, 1, 0)',
  'rf': '(0, 2, 1)',
  'fr': '(1, 0, 2)'}]